<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand brand" routerLink="/rc/home">Evoy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="margin-right: 90px;">

        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/rc/home">Home</a>
        </li>

        <li *ngIf="currentUser?.role === 'admin'">
          <a class="nav-link" routerLinkActive="active" routerLink="/rc/alertas">Alertas</a>
        </li>

        <li *ngIf="currentUser?.role === 'admin'">
          <a class="nav-link" routerLinkActive="active" routerLink="/rc/cadastros">Cadastros</a>
        </li>

        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/rc/inventario">Inventário</a>
        </li>

        <li *ngIf="currentUser?.role === 'admin'">
          <a class="nav-link" routerLinkActive="active" routerLink="/rc/importar">Importar Dados</a>
        </li>

        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/rc/rastreamento">Geolocalização</a>
        </li>

        <li *ngIf="currentUser?.role === 'admin' && this.authenticationService.currentSettings()?.enable_gc16 === true">
          <a class="nav-link" routerLinkActive="active" routerLink="/rc/bpline">BPline</a>
        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle usuario" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="lista-menu-escondido">
              <div>
                <img width="40" *ngIf="currentUser?.role === 'admin'" src="assets/images/icon_a.png">
                <img width="40" *ngIf="currentUser?.role === 'user'" src="assets/images/icon_f.png">
              </div>
              <div>
                <p id="username">{{ this.currentUser?.full_name || 'Sem Registro' }} </p>
                <p class="user-type" *ngIf="currentUser?.role === 'admin'">Administrador da Empresa.</p>
                <p class="user-type" *ngIf="currentUser?.role === 'user'">Funcionário da Empresa.</p>
              </div>
            </div>
            <a class="dropdown-item" *ngIf="currentUser?.role === 'admin'" (click)="p.toggle(); openModal()"> Gerenciar
              usuários </a>
            <a class="dropdown-item" *ngIf="currentUser?.role === 'admin'"
              (click)="p.close(); openSettings()">Configurações </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"> Sair </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <a class="navbar-brand brand">Evoy</a>
  <button class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse lista-menu" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/rc/home">Home</a>
      </li>

      <li *ngIf="currentUser?.role === 'admin'">
        <a class="nav-link" routerLinkActive="active" routerLink="/rc/alertas">Alertas</a>
      </li>

      <li *ngIf="currentUser?.role === 'admin'">
        <a class="nav-link" routerLinkActive="active" routerLink="/rc/cadastros">Cadastros</a>
      </li>

      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/rc/inventario">Inventário</a>
      </li>

      <li *ngIf="currentUser?.role === 'admin'">
        <a class="nav-link" routerLinkActive="active" routerLink="/rc/importar">Importar Dados</a>
      </li>

      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/rc/rastreamento">Geolocalização</a>
      </li>

      <li *ngIf="currentUser?.role === 'admin' && this.authenticationService.currentSettings()?.enable_gc16 === true">
        <a class="nav-link" routerLinkActive="active" routerLink="/rc/bpline">BPline</a>
      </li>

      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle usuario" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="lista-menu-escondido">
            <div style="float: left;">
              <img width="40" *ngIf="currentUser?.role === 'admin'" src="assets/images/icon_a.png">
              <img width="40" *ngIf="currentUser?.role === 'user'" src="assets/images/icon_f.png">
            </div>
            <div style="float: left;">
              <p id="username">{{ this.currentUser?.full_name || 'Sem Registro' }} </p>
              <p class="user-type" *ngIf="currentUser?.role === 'admin'">Administrador da Empresa.</p>
              <p class="user-type" *ngIf="currentUser?.role === 'user'">Funcionário da Empresa.</p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" *ngIf="currentUser?.role === 'admin'" (click)="p.toggle(); openModal()"> Gerenciar usuários </a>
          <a class="dropdown-item" *ngIf="currentUser?.role === 'admin'" (click)="p.close(); openSettings()">Configurações </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"> Sair </a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->




  <!-- <div class="m-navbar" (window:resize)="onResize($event)">
  
    <li *ngIf="currentUser?.role === 'admin'">
      <a routerLinkActive="active" routerLink="/rc/alertas">Alertas</a>
    </li>
    <li *ngIf="currentUser?.role === 'admin'">
      <a routerLinkActive="active" routerLink="/rc/cadastros">Cadastros</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/rc/inventario">Inventário</a>
    </li>
    <li *ngIf="currentUser?.role === 'admin'">
      <a routerLinkActive="active" routerLink="/rc/importar">Importar Dados</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/rc/rastreamento">Geolocalização</a>
    </li>
    <li *ngIf="currentUser?.role === 'admin' && this.authenticationService.currentSettings()?.enable_gc16 === true">
      <a routerLinkActive="active" routerLink="/rc/bpline">BPline</a>
    </li>
    <li class="usuario" [ngbPopover]='popContent' placement="bottom-right" triggers="manual" #p="ngbPopover" (click)="p.toggle()" (shown)="posicionarPopOver()"> 
      <a class="botaoUsuario" routerLinkActive="active"></a>
    </li>
  </ul>

  <button class="button-menu" (click)="mudar()">
    <span class="button-line"></span>
    <span class="button-line"></span>
    <span class="button-line"></span>
  </button>

</div>

<div class="menu-secundario" [ngClass]="{ 'desaparecer': menuAparecer == false, 'aparecer': menuAparecer == true}">
  <div class="row">
    <div class="col-xs-12 col-sm-6 bloco-1">
      <ul class="listaEscondida">
        
        <li>
          <a (click)="mudar()" routerLinkActive="active" routerLink="/rc/home">Home</a>
        </li>

        <li *ngIf="currentUser?.role === 'admin'">
          <a routerLinkActive="active" routerLink="/rc/alertas">Alertas</a>
        </li>

        <li *ngIf="currentUser?.role === 'admin'">
          <a (click)="mudar()" routerLinkActive="active" routerLink="/rc/cadastros">Cadastros</a>
        </li>

        <li>
          <a (click)="mudar()" routerLinkActive="active" routerLink="/rc/inventario">Inventário</a>
        </li>

        <li>
          <a (click)="mudar()" routerLinkActive="active" routerLink="/rc/rastreamento">Geolocalização</a>
        </li>

        <li *ngIf="currentUser?.role === 'admin' && this.authenticationService.currentSettings()?.enable_gc16 === true">
          <a (click)="mudar()" routerLinkActive="active" routerLink="/rc/bpline">BPline</a>
        </li>
    
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6 bloco-2">
      <ul class="lista-menu-escondido">
        <li>
          <div>
            <div style="float: left;">
              <img width="50" *ngIf="currentUser?.role === 'admin'" src="assets/images/icon_a.png">
              <img width="50" *ngIf="currentUser?.role === 'user'" src="assets/images/icon_f.png">
            </div>
            <div style="float: left;">
              <p id="username">{{this.currentUser.full_name}} </p>

              <p class="user-type" *ngIf="currentUser?.role === 'admin'">Administrador da Empresa</p>
              <p class="user-type" *ngIf="currentUser?.role === 'user'">Funcionário da Empresa</p>
            </div>
          </div>
        </li>

        <li style="clear: both; padding: 5px 0px;">
          <hr>
        </li>

        <li>
          <a *ngIf="currentUser?.role === 'admin'" (click)="p.close(); openModal()">
            Gerenciar usuários </a>
        </li>

        <li>
          <a *ngIf="currentUser?.role === 'admin'" (click)="p.close();openSettings()"> Configurações </a>
        </li>

        <li *ngIf="currentUser?.role !== 'user'" style="padding: 5px 0px;"> 
          <hr> 
        </li>

        <li>
          <a (click)="logout()"> Sair </a>
        </li>
      </ul>
    </div> 
  </div>
</div>

<ng-template #popContent id="m-popover">
  <div id="pop-over-content">
    <ul class="lista-menu-escondido">
      <li>
        <div>
          <div style="float: left;">
            <img width="50" *ngIf="currentUser?.role === 'admin'" src="assets/images/icon_a.png">
            <img width="50" *ngIf="currentUser?.role === 'user'" src="assets/images/icon_f.png">
          </div>

          <div style="float: left;">

            <p id="username">{{ this.currentUser.full_name }} </p>
    
            <p class="user-type" *ngIf="currentUser?.role === 'admin'">Administrador da Empresa.</p>
            <p class="user-type" *ngIf="currentUser?.role === 'user'">Funcionário da Empresa.</p>
          </div>
        </div>
      </li>
    
      <li style="clear: both; padding: 5px 0px;">
        <hr>
      </li>
    
      <li>
        <a *ngIf="currentUser?.role === 'admin'" (click)="p.toggle(); openModal()"> Gerenciar usuários </a>
      </li>
    
      <li>
        <a *ngIf="currentUser?.role === 'admin'" (click)="p.close(); openSettings()">Configurações </a>
      </li>
    
      <li *ngIf="currentUser?.role !== 'user'" style="padding: 5px 0px;">
        <hr> 
      </li>
      
      <li>
        <a (click)="logout()"> Sair </a>
      </li>
    </ul>
  </div>
</ng-template> -->