* {
  box-sizing: border-box;
}

.lista-menu > li {
  float: left;
  margin-left: 20px;
}

.lista-menu > li a {
  outline: none;
  text-decoration: none;
  line-height: 40px;
  color: #01358D;
}

h1 {
  font-weight: 800;
  font-size: 29px;
  line-height: 40px;
  font-weight: 900;
}

.m-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #777;
  height: 52px;
  width: 100%;
  margin-bottom: 2rem;
  padding-right: 80px;
}

.brand {
  margin-left: 90px;
}

.lista-menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* a {
  color: #333333;
} */

li > a:hover {
  cursor: pointer;
  color: #3e4f60;
}

hr {
  margin: 5px auto;
}

.active {
  color: #01358D !important;
  font-weight: 600;
}

.usuario {
  width: 34px;
  height: 40px;
  background-image: url("/assets/images/usuario1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.usuario:hover {
  background-image: url("/assets/images/usuario2.png");
  border-bottom: none;
}

.menu-secundario {
  background: #fff;
  display: none;
  border-top: 1px solid #ddd;
  margin-top: -46px;
  margin-bottom: 10px;
}

.listaEscondida > li {
  font-size: 14px;
  text-align: center;
  color: #000;
}

.lista-menu-escondido {
  list-style-type: none;
  padding: 0px;
  margin: auto;
  padding: 10px 15px 0px;
  outline: none;
  text-decoration: none;
  line-height: 30px;
  min-width: max-content;
}

.lista-menu-escondido > li > a {
  font-size: 14px;
}

.popover-menu {
  list-style-type: none;
  padding: 10px 25px;
  margin: auto;
  outline: none;
  text-decoration: none;
}

.popover-menu > li > a {
  font-size: 15px;
}

.listaEscondida {
  list-style-type: none;
  outline: none;
  text-decoration: none;
  line-height: 30px;
  padding: 0px;
}

/* inicio: botão responsive navbar */
.button-menu {
  float: right;
  padding-top: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

.button-menu:focus {
  outline: none;
}

.button-line {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #CFDCE2;
  margin: 5px;
  border-radius: 5px;
}
/* fim: botão responsive navbar */

.bloco-1 {
  border-right: 1px solid #ddd;
  padding: 10px 0px;
}

.bloco-2 {
  padding: 10px 0px;
}

/* bloco-2 */
#username {
  font-size: 15px;
  margin: 4px 0px 0px 10px;
  line-height: normal;
}

.user-type {
  margin-left: 10px;
  margin: 4px 0px 0px 10px;
  line-height: normal;
  font-size: 12px;
}

/* Click menu button */
.desaparecer {
  display: none !important;
}

.aparecer {
  display: block !important;
}

#pop-over-content {
  width: 240px;
}

/* Ajustes de largura */
@media (max-width: 1050px) {
  li {
    margin-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 950px) {
  li {
    margin-left: 8px;
    font-size: 12px;
  }

  .brand {
    margin-left: 20px;
  }
}

@media (max-width: 880px) {
  .lista-menu {
    display: none;
  }

  .menu-secundario {
    display: block;
  }

  .button-menu {
    display: block;
  }

  .m-navbar {
    padding-right: 10px;
  }
}
