<div class="conteudoHome">
  <div class="header">
    Timeline

    <button type="button" class="interrogacao1"
      [ngbPopover]= 'popContent' placement="left"
      *ngIf="telaGrande == false" triggers='hover'>
    </button>

    <button type="button" class="interrogacao2"
        [ngbPopover]= 'popContent' placement="bottom"
        *ngIf="telaGrande == true" triggers='hover'>
    </button>

    <ng-template #popContent>
      <p class="tit1">Alertas e seus significados</p>
      <span class="lg1">OBJETO PERDIDO</span><br />
      <span class="lg2">OBJETO INCORRETO</span><br />
      <span class="lg3">BATERIA BAIXA</span><br />
      <span class="lg4">OBJETO ATRASADO</span><br />
      <span class="lg5">TEMPO DE PERMANÊNCIA</span><br />
      <!-- <span class="lg6"></span><br /> -->
    </ng-template>

  </div>

  <div class="painel">

    <div class="row quadradoPequeno" tooltip="Alerta de {{alert.status == 1 ? 'Embalagem perdida' :
     (alert.status == 2 ? 'Embalagem em local incorreto':
     (alert.status == 3 ? 'Embalagem com bateria baixa':
     (alert.status == 4 ? 'Embalagem em viagem': 'Embalagem com tempo de permanência elevado')))}}" placement="bottom"
      *ngFor="let alert of data?.data | paginate: {   id:'alerts',
                                                      itemsPerPage: 20,
                                                      currentPage: data.meta.page,
                                                      totalItems: data.meta.total_docs}"
      [ngClass]="{
        'status1' : alert.status == 1,
        'status2' : alert.status == 2,
        'status3' : alert.status == 3,
        'status4' : alert.status == 4,
        'status5' : alert.status == 5,
        'status6' : alert.status == 6
      }"
      [routerLink]="['list/',alert.packing.code, alert.project._id, alert.supplier._id, alert.status ]">

      <div class="col-sm-6 esquerda">
        <span class="codigo" tooltip="Código da Embalagem">{{alert.packing?.code}}</span><br />
        <span class="descricao" tooltip="Descrição">{{alert.packing?.type}}</span>
      </div>

      <div class="col-sm-6 direita">
        <div class="bigger" tooltip="Fornecedor">
          <div [ngClass]="{
            'f1' : alert.status == 1,
            'f2' : alert.status == 2,
            'f3' : alert.status == 3,
            'f4' : alert.status == 4,
            'f5' : alert.status == 5,
            'f6' : alert.status == 6
          }">
          </div>
        </div>
        <span tooltip="Fornecedor da Embalagem" class="forn">{{alert.supplier?.name}}</span>
        <Br />
        <span class="quantidade" tooltip="Quantidade de embalagens"
        [ngClass]="{
          'quantidade1' : alert.status == 1,
          'quantidade2' : alert.status == 2,
          'quantidade3' : alert.status == 3,
          'quantidade4' : alert.status == 4,
          'quantidade5' : alert.status == 5,
          'quantidade6' : alert.status == 6
        }"
        >{{alert.quantity }}</span>
      </div>
    </div>

    <div class="externa" *ngIf="data?.data?.length < 1 ">
        <div class="row interna">
          <div class="col-sm-3 divImagem">
            <span class="imagemInterrogacao"></span>
          </div>
          <div class="col-sm-9 divTexto">
              <p class="texto">VOCÊ NÃO TEM NENHUM ALERTA</p>
          </div>
        </div>
    </div>
    <div class="has-text-centered">
        <pagination-controls id='alerts' class="my-pagination"
        (pageChange)="pageChanged($event)"
        directionLinks="false"
        autoHide="true">
        </pagination-controls>
    </div>
  </div>

</div>
