  <div class="inner" style="margin-bottom: 40px;">
    <nav>
      <a href="#" class="logo">RECICLAPAC</a>
      <input type="checkbox" id="nav" /><label for="nav"></label>
      <ul>
        <li><a routerLinkActive="active" routerLink="/home">HOME</a></li>
        <li><a routerLinkActive="active" routerLink="/cadastros">CADASTROS</a></li>
        <li><a routerLinkActive="active" routerLink="/inventario">INVENTÁRIO</a></li>
        <li><a routerLinkActive="active" routerLink="/importar">IMPORTAR DADOS</a></li>
        <li><a routerLinkActive="active" >RASTREAMENTO</a></li>
        <li><a routerLinkActive="active" >GC16</a></li>
      </ul>
    </nav>
  </div>
