<div class="painel">
  <div class="corpo">

    <div class="headerInventario">
      <h2>BUSCA POR </h2>
      <select [(ngModel)]="escolhaGeral" data-style="btn-primary" class="selectPrincipal" (ngModelChange)="choiced($event)">
          <option *ngFor="let obj of escolhas" [ngValue]="obj.name">{{obj.name}}</option>
      </select>

      <ng-template #content>
        <div class="modalFilho">
          <div class="header">
             <p>INVENTÁRIO</p>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modalBody">
          <p>Informações que o cliente deseja colocar.</p>
        </div>
        </div>
      </ng-template>

      <button class="help" (click)="openHelp(content)">
        <div class="bigger">
          <div class="det2"></div>
        </div>
      </button>
    </div >

    <hr *ngIf="((escolhaGeral == 'FORNECEDOR')||(escolhaGeral == 'EQUIPAMENTO'))">


    <div *ngIf="(escolhaGeral == 'EQUIPAMENTO')" class="row escolhaEquipamento">
      <div class="col-sm-4">

        <p>TIPO</p>
        <select [(ngModel)]="escolhaEquipamento" data-style="btn-primary" (ngModelChange)="changeSelect($event)" class="selectEq">
           <option value="">Escolha</option>
           <option>Tempo de permanência</option>
           <option>Bateria</option>
           <option>Quantidade</option>
           <option>Geral</option>
        </select>
      </div>

      <!--TEMPO DE PERMANêNCIA -->
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Tempo de permanência')">
        <p>EQUIPAMENTO</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="permanenceSearchEquipamento" (keyup.enter)="permanenceInventory()" >
      </div>
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Tempo de permanência')">
        <p>SERIAL</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="permanenceSearchSerial" (keyup.enter)="permanenceInventory()"  >
      </div>
      <!-- BATERIA -->
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Bateria')">
        <p>EQUIPAMENTO</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="batterySearch" (keyup.enter)="batteryInventory()" >
      </div>
      <!-- GERAL -->
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Geral')">
        <p>EQUIPAMENTO</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="generalEquipamentSearch" (keyup.enter)="generalInventoryEquipament()" >
      </div>
      <!-- QUANTIDADE -->
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Quantidade')">
        <p>EQUIPAMENTO</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="quantitySearch" (keyup.enter)="quantityInventory()"  >
      </div>
      <!-- BOTAO FILTRAR -->

      <div class="col-sm-2" *ngIf="((escolhaEquipamento == 'Tempo de permanência')||(escolhaEquipamento == 'Bateria')||(escolhaEquipamento == 'Quantidade')||(escolhaEquipamento == 'Geral'))">
        <div class="col-sm-4">
            <button type="button" class="botaoVoltar" (click)="permanenceInventory()" *ngIf="(escolhaEquipamento == 'Tempo de permanência')"><span>FILTRAR</span></button>
            <button type="button" class="botaoVoltar" (click)="batteryInventory()" *ngIf="(escolhaEquipamento == 'Bateria')"><span>FILTRAR</span></button>
            <button type="button" class="botaoVoltar" (click)="quantityInventory()" *ngIf="(escolhaEquipamento == 'Quantidade')"><span>FILTRAR</span></button>
            <button type="button" class="botaoVoltar" (click)="generalInventoryEquipament()" *ngIf="(escolhaEquipamento == 'Geral')"><span>FILTRAR</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div>
<div *ngIf="(escolhaGeral == 'GERAL')">
  <div class="table-responsive meuInventario">
    <!-- Table -->
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Projeto</th>
          <th>Descrição</th>
          <th>Fornecedor</th>
          <th>Quantidade</th>
          <th style="width: 80px">Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of general.data | paginate: {
                                                        id: 'geral',
                                                        itemsPerPage: 10,
                                                        currentPage: general.meta.page,
                                                        totalItems: general.meta.total_docs}">
          <td>{{packing.code || '-'}}</td>
          <td>{{packing.project?.name || '-'}}</td>
          <td>{{packing.description || '-'}}</td>
          <td>{{packing.supplier?.name || '-'}}</td>
          <td>{{packing.quantity || '-'}}</td>
          <td style="text-align: center;">
            <div class="bigger">
              <div class="det" (click)="open(packing)">
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="general.data?.length < 1">
      Ainda não existem embalagens cadastradas no sistema.
    </div>
  </div>
  <div class="has-text-centered">
      <pagination-controls class="my-pagination"
      id='geral'
      (pageChange)="general.meta.page = $event;generalInventory()"
      directionLinks="false"
      autoHide="true">
      </pagination-controls>
  </div>
</div>


<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Tempo de permanência') && !serial)">
  <h2 class="tituloClaro">TEMPO DE PERMANÊNCIA</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>
          <th>Projeto</th>
          <th>Planta</th>
          <th>Tempo na Planta</th>
          <th>DUNS</th>
          <th>Fornecedor</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of permanence.data | paginate: {
                                                        id:'permanence',
                                                        itemsPerPage: 10,
                                                        currentPage: permanence.meta.page,
                                                        totalItems: permanence.meta.total_docs}">
          <td>{{packing.code || '-'}}</td>
          <td>{{packing.serial || '-'}}</td>
          <td>{{packing.project?.name || '-'}}</td>
          <td>{{packing.actual_plant?.plant.plant_name || '-'}}</td>
          <td>{{packing.permanence?.amount_days ? (packing.permanence?.amount_days | time) : 'I.I.'}}</td>
          <td>{{packing.supplier?.duns || '-'}}</td>
          <td>{{packing.supplier?.name || '-'}}</td>

        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="permanence.data?.length < 1">
      Realize uma pesquisa valida.
    </div>
  </div>
  <div class="has-text-centered">
      <pagination-controls class="my-pagination"
      id="permanence"
      (pageChange)="permanence.meta.page = $event;permanenceInventory()"
      directionLinks="false"
      autoHide="true">
      </pagination-controls>
  </div>
</div>


<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Tempo de permanência') && serial)">
  <h2 class="tituloClaro">TEMPO DE PERMANÊNCIA</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Data</th>
          <th>Horário</th>
          <th>Duns</th>
          <th>Fornecedor</th>
          <th>Local</th>
          <th>Tempo na Planta</th>
          <th>Tempo de Referência GC16 (Dias)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of permanence.data | paginate: {
                                                        id: 'permanenceHistoric',
                                                        itemsPerPage: 10,
                                                        currentPage: permanence.meta.page,
                                                        totalItems: permanence.meta.total_docs}">
          <td>{{packing.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{packing.date | date:'shortTime'}}</td>
          <td>{{packing.supplier?.duns || '-'}}</td>
          <td>{{packing.supplier?.name || '-'}}</td>
          <td>{{packing.plant?.plant.plant_name || '-'}}</td>
          <td>{{packing.permanence_time || '-' | time}}</td>
          <td>{{packing.actual_gc16?.days || '-'}}</td>
        </tr>

      </tbody>


    </table>
    <div class="classVazio" *ngIf="permanence.data?.length < 1">
      Não existem embalagens cadastradas com essas credências.
    </div>
  </div>
  <div class="has-text-centered">
      <pagination-controls class="my-pagination"
      id="permanenceHistoric"
      (pageChange)="permanence.meta.page = $event;permanenceInventory()"
      directionLinks="false"
      autoHide="true">
      </pagination-controls>
  </div>
</div>

<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Bateria'))">
  <h2 class="tituloClaro">BATERIA BAIXA</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>
          <th>Projeto</th>
          <th>Planta Atual</th>
          <th>Bateria</th>
          <th>Nível</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of battery.data | paginate: {
                                                        id:'battery',
                                                        itemsPerPage: 10,
                                                        currentPage: battery.meta.page,
                                                        totalItems: battery.meta.total_docs}">
          <td>{{packing.code || '-'}}</td>
          <td>{{packing.serial || '-'}}</td>
          <td>{{packing.project?.name || '-'}}</td>
          <td>{{packing.actual_plant?.plant.plant_name || '-'}}</td>
          <td>{{packing.battery || '-' | round}} %</td>
          <td>{{packing?.battery > 80 ? 'Alta' : (packing?.battery > 40 ? 'Medio' : 'Baixa') }}</td>

        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="battery.data?.length < 1">
      Ainda não foram cadastradas embalagens no sistema.
    </div>
  </div>
  <div class="has-text-centered">
      <pagination-controls class="my-pagination"
      id='battery'
      (pageChange)="battery.meta.page = $event;batteryInventory()"
      directionLinks="false"
      autoHide="true">
      </pagination-controls>
  </div>
</div>
<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Geral'))">
  <h2 class="tituloClaro">EQUIPAMENTOS</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>
          <th>Projeto</th>
          <th>Fornecedor</th>
          <th>Planta Atual</th>
          <th>Tag</th>
          <th>Bateria</th>
          <th>Projeto</th>
          <th>Temperatura</th>
          <th>Posições</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of general_equipament.data | paginate: {
                                                        id:'general',
                                                        itemsPerPage: 10,
                                                        currentPage: general_equipament.meta.page,
                                                        totalItems: general_equipament.meta.total_docs}">

            <td>{{packing.code || '-'}}</td>
            <td>{{packing.serial || '-'}}</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.supplier?.name || '-'}}</td>
            <td>{{packing.actual_plant?.plant.plant_name || '-'}}</td>
            <td>{{packing.tag.code || '-'}}</td>
            <td>{{packing.battery || '-' | round}} %</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.temperature || '-'}} ∘</td>
            <td style="text-align: center;" >
              <div class="bigger" (click)="openLayer(packing)">
                <div class="det">
                </div>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="classVazio" *ngIf="general_equipament.data?.length < 1">
      Ainda não foram cadastradas embalagens no sistema.
    </div>
  </div>
  <div class="has-text-centered">
      <pagination-controls class="my-pagination"
      id='general'
      (pageChange)="general_equipament.meta.page = $event;generalInventoryEquipament()"
      directionLinks="false"
      autoHide="true">
      </pagination-controls>
  </div>
</div>

<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Quantidade'))">
  <h2 class="tituloClaro"> QUANTIDADE</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Serial</th>
          <th>DUNS</th>
          <th>Projeto</th>
          <th>Fornecedor</th>
          <th>Planta</th>
          <th>Quantidade</th>
          <th>Min</th>
          <th>Max</th>
          <th>Diferença</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of quantity.data | paginate: {
                                                        id:'quantity',
                                                        itemsPerPage: 10,
                                                        currentPage: quantity.meta.page,
                                                        totalItems: quantity.meta.total_docs}">
          <td>{{packing.serial || '-' }}</td>
          <td>{{packing.supplier?.duns || '-'}}</td>
          <td>{{packing.project?.name || '-'}}</td>
          <td>{{packing.supplier?.name || '-'}}</td>
          <td>{{packing.actual_plant?.plant?.plant_name || 'Não Registrado'}}</td>
          <td>{{packing.quantity || '-'}}</td>
          <td>{{ (packing.problem || packing.traveling) ? '-' : (packing.actual_gc16?.min || '-')}}</td>
          <td>{{(packing.problem || packing.traveling) ? '-' : (packing.actual_gc16?.max || '-')}}</td>
          <td>{{(packing.problem || packing.traveling) ? '-' : (packing.actual_gc16 ? (packing.actual_gc16?.min > packing.quantity ? (packing.quantity-packing.actual_gc16?.min) : (packing.actual_gc16?.max < packing.quantity ? packing.quantity-packing.actual_gc16?.max  :  'NI')) : '-'  )}}</td>
          <td>{{packing.missing ? 'Perdida':
            (packing.problem ? 'Local Errado' :
            (packing.traveling ? 'Viajando' : 'Sem Anormalidade')) }}</td>

        </tr>
      </tbody>
    </table>
    <div class="classVazio" *ngIf="quantity.data?.length < 1">
      Realize uma pesquisa valida.
    </div>

  </div>
  <div class="resumo">
    <h3 class="definicao">TOTAL: </h3><h3 class="numero">{{quantity.meta?.total_packings || 0}}</h3>
  </div>
  <div class="resumo">
    <h3 class="definicao">DIFERENÇA: </h3><h3 class="numero">{{quantity.meta?.missing || 0}}</h3>
  </div>
  <div class="has-text-centered">
      <pagination-controls id='quantity' class="my-pagination"
      (pageChange)="quantity.meta.page = $event;quantityInventory()"
      directionLinks="false"
      autoHide="true">
      </pagination-controls>
  </div>

</div>

</div>
