<div class="teste">
<div class="wrapper">


  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-7 quadrado">
      <!-- <img [src]="'../../assets/images/img-fundo.png'" alt=""> -->
      <h1>RECICLAPAC</h1>
      <h2>O sistema "Eu Estou Aqui" permite a localização e otimização do uso de embalagens (Racks Metálicos), gerando informações precisas em tempo reduzido, trazendo impactos financeiros e qualitativos significativos para a indústria.</h2>
      <button routerLink="/login">ENTRAR</button>
    </div>
  </div>

</div>
</div>
