<div class="input-group mb-3 d-flex justify-content-between">
  <input type="text" 
    class="form-control mr-4" 
    [attr.placeholder]="'REGISTER.PROJECT.SEARCH_BAR_PLACEHOLDER' | translate"
    aria-describedby="basic-addon1" 
    [(ngModel)]="search" 
    (keyup)="searchEvent($event)">
    <!-- placeholder="{{ 'REGISTER.PROJECT.SEARCH_BAR_PLACEHOLDER' | translate }}"  -->

  <button 
    routerLink="cadastrar" 
    class="btn btn-outline-secondary" 
    type="button">
    <span [translate]="'REGISTER.CREATE_BUTTON'"></span>
  </button>
    <!-- translate="REGISTER.CREATE_BUTTON">Novo</button> -->
</div>


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th translate="REGISTER.TABLE.NAME"></th>
        <th class="opcoes"></th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let project of allProjects | paginate: {
                                                itemsPerPage: 10,
                                                currentPage: actualPage,
                                                totalItems: allProjects.length};">
        <td>{{ project.name | truncate : 20 }}</td>
        <td class="teste">
          <button 
            class="editar" 
            [routerLink]="['editar/', project._id]">
            {{ "REGISTER.EDIT_BUTTON" | translate }}
          </button>

          <button 
            class="excluir" 
            (click)="removeProject(project)">
            {{ "REGISTER.REMOVE_BUTTON" | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="allProjects.length < 1">
  {{ "REGISTER.PROJECT.NO_RESULT" | translate }}
</div>

<br />

<div class="has-text-centered">

  <pagination-controls 
    class="my-pagination" 
    (pageChange)="actualPage = $event" 
    directionLinks="false" 
    autoHide="true">
  </pagination-controls>

</div>