<div class="base">
  <h1>GC16</h1>
  <br />

  <div class="row">
    <div class="col-sm-4">
      <div class="campo">
        <p class="descricao">EQUIPAMENTO</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="campo">
        <p class="descricao">VOLUME ANUAL</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="campo">
        <p class="descricao">PROJETO/PLATAFORMA</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="campo">
        <p class="descricao">CAPACIDADE</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="campo">
        <p class="descricao">CONTAINERS/DIA</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled >
        </div>
      </div>
    </div>
  </div>
<!-- hr -->
  <div class="row">
    <div class="col-md-4">
      <div class="campo">
        <p class="descricao">ESTOQUE PLANTA MONTADORA</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-md-4 dois">

      <div class="row diferente">
        <div class="col-xs-4 colEsq">
      <div class="campo campoE">
        <p class="descricao dp">EM</p>
        <span class="testeSaco"></span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>

      <div class="col-xs-8 colDir">


      <div class="campo campoG">
        <p class="descricao dp">QNT. CONTAINER</p>
        <span class="testeSaco"></span>
        <div class="input-group test2">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>

    </div>

    </div>

<!-- hr -->
    <div class="col-md-4 dois">
      <div class="row diferente">
        <div class="col-xs-4 colEsq">
      <div class="campo campoE">
        <p class="descricao dp">EM MÁX.</p>
        <span class="testeSaco"></span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>

      <div class="col-xs-8 colDir">


      <div class="campo campoG" >
        <p class="descricao dp">QNT. CONTAINER</p>
        <span class="testeSaco"></span>
        <div class="input-group test2">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>

      </div>
    </div>
  </div>
<!-- hr -->

  <div class="row">
    <div class="col-md-4">
      <div class="campo">
        <p class="descricao">ESTOQUE FORNECEDOR</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-md-4 dois">

      <div class="row diferente">
        <div class="col-xs-4 colEsq">
      <div class="campo campoE">
        <p class="descricao dp">EF</p>
        <span class="testeSaco"></span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>

      <div class="col-xs-8 colDir">
      <div class="campo campoG">
        <p class="descricao dp">QNT. CONTAINER</p>
        <span class="testeSaco"></span>
        <div class="input-group test2">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 dois">
      <div class="row diferente">
        <div class="col-xs-4 colEsq">
      <div class="campo campoE">
        <p class="descricao dp">EF MÁX.</p>
        <span class="testeSaco"></span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>

      <div class="col-xs-8 colDir" >
      <div class="campo campoG" >
        <p class="descricao dp">QNT. CONTAINER</p>
        <span class="testeSaco"></span>
        <div class="input-group test2">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
        </div>
      </div>
      </div>

      </div>
    </div>
  </div>
  <!-- hr -->

  <div class="row">
    <div class="col-sm-4">
      <div class="campo">
        <p class="descricao">TRANSP. IDA</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row diferente">
      <div class="col-xs-4 colEsq">
        <div class="campo">
          <p class="descricao">TI</p>
          <span class="testeSaco"></span>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
          </div>
        </div>
      </div>

      <div class="col-xs-8 colDir">
        <div class="campo">
          <p class="descricao">QNT. CONTAINER</p>
          <span class="testeSaco"></span>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled >
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
<!-- hr -->

  <div class="row">
    <div class="col-sm-4">
      <div class="campo">
        <p class="descricao">TRANSP. VOLTA</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row diferente">
        <div class="col-xs-4  colEsq">
          <div class="campo">
            <p class="descricao">TV</p>
            <span class="testeSaco"></span>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
            </div>
          </div>
        </div>
        <div class="col-xs-8  colDir">
          <div class="campo">
            <p class="descricao">QNT. CONTAINER</p>
            <span class="testeSaco"></span>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled >
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!--row-->
  <!-- hr -->

  <!--<div class="row">
    <div class="col-md-4">
      <div class="campo">
        <p class="descricao">TRANSP. VOLTA</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <!-- <div class="row"> -->


    <!-- <div class="col-md-8 divCom3">
      <!-- <div class="col-md-3 sem"> -
        <div class="campo d1">
          <p class="descricao">FR</p>
          <p class="explicacao">Ex. "994475545"</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="col-md-3 sem"> --
        <div class="campo d1">
          <p class="descricao">QNT. CONTAINER</p>
          <p class="explicacao">Ex. "994475545"</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="col-md-3 sem"> --
        <div class="campo d1">
          <p class="descricao">TOTAL DE DIAS</p>
          <p class="explicacao">Ex. "994475545"</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
          </div>
        </div>
      </div> --

  </div>-->

  <div class="row">
    <div class="col-md-4">
      <div class="campo">
        <p class="descricao">FATOR DE SEGURANÇA</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row diferente">
        <div class="col-sm-6 campoEsq">
          <div class="campo">
            <p class="descricao">QUANT. CONTAINER</p>
            <span class="testeSaco"></span>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled>
            </div>
          </div>
      </div>
      <div class="col-sm-6 campoDir">
        <div class="campo">
          <p class="descricao">QUANT. TOTAL CONSTRUÍDA</p>
          <span class="testeSaco desaparecer"></span>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" disabled >
          </div>
        </div>
      </div>

      </div>
    </div>



  </div>



  <!-- <div class="row">
    <div class="col-md-6">

      <div class="campo">
        <p class="descricao">EQUIPAMENTO</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" >
        </div>
      </div>


      <div class="campo">
        <p class="descricao">ASSOCIE A TAG</p>
        <p class="explicacao">Associe uma tag a sua embalagem.</p>
        <select>
           <option value="">Associe uma Tag</option>
           <option >code</option>
        </select>
      </div>

      <div class="campo">
        <p class="descricao">TIPO DA EMBALAGEM</p>
        <p class="explicacao">Ex. "Rack Metálico"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Rack Metálico" aria-describedby="basic-addon2">
        </div>
      </div>

      <div class="campo">
        <p class="descricao">CAPACIDADE DA EMBALAGEM</p>
        <p class="explicacao">Ex. "57 peças"</p>
        <div class="placeholder" data-placeholder="peças">
          <input type="number"  min="0" class="form-control form-control-md" value="0" />
        </div>
      </div>

      <div class="campo">
        <p class="descricao">ASSOCIE UM FORNECEDOR</p>
        <p class="explicacao">Escolha um fornecedor para sua embalagem.</p>
        <select >
           <option value="">Associe um Fornecedor</option>
           <option>lala</option>
        </select>
      </div>

    </div>

    <div class="col-md-6">

      <div class="campo">
        <p class="descricao">TARA (KG)</p>
        <p class="explicacao">Ex. "57 kg"</p>
        <div class="placeholder"  min="0" data-placeholder="kg">
          <input type="number" class="form-control form-control-md" value="0" />
        </div>
      </div>

      <div class="campo">
        <p class="descricao">COMPRIMENTO (M)</p>
        <p class="explicacao">Ex. "57 m"</p>
        <div class="placeholder" data-placeholder="metros">
          <input type="number" min="0" class="form-control form-control-md" value="0"  />
        </div>
      </div>

      <div class="campo">
        <p class="descricao">LARGURA (M)</p>
        <p class="explicacao">Ex. "57 m"</p>
        <div class="placeholder"  min="0" data-placeholder="metros">
          <input type="number" class="form-control form-control-md" value="0"  />
        </div>
      </div>

      <div class="campo">
        <p class="descricao">ALTURA (M)</p>
        <p class="explicacao">Ex. "57 m"</p>
        <div class="placeholder"  min="0" data-placeholder="metros">
          <input type="number" class="form-control form-control-md" value="0"  />
        </div>
      </div>

      <div class="campo">
        <p class="descricao">ASSOCIE UMA PLATAFORMA</p>
        <p class="explicacao">Associe uma plataforma a sua embalagem.</p>
        <select >
           <option value="">Associe uma Plataforma</option>
           <option>Nome</option>
        </select>
      </div>


    </div>

  </div>-->
    <button routerLink="/rc/cadastros/embalagem" class="botaoVoltar" >Voltar</button>
    <button class="botaoRegistrar">Registrar</button>
</div>
