@import "assets/hamburgers.css";

body {
  background-image: url("./assets/images/textura.png");
  font-size: 15px;
  overflow-y: scroll;
}

/* g {

  transform: translate(50px, 50px)!important;
} */




/* @media (max-width: 576px) {
  .advanced-pie {
    float: none !important;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  .advanced-pie {
    float: none !important;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .advanced-pie {
    float: none !important;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .advanced-pie {
    float: left !important;
  }

}

@media (min-width: 1200px) {
  .advanced-pie {
    float: left !important;
  }

}

@media (min-width: 1400px) {
  .advanced-pie {
    float: left !important;
  }

}

@media (min-width: 1700px) {
  .advanced-pie {
    float: left !important;
  }

} */

/* Slider */
.noUi-tooltip {
  display: block !important;
  font-size: 12px !important;
  padding: 2px 5px !important;
}

.noUi-target {
  background: #3E4F60 !important;
  border-radius: 12px !important;
  border: 1px solid #868e96 !important;
}

.noUi-target {
  background: #DDD !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.noUi-horizontal {
  height: 8px !important;
}

.noUi-horizontal .noUi-handle {
  width: 24px !important;
  height: 20px !important;
}

.noUi-handle:before {
  left: 8px !important;
  height: 7px !important;
}

.noUi-handle:after {
  left: 14px !important;
  height: 7px !important;
}

.noUi-connect {
  background: #3E4F60 !important;
}

.carregando {
  background-image: url("./assets/images/dots.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.classepai {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
}

.interrogacao1,
.interrogacao2 {
  border: none !important;
  outline: none !important;
}

/* .gm-style-iw {
  top: 0 !important;
  left: 0 !important; 
  right: 0 !important;
  /* top: 20px !important; */
  /* width: 100% !important; */
  /*padding: 6px;
} */

.gm-style-iw {
  top: 0 !important;
  left: 0 !important; 
  right: 0 !important;
  /* top: 20px !important; */
  width: 100% !important;
  padding: 6px;
}

.iw-title {
  color: #3e4f5f; 
  padding: 10px 6px; 
  font-weight: 700; 
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

.ng-sidebar {
  background-color: #fff !important;
}

/* .conteudoHome .popover.bs-popover-bottom .arrow {
  top: -12px !important;
}

.conteudoHome .popover.bs-popover-left .arrow {
  right: -12px !important;
}

.conteudoHome .bs-popover-left .arrow{
  margin-top: -81px !important;
}

.conteudoHome .bs-popover-top .arrow,
.bs-popover-bottom .arrow {
  margin-left: -11px !important;
}

.conteudoHome .popover-body {
  width: 178px !important;
  text-align: center;
}

.conteudoHome .bs-popover-left { top: 52px !important; }

.conteudoHome .bs-popover-left,
.popover-bottom { border-radius: inherit; }

.conteudoHome .popover.bs-popover-left::before,
.popover.bs-tether-element-attached-right::before
{ top: 15px !important; }

.conteudoHome .popover.bs-popover-left::after,
.popover.bs-tether-element-attached-right::after
{ top: 15px !important; } 

.menu1 .popover-body { text-align: center; }

.menu1 .bs-popover-left { top: 10px !important; }

.menu1 .bs-popover-left,
.bs-popover-bottom { border-radius: inherit; }

.menu1 .popover.bs-popover-left::before,
.popover.bs-tether-element-attached-right::before {
  top: 15px !important;
}

.menu1 .popover.bs-popover-bottom .arrow {
  top: -12px !important;
}

.menu1 .bs-popover-left .arrow {
  margin-top: -141px !important;
}

.menu1 .popover.bs-popover-left .arrow {
  right: -12px !important;
}

.menu1,
.bs-popover-bottom .arrow {
  margin-left: -11px !important;
}

.menu1 .popover.bs-popover-left::after,
.popover.bs-tether-element-attached-right::after {
  top: 15px !important;
} */
/* 
@media (min-width: 1200px) { .menu1 .bs-popover-left { display: none !important; } }

@media (max-width: 1199px) { .menu1 .bs-popover-bottom { display: none !important; } } */

/* .modal-content {
  border-radius: 0em !important;
  background-color: transparent;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
  padding: 5px;
  margin: auto;
  margin-top: 40px;
} */

/* ngx-bootstrap tabs */
.nav-item .nav-link {
  color: #777;
}

/* ngx-bootstrap tabs */
.nav-link.active {
  color: #212529;
}

.modal-content {
  padding: 5px;
}

.modalPequeno { width: 250px; }

.modal-dialog { margin-top: 20px !important; }

.modalFilho {
  background-color: white;
  padding: 10px;
}

.modalFilhoLeg { text-align: center; }

.modalTop2 { background-color: rgba(0,0,0,0.6); }

.semBorda { border-bottom: none !important; }

.mapaNeto {
  height: 200px;
}

.has-text-centered {
  text-align: center;
}

.ngx-pagination {
  padding: 0px !important;
}

.ngx-pagination {
  font-family: 'Raleway', sans-serif;
}

.ngx-pagination .current,
.ngx-pagination li {
  width: 30px;
  /* box-shadow: 0px 0px 7px #000; */
}


.ngx-pagination .current,
.ngx-pagination li,
.ngx-pagination .current div,
.ngx-pagination li a {
  padding: 2px !important;
  border-style: solid;
  border-width: thin;
}

.ngx-pagination .current div,
.ngx-pagination li a {
  text-align: center;
}

.ngx-pagination .current,
.ngx-pagination .current div {
  background-color: #3E4F60 !important;
}

.ngx-pagination .current {
  /* border-color: #3E4F60; */
   color: white !important;
   border-color: white;
   padding: 2px !important;


}

.ngx-pagination .current div{
  border-color: white;
  color: white !important;
}

.ngx-pagination li,
.ngx-pagination li a {
  background-color: white !important;
  border-color: grey;
  color: grey !important;
}

.ngx-pagination li {
  margin-left: 10px;
}

.ngx-pagination li:hover {
  width: 30px;
  /* background-color: #3E4F60 !important;  */
  padding: 2px !important;
  border-style: solid;
  border-width: thin;
}

.ngx-pagination li a:hover {
  color: white !important;
  background-color: #3E4F60 !important;
  border-color: white;
  padding: 2px !important;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  height: 34px !important;
}

.select2-search__field {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.select2-search__field:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  outline: none !important;
  border-bottom-style: solid !important;
  border-bottom-width: thin !important;
  border-bottom-color: #3E4F60 !important;
}

.select2-container--open .select2-dropdown--below {
  font-family: 'Roboto', sans-serif;
}

.select2-search--dropdown {
  padding: 10px !important;
  border-bottom-style: solid !important;
  border-bottom-width: thin !important;
  border-bottom-color: lightgrey !important;
}

.select2-results__option {
  border-bottom-style: solid !important;
  border-bottom-width: thin !important;
  border-bottom-color: lightgrey !important;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1.7em;
  color: #3E4F60 !important;
}

.select2-dropdown--below {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-top: none !important;
  border-radius: 0em !important;
  -webkit-box-shadow: 0px 32px 86px -25px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 32px 86px -25px rgba(0,0,0,0.26);
  box-shadow: 0px 32px 86px -25px rgba(0,0,0,0.26);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f0f0f0 !important;
  color: #3E4F60 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f7f7f7 !important;
}

.select2-container--default .select2-results__group {
  color: #777 !important;
  font-weight: 400 !important;
}

hotTable {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.handsontable .columnSorting {
  color: white;
  font-weight: bold;
}

.handsontable thead th .relative {
  background-color: #3E4F60;
}

.ht_master:not(.innerBorderTop) thead tr:last-child th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr:last-child th,
.ht_master:not(.innerBorderTop) thead tr.lastChild th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr.lastChild th {
  border: none;
  padding: 10px;
  background-color: #3E4F60;
}

.handsontable tr:first-child th,
.handsontable tr:first-child td {
  border-top: 1px solid #3E4F60 !important;
}

.handsontable tr:first-child th {
  background-color: #3E4F60;
  border-left: none;
  border-right: none;
}

.ht_master:not(.innerBorderLeft):not(.emptyColumns) ~ .handsontable tbody tr th,
.ht_master:not(.innerBorderLeft):not(.emptyColumns) ~ .handsontable:not(.ht_clone_top) thead tr th:first-child {
  background-color: #3E4F60;
  color: white;
  border-left: 1px solid #3E4F60;
}

.required {
  border-color: #d24444 !important;
  border-style: solid;
  border-width: 1px;
}

.requiredEmail {
  border-color: #d24444 !important;
  border-style: solid;
  border-width: 1px;
}

.requiredText {
  color: #d24444;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0px;
}


/**/
@media (min-width: 970px) {
  .modal-xl > .modal-lg {
    max-width: 1490px !important;
    min-width: 971px !important;   
    width: 95% !important;
  }
}

.modal-content {
  margin-top: 40px;
}


.arrow::before {
  content: none !important;
}

button {
  cursor: pointer;
}