@import "assets/hamburgers.css";

* {
  outline: none;
}

body {
  /* background-color: #f4f4f4; */
  background-color: #eff0f3;
  font-family: "Fira Sans", sans-serif !important;
  color: #193349;
  font-size: 15px;
  overflow-y: scroll;
}

.table td,
.table th {
  font-size: 0.9rem;
}

/* Slider */
.noUi-tooltip {
  display: block !important;
  font-size: 12px !important;
  padding: 2px 5px !important;
}

.noUi-target {
  background: #3e4f60 !important;
  border-radius: 12px !important;
  border: 1px solid #868e96 !important;
}

.noUi-target {
  background: #ddd !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.noUi-horizontal {
  height: 8px !important;
}

.noUi-horizontal .noUi-handle {
  width: 24px !important;
  height: 20px !important;
}

.noUi-handle:before {
  left: 8px !important;
  height: 7px !important;
}

.noUi-handle:after {
  left: 14px !important;
  height: 7px !important;
}

.noUi-connect {
  background: #3e4f60 !important;
}

.carregando {
  background-image: url("./assets/images/dots.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.master-class {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
}

.interrogacao1,
.interrogacao2 {
  border: none !important;
  outline: none !important;
}

.gm-style-iw {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  /* top: 20px !important; */
  width: 100% !important;
  padding: 6px;
}

.iw-title {
  color: #3e4f5f;
  padding: 10px 6px;
  font-weight: 700;
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

.ng-sidebar {
  background-color: #fff !important;
}

/* DateTimePicker */
.ngb-tp-hour .form-control,
.ngb-tp-minute .form-control,
.ngb-tp-second .form-control {
  text-align: center;
  display: inline-block;
  width: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

/* ngx-bootstrap tabs */
.nav-item .nav-link {
  color: #777;
}

/* ngx-bootstrap tabs */
.nav-link.active {
  color: #212529;
}

.modal-content {
  padding: 5px;
}

.modalPequeno {
  width: 250px;
}

.modal-dialog {
  margin-top: 20px !important;
}

.modalFilho {
  background-color: white;
  padding: 10px;
}

.modalFilhoLeg {
  text-align: center;
}

.modalTop2 {
  background-color: rgba(0, 0, 0, 0.6);
}

.semBorda {
  border-bottom: none !important;
}

.mapaNeto {
  height: 200px;
}

.has-text-centered {
  text-align: center;
}

.ngx-pagination {
  padding: 0px !important;
}

.ngx-pagination li {
  min-width: 28px;
  text-align: center;
  margin: 4px !important;
  background-color: #f7fafb !important;
  color: #212529 !important;
  border: solid #e9e9ea 1px;
  border-radius: 6px !important;
}

.ngx-pagination a {
  border-radius: 6px !important;
  padding: 4px 12px !important;
}

.ngx-pagination .current {
  background-color: #ccd6e9 !important;
  color: #212529 !important;
  padding: 4px 12px !important;
  border: solid #e9e9ea 1px;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  height: 34px !important;
}

.select2-search__field {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.select2-search__field:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  outline: none !important;
  border-bottom-style: solid !important;
  border-bottom-width: thin !important;
  border-bottom-color: #3e4f60 !important;
}

.select2-search--dropdown {
  padding: 10px !important;
  border-bottom-style: solid !important;
  border-bottom-width: thin !important;
  border-bottom-color: lightgrey !important;
}

.select2-results__option {
  border-bottom-style: solid !important;
  border-bottom-width: thin !important;
  border-bottom-color: lightgrey !important;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1.7em;
  color: #3e4f60 !important;
}

.select2-dropdown--below {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-top: none !important;
  border-radius: 0em !important;
  -webkit-box-shadow: 0px 32px 86px -25px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 32px 86px -25px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 32px 86px -25px rgba(0, 0, 0, 0.26);
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #f0f0f0 !important;
  color: #3e4f60 !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #f7f7f7 !important;
}

.select2-container--default .select2-results__group {
  color: #777 !important;
  font-weight: 400 !important;
}

hotTable {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.handsontable .columnSorting {
  color: white;
  font-weight: bold;
}

.handsontable thead th .relative {
  background-color: #3e4f60;
}

.ht_master:not(.innerBorderTop) thead tr:last-child th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr:last-child th,
.ht_master:not(.innerBorderTop) thead tr.lastChild th,
.ht_master:not(.innerBorderTop) ~ .handsontable thead tr.lastChild th {
  border: none;
  padding: 10px;
  background-color: #3e4f60;
}

.handsontable tr:first-child th,
.handsontable tr:first-child td {
  border-top: 1px solid #3e4f60 !important;
}

.handsontable tr:first-child th {
  background-color: #3e4f60;
  border-left: none;
  border-right: none;
}

.ht_master:not(.innerBorderLeft):not(.emptyColumns) ~ .handsontable tbody tr th,
.ht_master:not(.innerBorderLeft):not(.emptyColumns)
  ~ .handsontable:not(.ht_clone_top)
  thead
  tr
  th:first-child {
  background-color: #3e4f60;
  color: white;
  border-left: 1px solid #3e4f60;
}

.required {
  border-color: #d24444 !important;
  border-style: solid;
  border-width: 1px;
}

.requiredEmail {
  border-color: #d24444 !important;
  border-style: solid;
  border-width: 1px;
}

.requiredText {
  color: #d24444;
  font-size: 10px;
  margin: 0px;
}

/**/
@media (min-width: 970px) {
  .modal-xl > .modal-lg {
    max-width: 1490px !important;
    min-width: 971px !important;
    width: 95% !important;
  }
}

.modal-content {
  margin-top: 40px;
}

.arrow::before {
  content: none !important;
}

button {
  cursor: pointer;
}
