<div class="row">
  <div class="col-xs-7">
    <input type="text" class="form-control meuInput" placeholder="Buscar" aria-describedby="basic-addon1" [(ngModel)]="search" (blur)="searchEvent()">
  </div>
  <div class="col-xs-2">

  </div>
  <div class="col-xs-3">
    <button class="mais" routerLink="cadastrar"></button>
  </div>
</div>

<div class="table-responsive tabela">
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Codigo</th>
        <th>Mac</th>
        <th class="opcoes">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tag of data.data | paginate: {
                                                      itemsPerPage: data.meta.limit,
                                                      currentPage: data.meta.page,
                                                      totalItems: data.meta.total_docs}">
        <td>{{tag.code}}</td>
        <td class="penultima">{{tag.mac}}</td>
        <td class="teste">
          <button class="editar" >Editar</button>
          <button class="excluir" (click)="removeTags(tag._id)"  [disabled]="tag.status == 1">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="has-text-centered">
    <pagination-controls (pageChange)="pageChanged($event)"
                         previousLabel="Anterior"
                         nextLabel="Próximo"></pagination-controls>
</div>

<div class="classVazio" *ngIf="data.data?.length < 1">
  Ainda não existem tags cadastradas.
</div>
