<div class="modalFilho">
  <section class="header">
    <h2 translate="USERS.CREATE_USER" style="color: #354052; margin-bottom: 0px;"> </h2>

    <div class="col-12 no-padding">
      <p translate="USERS.CREATE_USER_TITLE" class="alerta-badges"> </p>
    </div>

    <button type="button" 
      class="close" 
      aria-label="Close" 
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </section>

  <section class="modalBody">
    <form novalidate (ngSubmit)="onSubmit(newUser)" [formGroup]="newUser">
      <div class="row">
        <alert type="info" *ngIf="invalidEmail">
          <div [innerHTML]="'USERS.EMAIL_EXISTS_DIV' | translate"></div>
        </alert>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <p translate="USERS.USER_TYPE" class="descricao"></p>
          <ng-select formControlName="role" 
            [(ngModel)]="userType"
            [items]="rolesOnSelect"
            [searchable]="false"
            [markFirst]
            placeholder="{{ 'USERS.USER_TYPE_PLACEHOLDER' | translate }}">
            <ng-template ng-label-tmp let-item="item">
              {{ item.label }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>{{ item.label }}</div>
            </ng-template>
          </ng-select>
          <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" *ngIf="(newUser.get('role').hasError('required') && newUser.get('role').touched)
             || (newUser.get('role').hasError('required') && submitted)"> </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12">
          <p translate="USERS.LINKED_COMPANY" class="descricao"></p>
          <ng-select formControlName="company" 
            [(ngModel)]="userCompany"
            [items]="companiesOnSelect"
            bindLabel="name" 
            placeholder="{{ 'USERS.LINKED_COMPANY_PLACEHOLDER' | translate }}">
            <ng-template ng-label-tmp let-item="item">
              {{ item.name }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                <b>{{ 'USERS.NAME' | translate }}:</b> {{item.name}}
              </div>
              <small>
                <b>{{ 'USERS.TYPE' | translate }}:</b> {{item.type}}
              </small>
            </ng-template>
          </ng-select>
          <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" *ngIf="(newUser.get('company').hasError('required') && newUser.get('company').touched)
            || (newUser.get('company').hasError('required') && submitted)"></p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <p translate="USERS.USER_NAME" class="descricao"></p>
          <input type="text" class="form-control" 
            placeholder="{{ 'USERS.USER_NAME_PLACEHOLDER' | translate }}"
            formControlName="full_name" 
            maxlength="40"
            [(ngModel)]="full_name" 
            [ngClass]="{'required': ((newUser.get('full_name').hasError('required') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('required') && submitted))  
            
            || ((newUser.get('full_name').hasError('minlength') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('minlength') && submitted))
            
            || (newUser.get('full_name').hasError('pattern'))
            || (newUser.get('full_name').hasError('pattern') && submitted)}">

          <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" *ngIf="(newUser.get('full_name').hasError('required') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('required') && submitted)"></p>

          <p translate="REGISTER.ERRORS.MIN_5" class="requiredText" *ngIf="(newUser.get('full_name').hasError('minlength') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('minlength') && submitted)"></p>

          <p translate="REGISTER.ERRORS.WHITE_SPACE" class="requiredText" *ngIf="(newUser.get('full_name').hasError('pattern')) || (newUser.get('full_name').hasError('pattern') && submitted)"></p>
        </div>

        <div class="form-group col-sm-12 col-md-6">
          <p translate="USERS.EMAIL" class="descricao"></p>
          <input type="text" class="form-control" 
            placeholder="{{ 'USERS.EMAIL_PLACEHOLDER' | translate }}"
            formControlName="email" 
            maxlength="40"
            (focusout)="validateEmail($event)"
            [(ngModel)]="email" 
            [ngClass]="{'required': (newUser.get('email').hasError('required') && newUser.get('email').touched)
              || (newUser.get('email').hasError('required') && submitted)
            
              || (newUser.get('email').hasError('email') && !newUser.get('email').hasError('required') )
              || (newUser.get('email').hasError('email') && submitted && !newUser.get('email').hasError('required'))

              || (newUser.get('email').hasError('uniqueValidation'))
              || (newUser.get('email').hasError('uniqueValidation') && submitted)}">

          <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" *ngIf="(newUser.get('email').hasError('required') && newUser.get('email').touched)
              || (newUser.get('email').hasError('required') && submitted)"></p>

          <p translate="REGISTER.ERRORS.MIN_5" class="requiredText" *ngIf="newUser.get('email').hasError('minlength')
            || (newUser.get('email').hasError('minlength') && submitted)"> </p>

          <p translate="REGISTER.ERRORS.EMAIL_EXISTS" class="requiredText" *ngIf="(newUser.get('email').hasError('uniqueValidation')) 
                      || (newUser.get('email').hasError('uniqueValidation') && submitted)"> </p>

          <p translate="REGISTER.ERRORS.CHECKING" class="explicacao" *ngIf="validateNotTakenLoading "></p>

          <p translate="REGISTER.ERRORS.INCORRECT_FORMAT_EMAIL" class="requiredText" *ngIf="(newUser.get('email').hasError('email') && newUser.get('email').touched)
              || (newUser.get('email').hasError('email') && submitted )"></p>

        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <p translate="USERS.PASSWORD" class="descricao"></p>
          <input type="password" 
            (keydown.space)="$event.preventDefault()"
            [(ngModel)]="password" 
            formControlName="password" 
            placeholder="{{ 'USERS.PASSWORD_PLACEHOLDER' | translate }}" 
            class="form-control" 
            [ngClass]="{'required': (newUser.get('password').hasError('required') && newUser.get('password').touched)
                          || (newUser.get('password').hasError('required') && submitted)}">

          <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
            *ngIf="(newUser.get('password').hasError('required') && newUser.get('password').touched)
              || (newUser.get('password').hasError('required') && submitted)"></p>

          <p translate="REGISTER.ERRORS.MIN_6" class="requiredText" 
            *ngIf="(newUser.get('password').hasError('minlength') && newUser.get('password').touched)
            || (newUser.get('password').hasError('minlength') && submitted)"></p>
                          
        </div>

        <div class="form-group col-sm-12 col-md-6">
          <p translate="USERS.CONFIRM_PASSWORD" class="descricao"></p>
          <input type="password" 
            (keydown.space)="$event.preventDefault()"
            [(ngModel)]="confirm_password" 
            formControlName="confirm_password" 
            placeholder="{{ 'USERS.PASSWORD_PLACEHOLDER' | translate }}" 
            class="form-control" 
            [ngClass]="{'required': (newUser.get('confirm_password').hasError('required') && newUser.get('confirm_password').touched)
            || (newUser.get('confirm_password').hasError('required') && submitted)}">
          
            <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" *ngIf="(newUser.get('confirm_password').hasError('required') && newUser.get('confirm_password').touched)
            || (newUser.get('confirm_password').hasError('required') && submitted)"></p>
          
            <p translate="REGISTER.ERRORS.MIN_6" class="requiredText" *ngIf="(newUser.get('confirm_password').hasError('minlength') && newUser.get('confirm_password').touched)
            || (newUser.get('confirm_password').hasError('minlength') && submitted)"></p>
         
            <p translate="USERS.MATCH_PASSWORD" class="requiredText" 
            *ngIf="(newUser.get('confirm_password').hasError('MatchPassword'))
            || (newUser.get('confirm_password').hasError('MatchPassword') && submitted)"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button translate="REGISTER.BACK_BUTTON" class="botao-voltar" (click)="closeModal()"></button>
          <button translate="REGISTER.REGISTER_BUTTON" type="submit" class="botao-registrar"></button>
        </div>
      </div>

    </form>
  </section>
</div>