<div id="map">
  <ngui-map zoom="13" [center]="center">
    <marker *ngFor="let opt of options" [position]="opt.position" [title]="opt.name" (click)="clicked($event,opt)">

    </marker>
    <info-window id="iw" maxWidth="400">
      <div *ngIf="marker.display">


        <div id="iw-container">
          <div class="iw-title">Planta: {{marker.plant}}</div>
          <div class="iw-subTitle">Setor/Área Interna </div>
          <div *ngFor="let dept of marker.departments">
            <div class="row">
              <div class="col-md-6">
                <p>{{dept.name}}</p>
              </div>
              <div class="col-md-6">
                <button type="button" name="button" (click)="getPackings(dept._id)">Visualizar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </info-window>

  </ngui-map>
</div>
