<div class="campo" style="z-index: 1;position: relative">


  <ng-select [ngModel]="plantSearch" (change)="onChange($event)" [items]="plants" bindLabel="plant_name" placeholder="Escolha uma Planta">
    <ng-template ng-label-tmp let-item="item">
      {{item.plant_name}}
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <div>
        {{item.plant_name}}
      </div>
    </ng-template>
  </ng-select>
</div>

<div id="map">

  <ngui-map [zoom]="zoom" [center]="center" [fullscreenControl]="true" (mapReady$)="onMapReady($event)">
    <marker *ngFor="let opt of options" [position]="opt.position" [title]="opt.name" (click)="clicked($event,opt)">

    </marker>

    <circle *ngFor="let circle of circles" [center]="circle.position" [visible]="true" [strokeColor]="'#6382c9'" [strokeOpacity]="0.5"
      [strokeWeight]="1" [radius]="this.auth.currentUser().radius">
    </circle>

    <info-window id="iw" width="400" maxWidth="500">
      <div *ngIf="marker.display">
        <div>
          <div class="iw-title"> PLANTA {{marker.profile === "supplier" ? 'FORNECEDOR' : (marker.profile === "normal" ? 'FÁBRICA' : 'OP. LOGÍSTICO')}}
            {{marker.plant}} </div>

          <div>
            <div class="table-responsive tabela">
              <table class="table" [hidden]="marker.nothing">
                <thead>
                  <tr class="cabecalho" [hidden]="!marker.department">
                    <th>Setor/Área Interna</th>
                    <th class="teste">Opções</th>
                  </tr>
                  <tr class="cabecalho" [hidden]="!marker.packing">
                    <th>Embalagens na planta</th>
                    <th>Serial</th>

                  </tr>
                </thead>
                <tbody>

                  <tr [hidden]="!marker.department" *ngFor="let dept of marker.departments?.data | paginate: { id:'departmentmap', 
                                                                      itemsPerPage: marker.departments.meta.limit, 
                                                                      currentPage: marker.departments.meta.page, 
                                                                      totalItems:marker.departments.meta.total_docs}">
                    <td>{{dept.name}}</td>
                    <td class="teste2">
                      <button class="edit" (click)="open(dept._id)" type="button" name="button">Visualizar</button>
                    </td>
                  </tr>
                  <tr [hidden]="!marker.packing" *ngFor="let packing of marker.packings?.data | paginate: { id:'packingmap', 
                                                                                      itemsPerPage: marker.packings.meta.limit, 
                                                                                      currentPage:marker.packings.meta.page, 
                                                                                      totalItems:marker.packings.meta.total_docs}">
                    <td>{{packing.code}}</td>
                    <td>{{packing.serial}}</td>

                  </tr>

                </tbody>
              </table>

              <div class="has-text-centered" [hidden]="!marker.department">
                <pagination-controls id="departmentmap" (pageChange)="pageChangedDepart($event)" autoHide="true" directionLinks="false"></pagination-controls>
              </div>

              <div class="has-text-centered" [hidden]="!marker.packing">
                <pagination-controls id="packingmap" (pageChange)="pageChangedPacking($event)" autoHide="true" directionLinks="false"></pagination-controls>
              </div>

              <div class="classVazio" [hidden]="!marker.nothing">
                Não existe embalagens nessa planta.
              </div>

            </div>
          </div>

        </div>
      </div>
    </info-window>
  </ngui-map>
</div>