@import '~font-awesome/css/font-awesome.css';

* {
  font-family: 'Roboto', sans-serif;
}

.meuInventario {
  /* box-shadow: 0px 0px 5px #000; */
  margin-bottom: 25px;
}

.table {
  margin-bottom: 0px;
}

td {
  background-color: white;
}

.cabecalho {
  background-color: #3E4F60;
  color: white;
}

span {
  cursor: pointer;
}

h2,
h3 {
  display: inline-flex;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  vertical-align: middle;
  font-weight: 600;
}

select {
  height: 34px;
  margin-left: 10px;
  background-color: WHITE;
  line-height: 1.25;
  border:1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
}

hr {
  margin: 20px 0px 20px 0px;
  border-color: #3E4F60;
  border-width: thin;
}

.tituloClaro {
  color: white;
}

.classVazio {
  background-color: white;
  margin: 0px;
  padding: 10px 20px;
}

.botao-opcao{
  width: 100%;
  background-color: #3E4F60;
  padding: 5px;
  color: white;
  border: none;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.botao-opcao:hover {
  background-color: #6d8297;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.super-table{
  font-size: 14px;
}

.super-table > thead tr th{
  border: none;
}

.super-th{
  text-align: center;
  position: relative;
}

.super-th:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #ddd;
    width: 99%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -1px;
    left: 50%;
}

.super-th-atraso{
  border-left: 2px solid #4dc9ff;
}

.super-th-permanencia{
  border-left: 2px solid #4c7bff;
}

.super-th-ausente{
  border-left: 2px solid #ef5562;
}

.empty-super-th{
  border-bottom: 1px solid #3E4F60;
}

.inner-table{
  width: fit-content;
  min-width: 40%;
  float:left;
  margin-left: 15px;
  border: 1px solid #ddd;
}

.icon-inner-level{
  margin-left: 15px;
  -webkit-transform: rotate(270deg) scaleX(-1);
  transform: rotate(270deg) scaleX(-1);
  color: #adb5bd;
}

.super-table > tbody > tr:nth-child(2) > td {
  padding: 0px 8px;
  border: 0px;
}

.badge-atrasado{
  background-color: #4dc9ff;
}

.badge-incorreto{
  background-color: #f77737;
}

.badge-permanencia{
  background-color: #4c7bff;
}

.badge-ausente{
  background-color: #ef5562;
}

.base-bg{
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0px 0px 7px #000;
  -webkit-box-shadow: 0px 0px 7px #000;
}

.clear-padding {
  padding: 0px;
}

.form-control {
  font-size: 15px;
}

.meuInput {
  margin-bottom: 10px;
  border-radius: 0em;
}

.export-button {
  height: 30px;
  cursor: pointer;
 }