<div class="">
  <h2>Atualizar Rota</h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mRoute)" [formGroup]="mRoute" #formDir="ngForm">
    <div class="row">
      <div class="col-md-12">
        <alert type="info" *ngIf="!existPacking">
          <strong>Atenção!</strong> Não existe embalagens associadas a esse fornecedor.
        </alert>
      </div>
    </div>

    <div class="row">

      <!-- ============================================== -->
      <!-- Coluna 1 -->
      <div class="col-md-6">

        <!-- Select de familia -->
        <div class="campo">
          <p class="descricao">ASSOCIE UMA FAMÍLIA</p>
          <ng-select bindLabel="code" placeholder="Associe uma Família" formControlName="family" (clear)="onClear()"
            [items]="allFamilies" [ngClass]="{'required': (mRoute.get('family').hasError('required') && mRoute.get('family').touched) 
              || (mRoute.get('family').hasError('required') && formDir.submitted)}">

            <ng-template ng-label-tmp let-item="item">
              {{item.code}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                {{ item.code }}
              </div>
              <small>
                {{ item.company.name }}
              </small>
            </ng-template>
          </ng-select>

          <p class="requiredText" *ngIf="(mRoute.get('family').hasError('required') && mRoute.get('family').touched)
            || (mRoute.get('family').hasError('required') && formDir.submitted)">Campo
            Obrigatório</p>
        </div>


        <!-- Select do ponto 1 -->
        <div class="campo">
          <p class="descricao">ASSOCIE O PRIMEIRO PONTO DE CONTROLE</p>
          <ng-select bindLabel="name" placeholder="Associe um Ponto de Controle" formControlName="first_point" (clear)="onClear()"
            (change)="firstPointChange($event); showDirection()" [items]="allControlPoints" [ngClass]="{'required': (mRoute.get('first_point').hasError('required') && mRoute.get('first_point').touched) 
              || (mRoute.get('first_point').hasError('required') && formDir.submitted)}">

            <ng-template ng-label-tmp let-item="item">
              {{ item.name }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                Nome: {{ item.name }}
              </div>
              <small>
                DUNS: {{ item.duns }}
              </small>
            </ng-template>
          </ng-select>

          <p class="requiredText" *ngIf="(mRoute.get('first_point').hasError('required') && mRoute.get('first_point').touched)
            || (mRoute.get('first_point').hasError('required') && formDir.submitted)">Campo
            Obrigatório</p>
        </div>


        <!-- Select do Ponto 2 -->
        <div class="campo">
          <p class="descricao">ASSOCIE O SEGUNDO PONTO DE CONTROLE</p>
          <ng-select bindLabel="name" placeholder="Associe um Ponto de Controle" formControlName="second_point" (clear)="onClear()"
            (change)="secondPointChange($event); showDirection()" [items]="allControlPoints" [ngClass]="{'required': (mRoute.get('second_point').hasError('required') && mRoute.get('second_point').touched) 
              || (mRoute.get('second_point').hasError('required') && formDir.submitted)}">

            <ng-template ng-label-tmp let-item="item">
              {{item.name}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                {{item.name}}
              </div>
              <small>
                DUNS: {{item.duns}}
              </small>
            </ng-template>
          </ng-select>

          <p class="requiredText" *ngIf="(mRoute.get('second_point').hasError('required') && mRoute.get('second_point').touched)
            || (mRoute.get('second_point').hasError('required') && formDir.submitted)">Campo
            Obrigatório</p>
        </div>
      </div>



      <!-- ============================================== -->
      <!-- Coluna 2 -->
      <div class="col-md-6">
        <!-- Tempo máximo de viagem  -->
        <div class="campo" formGroupName="traveling_time">
          <p class="descricao">DEFINA UM TEMPO MÁXIMO DE VIAGEM</p>
          <p class="explicacao"></p>
          <div class="row">
            <div class="col-md-6">
              <ngb-timepicker [(ngModel)]="time_max" [seconds]="true" formControlName="max" size="small"></ngb-timepicker>

              <p class="requiredText" *ngIf="(mRoute.get('traveling_time.max').hasError('required') && mRoute.get('traveling_time.max').touched)
                || (mRoute.get('traveling_time.max').hasError('required') && formDir.submitted)">
                Campo Obrigatório</p>
            </div>

            <div class="col-md-6">
              <p class="configured-time">Dias: {{ time_max.hour }}</p>
              <p class="configured-time">Horas: {{ time_max.minute }}</p>
              <p class="configured-time">Minutos: {{ time_max.second }}</p>
            </div>
          </div>
        </div>

        <!-- Tempo minimo de viagem  -->
        <div class="campo" formGroupName="traveling_time">
          <p class="descricao">DEFINA UM TEMPO MÍNIMO DE VIAGEM</p>
          <p class="explicacao"></p>
          <div class="row">
            <div class="col-md-6 no-gutters">
              <ngb-timepicker [(ngModel)]="time_min" [seconds]="true" formControlName="min" size="small"></ngb-timepicker>

              <p class="requiredText" *ngIf="(mRoute.get('traveling_time.max').hasError('required') && mRoute.get('traveling_time.max').touched)
                || (mRoute.get('traveling_time.max').hasError('required') && formDir.submitted)">
                Campo Obrigatório</p>
            </div>

            <div class="col-md-6 no-gutters">
              <p class="configured-time">Dias: {{ time_min.hour }}</p>
              <p class="configured-time">Horas: {{ time_min.minute }}</p>
              <p class="configured-time">Minutos: {{ time_min.second }}</p>
            </div>
          </div>
        </div>

        <!-- Tempo minimo de viagem  -->
        <div class="campo" formGroupName="traveling_time">
          <p class="descricao">DEFINA A TOLERÂNCIA MÁXIMA DE ATRASO</p>
          <p class="explicacao"></p>
          <div class="row">
            <div class="col-md-6 no-gutters">
              <ngb-timepicker [(ngModel)]="time_delay" [seconds]="true" formControlName="overtime" size="small"></ngb-timepicker>
        
              <p class="requiredText" *ngIf="(mRoute.get('traveling_time.overtime').hasError('required') && mRoute.get('traveling_time.overtime').touched)
                                || (mRoute.get('traveling_time.overtime').hasError('required') && formDir.submitted)">
                Campo Obrigatório</p>
            </div>
        
            <div class="col-md-6 no-gutters">
              <p class="configured-time">Dias: {{ time_delay.hour }}</p>
              <p class="configured-time">Horas: {{ time_delay.minute }}</p>
              <p class="configured-time">Minutos: {{ time_delay.second }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Quadro de informações da rota -->
    <hr class="divisoria" *ngIf="directions">
    <div class="row" *ngIf="directions" style="margin-top: 0px;">
      <div class="col-sm-6 informacoes">
        <div class="bigger2">
          <div class="fromSun"></div>
        </div>
        <span class="forn">{{ mRoute.get('first_point').value.full_address }}</span>
      </div>

      <div class="col-sm-6 informacoes">
        <div class="bigger2">
          <div class="fromSun1"></div>
        </div>
        <span class="forn">{{ mRoute.get('second_point').value.full_address }}</span>
      </div>
    </div>

    <div class="row" *ngIf="directions" style="margin-top: 0px;">
      <div class="col-sm-6 informacoes">
        <div class="bigger2">
          <div class="fromSun2"></div>
        </div>
        <span class="forn">{{ directionsResult.routes[0].legs[0].distance.text }}, {{
          this.directionsResult.routes[0].legs[0].duration.text }}</span>
      </div>
    </div>

    <!-- Mapa -->
    <div class="row">
      <div class="col-md-12">
        <br>
        <ngui-map zoom="13" [center]="center">
          <directions-renderer [suppressMarkers]="false" [draggable]="true" panel="#my-panel" (directions_changed)="directionsChanged()"
            [directions-request]="direction">
          </directions-renderer>
        </ngui-map>
      </div>
    </div>

    <!-- Botões de voltar e cadastrar -->
    <br />
    <div class="botoes">
      <button routerLink="/rc/cadastros/rotas" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
    </div>
    <br />

  </form>
</div>