<div class="conteudoTop">
  <div class="base-bg">
    <div class="corpo">
      <div class="container">

        <button class="help" (click)="openHelp(content)">
          <div class="bigger">
            <div class="det2"></div>
          </div>
        </button>

        <h2 translate="IMPORT_DATA.TITLE"></h2>

        <ng-template #content>
          <div class="modalFilho">
            <div class="header">
              <h3 translate="IMPORT_DATA.COLUMN_DETAIL"></h3>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"> 
              <span aria-hidden="true">&times;</span>
            </button>
            <p translate="IMPORT_DATA.REGISTER_INSTRUCTIONS" style="border: none; font-weight: none!important;"></p>

            <div class="modalBody">
              <h4 translate="IMPORT_DATA.CONTROL_POINT"></h4>
              <p>
                <span class="badge badge-secondary">geofence_type</span>
                <span class="badge badge-secondary">coordinates</span>
                <span class="badge badge-secondary">radius</span>
                <span class="badge badge-secondary">name</span>
                <span class="badge badge-secondary">full_address</span>
                <span class="badge badge-secondary">type</span>
                <span class="badge badge-secondary">company_name</span>
                <span class="badge badge-secondary">duns</span>
              </p>
              <p><b>geofence_type:</b> {{ "IMPORT_DATA.GEOFENCE_TYPE_INSTRUCTION" | translate }}</p>
              <p><b>coordinates:</b> {{ "IMPORT_DATA.COORDINATES_INSTRUCTION" | translate }}</p>
              <p><b>radius:</b> {{ "IMPORT_DATA.RADIUS_INSTRUCTION" | translate }}</p>
              <p><b>name:</b>{{ "IMPORT_DATA.NAME_INSTRUCTION" | translate }} </p>
              <p><b>full_address:</b> {{ "IMPORT_DATA.ADDRESS_INSTRUCTION" | translate }}</p>
              <p><b>type:</b> {{ "IMPORT_DATA.TYPE_INSTRUCTION" | translate }}</p>
              <p><b>company:</b> {{ "IMPORT_DATA.COMPANY_INSTRUCTION" | translate }}</p>
              <p><b>duns:</b> {{ "IMPORT_DATA.DUNS_INSTRUCTION" | translate }}</p>
              <br>

              <h4 translate="IMPORT_DATA.PACKINGS"></h4>
              <p>
                <span class="badge badge-secondary">family</span>
                <span class="badge badge-secondary">serial</span>
                <span class="badge badge-secondary">tag</span>
                <span class="badge badge-secondary">version</span>
                <span class="badge badge-secondary">manufactores</span>
                <span class="badge badge-secondary">weight</span>
                <span class="badge badge-secondary">width</span>
                <span class="badge badge-secondary">height</span>
                <span class="badge badge-secondary">length</span>
                <span class="badge badge-secondary">capacity</span>
                <span class="badge badge-secondary">obervations</span>
                <span class="badge badge-secondary">type</span>
                <span class="badge badge-secondary">project</span>
              </p>

              <p><b>family:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.FAMILY" | translate }}</p>
              <p><b>serial:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.SERIAL" | translate }}</p>
              <p><b>tag:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.SERIAL" | translate }}</p>
              <p><b>version:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.VERSION" | translate }}</p>
              <p><b>manufactorer:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.MANUFACTORER" | translate }}</p>
              <p><b>weight:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.WEIGHT" | translate }}</p>
              <p><b>width:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.WIDTH" | translate }}</p>
              <p><b>height:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.HEIGHT" | translate }}</p>
              <p><b>length:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.LENGTH" | translate }}</p>
              <p><b>capacity:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.CAPACITY" | translate }}</p>
              <p><b>observations:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.OBSERVATIONS" | translate }}</p>
              <p><b>type:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.TYPE_DESCRIPTION" | translate }}</p>
              <p><b>project:</b> {{ "IMPORT_DATA.PACKINGS_DESCRIPTION.PROJECT" | translate }}</p>
              <br>

              <h4 translate="IMPORT_DATA.COMPANIES"></h4>
              <p>
                <span class="badge badge-secondary">type</span>
                <span class="badge badge-secondary">name</span>
                <span class="badge badge-secondary">phone</span>
                <span class="badge badge-secondary">cnpj</span>
                <span class="badge badge-secondary">street</span>
                <span class="badge badge-secondary">cep</span>
                <span class="badge badge-secondary">city</span>
                <span class="badge badge-secondary">uf</span>  
              </p>

              <p><b>type:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.TYPE" | translate }} </p>
              <p><b>name:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.NAME" | translate }} </p>
              <p><b>phone:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.PHONE" | translate }} </p>
              <p><b>cnpj:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.CNPJ" | translate }} </p>
              <p><b>street:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.STREET" | translate }} </p>
              <p><b>cep:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.CEP" | translate }} </p>
              <p><b>city:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.CITY" | translate }} </p>
              <p><b>uf:</b> {{ "IMPORT_DATA.COMPANIES_DESCRIPTION.UF" | translate }} </p>
              <br>

            </div>
          </div>
        </ng-template>

        <div class="row .no-gutters">
          <div class="col-sm-12">
            <form novalidate (ngSubmit)="onSubmit(import)" [formGroup]="import" #formDir="ngForm">
              <p translate="IMPORT_DATA.CHOOSE_A_FILE"></p>

              <div class="table-responsive tabela">
                <table class="table">
                  <thead>
                    <tr class="cabecalho">
                      <th translate="IMPORT_DATA.FILE">Arquivo</th>
                      <th translate="IMPORT_DATA.NAME" width="30%">Nome</th>
                      <th translate="IMPORT_DATA.SIZE">Tamanho</th>
                      <th translate="IMPORT_DATA.TYPE">Tipo de Cadastro</th>
                      <th translate="IMPORT_DATA.ACTIONS">Ações</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        <form>
                          <div class="form-group">
                            <!-- <div class="editar">
                            </div> -->
                            <label translate="IMPORT_DATA.FILE" for="single"></label>
                            <!-- [ngbTooltip]="getMessage()" placement="top" container="body" -->
                            <!-- [attr.disabled]="(uploader.length !== 0) ? '' : null" -->
                            <input  
                              type="file" 
                              class="form-control"
                              id="single" (change)=fileEvent($event) accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                          </div>
                        </form>
                      </td>

                      <td>
                        <div *ngIf="(uploader.length !== 0)">
                          {{ uploader[0]?.name }}
                        </div>
                      </td>

                      <td nowrap>
                        <div *ngIf="(uploader.length !== 0)">
                          {{ uploader[0]?.size/1024/1024 | number:'.2' }} MB
                        </div>
                      </td>

                      <td nowrap>
                        <div *ngIf="(uploader.length !== 0)">
                          <select type [(ngModel)]="type" 
                            data-style="btn-primary" 
                            class="selectEq" 
                            formControlName="type"
                            (click)="typeSelected($event)"
                            [ngClass]="{'required': (import.get('type').hasError('required') && import.get('type').touched)
                              || (import.get('type').hasError('required') && formDir.submitted)}">
                            <option translate="IMPORT_DATA.CHOOSE" value=""></option>
                            <option translate="IMPORT_DATA.CONTROL_POINT">Pontos de Controle</option>
                            <option translate="IMPORT_DATA.PACKINGS">Embalagens</option>
                            <option translate="IMPORT_DATA.COMPANIES">Empresas</option>
                            <!-- <option>Projetos</option> -->
                            <!-- <option>Setores</option> -->
                            <!-- <option>Rotas</option> -->
                          </select>

                          <p class="requiredText" *ngIf="(import.get('type').hasError('required') && import.get('type').touched) 
                            || (import.get('type').hasError('required') && formDir.submitted)">
                            {{ "IMPORT_DATA.REQUIRED" | translate }}  
                          </p>
                        </div>
                      </td>

                      <td nowrap>
                        <div *ngIf="(uploader.length !== 0)">
                          <button translate="IMPORT_DATA.UPLOAD" type="submit" class="editar">Upload</button>
                          <button translate="IMPORT_DATA.REMOVE" type="button" class="excluir" (click)="remove()">Remove</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>

        <br />
        
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ERRO -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->

        <!-- ========================================================== -->
        <!-- Tabela de erro -->
        <div class="row" *ngIf="importResult?.errors?.length > 0 && send">

          <div class="col-md-12">
            <p translate="IMPORT_DATA.ERROR.NOT_IMPORTED_LINES" class="descricaoTitulo"></p>
            <div class="col-md-12" *ngIf="importResult?.errors?.length !== 0 && send">
              <alert type="danger" dismissible="true">
                {{ "IMPORT_DATA.THERE_IS_A_PROBLEM" | translate }}   {{import['controls'].type.value}}.
              </alert>
            </div>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th translate="IMPORT_DATA.LINE"></th>
                    <th translate="IMPORT_DATA.ERROR.DESCRIPTION">Descrição</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let error of importResult?.errors">
                    <td>{{ error.line }}</td>
                    <td>{{ error.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br />

        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ATUALIZAÇÕES -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->

        <!-- ========================================================== -->
        <!-- Tabela de atualização: Embalagens -->
        <div class="row" *ngIf="import['controls'].type.value == 'Embalagens' && importResult?.updated?.length !== 0 && send">

          <div class="col-md-12">
            <p translate="IMPORT_DATA.UPDATE.UPDATED_LINES" class="descricaoTitulo"></p>
            <alert type="success " dismissible="true">
              {{ "IMPORT_DATA.UPDATE.SUCCESS" | translate }}
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th translate="IMPORT_DATA.LINE"></th>
                    <th>family</th>
                    <th>serial</th>
                    <th>tag</th>
                    <th>version</th>
                    <th>manufactorer</th>
                    <th>weight</th>
                    <th>width</th>
                    <th>height</th>
                    <th>length</th>
                    <th>capacity</th>
                    <th>observations</th>
                    <th>type</th>
                    <th>project</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let updated of importResult?.updated">
                    <td>{{ updated.line }}</td>
                    <td>{{ updated.data.family.code }}</td>
                    <td>{{ updated.data.serial }}</td>
                    <td>{{ updated.data.tag.code }}</td>
                    <td>{{ updated.data.tag.version }}</td>
                    <td>{{ updated.data.tag.manufactorer }}</td>
                    <td>{{ updated.data.weigth }}</td>
                    <td>{{ updated.data.width }}</td>
                    <td>{{ updated.data.heigth }}</td>
                    <td>{{ updated.data.length }}</td>
                    <td>{{ updated.data.capacity }}</td>
                    <td>{{ updated.data.observations }}</td>
                    <td>{{ updated.data.type }}</td>
                    <td>{{ updated.data?.project?.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- ========================================================== -->
        <!-- Tabela de atualização: Pontos de Controle -->
        <div class="row" *ngIf="import['controls'].type.value == 'Pontos de Controle' && importResult?.updated?.length !== 0 && send">
          <div class="col-md-12">
            <p translate="IMPORT_DATA.UPDATE.UPDATED_LINES" class="descricaoTitulo"></p>
            <alert type="success " dismissible="true">
              {{ "IMPORT_DATA.UPDATE.SUCCESS" | translate }}
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th translate="IMPORT_DATA.LINE"></th>
                    <th>geofence_type</th>
                    <th>coordinates</th>
                    <th>radius</th>
                    <th>name</th>
                    <th>full_address</th>
                    <th>type</th>
                    <th>company</th>
                    <th>duns</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let error of importResult?.updated">
                    <td>{{ error.line }}</td>
                    <td>{{ error.data.geofence.type }}</td>
                    <td>{{ arrayToString(error.data.geofence.coordinates) }}</td>
                    <td>{{ error.data.geofence.radius }}</td>
                    <td>{{ error.data.name }}</td>
                    <td>{{ error.data.full_address }}</td>
                    <td>{{ error.data.type.name }}</td>
                    <td>{{ error.data.company.name }}</td>
                    <td>{{ error.data.duns }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- ========================================================== -->
        <!-- Tabela de atualização: Empresas -->
        <div class="row" *ngIf="import['controls'].type.value == 'Empresas' && importResult?.updated?.length !== 0 && send">
          <div class="col-md-12">
            <p translate="IMPORT_DATA.UPDATE.UPDATED_LINES" class="descricaoTitulo"></p>
            <alert type="success " dismissible="true">
              {{ "IMPORT_DATA.UPDATE.SUCCESS" | translate }}
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th translate="IMPORT_DATA.LINE">linha</th>
                    <th>type</th>
                    <th>name</th>
                    <th>phone</th>
                    <th>cnpj</th>
                    <th>street</th>
                    <th>cep</th>
                    <th>city</th>
                    <th>uf</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let updatedItem of importResult?.updated">
                    <td>{{ updatedItem.line }}</td>
                    <td>{{ updatedItem.data.type }}</td>
                    <td>{{ updatedItem.data.name }}</td>
                    <td>{{ updatedItem.data.phone }}</td>
                    <td>{{ updatedItem.data.cnpj }}</td>
                    <td>{{ updatedItem.data?.address?.street }}</td>
                    <td>{{ updatedItem.data?.address?.cep }}</td>
                    <td>{{ updatedItem.data?.address?.city }}</td>
                    <td>{{ updatedItem.data?.address?.uf }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br />

        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- CADASTROS -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->

        <!-- ========================================================== -->
        <!-- Tabela de cadastros: Embalagens -->
        <div class="row" *ngIf="import['controls'].type.value == 'Embalagens' && importResult?.to_register?.length !== 0 && send">
          <div class="col-md-12">
            <p translate="IMPORT_DATA.REGISTER.CAN_BE_REGISTERED" class="descricaoTitulo"></p>
            <alert type="warning" dismissible="true">
              <div [innerHTML]="'IMPORT_DATA.REGISTER.CORRECT_PACKING_BUT_NEW' | translate"></div>
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th translate="IMPORT_DATA.LINE">linha</th>
                    <th>family</th>
                    <th>serial</th>
                    <th>tag</th>
                    <th>version</th>
                    <th>manufactorer</th>
                    <th>weight</th>
                    <th>width</th>
                    <th>height</th>
                    <th>length</th>
                    <th>capacity</th>
                    <th>observations</th>
                    <th>type</th>
                    <th>project</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let updated of importResult?.to_register">
                    <td>{{ updated.line }}</td>
                    <td>{{ updated.data.family?.code }}</td>
                    <td>{{ updated.data.serial }}</td>
                    <td>{{ updated.data.tag.code }}</td>
                    <td>{{ updated.data.tag.version }}</td>
                    <td>{{ updated.data.tag.manufactorer }}</td>
                    <td>{{ updated.data.weigth }}</td>
                    <td>{{ updated.data.width }}</td>
                    <td>{{ updated.data.heigth }}</td>
                    <td>{{ updated.data.length }}</td>
                    <td>{{ updated.data.capacity }}</td>
                    <td>{{ updated.data.observations }}</td>
                    <td>{{ updated.data.type }}</td>
                    <td>{{ updated.data?.project?.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12 botoes">
            <button type="button" class="botaoRegistrar" name="button" (click)="register()">
              {{ "IMPORT_DATA.REGISTER.REGISTER" | translate }}
            </button>
          </div>
        </div>


        <!-- ========================================================== -->
        <!-- Tabela de cadastro: Ponto de Controle-->
        <div class="row" *ngIf="import['controls'].type.value == 'Pontos de Controle' && importResult?.to_register?.length !== 0 && send">

          <div class="col-md-12">
            <p translate="IMPORT_DATA.REGISTER.CAN_BE_REGISTERED" class="descricaoTitulo"></p>
            <alert type="warning" dismissible="true">
              <div [innerHTML]="'IMPORT_DATA.REGISTER.CORRECT_CONTROL_POINT_BUT_NEW' | translate"></div>
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th translate="IMPORT_DATA.LINE">linha</th>
                    <th>geofence_type</th>
                    <th width="5%">coordinates</th>
                    <th>radius</th>
                    <th>name</th>
                    <th>full_address</th>
                    <th>type</th>
                    <th>company</th>
                    <th>duns</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let error of importResult?.to_register">
                    <td>{{ error.line }}</td>
                    <td>{{ error.data.geofence.type }}</td>
                    <td>{{ arrayToString(error.data.geofence.coordinates) }}</td>
                    <td>{{ error.data.geofence.radius }}</td>
                    <td>{{ error.data.name }}</td>
                    <td>{{ error.data.full_address }}</td>
                    <td>{{ error.data.type.name }}</td>
                    <td>{{ error.data.company.name }}</td>
                    <td>{{ error.data.duns }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12 botoes">
            <button translate="IMPORT_DATA.REGISTER.REGISTER" type="button" class="botaoRegistrar" name="button" (click)="register()"></button>
          </div>
        </div>


        <!-- ========================================================== -->
        <!-- Tabela de cadastro: Empresa -->
        <div class="row" *ngIf="import['controls'].type.value == 'Empresas' && importResult?.to_register?.length !== 0 && send">

          <div class="col-md-12">
            <p translate="IMPORT_DATA.REGISTER.CAN_BE_REGISTERED" class="descricaoTitulo"></p>
            <alert type="warning" dismissible="true">
              <div [innerHTML]="'IMPORT_DATA.REGISTER.CORRECT_COMPANY_BUT_NEW' | translate"></div>
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th translate="IMPORT_DATA.LINE"></th>
                    <th>type</th>
                    <th>name</th>
                    <th>phone</th>
                    <th>cnpj</th>
                    <th>street</th>
                    <th>cep</th>
                    <th>city</th>
                    <th>uf</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let error of importResult?.to_register">
                    <td>{{ error.line }}</td>
                    <td>{{ error.data.type }}</td>
                    <td>{{ error.data.name }}</td>
                    <td>{{ error.data.phone }}</td>
                    <td>{{ error.data.cnpj }}</td>
                    <td>{{ error.data?.address?.street }}</td>
                    <td>{{ error.data?.address?.cep }}</td>
                    <td>{{ error.data?.address?.city }}</td>
                    <td>{{ error.data?.address?.uf }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12 botoes">
            <button translate="IMPORT_DATA.REGISTER.REGISTER" type="button" class="botaoRegistrar" name="button" (click)="register()"></button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>