<div class="conteudoTop">
  <div class="base-bg">
    <div class="corpo">
      <div class="container">

        <button class="help" (click)="openHelp(content)">
          <div class="bigger">
            <div class="det2"></div>
          </div>
        </button>

        <h2>IMPORTAR DADOS</h2>

        <ng-template #content>
          <div class="modalFilho">
            <div class="header">
              <h3>Detalhes das colunas</h3>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            <p style="border: none; font-weight: none!important;">
              Para cadastrar informações no sistema via planilha excel, é preciso carregar arquivos (.xlsx) e seguir o
              template
              conforme demonstrado nos exemplos abaixo (seguindo a ordem de colunas e nomenclaturas).</p>

            <div class="modalBody">
              <!--<h4>Tag</h4>
              <p>
                <span class="lg1">CODE</span>
              </p>
              <p>code: Código do beacon</p>
              <br> -->

              <!-- <h4>Projeto</h4>
              <p>
                <span class="lg1">NAME</span>
              </p>
              <p>name: Nome do projeto</p>
              <br> -->

              <!-- CÍRCULO POR DEFAULT -->
              <h4>Ponto de Controle</h4>
              <p>
                <span class="badge badge-secondary">GEOFENCE_TYPE</span>
                <span class="badge badge-secondary">COORDINATES</span>
                <span class="badge badge-secondary">RADIUS</span>
                <span class="badge badge-secondary">NAME</span>
                <span class="badge badge-secondary">FULL_ADDRESS</span>
                <span class="badge badge-secondary">TYPE</span>
                <span class="badge badge-secondary">COMPANY_NAME</span>
                <span class="badge badge-secondary">DUNS</span>
              </p>
              <p><b>geofence_type:</b> Iipo de contorno do ponto de controle. Assume valores C ou P, respectivamente:
                Círculo ou Polígono.</p>
              <p><b>coordinates:</b> Se for círculo, contém a latitude e longitude do centro do círculo no formato <i>[11.222,
                  33.444]</i>. Se for polígono, contém uma lista de latitudes e longitudes no formato <i>[[11.222,
                  33.444], [11.222, 33.444], ...]</i>.</p>
              <p><b>radius:</b> Se for círculo, é necessário especificar o raio do ponto de controle em metros.</p>
              <p><b>name:</b> Nome do ponto de controle.</p>
              <p><b>full_address:</b> Endereço completo do ponto de controle.</p>
              <p><b>type:</b> Tipo do ponto de controle.</p>
              <p><b>company:</b> Nome da empresa a qual o ponto de controle está vinculado.</p>
              <p><b>duns:</b> Código identificador da empresa a qual o ponto de controle está vinculado.</p>
              <br>

              <!-- <h4>Departamento</h4>
              <p>
                <span class="lg1">NAME</span>
                <span class="lg1">PLANT</span>
                <span class="lg1">LAT</span>
                <span class="lg1">LNG</span>
              </p>
              <p>name: Nome do setor de uma planta da fábrica</p>
              <p>plant: Nome da planta da fábrica</p>
              <p>lat: Latitude da planta</p>
              <p>lng: Longitude da planta</p>
              <br> -->

              <h4>Embalagem</h4>
              <p>
                <span class="badge badge-secondary">FAMILY</span>
                <span class="badge badge-secondary">SERIAL</span>
                <span class="badge badge-secondary">TAG</span>
                <span class="badge badge-secondary">VERSION</span>
                <span class="badge badge-secondary">MANUFACTORER</span>
                <span class="badge badge-secondary">WEIGTH</span>
                <span class="badge badge-secondary">WIDTH</span>
                <span class="badge badge-secondary">HEIGTH</span>
                <span class="badge badge-secondary">LENGTH</span>
                <span class="badge badge-secondary">CAPACITY</span>
                <span class="badge badge-secondary">OBSERVATIONS</span>
                <span class="badge badge-secondary">TYPE</span>
                <span class="badge badge-secondary">PROJECT</span>
              </p>

              <p><b>family:</b> Família da embalagem</p>
              <p><b>serial:</b> Número serial da embalagem</p>
              <p><b>tag:</b> Número TAG do dispositivo</p>
              <p><b>version:</b> Versão do dispositivo</p>
              <p><b>manufactorer:</b> Fabricante da embalagem</p>
              <p><b>weigth:</b> Peso da embalagem</p>
              <p><b>width:</b> Largura da embalagem</p>
              <p><b>height:</b> Altura da embalagem</p>
              <p><b>length:</b> Comprimento da Embalagem</p>
              <p><b>capacity:</b> Capacidade da embalagem</p>
              <p><b>observations:</b> Observações sobre a embalagem</p>
              <p><b>type:</b> Descrição da embalagem</p>
              <p><b>project:</b> Nome do projeto a qual a embalagem está associada.</p>
              <br>

              <!-- <h4>Rota</h4>
              <p>
                <span class="lg1">SUPPLIER</span>
                <span class="lg1">DUNS</span>
                <span class="lg1">PROJECT</span>
                <span class="lg1">PLANT_FACTORY</span>
                <span class="lg1">PACKING_CODE</span>
              </p>
              <p>supplier: Nome do fornecedor da fábrica</p>
              <p>duns: Numero do fornecedor</p>
              <p>project: Latitude da planta</p>
              <p>plant_factory: Longitude da planta</p>
              <p>packing_code: Longitude da planta</p>
              <br> -->
            </div>
          </div>
        </ng-template>

        <div class="row .no-gutters">
          <div class="col-sm-12">
            <form novalidate (ngSubmit)="onSubmit(import)" [formGroup]="import" #formDir="ngForm">
              <p>Escolha um arquivo xlxs para importar</p>

              <div class="table-responsive tabela">
                <table class="table">
                  <thead>
                    <tr class="cabecalho">
                      <th>Arquivo</th>
                      <th width="30%">Nome</th>
                      <th>Tamanho</th>
                      <th>Tipo de Cadastro</th>
                      <th>Ações</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        <form>
                          <div class="form-group">
                            <!-- <div class="editar">
                            </div> -->
                            <label for="single">ARQUIVO</label>
                            <input [attr.disabled]="(uploader.length !== 0) ? '' : null" type="file" class="form-control"
                              id="single" (change)=fileEvent($event) accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                          </div>
                        </form>
                      </td>

                      <td>
                        <div *ngIf="(uploader.length !== 0)">
                          {{ uploader[0]?.name }}
                        </div>
                      </td>

                      <td nowrap>
                        <div *ngIf="(uploader.length !== 0)">
                          {{ uploader[0]?.size/1024/1024 | number:'.2' }} MB
                        </div>
                      </td>

                      <td nowrap>
                        <div *ngIf="(uploader.length !== 0)">
                          <select type [(ngModel)]="type" data-style="btn-primary" class="selectEq" formControlName="type"
                            [ngClass]="{'required': (import.get('type').hasError('required') && import.get('type').touched)
                              || (import.get('type').hasError('required') && formDir.submitted)}">
                            <option value="">Escolha</option>
                            <option>Pontos de Controle</option>
                            <option>Embalagens</option>
                            <!-- <option>Tags</option> -->
                            <!-- <option>Projetos</option> -->
                            <!-- <option>Setores</option> -->
                            <!-- <option>Rotas</option> -->
                          </select>

                          <p class="requiredText" *ngIf="(import.get('type').hasError('required') && import.get('type').touched) 
                            || (import.get('type').hasError('required') && formDir.submitted)">
                            Campo Obrigatório</p>
                        </div>
                      </td>

                      <td nowrap>
                        <div *ngIf="(uploader.length !== 0)">
                          <button type="submit" class="editar">Upload</button>
                          <button type="button" class="excluir" (click)="remove()">Remove</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>

        <br />
        <!-- Imprimir tipo do import -->
        <!-- <div class="row" *ngIf="importResult?.to_register?.length > 0 && send">
          <div class="col-md-12">
            <p class="descricaoTitulo"> Importar {{import['controls'].type.value}} </p>
          </div>
        </div> -->

        <!-- ========================================================== -->
        <!-- Tabela de erro -->
        <div class="row" *ngIf="importResult?.errors?.length > 0 && send">

          <div class="col-md-12">
            <p class="descricaoTitulo">Essas Linhas não foram importadas do Excel</p>
            <div class="col-md-12" *ngIf="importResult?.errors?.length !== 0 && send">
              <alert type="danger" dismissible="true">
                <strong>Atenção!</strong> Existe algum problema no excel que você tentou importar, verifique se ele
                apresenta os campos corretos para inserir os cadastros da/o(s) {{import['controls'].type.value}}.
              </alert>
            </div>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th>Linha</th>
                    <th>Descrição</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let error of importResult?.errors">
                    <td>{{ error.line }}</td>
                    <td>{{ error.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br />

        <!-- ========================================================== -->
        <!-- Tabela de atualização: Embalagens -->
        <div class="row" *ngIf="import['controls'].type.value == 'Embalagens' && importResult?.updated?.length !== 0 && send">

          <div class="col-md-12">
            <p class="descricaoTitulo">Essas linhas foram atualizadas a partir do Excel</p>
            <alert type="success " dismissible="true">
              <strong>Atenção!</strong> Alguns dados foram atualizados com sucesso.
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th>linha</th>
                    <th>family</th>
                    <th>serial</th>
                    <th>tag</th>
                    <th>version</th>
                    <th>manufactorer</th>
                    <th>weigth</th>
                    <th>width</th>
                    <th>height</th>
                    <th>length</th>
                    <th>capacity</th>
                    <th>observations</th>
                    <th>type</th>
                    <th>project</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let updated of importResult?.updated">
                    <td>{{ updated.line }}</td>
                    <td>{{ updated.data.family.name }}</td>
                    <td>{{ updated.data.serial }}</td>
                    <td>{{ updated.data.tag.code }}</td>
                    <td>{{ updated.data.tag.version }}</td>
                    <td>{{ updated.data.tag.manufactorer }}</td>
                    <td>{{ updated.data.weigth }}</td>
                    <td>{{ updated.data.width }}</td>
                    <td>{{ updated.data.height }}</td>
                    <td>{{ updated.data.length }}</td>
                    <td>{{ updated.data.capacity }}</td>
                    <td>{{ updated.data.observations }}</td>
                    <td>{{ updated.data.type }}</td>
                    <td>{{ updated.data.project.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- ========================================================== -->
        <!-- Tabela de atualização: Pontos de Controle -->
        <div class="row" *ngIf="import['controls'].type.value == 'Pontos de Controle' && importResult?.updated?.length !== 0 && send">
          <div class="col-md-12">
            <p class="descricaoTitulo">Essas linhas foram atualizadas a partir do Excel</p>
            <alert type="success " dismissible="true">
              <strong>Atenção!</strong> Alguns dados foram atualizados com sucesso.
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th>linha</th>
                    <th>geofence_type</th>
                    <th>coordinates</th>
                    <th>radius</th>
                    <th>name</th>
                    <th>full_address</th>
                    <th>type</th>
                    <th>company</th>
                    <th>duns</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let error of importResult?.updated">
                    <td>{{ error.line }}</td>
                    <td>{{ error.data.type }}</td>
                    <td>{{ arrayToString(error.data.geofence.coordinates) }}</td>
                    <td>{{ error.data.geofence.radius }}</td>
                    <td>{{ error.data.name }}</td>
                    <td>{{ error.data.full_address }}</td>
                    <td>{{ error.data.type }}</td>
                    <td>{{ error.data.company }}</td>
                    <td>{{ error.data.duns }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br />

        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- CADASTROS -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->
        <!-- ========================================================== -->

        <!-- ========================================================== -->
        <!-- Tabela de cadastros: Embalagens -->
        <div class="row" *ngIf="import['controls'].type.value == 'Embalagens' && importResult?.to_register?.length !== 0 && send">
          <div class="col-md-12">
            <p class="descricaoTitulo">Essas linhas podem ser cadastradas a partir do Excel</p>
            <alert type="warning  " dismissible="true">
              <strong>Atenção!</strong> Estes registros estão corretos, mas não correspondem a uma Embalagem do banco
              de dados. Deseja prosseguir com o cadastro?
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th>linha</th>
                    <th>family</th>
                    <th>serial</th>
                    <th>tag</th>
                    <th>version</th>
                    <th>manufactorer</th>
                    <th>weigth</th>
                    <th>width</th>
                    <th>height</th>
                    <th>length</th>
                    <th>capacity</th>
                    <th>observations</th>
                    <th>type</th>
                    <th>project</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let updated of importResult?.to_register">
                    <td>{{ updated.line }}</td>
                    <td>{{ updated.data.family?.name }}</td>
                    <td>{{ updated.data.serial }}</td>
                    <td>{{ updated.data.tag.code }}</td>
                    <td>{{ updated.data.tag.version }}</td>
                    <td>{{ updated.data.tag.manufactorer }}</td>
                    <td>{{ updated.data.weigth }}</td>
                    <td>{{ updated.data.width }}</td>
                    <td>{{ updated.data.height }}</td>
                    <td>{{ updated.data.length }}</td>
                    <td>{{ updated.data.capacity }}</td>
                    <td>{{ updated.data.observations }}</td>
                    <td>{{ updated.data.type }}</td>
                    <td>{{ updated.data?.project?.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12 botoes">
            <button type="button" class="botaoRegistrar" name="button" (click)="register()">REGISTRAR</button>
          </div>
        </div>


        <!-- ========================================================== -->
        <!-- Tabela de cadastro: Ponto de Controle-->
        <div class="row" *ngIf="import['controls'].type.value == 'Pontos de Controle' && importResult?.to_register?.length !== 0 && send">

          <div class="col-md-12">
            <p class="descricaoTitulo">Essas linhas podem ser cadastradas a partir do Excel</p>
            <alert type="warning" dismissible="true">
              <strong>Atenção!</strong> Estes registros estão corretos, mas não correspondem a uma Embalagem do banco
              de dados.
            </alert>
          </div>

          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="cabecalho">
                    <th>linha</th>
                    <th>geofence_type</th>
                    <th>coordinates</th>
                    <th>radius</th>
                    <th>name</th>
                    <th>full_address</th>
                    <th>type</th>
                    <th>company</th>
                    <th>duns</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr *ngFor="let error of importResult?.to_register">
                    <td>{{ error.line }}</td>
                    <td>{{ error.data.geofence.type }}</td>
                    <td>{{ arrayToString(error.data.geofence.coordinates) }}</td>
                    <td>{{ error.data.geofence.radius }}</td>
                    <td>{{ error.data.name }}</td>
                    <td>{{ error.data.full_address }}</td>
                    <td>{{ error.data.type }}</td>
                    <td>{{ error.data.company }}</td>
                    <td>{{ error.data.duns }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12 botoes">
            <button type="button" class="botaoRegistrar" name="button" (click)="register()">REGISTRAR</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>