<div class="modalFilho">
  <div class="header">
     <p>Detalhes do alerta</p>
     <p>Código: {{alerta.packing.code}}</p>
     <p>Tipo: <span>Objeto perdido</span></p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeAlerta.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
<div class="modalBody">
  <p><span>Planta do Fornecedor:</span> {{alerta.correct_plant_supplier ? alerta.correct_plant_supplier.name : 'Informação Indisponivel'}}</p>
  <p><span>Planta da Fabrica:</span> {{alerta.correct_plant_factory ? alerta.correct_plant_factory.name : 'Informação Indisponivel'}}</p>
  <p><span>Ultima Planta que foi visto:</span> {{alerta.actual_plant  ? alerta.actual_plant.name : 'Informação Indisponivel'}}</p>
  <p><span>Ultimo departamento visto:</span> {{alerta.department  ? alerta.department.name : 'Informação Indisponivel'}}</p>
  <div class="divBotao">


  <button type="button" class="botaoVisualizar">Visualizar Historico</button>
</div>
</div>

<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeAlerta.close('Close click')">Close</button>
</div> -->
</div>
