<div class="row">
  <div class="col-xs-7">
    <input type="text" class="form-control meuInput" placeholder="Buscar" aria-describedby="basic-addon1">
  </div>
  <div class="col-xs-2">

  </div>
  <div class="col-xs-3">
    <button class="mais" >+</button>
  </div>
</div>

<div class="table-responsive tabela">
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Name</th>
        <th>Planta</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{department.name}}</td>
        <td>{{department.plant.name}}</td>
        <td class="teste">
          <button class="editar" >Editar</button>
          <button class="excluir">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
