<div class="conteudoTop">
  <div class="base">
    <h2>BPline</h2>
    <hr>

    <br />

    <form novalidate (ngSubmit)="onSubmit(gc16)" [formGroup]="gc16">

      <!-- =================== -->
      <!-- Linha 1 -->
      <div class="row">

        <!-- Item 1 -->
        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">EQUIPAMENTO</p>
            <input type="text" class="form-control" placeholder="" [value]="gc16.controls.family.value.code" disabled>
          </div>
        </div>

      </div>

      <!-- =================== -->
      <!-- Linha 2 -->
      <div class="row">

        <!-- Item 1 -->
        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">VOLUME ANUAL</p>
            <p class="explicacao">Ex. "10000"</p>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" (blur)="onBlurMethod()"
                formControlName="annual_volume">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('annual_volume').hasError('pattern'))
                            || (gc16.get('annual_volume').hasError('pattern') && submitted)">
              Valor inválido</p>
            
            <p class="requiredText" *ngIf="(gc16.get('annual_volume').hasError('required') && gc16.get('annual_volume').touched)
                          || (gc16.get('annual_volume').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">DIAS PRODUTIVOS</p>
            <p class="explicacao">Ex. "240 Dias"</p>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" (blur)="onBlurMethod()"
                formControlName="productive_days">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('productive_days').hasError('pattern'))
                          || (gc16.get('productive_days').hasError('pattern') && submitted)">
              Valor inválido</p>
            <p class="requiredText" *ngIf="(gc16.get('productive_days').hasError('required') && gc16.get('productive_days').touched)
                          || (gc16.get('productive_days').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-sm-2">
          <div class="campo">
            <p class="descricao">CAPACIDADE</p>
            <p class="explicacao">Ex. "26"</p>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" (blur)="onBlurMethod()"
                formControlName="capacity">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('capacity').hasError('pattern'))
                          || (gc16.get('capacity').hasError('pattern') && submitted)">
              Valor inválido</p>
            <p class="requiredText" *ngIf="(gc16.get('capacity').hasError('required') && gc16.get('capacity').touched)
                          || (gc16.get('capacity').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <!-- Item 4 -->
        <div class="col-sm-2">
          <div class="campo">
            <p class="descricao">CONTAINERS/DIA</p>
            <span class="descricaoVazia"></span>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" disabled 
                formControlName="container_days">
            </div>
          </div>
        </div>
      </div>

      <!-- =================== -->
      <!-- Linha 3 -->
      <div formGroupName="owner_stock" class="row">

        <!-- Item 1 -->
        <div class="col-md-4">
          <div class="campo">
            <p class="descricao">ESTOQUE PLANTA MONTADORA</p>
            <p class="explicacao">Ex. "5 Dias"</p>
            <div class="placeholder" data-placeholder="DIAS">
              <input type="number" min="0" class="form-control" placeholder="" aria-describedby="basic-addon2"
                formControlName="days" (blur)="onBlurMethod()">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('owner_stock.days').hasError('pattern'))
                            || (gc16.get('owner_stock.days').hasError('pattern') && submitted)">
              Valor inválido</p>
            
            <p class="requiredText" *ngIf="(gc16.get('owner_stock.days').hasError('required') && gc16.get('owner_stock.days').touched)
                            || (gc16.get('owner_stock.days').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-md-4">
          <div class="row no-gutters">
            <div class="col-sm-12 no-gutters">
              <div class="campo">
                <p class="descricao dp">EM</p>
                <span class="descricaoVazia"></span>
                <div class="placeholder" data-placeholder="%">
                  <input type="number" class="form-control" disabled placeholder="" formControlName="value">
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="campo">
                <p class="descricao dp">QNT. CONTAINER</p>
                <span class="descricaoVazia"></span>
                <div class="input-group test2">
                  <input type="number" class="form-control" placeholder="" disabled 
                    formControlName="qty_container">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-md-4">
          <div class="row no-gutters">

            <div class="col-sm-12">
              <div class="campo">
                <p class="descricao dp">EM MÁX.</p>
                <span class="descricaoVazia"></span>
                <div class="placeholder" data-placeholder="%">
                  <input type="number" class="form-control" placeholder="" disabled formControlName="max">
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="campo">
                <p class="descricao dp">QNT. CONTAINER</p>
                <span class="descricaoVazia"></span>
                <div class="input-group test2">
                  <input type="number" class="form-control" placeholder="" disabled 
                    formControlName="qty_container_max">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- =================== -->
      <!-- Linha 4 -->
      <div formGroupName="client_stock" class="row">
        <div class="col-md-4">
          <div class="campo">
            <p class="descricao">ESTOQUE FORNECEDOR</p>
            <p class="explicacao">Ex. "5 Dias"</p>
            <div class="placeholder" data-placeholder="DIAS">
              <input type="number" min="0" class="form-control" aria-describedby="basic-addon2"
                formControlName="days" (blur)="onBlurMethod()">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('client_stock.days').hasError('pattern'))
                          || (gc16.get('client_stock.days').hasError('pattern') && submitted)">
              Valor inválido</p>
            <p class="requiredText" *ngIf="(gc16.get('client_stock.days').hasError('required') && gc16.get('client_stock.days').touched)
                          || (gc16.get('client_stock.days').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="campo">
                <p class="descricao dp">EF</p>
                <span class="descricaoVazia"></span>
                <div class="placeholder" data-placeholder="%">
                  <input type="number" class="form-control" disabled formControlName="value">
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="campo">
                <p class="descricao dp">QNT. CONTAINER</p>
                <span class="descricaoVazia"></span>
                <div class="input-group test2">
                  <input type="number" class="form-control" placeholder="" disabled 
                    formControlName="qty_container">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="campo">
                <p class="descricao dp">EF MÁX.</p>
                <span class="descricaoVazia"></span>
                <div class="placeholder" data-placeholder="%">
                  <input type="number" class="form-control" placeholder="" disabled formControlName="max">
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="campo">
                <p class="descricao dp">QNT. CONTAINER</p>
                <span class="descricaoVazia"></span>
                <div class="input-group test2">
                  <input type="number" class="form-control" placeholder="" disabled
                    formControlName="qty_container_max">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- =================== -->
      <!-- Linha 5 -->
      <div formGroupName="transportation_going" class="row">

        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">TRANSP. IDA</p>
            <p class="explicacao">Ex. "2 Dias"</p>
            <div class="placeholder" data-placeholder="DIAS">
              <input type="number" min="0" class="form-control" placeholder="" aria-describedby="basic-addon2"
                formControlName="days" (blur)="onBlurMethod()">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('transportation_going.days').hasError('pattern'))
                          || (gc16.get('transportation_going.days').hasError('pattern') && submitted)">
              Valor inválido</p>
            <p class="requiredText" *ngIf="(gc16.get('transportation_going.days').hasError('required') && gc16.get('transportation_going.days').touched)
                          || (gc16.get('transportation_going.days').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">TI</p>
            <span class="descricaoVazia"></span>
            <div class="placeholder" data-placeholder="%">
              <input type="number" class="form-control" placeholder="" disabled formControlName="value">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">QNT. CONTAINER</p>
            <span class="descricaoVazia"></span>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" disabled 
                formControlName="qty_container">
            </div>
          </div>
        </div>
      </div>


      <!-- =================== -->
      <!-- Linha 6 -->
      <div formGroupName="transportation_back" class="row">

        <!-- Item 1 -->
        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">TRANSP. VOLTA</p>
            <p class="explicacao">Ex. "2 Dias"</p>
            <div class="placeholder" data-placeholder="DIAS">
              <input type="number" min="0" class="form-control" placeholder="" aria-describedby="basic-addon2"
                formControlName="days" (blur)="onBlurMethod()">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('transportation_back.days').hasError('pattern'))
                            || (gc16.get('transportation_back.days').hasError('pattern') && submitted)">
              Valor inválido</p>
            <p class="requiredText" *ngIf="(gc16.get('transportation_back.days').hasError('required') && gc16.get('transportation_back.days').touched)
                          || (gc16.get('transportation_back.days').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">TV</p>
            <span class="descricaoVazia"></span>
            <div class="placeholder" data-placeholder="%">
              <input type="number" class="form-control" placeholder="" disabled formControlName="value">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="campo">
            <p class="descricao">QNT. CONTAINER</p>
            <span class="descricaoVazia"></span>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" disabled
                formControlName="qty_container">
            </div>
          </div>
        </div>
      </div>
      

      <!-- =================== -->
      <!-- Linha 7 -->
      <div formGroupName="frequency" class="row">

        <!-- Item 1 -->
        <div class="col-md-4">
          <div class="campo">
            <p class="descricao">FREQUÊNCIA</p>
            <p class="explicacao">Ex. "3 Dias"</p>
            <div class="placeholder" data-placeholder="DIAS"> 
              <input type="number" min="0" class="form-control" placeholder="" aria-describedby="basic-addon2"
                formControlName="days" (blur)="onBlurMethod()">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('frequency.days').hasError('pattern'))
                          || (gc16.get('frequency.days').hasError('pattern') && submitted)">
              Valor inválido</p>
            <p class="requiredText" *ngIf="(gc16.get('frequency.days').hasError('required') && gc16.get('frequency.days').touched)
                          || (gc16.get('frequency.days').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-4">
              <div class="campo">
                <p class="descricao">FR</p>
                <span class="descricaoVazia"></span>
                <div class="placeholder" data-placeholder="%">
                  <input type="number" class="form-control" placeholder="" disabled formControlName="fr">
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="campo">
                <p class="descricao">QNT. CONTAINER</p>
                <span class="descricaoVazia"></span>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="" disabled 
                    formControlName="qty_container">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="campo">
                <p class="descricao">TOTAL DE DIAS</p>
                <span class="descricaoVazia"></span>
                <div class="placeholder" data-placeholder="%">
                  <input type="number" class="form-control" placeholder="" disabled 
                    formControlName="qty_total_days">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <!-- =================== -->
      <!-- Linha 8 -->
      <div formGroupName="security_factor" class="row">

        <!-- Item 1 -->
        <div class="col-md-4">
          <div class="campo">
            <p class="descricao">FATOR DE SEGURANÇA</p>
            <p class="explicacao">Ex. "10"</p>
            <div class="placeholder" data-placeholder="%">
              <input type="number" class="form-control" placeholder="" formControlName="percentage"
                (blur)="onBlurMethod()">
            </div>
            <p class="requiredText" *ngIf="(gc16.get('security_factor.percentage').hasError('pattern'))
                          || (gc16.get('security_factor.percentage').hasError('pattern') && submitted)">
              Valor inválido</p>
            <p class="requiredText" *ngIf="(gc16.get('security_factor.percentage').hasError('required') && gc16.get('security_factor.percentage').touched)
                          || (gc16.get('security_factor.percentage').hasError('required') && submitted)">
              Campo Obrigatório</p>
          </div>
        </div>
        
        <!-- Item 2 -->
        <div class="col-md-4">
          <div class="campo">
            <p class="descricao">QUANT. CONTAINER</p>
            <span class="descricaoVazia"></span>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" disabled 
                formControlName="qty_container">
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-md-4">
          <div class="campo">
            <p class="descricao">QUANT. TOTAL CONSTRUÍDA</p>
            <span class="descricaoVazia desaparecer"></span>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="" disabled 
                formControlName="qty_total_build">
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="botoes">
        <button routerLink="/rc/bpline" class="botaoVoltar">VOLTAR</button>
        <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
      </div>

      <br>
    </form>

  </div>


  <br />
  <br />

</div>