# See http://help.github.com/ignore-files/ for more about ignoring files.
relog-frontend-web/node_modules
relog-frontend-web/package-lock.json
relog-frontend-web/dist

relog-backend-api/node_modules
relog-backend-api/coverage
# relog-backend-api/src/config/production.json
relog-backend-api/src/tools/env-tmp.tools.js
relog-backend-api/src/logs/
relog-backend-api/src/logs/app.log
relog-backend-api/package-lock.json

relog-state-machine-job/node_modules
# relog-state-machine-job/src/config/production.json
relog-state-machine-job/src/tools/env-tmp.tools.js
relog-state-machine-job/src/logs/
relog-state-machine-job/package-lock.json

loka-api-dm-job/node_modules
# loka-api-dm-job/src/config/production.json
loka-api-dm-job/src/tools/env-tmp.tools.js
loka-api-dm-job/src/logs/
loka-api-dm-job/package-lock.json

loka-websocket-job/logs
loka-websocket-job/node_modules

database-scripts/node_modules
database-scripts/package-lock.json

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
