<div class="modalFilho">
  <div class="header">

    <h1 style="color: #354052;">Local Incorreto</h1>

    <div class="col-xs-12 no-padding tags-row">
      <p class="alerta-badges">
        <span class="badge badge-secondary">Código: {{alerta.data.packing?.code}}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">Serial: {{alerta.data.packing?.serial}}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">Tag: {{alerta.data.packing?.code_tag}}</span>
      </p>

      <img id="ver-no-mapa" (click)="visualizeOnMap()" tooltip="Visualizar no mapa" placement="left" src="../../../assets/images/distancia.png"
        height="25" style="float: right;">
    </div>

    <button type="button" class="close" aria-label="Close" (click)="activeAlerta.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modalBody">

    <div class="row">
      <div class="col-xs-12">
        <p class="titulo-modal">EMITIDO EM:</p>
        <br>
        <p> {{alerta.data.date | date: 'dd/MM/yy'}} | {{alerta.data.date | date:'HH:MM:ss'}} </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="titulo-modal">LOCALIZAÇÃO ATUAL:</p>
        <br>
        <p> {{alerta.data.actual_plant ? alerta.data.actual_plant.plant.plant_name : 'Sem Registro'}} </p>
        <p> Departamento: {{alerta.data.department ? alerta.data.department.name : 'Sem Registro'}} </p>
      </div>

      <div class="col-xs-12 col-md-6">
        <p class="titulo-modal">NÍVEL DA BATERIA:</p>
        <br>
        <p> {{alerta.data?.packing?.battery >=0 ? (alerta.data?.packing?.battery | round) : 'Sem Registro'}}% </p>
      </div>
    </div>
     
  </div>
</div>