@import '~font-awesome/css/font-awesome.css';

* { font-family: 'Roboto', sans-serif; }

.form-group {
    margin-bottom: 0rem;
}

.teste {
  background-image: url("/assets/images/img-fundo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.quadrado {
  display: inline-block;
  text-align: -webkit-center;
  padding: 0px; 
  position: absolute;
  box-sizing: border-box;
  width: 400px;
  height: 400px; 
  overflow: hidden;
  position: absolute;
  top: calc( 50% - 200px );
  left: calc( 50% - 200px );
}

.quadrado-blur {
  background: url("/assets/images/img-fundo.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 0px; 

  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);

  height: 400px;
  width: 400px;

  position: absolute;
  top: calc( 50% - 200px );
  left: calc( 50% - 200px );

  /* display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%); */
}

.quadrado-content {
  background:rgba(0,0,0,0.2); 
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

h2 {
  color: white;
  font-weight: bold;
  margin-top: 40px;
}

input { 
  width: 100%;
  padding: 13px 15px;
  background:rgba(0,0,0,0.2); 
  border-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-decoration: none;
  color: white; 
  display:block;
}

.wrapper {
  display: inline-flex;
  margin-top: 25px;
}

.inputSenha {
  background-size: 18px;
  text-decoration: none;
}

input:focus {
  outline: none !important;
  border-style: solid;
  border-bottom-color: #4577d8;
  border-bottom-width: 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.required {
  border-color: #FF8A80 !important;
}

.requiredText {
  color: #FF8A80 !important;
}

.senhaIncorreta {
  outline: none !important;
  border-style: solid;
  border-bottom-color: #FF8A80;
  border-bottom-width: 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

p {
  color: white;
  text-align: left;
  margin-left: 10px;
}

.esqueci {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 25px;
}

.esqueci:hover {
  color: #4577d8;
  cursor: pointer;
}

.esqueci:focus {
  outline: none !important;
  border-style: none;
}

button {
  /* width: calc( 100% - 60px ); */
  width: 100%;
  padding: 10px 40px;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  border-style: solid;
  border-width: medium;
  border-color: white;
  opacity: 0.7;
}

button:hover {
  background-color: white;
  color: black;
  border-color: white;
  opacity: 0.7;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

button:focus {
  outline: none;
}

.requiredText { 
  text-align: center; 
  text-align: -webkit-center; 
}

.input-group{
  width: min-content;
}

.senhaIncorreta2,
.emailObrigatorio,
.emailIncorreto,
.emailNaoCadastrado,
.senhaObrigatoria {
  color: #FF8A80;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #fafafb;
  opacity: 0.5;
}

::-moz-placeholder {
  color: #fafafb;
  opacity: 0.8;
}

:-ms-input-placeholder {
  color: #fafafb;
  opacity: 0.8;
}

:-moz-placeholder {
  color: #fafafb;
  opacity: 0.8;
}

@media (max-width: 425px) { 
  .quadrado, .quadrado-blur, .quadrado-content { 
    width: 100% !important;
    left: 0;
  } 

  button {
    padding: 5px 0px !important;
  }
}