<div class="teste">
  
  <div class="row">
    
    <div class="quadrado-blur"></div>

    <div class="quadrado">
      
      <div class="quadrado-content">
        <alert type="danger" *ngIf="erroAuth">
          <div [innerHTML]="'REGISTER.ERRORS.INVALID_LOGIN' | translate"></div>
        </alert>

        <h2 translate="LOGIN.TITLE" class="text-center"></h2> 
        <br/>
        <form novalidate (ngSubmit)="onSubmit(login)" [formGroup]="login" #formDir="ngForm">
          <div class="form-group"> 
            <input class="inputMail" type="email" placeholder="{{ 'LOGIN.TITLE' | translate }}" aria-describedby="basic-addon2" name="email" id="email" required
              [(ngModel)]="email" formControlName="email" [ngClass]="{'required': (login.get('email').hasError('required') && login.get('email').touched)
                            || (login.get('email').hasError('required') && formDir.submitted)}">
            
            <span class="requiredText" 
              translate="REGISTER.ERRORS.REQUIRED"
              [ngClass]="{'help-block': (login.get('email').hasError('required') && login.get('email').touched)
              || (login.get('email').hasError('required') && formDir.submitted)}"
              *ngIf="(login.get('email').hasError('required') && login.get('email').touched)
                || (login.get('email').hasError('required') && formDir.submitted)"> </span> 
          </div>

          <br/>

          <div class="form-group">
              <input class="inputSenha" type="password" placeholder="{{ 'LOGIN.PASSWORD' | translate }}" aria-describedby="basic-addon2" name="senha" id="senha" required
                [(ngModel)]="password" formControlName="password" [ngClass]="{'required': (login.get('password').hasError('required') && login.get('password').touched)
                  || (login.get('password').hasError('required') && formDir.submitted)}">

            <span class="requiredText" 
              translate="REGISTER.ERRORS.REQUIRED"
              [ngClass]="{'help-block': (login.get('email').hasError('required') && login.get('email').touched)
              || (login.get('email').hasError('required') && formDir.submitted)}" 
              *ngIf="(login.get('password').hasError('required') && login.get('password').touched) || (login.get('password').hasError('required')
              && formDir.submitted)"> </span>
          </div>
          
          <br/>
          
          <div class="form-group" style="display: flex;justify-content: center;">
            <button translate="LOGIN.CONFIRM" type="submit"></button>
          </div>
          
          <div translate="LOGIN.FORGOT" 
            class="esqueci pagination-centered" 
            style="display: flex;justify-content: center;" 
            routerLink="/esqueciMinhaSenha"> </div>
          
        </form>
      </div>
    </div>

  </div>
</div>
