<div class="menu1">
    <h1 style="float: left">RECICLAPAC</h1>
    <ul class="lista"style=" list-style-type:none; float: right">
        <li><a routerLinkActive="active" routerLink="/logistico/home" >HOME</a></li>
        <li><a routerLinkActive="active" routerLink="/logistico/inventario">INVENTÁRIO</a></li>
        <li><a routerLinkActive="active" routerLink="/logistico/rastreamento">GEOLOCALIZAÇÃO</a></li>

        <li class="scroll usuario placementBottom"
        [ngbPopover]= 'popContent'
        placement="bottom"
        #a="ngbPopover"
      >
          <a class="botaoUsuario"
          routerLinkActive="active"></a>
        </li>

        <li class="scroll usuario placementLeft"
        [ngbPopover]= 'popContent'
        placement="left"
        #p="ngbPopover"
        >
          <a class="botaoUsuario"
          routerLinkActive="active"></a>
        </li>
    </ul>

    <button class="menu" (click)="mudar()">
      <span class="opa"></span>
      <span class="opa"></span>
      <span class="opa"></span>
    </button>

</div>

<div class="menuEscondido"
  [ngClass]="{
    'desaparecer': menuAparecer == false,
    'aparecer': menuAparecer == true}">
  <div class="row menuApp">
    <div class="col-sm-6 middle">
      <img src="../../../assets/images/perfil1.png">
      <p>Usuário Administrador Geral.</p><hr>
      <p>{{this.currentUser.user}}</p><hr>
      <button class="gerenciar" (click)="p.close();openModal()"><div>GERENCIAR USUÁRIOS</div></button><br class="brgone">
      <button class="medio" (click)="p.close();openModalEditar()"><div>EDITAR</div></button>
      <button class="medio2" (click)="logout()"><div>SAIR</div></button>
    </div>
    <!-- (click)="openModal()" -->

    <div class="col-sm-6">
      <ul class="listaEscondida"style=" ">
        <li class="opcaoEscondida"><a (click)="p.close();openModal()">GERENCIAR USUÁRIOS</a></li>
        <li class="opcaoEscondida"><a (click)="p.close();openModalEditar()">EDITAR</a></li>
        <li><a (click)="mudar()" routerLinkActive="active" routerLink="/rc/home">HOME</a></li>
        <li><a (click)="mudar()" routerLinkActive="active" routerLink="/rc/cadastros">CADASTROS</a></li>
        <li><a (click)="mudar()" routerLinkActive="active" routerLink="/rc/inventario">INVENTÁRIO</a></li>
        <li><a (click)="mudar()" routerLinkActive="active" routerLink="/rc/importar">IMPORTAR DADOS</a></li>
        <li><a (click)="mudar()" routerLinkActive="active" routerLink="/rc/rastreamento">GEOLOCALIZAÇÃO</a></li>
        <li><a (click)="mudar()" routerLinkActive="active" routerLink="/rc/gc16">GC16</a></li>
        <li class="opcaoEscondida"><a (click)="mudar()">SAIR</a></li>

      </ul>
    </div>
  </div>
</div>

<ng-template #popContent class="test">
  <img *ngIf="currentUser?.profile != 'StaffLogistic'" src="../../../assets/images/perfil-operador.png">
  <img *ngIf="currentUser?.profile === 'StaffLogistic'" src="../../../assets/images/perfil-funcionario.png">
  <p *ngIf="currentUser?.profile != 'StaffLogistic'">Op. Logistico Administrador.</p><hr>
  <p *ngIf="currentUser?.profile === 'StaffLogistic'">Funcionário do Op. Logistico.</p><hr>
  <p>{{this.currentUser.user}}</p><hr>
  <button class="gerenciar" *ngIf="currentUser?.profile != 'StaffLogistic'" (click)="p.close(); a.close(); openModal()"><div>GERENCIAR USUÁRIOS</div></button><br>
  <button class="medio" (click)="p.close(); a.close(); openModalEditar()"><div>EDITAR</div></button>
  <button class="medio2" (click)="logout()"><div>SAIR</div></button>
</ng-template>
