<div class="base-bg">
  <h2 class="">BATERIA BAIXA</h2>
  
  <!-- Linha divisória -->
  <hr style="margin-top: 10px;">
  
  <!-- BATERIA -->
  <div class="row">
    <div class="col-sm-12 clear-padding">
      <div class="col-sm-4">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="batterySearch" 
          (change)="batteryInventory()" 
          bindValue="packing" 
          [items]="packings" 
          bindLabel="packing"
          placeholder="Selecione um Equipamento">

          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Embalagem:</b> {{item.packing}}
            </div>

            <div>
              <small> <b>Fornecedor:</b> {{item.supplier.name}} </small>
            </div>

            <div>
              <small> <b> Projeto:</b> {{item.project.name}} </small>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
    
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="cabecalho">
              <th>Equipamento</th>
              <th>Serial</th>
              <th>Projeto</th>
              <th>Planta Atual</th>
              <th>Local</th>
              <th>Bateria</th>
              <th>Nível</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let packing of battery.data | paginate: {
                                                            id:'battery',
                                                            itemsPerPage: 10,
                                                            currentPage: battery.meta.page,
                                                            totalItems: battery.meta.total_docs}">
              <td>{{packing.code || '-'}}</td>
              <td>{{packing.serial || '-'}}</td>
              <td>{{packing.project?.name || '-'}}</td>
              <td>{{packing.actual_plant?.plant ? packing.actual_plant?.plant?.plant_name : (packing.missing ? "Embalagem Ausente"
                : "Embalagem em Viagem")}}</td>
              <td>{{packing.actual_plant?.local === 'Factory' ? 'Fábrica' : (packing.actual_plant?.local === 'Supplier' ? 'Fornecedor':
                (packing.actual_plant?.local === 'Logistic' ? 'Op. Logístico': 'Sem Registro'))}}</td>
              <td>{{packing.battery >= 0 ? (packing.battery | round) : 'Sem Registro'}} %</td>

              <td>{{packing?.battery > 80 ? 'Alta' : (packing?.battery > 40 ? 'Medio' : 'Baixa') }}</td>

            </tr>
          </tbody>
        </table>
        
        <div class="classVazio" *ngIf="battery.data?.length < 1">
          Selecione um equipamento.
        </div>

      </div>

      <br>
      
      <div class="has-text-centered">
        <pagination-controls class="my-pagination" id='battery' (pageChange)="battery.meta.page = $event;batteryInventory()" directionLinks="false"
          autoHide="true">
        </pagination-controls>
      </div>

    </div>
  </div>
</div>

<br>