<div class="conteudoHome">
<div class="header">
Timeline
<button routerLink="/rc/home" class="botaoVoltar">VOLTAR</button>
</div>


<div class="painel">
  <div class="quadradoPequeno"  tooltip="Alerta detalhado de {{alert.status == 1 ? 'Embalagem perdida' :
   (alert.status == 2 ? 'Embalagem em local incorreto':
   (alert.status == 3 ? 'Embalagem com bateria baixa':
   (alert.status == 4 ? 'Embalagem em viagem': 'Embalagem com tempo de permanência elevado')))}}" placement="bottom"
    *ngFor="let alert of data?.data | paginate: {   id:'list',
                                                    itemsPerPage: 10,
                                                    currentPage: data.meta.page,
                                                    totalItems: data.meta.total_docs}"
    [ngClass]="{
      'status1' : alert.status == 1,
      'status2' : alert.status == 2,
      'status3' : alert.status == 3,
      'status4' : alert.status == 4,
      'status5' : alert.status == 5,
      'status6' : alert.status == 6
    }"
     (click)="open(alert?.packing?._id,alert.status)" >
    <div class="esquerda">
      <span class="codigo" tooltip="Código da Embalagem" >{{alert.packing?.code}}</span><br />
      <span class="descricao" tooltip="Data do Alerta">{{alert.date | date}}</span>
    </div>
    <div class="direita">
      <span class="fornecedor" tooltip="Ultima planta em que foi visto" *ngIf="alert.status == 1 || alert.status == 4"
      [ngClass]="{
        'fornecedor1' : alert.status == 1,
        'fornecedor2' : alert.status == 2,
        'fornecedor3' : alert.status == 3,
        'fornecedor4' : alert.status == 4,
        'fornecedor5' : alert.status == 5,
        'fornecedor6' : alert.status == 6
      }"
      >{{alert.plant != null ? alert.plant?.plant_name : 'Inf. Indespo.'}}</span>
      <span class="fornecedor" tooltip="Planta Atual"  *ngIf="alert.status != 1 && alert.status != 4"
      [ngClass]="{
        'fornecedor1' : alert.status == 1,
        'fornecedor2' : alert.status == 2,
        'fornecedor3' : alert.status == 3,
        'fornecedor4' : alert.status == 4,
        'fornecedor5' : alert.status == 5,
        'fornecedor6' : alert.status == 6
      }"
      >{{alert.plant != null ? alert.plant?.plant_name : 'Inf. Indespo.'}}</span><Br />
      <span class="quantidade" tooltip="Código Serial da Embalagem"
      [ngClass]="{
        'quantidade1' : alert.status == 1,
        'quantidade2' : alert.status == 2,
        'quantidade3' : alert.status == 3,
        'quantidade4' : alert.status == 4,
        'quantidade5' : alert.status == 5,
        'quantidade6' : alert.status == 6
      }"
      >{{alert.serial}}</span>
    </div>
  </div>

  <div style="width: 100%;" *ngIf="data?.data?.length > 1 ">
    <br />
    <div class="has-text-centered">
        <pagination-controls id='list' class="my-pagination"
        (pageChange)="pageChanged($event)"
        directionLinks="false"
        autoHide="true">
        </pagination-controls>
    </div>
  </div>
</div>
