<div class="">
  <h2 translate="REGISTER.PROJECT.REGISTER_TITLE"></h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mProject)" [formGroup]="mProject" #formDir="ngForm">
    <div class="campo">
      <p translate="REGISTER.PROJECT.NAME" class="descricao"></p>
      <p translate="REGISTER.PROJECT.NAME_DESC" class="explicacao"></p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'REGISTER.PROJECT.NAME_PLACEHOLDER' | translate }}" aria-describedby="basic-addon2"
          maxlength="50" [(ngModel)]="name" formControlName="name" 
          (focusout)="validateName($event)" [ngClass]="{'required': 
            (mProject.get('name').hasError('required') && mProject.get('name').touched)
            || (mProject.get('name').hasError('required') && formDir.submitted)
            || (mProject.get('name').hasError('uniqueValidation'))
            || (mProject.get('name').hasError('uniqueValidation') && submitted) 
            || (mProject.get('name').hasError('minlength'))
            || (mProject.get('name').hasError('minlength') && submitted)
            || (mProject.get('name').hasError('pattern'))
            || (mProject.get('name').hasError('pattern') && submitted)}">
      </div>

      <p translate="REGISTER.ERRORS.REQUIRED" 
        class="requiredText" 
        *ngIf="(mProject.get('name').hasError('required') && mProject.get('name').touched) || (mProject.get('name').hasError('required') && formDir.submitted)"></p>

      <p translate="REGISTER.ERRORS.CHECKING" 
        class="explicacao" 
        *ngIf="validateNotTakenLoading"></p>

      <p translate="REGISTER.ERRORS.MIN_5" 
        class="requiredText" 
        *ngIf="(mProject.get('name').hasError('minlength')) || (mProject.get('name').hasError('minlength') && submitted)"></p>

      <p translate="REGISTER.ERRORS.CONTROL_POINT_EXISTS" 
        class="requiredText" 
        *ngIf="(mProject.get('name').hasError('uniqueValidation')) || (mProject.get('name').hasError('uniqueValidation') && submitted)"></p>

      <p translate="REGISTER.ERRORS.WHITE_SPACE" 
        class="requiredText" 
        *ngIf="(mProject.get('name').hasError('pattern')) || (mProject.get('name').hasError('pattern') && submitted)"></p>
    </div>

    <br />
    
    <div class="botoes">
      <button translate="REGISTER.BACK_BUTTON" routerLink="/rc/cadastros/projeto" class="botaoVoltar">VOLTAR</button>
      <button translate="REGISTER.REGISTER_BUTTON" type="submit" class="botaoRegistrar">REGISTRAR</button>
    </div>
    <br />
  </form>
</div>