<div class="teste">
<div class="wrapper">


  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-7 quadrado">
      <!-- <img [src]="'../../assets/images/img-fundo.png'" alt=""> -->
      <p><span class="titulo">RECICLAPAC</span></p>
      <!-- <div class="cpai -->



        <div class="cfilho mascara">
          <span class="span1"></span>
          <span class="span2"></span>
          <h2>O sistema "<span class="azul">Eu Estou Aqui</span>" permite a localização e
            otimização do uso de embalagens (Racks Metálicos), gerando informações precisas
            em tempo reduzido, trazendo impactos financeiros e qualitativos significativos
            para a indústria.</h2>
            <span class="span3"></span>
            <span class="span4"></span>

        </div>
        <div class="botao">
      <button routerLink="/login">COMECE AGORA!</button>
      </div>
    </div>
  </div>

</div>
</div>
