@import "~font-awesome/css/font-awesome.css";

.classVazio {
  background-color: white;
  margin: 0px;
  padding: 20px;
}

.table {
  margin-bottom: 0px;
}

.alerta {
  width: 25px;
  height: 25px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  position: relative;
  border-radius: 1em;
}

td {
  height: 50px;
}

.form-control {
  font-size: 15px;
}

.row1 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.alerta img {
  width: 15px;
  height: 15px;
}

.cabecalho th {
  border-bottom: solid #193349 1px;
  background-color: #f2f5f4;
}

.infoData {
  font-size: 9px;
  color: grey;
  margin: 0px;
}

span {
  cursor: pointer;
}

.inicial {
  margin-bottom: 10px !important;
}

.meuInput {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px lightgray;
  display: inline-block;
  border-radius: 0em;
  border: none;
}

@media (min-width: 600px) {
  .buscar {
    width: 400px;
  }
}

.mais {
  width: 140px;
  background-color: #fff;
  color: #000;
  border: 1px solid #3e4f60;
  height: 34px;
  border-radius: 5px;
  float: right;
}

.mais:hover {
  background-color: #3e4f60;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.bigger {
  position: relative;
}

.det {
  width: 15px;
  height: 15px;
  background-image: url("../../../assets/images/icon_plus_white.png");
  background-size: 15px 15px;
  cursor: pointer;
  left: 50%;
  margin-left: 43%;
}

.mais:hover .det {
  background-image: url("../../../assets/images/icon_plus_white.png");
  -webkit-transition: background-color 0.3s;
  -mozkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.i1 {
  float: left;
}

.i2 {
  float: right;
}

.editar,
.excluir {
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: #444444;
  border-radius: 5px;
  width: 80px;
  padding: 4px 10px;
  font-size: 12px;
}

.editar:hover,
.excluir:hover {
  background-color: #3e4f60;
  border: 1px solid #3e4f60;
  color: #fff;

  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;

  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
}

.excluir {
  margin-left: 5px;
}

.fa-edit {
  color: black;
}

.fa-trash {
  color: black;
}

.opcoes {
  text-align: center;
  width: 200px;
}

.teste {
  text-align: right;
}

.base-bg {
  background-color: white;
  border-radius: 6px;
  padding: 20px 20px;
}

/* Teste wraper */
@media (max-width: 576px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conteudoTop {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 120px;
    margin-right: 120px;
  }
}
