<div class="conteudoTop">
  <div class="base-bg">
    <div class="inicial">

      <div class="input-group mb-3 d-flex justify-content-between">
        <input type="text" class="form-control mr-4" placeholder="{{ 'BPLINE.SEARCH_PLACEHOLDER' | translate }}"
          aria-describedby="basic-addon1" [(ngModel)]="search" (keyup)="searchEvent($event)">

        <button translate="BPLINE.NEW" routerLink="/rc/bpline/adicionar" class="btn btn-outline-secondary"
          type="button"></button>
      </div>

      <div class="table-responsive">
        <!-- Table -->
        <table class="table">
          <thead>
            <tr class="cabecalho">
              <th translate="BPLINE.ANUAL_VOLUME"></th>
              <th translate="BPLINE.CAPACITY"></th>
              <th translate="BPLINE.PRODUCTIVE_DAYS"></th>
              <!-- <th translate="BPLINE.NEW">Fornecedor</th> -->
              <th translate="BPLINE.CONTROL_POINT"></th>
              <th translate="BPLINE.OPTIONS" class="opcoes"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gc of mListOfGC16 | paginate: {
                                                itemsPerPage: 10,
                                                currentPage: actualPage,
                                                totalItems: mListOfGC16.length}">
              <td>{{ gc.annual_volume }}</td>
              <td>{{ gc.capacity }}</td>
              <td>{{ gc.productive_days }}</td>
              <!-- <td>{{gc.supplier.name}}</td> -->
              <td>{{ gc.control_point.name }}</td>
              <td class="teste">
                <button translate="BPLINE.EDIT_BUTTON" class="editar" [routerLink]="['editar/', gc._id]"></button>
                <button translate="BPLINE.REMOVE_BUTTON" class="excluir" (click)="removeGC16(gc)"> </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="has-text-centered">
        <pagination-controls class="my-pagination" (pageChange)="actualPage = $event" directionLinks="false"
          autoHide="true">
        </pagination-controls>
      </div>

      <div translate="BPLINE.NO_REGISTER" class="classVazio" *ngIf="mListOfGC16.length < 1"> </div>

    </div>

  </div>
</div>