<div class="conteudoTop">
  <div class="base-bg">
    <div class="inicial">

      <div class="input-group mb-3 d-flex justify-content-between">
        <input type="text" class="form-control mr-4" placeholder="Buscar por empresa ou família" aria-describedby="basic-addon1"
          [(ngModel)]="search" (keyup)="searchEvent($event)">
        <button routerLink="/rc/bpline/adicionar" class="btn btn-outline-secondary" type="button">Novo</button>
      </div>

      <div class="table-responsive">
        <!-- Table -->
        <table class="table">
          <thead>
            <tr class="cabecalho">
              <th>Volume Anual</th>
              <th>Capacidade</th>
              <th>Dias Produtivos</th>
              <!-- <th>Fornecedor</th> -->
              <th>Ponto de Controle</th>
              <th class="opcoes">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gc of mListOfGC16 | paginate: {
                                                itemsPerPage: 10,
                                                currentPage: actualPage,
                                                totalItems: mListOfGC16.length}">
              <td>{{ gc.annual_volume }}</td>
              <td>{{ gc.capacity }}</td>
              <td>{{ gc.productive_days }}</td>
              <!-- <td>{{gc.supplier.name}}</td> -->
              <td>{{ gc.control_point.name }}</td>
              <td class="teste">                
                <button class="editar" [routerLink]="['editar/', gc._id]">
                  EDITAR
                </button>
                <button class="excluir" (click)="removeGC16(gc)">
                  EXCLUIR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="has-text-centered">
        <pagination-controls class="my-pagination" (pageChange)="actualPage = $event" directionLinks="false" autoHide="true">
        </pagination-controls>
      </div>

      <div class="classVazio" *ngIf="mListOfGC16.length < 1">
        Ainda não existem registros BPline cadastrados.
      </div>

    </div>

  </div>
</div>