<section class="bg-resumo">
  <h3 class="total-embalagens">{{ resume.qtd_total }} {{ 'HOME.TOTAL_PACKING' | translate }}</h3>
  <!-- {{ 'HOME.TOTAL_PACKING' | translate }} -->
  
  <div class="grid">
    <div translate="HOME.CONTROL_POINTS" class="item tipo-barra"></div>
    <div class="item">
      <div class="progress">
        <div class="progress-bar progress-bar-full" [tooltip]="getTooltipControle()" [style.width.%]="progressControle[0]"></div>
        <div class="progress-bar progress-bar-empty" [style.width.%]="progressControle[1]"></div>
      </div>
    </div>

    <div translate="HOME.TRAVELING" class="item tipo-barra"></div>
    <div class="item">
      <div class="progress">
        <div class="progress-bar progress-bar-empty" [style.width.%]="progressViagem[0]"></div>
        <div class="progress-bar progress-bar-full" [tooltip]="getTooltipViagem()" [style.width.%]="progressViagem[1]"></div>
        <div class="progress-bar progress-bar-empty" [style.width.%]="progressViagem[2]"></div>
      </div>
    </div>

  </div>
</section>