<div class="teste">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-4 quadrado">
      <!-- <img [src]="'../../assets/images/img-fundo.png'" alt=""> -->
      <h1>RECICLAPAC</h1> <h1>{{emailInput}} -- {{senhaInput}}</h1>

      <form #f="ngForm" >
        <!-- (ngSubmit)="onSubmit(f)" -->
      <div class="form-group wrapper">
        <img src="../../assets/images/mail.png" class="spanMail">
        <div>
          <input class="inputMail"
                 type="email"
                 placeholder="e-mail"
                 aria-describedby="basic-addon2"
                 name="email"
                 id="email"
                 required
                 [(ngModel)]="emailInput"
                 #email="ngModel"
                 (input) = '(emailVazio = false)'
                 (input) = '(senhaVazia = false)'
                 (input) = '(emailNaoCadastrado = false)'
                 (input) = '(senhaIncorreta = false)'
                 (blur) = '(emailVazio = false)'
                 (blur) = '(senhaVazia = false)'
                 (blur) = '(emailNaoCadastrado = false)'
                 (blur) = '(senhaIncorreta = false)'
                 (keyup.enter) = 'entrar(emailInput, senhaInput)'>
          <p class="emailObrigatorio" *ngIf="emailVazio">E-mail é obrigatório</p>
          <p class="emailNaoCadastrado" *ngIf="emailNaoCadastrado">E-mail não cadastrado</p>
        </div>

      </div>

      <div class="wrapper form-group">
        <img src="../../assets/images/lock.png" class="spanLock">
        <div>
          <input class="inputSenha"
                 type="password"
                 placeholder="senha"
                 aria-describedby="basic-addon2"
                 name="senha"
                 id="senha"
                 required
                 [(ngModel)]="senhaInput"
                 #senha="ngModel"
                 (input) = '(emailVazio = false)'
                 (input) = '(senhaVazia = false)'
                 (input) = '(emailNaoCadastrado = false)'
                 (input) = '(senhaIncorreta = false)'
                 (blur) = '(emailVazio = false)'
                 (blur) = '(senhaVazia = false)'
                 (blur) = '(emailNaoCadastrado = false)'
                 (blur) = '(senhaIncorreta = false)'
                 (keyup.enter) = 'entrar(emailInput, senhaInput)'>
          <p class="senhaObrigatoria" *ngIf="senhaVazia">Senha é obrigatória</p>
          <p class="senhaObrigatoria" *ngIf="senhaIncorreta">Senha incorreta</p>

          <p class="esqueci" routerLink="/esqueciMinhaSenha">Esqueci minha senha</p>
        </div>
      </div>

      <br />
      <button (click)='prosseguir()'>ENTRAR</button>
      <!-- routerLink="/rc" -->
      <!-- type="submit" -->
    </form>
    </div>
  </div>
</div>
