<div class="teste">

  <div class="row">
    
    <div class="quadrado-blur"></div>

    <div class="quadrado">
    
      <div class="quadrado-content">
        <alert type="danger" *ngIf="erroAuth">
          <strong>Atenção!</strong> Usuário ou senha invalidos!.
        </alert>

        <h1>RECICLAPAC</h1> 
        <br/>
        <form novalidate (ngSubmit)="onSubmit(login)" [formGroup]="login" #formDir="ngForm">
          <div class="form-group"> 
            <input class="inputMail" type="email" placeholder="email" aria-describedby="basic-addon2" name="email" id="email" required
              [(ngModel)]="email" formControlName="email" [ngClass]="{'required': (login.get('email').hasError('required') && login.get('email').touched)
                            || (login.get('email').hasError('required') && formDir.submitted)}">
            
            <span class="requiredText" [ngClass]="{'help-block': (login.get('email').hasError('required') && login.get('email').touched)
              || (login.get('email').hasError('required') && formDir.submitted)}"
              *ngIf="(login.get('email').hasError('required') && login.get('email').touched)
                || (login.get('email').hasError('required') && formDir.submitted)">
              Campo Obrigatório
            </span> 
          </div>

          <br/>

          <div class="form-group">
              <input class="inputSenha" type="password" placeholder="senha" aria-describedby="basic-addon2" name="senha" id="senha" required
                [(ngModel)]="password" formControlName="password" [ngClass]="{'required': (login.get('password').hasError('required') && login.get('password').touched)
                          || (login.get('password').hasError('required') && formDir.submitted)}">

            <span class="requiredText" [ngClass]="{'help-block': (login.get('email').hasError('required') && login.get('email').touched)
              || (login.get('email').hasError('required') && formDir.submitted)}" 
              *ngIf="(login.get('password').hasError('required') && login.get('password').touched) || (login.get('password').hasError('required')
              && formDir.submitted)">
              Campo Obrigatório
            </span>
          </div>
          
          <br/>

          <div class="form-group">
            <button type="submit">ENTRAR</button>
          </div>
          
          <div class="esqueci pagination-centered" routerLink="/esqueciMinhaSenha">
            Esqueci minha senha
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
