  <div class="inner" style="margin-bottom: 20px;">
    <nav>
      <a href="#" class="logo">RECICLAPAC</a>
      <input type="checkbox" id="nav" /><label for="nav"></label>
      <ul>
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/cadastros">CADASTROS</a></li>
        <li><a routerLink="/inventario">INVENTÁRIO</a></li>
        <li><a routerLink="/importar">IMPORTAR DADOS</a></li>
        <li><a href="#">RASTREAMENTO</a></li>
        <li><a href="#">GC16</a></li>
      </ul>
    </nav>
  </div>
