  <div class="inner" style="margin-bottom: 40px;">
    <nav>
      <a routerLink="/rc/home" class="logo">RECICLAPAC</a>
      <input type="checkbox" id="nav" /><label for="nav"></label>
      <ul>
        <li class="scroll"><a routerLinkActive="active" routerLink="/rc/home">HOME</a></li>
        <li class="scroll"><a routerLinkActive="active" routerLink="/rc/cadastros">CADASTROS</a></li>
        <li class="scroll"><a routerLinkActive="active" routerLink="/rc/inventario">INVENTÁRIO</a></li>
        <li class="scroll"><a routerLinkActive="active" routerLink="/rc/importar">IMPORTAR DADOS</a></li>
        <li class="scroll"><a routerLinkActive="active" routerLink="/rc/rastreamento">GEOLOCALIZAÇÃO</a></li>
        <li class="scroll"><a routerLinkActive="active" routerLink="/rc/gc16">GC16</a></li>
      </ul>
    </nav>
  </div>
