<input type="text" class="form-control meuInput" placeholder="Buscar" aria-describedby="basic-addon1">


<div class="table-responsive meuInventario">
  <!-- Table -->
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Duns</th>
        <th>Fornecedor</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let embalagem of embalagens">
        <td> {{embalagem.id}} </td>
        <td>{{embalagem.nome}} </td>
        <td> {{embalagem.descricao}} </td>
        <td> {{embalagem.duns}} </td>
        <td> {{embalagem.fornecedor}} </td>
        <td>
          <span class="alerta" [ngClass]="{
            'atrasado' : embalagem.status == 'atrasado',
            'ok' : embalagem.status == 'ok',
            'quase' : embalagem.status == 'quase'
          }"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
