<div class="">
  <h2>Registrar Ponto de Controle</h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mControlPoint)" [formGroup]="mControlPoint" #formDir="ngForm">
    <div class="row">

      <!-- Input para o nome do ponto de controle -->
      <div class="campo col-md-12"> 
        <p class="descricao">NOME</p>
        <p class="explicacao">Ex. "Planta B1"</p>
        <div class="input-group">
          <input type="text" 
            class="form-control" 
            maxlength="50"
            placeholder="Digite o nome da planta" 
            aria-describedby="basic-addon2"
            formControlName="name"
            (focusout)="validateName($event)"
            [ngClass]="{'required': (mControlPoint.get('name').hasError('required') && mControlPoint.get('name').touched)
              || (mControlPoint.get('name').hasError('required') && submitted)
              || (mControlPoint.get('name').hasError('pattern')) 
              || (mControlPoint.get('name').hasError('pattern') && submitted)
              || (mControlPoint.get('name').hasError('minlength'))
              || (mControlPoint.get('name').hasError('minlength') && submitted)
              || (mControlPoint.get('name').hasError('uniqueValidation'))
              || (mControlPoint.get('name').hasError('uniqueValidation') && submitted)}">
        </div>

        <p class="requiredText" *ngIf="(mControlPoint.get('name').hasError('required') && mControlPoint.get('name').touched)
          || (mControlPoint.get('name').hasError('required') && formDir.submitted)">
          Campo Obrigatório</p>
        
        <p class="requiredText" *ngIf="(mControlPoint.get('name').hasError('minlength'))
          || (mControlPoint.get('name').hasError('minlength') && formDir.submitted)">
          Mínimo de 5 caracteres</p>

        <p class="explicacao" *ngIf="validateNotTakenLoading">
          Verificando disponibilidade ...</p>
          
        <p class="requiredText" *ngIf="(mControlPoint.get('name').hasError('uniqueValidation')) 
          || (mControlPoint.get('name').hasError('uniqueValidation') && submitted)">
          Este Ponto de Controle já existe. O nome deve ser único.</p>
          
        <p class="requiredText" 
          *ngIf="(mControlPoint.get('name').hasError('pattern')) || (mControlPoint.get('name').hasError('pattern') && submitted)">
          Excesso de espaços em branco</p>
      </div>

      <!-- Input para o duns do ponto de controle -->
      <div class="campo col-md-12 col-md-6">
        <p class="descricao">CÓDIGO DE IDENTIFICAÇÃO DA EMPRESA/DUNS</p>
        <p class="explicacao">Ex. "123456789"</p>
        <div class="input-group">
          <input type="text" 
            class="form-control" 
            maxlength="30"
            placeholder="Digite o código de identificação da empresa" 
            aria-describedby="basic-addon2"
            formControlName="duns" 
            [ngClass]="{'required': (mControlPoint.get('duns').hasError('required') && mControlPoint.get('duns').touched)
              || (mControlPoint.get('duns').hasError('required') && submitted)}">
        </div>
        <p class="requiredText" *ngIf="(mControlPoint.get('duns').hasError('required') && mControlPoint.get('duns').touched)
                    || (mControlPoint.get('duns').hasError('required') && submitted)">Campo
          Obrigatório</p>
      </div>

      <!-- Input para o tipo do ponto de controle -->
      <div class="campo col-sm-12 col-md-6">
        <p class="descricao">TIPO</p>
        <ng-select bindLabel="name" 
          placeholder="Selecione o tipo" 
          [items]="allTypes" 
          [addTag]="true" 
          (add)="onAddItem($event)"
          formControlName="type">
          <ng-template ng-option-tmp let-item="item">
            {{item.name}}
          </ng-template>
        </ng-select>
        
        <p class="requiredText" *ngIf="(mControlPoint.get('type').hasError('required') && mControlPoint.get('type').touched)
          || (mControlPoint.get('type').hasError('required') && submitted)">
          Campo Obrigatório</p>

        <p class="requiredText" *ngIf="(mControlPoint.get('type').hasError('minlength') && mControlPoint.get('type').touched)
          || (mControlPoint.get('type').hasError('minlength') && submitted)">
          Mínimo de 5 caracteres</p>

        <p class="requiredText" *ngIf="(mControlPoint.get('type').hasError('maxlength') && mControlPoint.get('type').touched)
          || (mControlPoint.get('type').hasError('maxlength') && submitted)">
          Máximo de 50 caracteres</p>
      </div>

      <!-- Input para selecionar a empresa vinculada -->
      <div class="campo col-sm-12 col-md-6">
        <p class="descricao">EMPRESA VINCULADA</p>
        <ng-select bindLabel="name" placeholder="Associe uma empresa" [items]="allCompanies" formControlName="company">
          <ng-template ng-option-tmp let-item="item">
            <div> {{item.name}} </div>
          </ng-template>
        </ng-select>
        <p class="requiredText" *ngIf="(mControlPoint.get('company').hasError('required') && mControlPoint.get('company').touched)
            || (mControlPoint.get('company').hasError('required') && mControlPoint.invalid && submitted)">
          Campo Obrigatório</p>
      </div>


      <!-- Input para digitar o endereço -->
      <div class="col-sm-12" style="margin-bottom: 10px;">
        <p class="descricao">LOCAL</p>
        <input places-auto-complete 
          class="form-control"
          (place_changed)="placeChanged($event)" 
          [types]="['geocode']" 
          formControlName="full_address"
          placeholder="Digite o local da planta" 
          [ngClass]="{'required': (mControlPoint.get('full_address').hasError('required') && mControlPoint.get('full_address').touched)
            || (mControlPoint.get('full_address').hasError('required') && mControlPoint.invalid && submitted)}"/>

          <p class="requiredText" *ngIf="(mControlPoint.get('full_address').hasError('required') && mControlPoint.get('full_address').touched)
            || (mControlPoint.get('full_address').hasError('required') && mControlPoint.invalid && submitted)">
            Campo Obrigatório
          </p>

          <!-- (click)="onClick($event)" -->
          <ngui-map 
            [zoom]="zoom" 
            [center]="center"   
            style="margin-top: 10px;" >
            <!-- <marker [position]="pos"></marker> -->
            <drawing-manager 
              [drawingMode]="'null'" 
              [drawingControl]="true" 
              [drawingControlOptions]="{
                position: 2,
                drawingModes: ['circle', 'polygon']}"
              [polygonOptions]="{
                fillColor: '#0044a8',
                fillOpacity: 0.2,
                strokeColor: '#0044a8',
                strokeWeight: 1,
                strokeOpacity: '0.4',
                editable: true,
                zIndex: 1}"
              [circleOptions]="{
                fillColor: '#0044a8',
                fillOpacity: 0.2,
                strokeColor: '#0044a8',
                strokeWeight: 1,
                strokeOpacity: '0.4',
                editable: true,
                zIndex: 1}"></drawing-manager>
          </ngui-map>

          <p class="requiredText" 
            *ngIf="(mControlPoint.get('full_address').value !== '' && mControlPoint.get('full_address').touched 
              && !pointWasSelected)">
            Selecione contorno círculo ou polígono</p>
            <div *ngIf="this.controlPointCircle">Raio: {{ this.controlPointCircle.getRadius() }} </div>
      </div>

      <div class="campo col-sm-12 informacoes">
        <div class="bigger2">
          <div class="fromSun"></div>
        </div>
        <div class="forn">{{ this.mControlPoint.controls.full_address.value || 'Nenhuma informação sobre a localidade' }}</div>
      </div>


      <!-- Input para a latitude -->
      <!-- <div class="campo col-md-6">
        <p class="descricao">LATITUDE</p>
        <div class="input-group">
          <input type="text" 
            readonly
            class="form-control" 
            placeholder="Digite a latitude" 
            aria-describedby="basic-addon2"
            formControlName="lat" 
            [(ngModel)]="lat" 
            [ngClass]="{'required': (mControlPoint.get('lat').hasError('required') && mControlPoint.get('lat').touched)
              || (mControlPoint.get('lat').hasError('required') && submitted)}">
        </div>

        <p class="requiredText" *ngIf="(mControlPoint.get('lat').hasError('required') && mControlPoint.get('lat').touched)
          || (mControlPoint.get('lat').hasError('required') && submitted)">
          Campo Obrigatório</p>
      </div> -->


      <!-- Input para a longitude -->
      <!-- <div class="campo col-md-6">
        <p class="descricao">LONGITUDE</p>
        <div class="input-group">
          <input type="text" 
            readonly
            class="form-control" 
            placeholder="Digite a longitude" 
            aria-describedby="basic-addon2"
            formControlName="lng" 
            [(ngModel)]="lng" 
            [ngClass]="{'required': (mControlPoint.get('lng').hasError('required') && mControlPoint.get('lng').touched)
            || (mControlPoint.get('lng').hasError('required') && submitted)}">
        </div>

        <p class="requiredText" *ngIf="(mControlPoint.get('lng').hasError('required') && mControlPoint.get('lng').touched)
          || (mControlPoint.get('lng').hasError('required') && submitted)">
          Campo Obrigatório</p>
      </div> -->
    </div>

    <br />

    <div class="botoes">
      <button routerLink="/rc/cadastros/ponto" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">REGISTRAR</button>
    </div>

    <br />

  </form>
</div>