<section class="grupo-categoria">
  <h5>Bateria Baixa</h5>

  <div class="progress categoria-progress">
    <div class="progress-bar status-bateria" [style.width.%]="progressBateria[0]"></div>
    <div class="progress-bar progress-bar-empty" [style.width.%]="progressBateria[1]"></div>
  </div>

  <!-- Embalagens Bateria Baixa -->
  <section>
    <div class="linha-categoria bg-bateria">
      <div class="tick-categoria">

        <div class="quantidade-categoria status-bateria">
          {{ resume.qtd_with_low_battery }}
        </div>

        <span class="nome-categoria">Embalagens com Bateria Baixa</span>

        <button class="hamburger hamburger--squeeze" type="button" (click)="bateriaBaixaCollapsed = !bateriaBaixaCollapsed" [attr.aria-controls]="bateriaCollapsed"
          [ngClass]="{ 'is-active':bateriaBaixaCollapsed == true}">

          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

      </div>
    </div>

    <!-- Conteúdo Embalagens Bateria Baixa -->
    <div [attr.id]="bateriaCollapsed" [ngbCollapse]="!bateriaBaixaCollapsed">
      <div class="">
        <div *ngIf="listBattery.length < 1">
          Não há embalagens nesta situação.
        </div>
        <div *ngIf="listBattery.length > 0" class="table-responsive meuInventario inner-table">
          <table class="table">
            <thead>
              <tr class="cabecalho">
                <th>Código</th>
                <th>Serial</th>
                <th>Tag</th>
                <th>Planta Atual</th>
                <th>Local</th>
                <th>Bateria</th>
              </tr>
            </thead>

            <tbody class="">
              <tr *ngFor="let item of listBattery | paginate: { 
                                                          id:'listBattery', 
                                                          itemsPerPage: 10, 
                                                          currentPage: listBatteryActualPage, 
                                                          totalItems: listBattery.length }">
                <td>{{ item.family_code }}</td>
                <td>{{ item.serial }}</td>
                <td>{{ item.tag }}</td>
                <td>{{ item.current_control_point_name }}</td>
                <td>{{ item.battery_percentage ? ((item.battery_percentage | round) + '%') : "Sem registro" }}</td>
                <td>{{ item.date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="has-text-centered">
          <pagination-controls class="my-pagination" id='listBattery' (pageChange)="listBatteryActualPage = $event;"
            directionLinks="false" autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>

</section>