<div class="input-group mb-3 d-flex justify-content-between">
  <input type="text" 
    class="form-control mr-4" 
    [attr.placeholder]="'REGISTER.COMPANY.SEARCH_BAR_PLACEHOLDER' | translate"
    aria-describedby="basic-addon1" 
    [(ngModel)]="search"
    (keyup)="searchEvent($event)">

  <button 
    routerLink="cadastrar" 
    class="btn btn-outline-secondary" 
    type="button" 
    [translate]="'REGISTER.CREATE_BUTTON'"></button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th translate="REGISTER.TABLE.NAME"></th>
        <th translate="REGISTER.TABLE.PHONE"></th> 
        <th translate="REGISTER.TABLE.TYPE"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of listOfCompanies | paginate: {
                                          itemsPerPage: 10,
                                          currentPage: actualPage,
                                          totalItems: listOfCompanies.length}">
        <td>{{ company.name | truncate : 20 }}</td>
        <td>{{ company.phone ? company.phone : '-' }}</td>
        <td>{{ company.type | type }}</td>
        <td class="teste">
            <button class="editar" [routerLink]="['editar/', company._id]">
              {{ "REGISTER.EDIT_BUTTON" | translate }}
            </button>
            <button class="excluir" (click)="removeCompany(company)">
              {{ "REGISTER.REMOVE_BUTTON" | translate }}
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="listOfCompanies.length < 1">
  {{ "REGISTER.COMPANY.NO_RESULT" | translate }}
</div>

<br />

<div class="has-text-centered">
  <pagination-controls class="my-pagination" (pageChange)="actualPage = $event" directionLinks="false" autoHide="true">
  </pagination-controls>
</div>