<div class="row">


  <div class="col-md-3">
    <button routerLinkActive="active" routerLink="tags"><div>TAGS</div></button>
    <button routerLinkActive="active" routerLink="scanner"><div>Scanner</div></button>
    <button routerLinkActive="active" routerLink="embalagem"><div>Embalagem</div></button>
    <button routerLinkActive="active" routerLink="setor"><div>Setor</div></button>
    <button routerLinkActive="active" routerLink="fornecedor"><div>Fornecedor</div></button>
    <button routerLinkActive="active" routerLink="plataforma"><div>Plataforma</div></button>
    <button routerLinkActive="active" routerLink="rotas"><div>Rotas</div></button>
    <button routerLinkActive="active" routerLink="planta"><div>Planta</div></button>
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>

</div>
