<div class="">
  <h2>Editar Empresa</h2>
  <hr>

  <form (ngSubmit)="onSubmit(newCompany)" [formGroup]="newCompany">

    <div class="row">
      <div class="form-group col-sm-6">
        <p class="descricao">TIPO DA EMPRESA</p>
        <ng-select 
          formControlName="type" 
          [(ngModel)]="companyType" 
          [items]="typesOnSelect" 
          [searchable]="false"
          placeholder="Selecione um Tipo">
          <ng-template ng-label-tmp let-item="item">
            {{ item.label }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>{{ item.label }}</div>
          </ng-template>
        </ng-select>

        <p class="requiredText" *ngIf="(newCompany.get('type').hasError('required') && newCompany.get('type').touched) 
                  || (newCompany.get('type').hasError('required') && submitted)">Campo
          Obrigatório</p>
      </div>
    </div>

    <div class="row">
      <!-- <div class="form-group col-sm-12 col-md-8"> -->
        <div class="col-sm-12 col-md-8 form-group">
        <p class="descricao">NOME DA EMPRESA</p>
        <input type="text" 
          formControlName="name"
          class="form-control" 
          placeholder="Digite o nome da empresa"
          maxlength="50"
          [ngClass]="{'required': (newCompany.get('name').hasError('required') && newCompany.get('name').touched)
            || (newCompany.get('name').hasError('required') && submitted)
            || (newCompany.get('name').hasError('pattern'))
            || (newCompany.get('name').hasError('pattern') && submitted)}">
          
          <p class="requiredText" *ngIf="(newCompany.get('name').hasError('required') && newCompany.get('name').touched)
                      || (newCompany.get('name').hasError('required') && submitted)
                      || (newCompany.get('name').value.length == 1 && newCompany.get('name').value == ' ')">
            Campo Obrigatório</p>
          
          <p class="requiredText" *ngIf="(newCompany.get('name').hasError('minlength') && newCompany.get('name').touched)
            || (newCompany.get('name').hasError('minlength') && submitted)">
            Mínimo de 5 caracteres</p>

          <p class="requiredText" 
            *ngIf="(newCompany.get('name').hasError('pattern')) || (newCompany.get('name').hasError('pattern') && submitted)">
            Excesso de espaços em branco</p>
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <p class="descricao">TELEFONE</p>
        <input [textMask]="{mask: maskTel}" class="form-control" type="text" formControlName="phone"
          placeholder="Número de telefone" 
          [ngClass]="{'required': (newCompany.get('phone').hasError('required') && newCompany.get('phone').touched)
          || (newCompany.get('phone').hasError('required') && submitted)}"/>

          <p class="requiredText" *ngIf="(newCompany.get('phone').hasError('required') && newCompany.get('phone').touched)
                      || (newCompany.get('phone').hasError('required') && submitted)">
            Campo Obrigatório</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 form-group">
        <p class="descricao">CNPJ</p>
        <input [textMask]="{mask: maskCNPJ}" class="form-control" type="text" formControlName="cnpj" placeholder="__.___.___/____-__" maxlength="20"
          [ngClass]="{'required': (newCompany.get('cnpj').hasError('required') && newCompany.get('cnpj').touched)
                  || (newCompany.get('cnpj').hasError('required') && submitted)}" />
        
        <p class="requiredText" 
          *ngIf="(newCompany.get('cnpj').hasError('required') && newCompany.get('cnpj').touched)
            || (newCompany.get('cnpj').hasError('required') && submitted)">
          Campo Obrigatório</p>
      </div>
    </div>

    <div class="row" formGroupName="address">
      <div class="col-sm-12 col-md-8 form-group">
        <p class="descricao">RUA</p>
        <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="mStreet" 
          placeholder="Digite o nome da rua" 
          formControlName="street"
          maxlength="120"
          [ngClass]="{'required': (newCompany.get('address.street').hasError('required') &&
          newCompany.get('address.street').touched)
          || (newCompany.get('address.street').hasError('required') && submitted)
          || (newCompany.get('address.street').hasError('pattern'))
          || (newCompany.get('address.street').hasError('pattern') && submitted)}">

        <p class="requiredText" 
        *ngIf="(newCompany.get('address.street').hasError('required') && newCompany.get('address.street').touched)
          || (newCompany.get('address.street').hasError('required') && submitted)">
          Campo Obrigatório</p>

        <p class="requiredText" *ngIf="(newCompany.get('address.street').hasError('minlength') && newCompany.get('address.street').touched)
                          || (newCompany.get('address.street').hasError('minlength') && submitted)">
          Mínimo de 5 caracteres</p>

        <p class="requiredText" *ngIf="(newCompany.get('address.street').hasError('pattern')) || (newCompany.get('address.street').hasError('pattern') && submitted)">
          Excesso de espaços em branco</p>
      </div>

      <div class="col-sm-12 col-md-4 form-group">
        <p class="descricao">CEP</p>
        <input 
          [textMask]="{mask: maskCep}" 
          type="text" 
          class="form-control" 
          [(ngModel)]="mCep" 
          placeholder="Digite o CEP"
          formControlName="cep"
          [ngClass]="{'required': (newCompany.get('address.cep').hasError('required') &&
          newCompany.get('address.cep').touched)
          || (newCompany.get('address.cep').hasError('required') && submitted)}">

          <p class="requiredText" 
          *ngIf="(newCompany.get('address.cep').hasError('required') && newCompany.get('address.cep').touched)
            || (newCompany.get('address.cep').hasError('required') && submitted)">
            Campo Obrigatório</p>
      </div>

    </div>

    <div class="row" formGroupName="address">
      <div class="form-group col-sm-6 col-md-6">
        <p class="descricao">CIDADE</p>
        <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="mCity" 
          placeholder="Digite o cidade" 
          formControlName="city"
          maxlength="60"
          [ngClass]="{'required': (newCompany.get('address.city').hasError('required') &&
          newCompany.get('address.city').touched)
          || (newCompany.get('address.city').hasError('required') && submitted)
          || (newCompany.get('address.city').hasError('pattern'))
          || (newCompany.get('address.city').hasError('pattern') && submitted)}">

          <p class="requiredText" 
            *ngIf="(newCompany.get('address.city').hasError('required') && newCompany.get('address.city').touched)
              || (newCompany.get('address.city').hasError('required') && submitted)">
              Campo Obrigatório</p>

          <p class="requiredText" *ngIf="(newCompany.get('address.city').hasError('minlength') && newCompany.get('address.city').touched)
              || (newCompany.get('address.city').hasError('minlength') && submitted)">
            Mínimo de 5 caracteres</p>

          <p class="requiredText" *ngIf="(newCompany.get('address.city').hasError('pattern')) || (newCompany.get('address.city').hasError('pattern') && submitted)">
            Excesso de espaços em branco</p>
      </div>

      <div class="form-group col-sm-6 col-md-2">
        <p class="descricao">UF</p>
        <!-- <input [textMask]="{mask: maskUF}" type="text" class="form-control" [(ngModel)]="uf" formControlName="uf"> -->
        <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="mUf" 
          formControlName="uf" 
          placeholder="UF"
          maxlength="2"
          [ngClass]="{'required': (newCompany.get('address.uf').hasError('required') &&
          newCompany.get('address.uf').touched)
          || (newCompany.get('address.uf').hasError('required') && submitted)}">
          
          <p class="requiredText" 
            *ngIf="(newCompany.get('address.uf').hasError('required') && newCompany.get('address.uf').touched) 
            || (newCompany.get('address.uf').hasError('required') && submitted)">Campo Obrigatório</p>

          <p class="requiredText" 
            *ngIf="(newCompany.get('address.uf').hasError('pattern')) 
            || (newCompany.get('address.uf').hasError('pattern') && submitted)">
            Excesso de espaços em branco</p>

          <p class="requiredText" *ngIf="(newCompany.get('address.uf').hasError('minlength') && newCompany.get('address.uf').touched)
                    || (newCompany.get('address.uf').hasError('minlength') && submitted)">
            Mínimo de 2 caracters</p>
      </div>
    </div>

    <br />
    
    <div class="botoes">
      <button routerLink="/rc/cadastros/company" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
    </div>
    
    <br />

  </form>
</div>