* {
  font-family: "Roboto", sans-serif;
}

.info {
  padding: 10px 20px 10px 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0px 0px 7px #000;
}

.titulo {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: lighgrey;
  border-width: thin;
  border-bottom-style: solid;
  font-family: "Raleway", sans-serif;
}

.infoData {
  font-size: 9px;
  color: grey;
  margin: 0px;
}

.botaoVoltar {
  background-color: white;
  border: 1px solid #e6e6e6;
  color: #193349;
  border-radius: 6px;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}

.botaoVoltar:hover {
  background-color: #335ba8;
  color: #fff;

  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
}

.botaoVoltar:focus {
  outline: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.header {
  border-bottom-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 500;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lg0,
.lg1,
.lg2,
.lg3,
.lg4,
.lg5,
.lg6,
.lg7,
.lg13 {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 12px;
  display: inline-block;
  margin-right: 0.5rem;
}

.lg0 {
  background-color: #b3b3b3;
}

.lg1 {
  background-color: #ef5562;
}

.lg2 {
  background-color: #f77737;
}

.lg3 {
  background-color: #f8bd37;
}

.lg4 {
  background-color: #4dc9ff;
}

.lg5 {
  background-color: #4c7bff;
}

.lg6 {
  background-color: #9ecf99;
}

.lg7 {
  background-color: #3a9ca6;
}

.lg13 {
  background-color: #a349a4;
}

.button:focus {
  border: none !important;
  outline: none !important;
}

span {
  font-weight: normal;
}

.modalFilho p {
  color: black;
  font-size: 15px;
}

.painel {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.quadradoPequeno {
  width: 24%;
  height: auto;
  padding: 1rem 0.6rem 1rem 1.2rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
}

.status0 {
  background: linear-gradient(
    to right,
    #b3b3b3 0%,
    #b3b3b3 1rem,
    #fff 1rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status1 {
  background: linear-gradient(
    to right,
    #ef5562 0%,
    #ef5562 1rem,
    #fff 1rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status2 {
  background: linear-gradient(
    to right,
    #f77737 0%,
    #f77737 1rem,
    #fff 1rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status3 {
  background: linear-gradient(
    to right,
    #f8bd37 0px,
    #f8bd37 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status4 {
  background: linear-gradient(
    to right,
    #4dc9ff 0%,
    #4dc9ff 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status5 {
  background: linear-gradient(
    to right,
    #4c7bff 0%,
    #4c7bff 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status6 {
  background: linear-gradient(
    to right,
    #9ecf99 0%,
    #9ecf99 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status7 {
  background: linear-gradient(
    to right,
    #3a9ca6 0%,
    #3a9ca6 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status13 {
  background: linear-gradient(
    to right,
    #a349a4 0%,
    #a349a4 0.5rem,
    #b3b3b3 0.5rem,
    #b3b3b3 100%
  );
  border: solid #fff 1px;
}

/* Hover */
.status0:hover {
  background: linear-gradient(
    to right,
    #b3b3b3 0%,
    #b3b3b3 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
}

.status1:hover {
  background: linear-gradient(
    to right,
    #ef5562 0%,
    #ef5562 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
  border: solid #ef5562 1px;
}

.status2:hover {
  background: linear-gradient(
    to right,
    #f77737 0%,
    #f77737 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
  border: solid #f77737 1px;
}

.status3:hover {
  background: linear-gradient(
    to right,
    #f8bd37 0%,
    #f8bd37 0.5rem,
    #f2f2f2 0.5rem,
    #f2f2f2 100%
  );
  border: solid #f8bd37 1px;
}

.status4:hover {
  background: linear-gradient(
    to right,
    #4dc9ff 0%,
    #4dc9ff 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
  border: solid #4dc9ff 1px;
}

.status5:hover {
  background: linear-gradient(
    to right,
    #4c7bff 0%,
    #4c7bff 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
  border: solid #4c7bff 1px;
}

.status6:hover {
  background: linear-gradient(
    to right,
    #9ecf99 0%,
    #9ecf99 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
  border: solid #9ecf99 1px;
}

.status7:hover {
  background: linear-gradient(
    to right,
    #3a9ca6 0%,
    #3a9ca6 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
  border: solid #3a9ca6 1px;
}

.status13:hover {
  background: linear-gradient(
    to right,
    #a349a4 0%,
    #a349a4 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
  border: solid #a349a4 1px;
}

.esquerda {
  float: left;
  text-align: left;
}

.direita {
  float: right;
  text-align: left;
}

.descricao {
  color: #6b6b6b;
  font-size: 11.5px;
}

.fornecedor,
.quantidade {
  background-repeat: no-repeat;
  padding-left: 15px;
  vertical-align: middle;
  font-size: 12px;
  color: #666;
}

.fornecedor {
  background-size: 10px;
}

.fornecedor0 {
  background-image: url("../../../../assets/images/local0.png");
}

.fornecedor1 {
  background-image: url("../../../../assets/images/local1.png");
}

.fornecedor2 {
  background-image: url("../../../../assets/images/local2.png");
}

.fornecedor3 {
  background-image: url("../../../../assets/images/local3.png");
}

.fornecedor4 {
  background-image: url("../../../../assets/images/local4.png");
}

.fornecedor5 {
  background-image: url("../../../../assets/images/local5.png");
}

.fornecedor6 {
  background-image: url("../../../../assets/images/local6.png");
}

.fornecedor7 {
  background-image: url("../../../../assets/images/local7.png");
}

.fornecedor13 {
  background-image: url("../../../../assets/images/local8.png");
}

.quantidade {
  background-size: 11px;
}

.quantidade0,
.quantidade1,
.quantidade2,
.quantidade3,
.quantidade4,
.quantidade5,
.quantidade6,
.quantidade7,
.quantidade13 {
  background-image: url("../../../../assets/images/serial.png");
}

@media (min-width: 1920px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1700px) and (max-width: 1919px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1555px) and (max-width: 1699px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1400px) and (max-width: 1554px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1276px) and (max-width: 1399px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 992px) and (max-width: 1275px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .quadradoPequeno {
    width: 49%;
  }
}

@media (max-width: 767px) and (min-width: 663px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (max-width: 662px) {
  .quadradoPequeno {
    width: 49%;
  }
}

@media (max-width: 450px) {
  .quadradoPequeno {
    height: 115px;
    text-align: center;
  }

  .esquerda,
  .direita {
    float: none;
    text-align: center;
  }
}

.header {
  border-bottom-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 500;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Teste wraper */
@media (max-width: 576px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conteudoTop {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 120px;
    margin-right: 120px;
  }
}
