* {
  font-family: 'Roboto', sans-serif;
}

.info {
  padding: 10px 20px 10px 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0px 0px 7px #000;
}

.titulo {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: lighgrey;
  border-width: thin;
  border-bottom-style: solid;
  font-family: 'Raleway', sans-serif;
}

.infoData {
  font-size: 9px;
  color: grey;
  margin: 0px;
}

.botaoVoltar {
  background-color: transparent;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  padding: 5px 0px;
  width: 100px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  float: right;
  vertical-align: baseline;
}

.botaoVoltar:hover {
  background-color: white;
  color: #777;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.botaoVoltar:focus {
  outline: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

.info {
  padding: 10px 4% 10px 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0px 0px 7px #000;
}

.header {
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  margin-bottom: 25px;
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
}

.tit1 {
  color: black;
}

.tit1,
.lg0,
.lg1,
.lg2,
.lg3,
.lg4,
.lg5,
.lg6,
.lg7,
.lg13 {
  font-size: 12px;
  display: inline-block;
  text-align: center;
}

.lg0,
.lg1,
.lg2,
.lg3,
.lg4,
.lg5,
.lg6,
.lg7,
.lg13 {
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  width: 150px !important;
  text-align: center;
}

.lg0 {
  background-color: #b3b3b3;
}

.lg1 {
  background-color: #ef5562;
}

.lg2 {
  background-color: #f77737;
}

.lg3 {
  background-color: #f8bd37;
}

.lg4 {
  background-color: #4dc9ff;
}

.lg5 {
  background-color: #4c7bff;
}

.lg6 {
  background-color: #9ecf99;
}

.lg7 {
  background-color: #3a9ca6;
}

.lg13 {
  background-color: #a349a4;
}

.interrogacao1 {
  background-color: transparent;
  border: none;
  text-align: right;
  float: right;
  background-image: url("../../../../assets/images/interrogacao.png");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}

.interrogacao2 {
  background-color: transparent;
  border: none;
  text-align: right;
  float: right;
  background-image: url("../../../../assets/images/interrogacao.png");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}

.button:focus {
  border: none !important;
  outline: none !important;
}

.infoData {
  font-size: 9px;
  color: grey;
  margin: 0px;
}

.perdido2,
.parado2,
.incorreto2 {
  font-weight: bold;
}

span {
  font-weight: normal;
}

label {
  font-weight: normal;
  color: black;
  font-size: 12px;
}

.botaoOk {
  padding: 3px 15px;
  background-color: #777;
  color: white;
  border: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 14px;
}

.botaoOk:hover {
  color: white;
  background-color: #555;
}

.modalFilho p {
  color: black;
  font-size: 15px;
}

.painel {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.quadradoPequeno {
  width: 24%;
  height: auto;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 20px 10px 10px 10px;
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 0.4%;
  margin-right: 0.4%;
  cursor: pointer;
}

.status0 {
  background: linear-gradient(to bottom, #b3b3b3 0%, #b3b3b3 10%, #fff 10%, #fff 13%, #b3b3b3 13%, #b3b3b3 16%, #fff 16%, #fff 100%);
  border-left-color: #b3b3b3;
  border-right-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
}

.status1 {
  background: linear-gradient(to bottom, #ef5562 0%, #ef5562 10%, #fff 10%, #fff 13%, #ef5562 13%, #ef5562 16%, #fff 16%, #fff 100%);
  border-left-color: #ef5562;
  border-right-color: #ef5562;
  border-bottom-color: #ef5562;
}

.status2 {
  background: linear-gradient(to bottom, #f77737 0%, #f77737 10%, #fff 10%, #fff 13%, #f77737 13%, #f77737 16%, #fff 16%, #fff 100%);
  border-left-color: #f77737;
  border-right-color: #f77737;
  border-bottom-color: #f77737;
}

.status3 {
  background: linear-gradient(to bottom, #f8bd37 0%, #f8bd37 10%, #fff 10%, #fff 13%, #f8bd37 13%, #f8bd37 16%, #fff 16%, #fff 100%);
  border-left-color: #f8bd37;
  border-right-color: #f8bd37;
  border-bottom-color: #f8bd37;
}

.status4 {
  background: linear-gradient(to bottom, #4dc9ff 0%, #4dc9ff 10%, #fff 10%, #fff 13%, #4dc9ff 13%, #4dc9ff 16%, #fff 16%, #fff 100%);
  border-left-color: #4dc9ff;
  border-right-color: #4dc9ff;
  border-bottom-color: #4dc9ff;
}

.status5 {
  background: linear-gradient(to bottom, #4c7bff 0%, #4c7bff 10%, #fff 10%, #fff 13%, #4c7bff 13%, #4c7bff 16%, #fff 16%, #fff 100%);
  border-left-color: #4c7bff;
  border-right-color: #4c7bff;
  border-bottom-color: #4c7bff;
}

.status6 {
  background: linear-gradient(to bottom, #9ecf99 0%, #9ecf99 10%, #fff 10%, #fff 13%, #9ecf99 13%, #9ecf99 16%, #fff 16%, #fff 100%);
  border-left-color: #9ecf99;
  border-right-color: #9ecf99;
  border-bottom-color: #9ecf99;
}

.status7 {
  background: linear-gradient(to bottom, #3a9ca6 0%, #3a9ca6 10%, #fff 10%, #fff 13%, #3a9ca6 13%, #3a9ca6 16%, #fff 16%, #fff 100%);
  border-left-color: #3a9ca6;
  border-right-color: #3a9ca6;
  border-bottom-color: #3a9ca6;
}

.status13 {
  background: linear-gradient(to bottom, #a349a4 0%, #a349a4 10%, #fff 10%, #fff 13%, #a349a4 13%, #a349a4 16%, #fff 16%, #fff 100%);
  border-left-color: #a349a4;
  border-right-color: #a349a4;
  border-bottom-color: #a349a4;
}

.status0:hover {
  background: linear-gradient(to bottom, #b3b3b3 0%, #b3b3b3 10%, #d3d3d3 10%, #d3d3d3 13%, #b3b3b3 13%, #b3b3b3 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #b3b3b3;
  border-right-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
}

.status1:hover {
  background: linear-gradient(to bottom, #ef5562 0%, #ef5562 10%, #d3d3d3 10%, #d3d3d3 13%, #ef5562 13%, #ef5562 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #ef5562;
  border-right-color: #ef5562;
  border-bottom-color: #ef5562;
}

.status2:hover {
  background: linear-gradient(to bottom, #f77737 0%, #f77737 10%, #d3d3d3 10%, #d3d3d3 13%, #f77737 13%, #f77737 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #f77737;
  border-right-color: #f77737;
  border-bottom-color: #f77737;
}

.status3:hover {
  background: linear-gradient(to bottom, #f8bd37 0%, #f8bd37 10%, #d3d3d3 10%, #d3d3d3 13%, #f8bd37 13%, #f8bd37 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #f8bd37;
  border-right-color: #f8bd37;
  border-bottom-color: #f8bd37;
}

.status4:hover {
  background: linear-gradient(to bottom, #4dc9ff 0%, #4dc9ff 10%, #d3d3d3 10%, #d3d3d3 13%, #4dc9ff 13%, #4dc9ff 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #4dc9ff;
  border-right-color: #4dc9ff;
  border-bottom-color: #4dc9ff;
}

.status5:hover {
  background: linear-gradient(to bottom, #4c7bff 0%, #4c7bff 10%, #d3d3d3 10%, #d3d3d3 13%, #4c7bff 13%, #4c7bff 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #4c7bff;
  border-right-color: #4c7bff;
  border-bottom-color: #4c7bff;
}

.status6:hover {
  background: linear-gradient(to bottom, #9ecf99 0%, #9ecf99 10%, #d3d3d3 10%, #d3d3d3 13%, #9ecf99 13%, #9ecf99 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #9ecf99;
  border-right-color: #9ecf99;
  border-bottom-color: #9ecf99;
}

.status7:hover {
  background: linear-gradient(to bottom, #3a9ca6 0%, #3a9ca6 10%, #d3d3d3 10%, #d3d3d3 13%, #3a9ca6 13%, #3a9ca6 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #3a9ca6;
  border-right-color: #3a9ca6;
  border-bottom-color: #3a9ca6;
}

.status13:hover {
  background: linear-gradient(to bottom, #a349a4 0%, #a349a4 10%, #d3d3d3 10%, #d3d3d3 13%, #a349a4 13%, #a349a4 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #a349a4;
  border-right-color: #a349a4;
  border-bottom-color: #a349a4;
}

.esquerda {
  float: left;
  text-align: left;
}

.direita {
  float: right;
  text-align: left;
}

.descricao {
  color: #6b6b6b;
  font-size: 11.5px;
}

.fornecedor,
.quantidade {
  background-repeat: no-repeat;
  padding-left: 15px;
  vertical-align: middle;
  font-size: 12px;
  color: #666;
}

.fornecedor {
  background-size: 10px;
}

.fornecedor0 {
  background-image: url("../../../../assets/images/local0.png");
}

.fornecedor1 {
  background-image: url("../../../../assets/images/local1.png");
}

.fornecedor2 {
  background-image: url("../../../../assets/images/local2.png");
}

.fornecedor3 {
  background-image: url("../../../../assets/images/local3.png");
}

.fornecedor4 {
  background-image: url("../../../../assets/images/local4.png");
}

.fornecedor5 {
  background-image: url("../../../../assets/images/local5.png");
}

.fornecedor6 {
  background-image: url("../../../../assets/images/local6.png");
}

.fornecedor7 {
  background-image: url("../../../../assets/images/local7.png"); 
}

.fornecedor13 {
  background-image: url("../../../../assets/images/local8.png"); 
}

.quantidade {
  background-size: 11px;
}

.quantidade0,
.quantidade1,
.quantidade2,
.quantidade3,
.quantidade4,
.quantidade5,
.quantidade6,
.quantidade7,
.quantidade13 {
  background-image: url("../../../../assets/images/serial.png");
}

@media (min-width: 1920px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1700px) and (max-width: 1919px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1555px) and (max-width: 1699px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1400px) and (max-width: 1554px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1276px) and (max-width: 1399px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 992px) and (max-width: 1275px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .quadradoPequeno {
    width: 49%;
  }
}

@media (max-width: 767px) and (min-width: 663px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (max-width: 662px) {
  .quadradoPequeno {
    width: 49%;
  }
}

@media (max-width: 450px) {
  .quadradoPequeno {
    height: 115px;
    text-align: center;
  }

  .esquerda,
  .direita {
    float: none;
    text-align: center;
  }
}

.header {
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  margin-bottom: 25px;
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
}


/* Teste wraper */
@media (max-width: 576px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conteudoTop {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 130px;
    margin-right: 130px;
  }
}

@media (min-width: 1400px) {
  .conteudoTop {
    width: inherit;
    margin-left: 270px;
    margin-right: 270px;
  }
}

@media (min-width: 1700px) {
  .conteudoTop {
    width: inherit;
    margin-left: 450px;
    margin-right: 450px;
  }
}