<!--<div style="background-color: white; padding: 10px;">
  <p>Nome: {{embalagem.nome}}</p>
  <p>Id: {{embalagem.id}}</p>
  <p>Descrição: {{embalagem.descricao}}</p>
  <p>Duns: {{embalagem.duns}}</p>
  <p>Fornecedor: {{embalagem.fornecedor}}</p>
  <p>Última atualização:: {{embalagem.ultimaAtualizacao}}</p>
  <p>Status: {{embalagem.status}}</p>
</div>-->

<div  *ngFor="let alert of alerts">
  <div class="panel-body info"
  [ngClass]="{
    'atrasado' : alert.status == '03',
    'ok' : alert.status == '02',
    'quase' : alert.status == '01'
  }"
  (click)="open(alert.packing._id)">
{{alert.packing.code}}
<p class="infoData">{{alert.packing.tag_mac}}</p>
</div>
</div>

<br />

<button routerLink="/home" class="botaoVoltar">Voltar</button>
