* { font-family: 'Roboto', sans-serif; }
.info {
  padding: 10px 20px 10px 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0px 0px 7px #000;
}

.infoData {
  font-size: 9px; color: grey; margin: 0px;
}

.atrasado {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#db3a3a 97%,#db3a3a 97.5%,
    #fff 97.5%,#fff 98%,#db3a3a 98%,#db3a3a 100%);
}
.ok {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#34d83e 97%,#34d83e 97.5%,
    #fff 97.5%,#fff 98%,#34d83e 98%,#34d83e 100%);
}
.quase {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#d6d63c 97%,#d6d63c 97.5%,
    #fff 97.5%,#fff 98%,#d6d63c 98%,#d6d63c 100%);
}

.atrasado:hover {
  background: linear-gradient(to right,
    #d3d3d3 0%,#d3d3d3 97%,#db3a3a 97%,#db3a3a 97.5%,
    #d3d3d3 97.5%,#d3d3d3 98%,#db3a3a 98%,#db3a3a 100%);
}
.ok:hover {
  background: linear-gradient(to right,
    #d3d3d3 0%,#d3d3d3 97%,#34d83e 97%,#34d83e 97.5%,
    #d3d3d3 97.5%,#d3d3d3 98%,#34d83e 98%,#34d83e 100%);
}
.quase:hover {
  background: linear-gradient(to right,
    #d3d3d3 0%,#d3d3d3 97%,#d6d63c 97%,#d6d63c 97.5%,
    #d3d3d3 97.5%,#d3d3d3 98%,#d6d63c 98%,#d6d63c 100%);
}
.botaoVoltar {
  background-color: white;
  color: #777;
  border: none;
  padding: 5px 20px;
  box-shadow: 0px 0px 7px #000;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.botaoVoltar:hover {
  color: white;
  background-color: #6382c9;
}
