<div class="conteudoTop">
  <div class="row">
    <div class="col-md-3">
      <div
        class="menu"
        style="background-color: white; padding: 15px 15px; border-radius: 6px"
      >
        <!-- Projetos -->
        <button
          routerLinkActive="active"
          routerLink="projeto"
          class="cadastroMenu"
        >
          Projetos
        </button>

        <!-- Famílias -->
        <button
          routerLinkActive="active"
          routerLink="familia"
          class="cadastroMenu"
        >
          Famílias
        </button>

        <!-- Tipo Pontos de Controle -->
        <button
          routerLinkActive="active"
          routerLink="tipo-ponto-controle"
          class="cadastroMenu"
        >
          Tipos de Ponto de Controle
        </button>

        <!-- Pontos de controle -->
        <button
          routerLinkActive="active"
          routerLink="ponto"
          class="cadastroMenu"
        >
          Pontos de Controle
        </button>

        <!-- Embalagens -->
        <button
          routerLinkActive="active"
          routerLink="embalagem"
          class="cadastroMenu"
        >
          Embalagens
        </button>

        <!-- Empresas -->
        <button
          routerLinkActive="active"
          routerLink="company"
          class="cadastroMenu"
        >
          Empresas
        </button>

        <!-- Rotas -->
        <button
          routerLinkActive="active"
          routerLink="rotas"
          class="cadastroMenu"
        >
          Rotas
        </button>

        <!-- Setores -->
        <button
          routerLinkActive="active"
          routerLink="setor"
          class="cadastroMenu"
        >
          Departamento
        </button>
      </div>
    </div>

    <div class="col-md-9">
      <div
        class="menu"
        style="background-color: white; padding: 15px 15px; border-radius: 6px"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <br />

  <ng2-toasty [position]="'top-left'"></ng2-toasty>
</div>
