<div class="conteudoTop">
  <div class="row">

    <div class="col-md-3">
      <div class="menu" style="background-color: white; padding: 15px 15px; -webkit-box-shadow: 0px 0px 7px #000; box-shadow: 0px 0px 7px #000;">

        <!-- Projetos -->
        <button routerLinkActive="active" routerLink="projeto" class="cadastroMenu">
          <div translate="REGISTER.PROJECT.MENU">Projetos</div>
        </button>

        <!-- Famílias -->
        <button routerLinkActive="active" routerLink="familia" class="cadastroMenu">
          <div translate="REGISTER.FAMILY.MENU">Famílias</div>
        </button>

        <!-- Tipo Pontos de Controle -->
        <button routerLinkActive="active" routerLink="tipo-ponto-controle" class="cadastroMenu">
          <div translate="REGISTER.CONTROL_POINT_TYPE.MENU">Tipos de Ponto de Controle</div>
        </button>

        <!-- Pontos de controle -->
        <button routerLinkActive="active" routerLink="ponto" class="cadastroMenu">
          <div translate="REGISTER.CONTROL_POINT.MENU">Pontos de Controle</div>
        </button>

        <!-- Embalagens -->
        <button routerLinkActive="active" routerLink="embalagem" class="cadastroMenu">
          <div translate="REGISTER.PACKING.MENU">Embalagens</div>
        </button>
       
        <!-- Empresas -->
        <button routerLinkActive="active" routerLink="company" class="cadastroMenu">
          <div translate="REGISTER.COMPANY.MENU">Empresas</div>
        </button>
        
        <!-- Rotas -->
        <button routerLinkActive="active" routerLink="rotas" class="cadastroMenu">
          <div translate="REGISTER.ROUTES.MENU">Rotas</div>
        </button>

        <!-- Setores -->
        <button routerLinkActive="active" routerLink="setor" class="cadastroMenu">
          <div translate="REGISTER.DEPARTMENT.MENU">Departamento</div>
        </button>

      </div>
    </div>

    <div class="col-md-9">
      <div class="menu" style="background-color: white; padding: 15px 15px; -webkit-box-shadow: 0px 0px 7px #000; box-shadow: 0px 0px 7px #000;">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

  <br />

  <ng2-toasty [position]="'top-left'"></ng2-toasty>
</div>