<div class="modalFilho">
  <div class="header">
    <h2><span>Detalhes da Embalagem </span> </h2>

    <p>
      <span class="badge badge-secondary">Código: {{rack.code}}</span>
      <span class="badge badge-secondary" style="margin-left:5px;">Serial: {{rack.serial}}</span>
      <span class="badge badge-secondary" style="margin-left:5px;">TAG: {{rack.tag.code}}</span>
    </p>

  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeLayer.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="modalBody">
    <ngui-map [center]="center" scrollwheel="false">
      <polyline [path]="path" [geodesic]="true" [strokeColor]="'#3c763d'" [strokeOpacity]="2" [strokeWeight]="3"></polyline>
      <marker *ngFor="let pos of markers" [position]="pos.position" (click)="clicked($event,pos)">
        <info-window id="iw">
          <div class="iw-title">INFORMAÇÕES</div>
          <div *ngIf="marker.display">
            <p><span class="bold">Data de entrada:</span> {{ marker.start | date: 'dd/MM/yy HH:mm:ss'}}</p>
            <p><span class="bold">Ultima visualização:</span> {{ marker.end ? (marker.end | date: 'dd/MM/yy HH:mm:ss')
              : 'Sem Informação'}}</p>
            <p><span class="bold">Bateria:</span> {{ marker.battery | round }} %</p>
          </div>

        </info-window>
      </marker>
    </ngui-map>

  </div>

</div>