<div class="teste">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-4 quadrado">
      <h1>RECICLAPAC</h1>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="wrapper form-group ">
        <p class="titulo">Redefinir senha</p>
        <p>A nova senha deve conter mais de 6 caracteres,
          letras, números, letras maiúsculas e caracteres especiais.</p>
          <form>
<input [formControl]="password"
(input) = "calcular(
password,
password.dirty,
password.value.length>0,
password.hasError('minLength'),
password.hasError('digitCharacterRule'),
password.hasError('lowercaseCharacterRule'),
password.hasError('uppercaseCharacterRule'),
password.hasError('specialCharacterRule')
)"
[ngClass]="{ strong: senhaForte == true}"
>
<p class="senhaForte" *ngIf="(senhaForte)">Senha forte</p>
<p class="senhaFraca" *ngIf="(senhaFraca)">Senha fraca</p>
</form>

      </div>
      <div class="divBotao">
        <button routerLink="/rc" type="submit">Confirmar</button>
      </div>
    </form>
      <!-- </div> -->
    </div>
  </div>
</div>
