<section class="grupo-categoria">
  <div style="display: flex;">
    <h5 translate="HOME.IN_CONTROL_POINTS.TITLE"></h5>
    <div class="quantidade-total-categoria">{{ resume.qtd_in_cp }}</div>
  </div>

  <div class="progress categoria-progress">
    <div class="progress-bar status-incorreta" [style.width.%]="progressControle[0]"></div>
    <div class="progress-bar status-permanencia" [style.width.%]="progressControle[1]"></div>
    <div class="progress-bar progress-bar-empty" [style.width.%]="progressControle[2]"></div>
  </div>

  <!-- Local Incorreto -->
  <section *ngIf="settings.enable_local_incorreto == true">
    <div class="linha-categoria bg-incorreta">
      <div class="tick-categoria">

        <div class="quantidade-categoria status-incorreta">
          {{ resume.qtd_in_incorrect_cp }}
        </div>

        <span translate="HOME.IN_CONTROL_POINTS.INCORRECT_LOCAL" class="nome-categoria"></span>

        <button class="hamburger hamburger--squeeze" type="button"
          (click)="localIncorretoCollapsed = !localIncorretoCollapsed" [attr.aria-controls]="conteudoLocalIncorreto"
          [ngClass]="{ 'is-active':localIncorretoCollapsed == true}">

          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

      </div>
    </div>

    <!-- Conteúdo Local Incorreto -->
    <div [attr.id]="conteudoLocalIncorreto" [ngbCollapse]="!localIncorretoCollapsed">
      <div class="">
        <div translate="HOME.IN_CONTROL_POINTS.INCORRECT_LOCAL" *ngIf="listIncorrectLocal.length < 1">
        </div>

        <div *ngIf="listIncorrectLocal.length > 0" class="table-responsive meuInventario inner-table">
          <table class="table">
            <thead>
              <tr class="cabecalho">
                <th translate="HOME.TABLE.CODE"></th>
                <th translate="HOME.TABLE.SERIAL"></th>
                <th translate="HOME.TABLE.TAG"></th>
                <th translate="HOME.TABLE.ACTUAL_SITE"></th>
                <th translate="HOME.TABLE.BATTERY"></th>
                <th translate="HOME.TABLE.LAST_SIGNAL"></th>
              </tr>
            </thead>

            <tbody class="">
              <tr *ngFor="let itemIncorrect of listIncorrectLocal | paginate: { 
                                                                      id:'listIncorrectLocal', 
                                                                      itemsPerPage: 10, 
                                                                      currentPage: listIncorrectActualPage, 
                                                                      totalItems: listIncorrectLocal.length }">
                <td>{{ itemIncorrect.familyCode }}</td>
                <td>{{ itemIncorrect.serial }}</td>
                <td>{{ itemIncorrect.tag }}</td>
                <td>{{ itemIncorrect.currentControlPointName }}</td>
                <td>{{ itemIncorrect.date }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="has-text-centered">
          <pagination-controls class="my-pagination" id='listIncorrectLocal'
            (pageChange)="listIncorrectActualPage = $event;" directionLinks="false" autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>

  <!-- ////////////////////////////////////////////////////////////////////// -->
  <!-- Tempo de Permanência -->
  <section>
    <div class="linha-categoria bg-permanencia">
      <div class="tick-categoria">

        <div class="quantidade-categoria status-permanencia">
          {{ resume.qtd_permanence_time_exceeded }}
        </div>

        <span translate="HOME.IN_CONTROL_POINTS.PERMANENCE_TIME" class="nome-categoria">Tempo de Permanência</span>

        <button class="hamburger hamburger--squeeze" type="button"
          (click)="tempoDePermanenciaCollapsed = !tempoDePermanenciaCollapsed"
          [attr.aria-controls]="conteudoTempoDePermanencia"
          [ngClass]="{ 'is-active':tempoDePermanenciaCollapsed == true}">
          <!-- <button class="hamburger hamburger--squeeze" type="button" (click)="animatePermanenciaCollapse()"> -->

          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

      </div>
    </div>

    <!-- Conteúdo Tempo de Permanência -->
    <div [attr.id]="conteudoTempoDePermanencia" [ngbCollapse]="!tempoDePermanenciaCollapsed">
      <!-- <div [@animatePermanenciaCollapse]="tempoDePermanenciaCollapsed"> -->
      <div class="">
        <div translate="HOME.NO_RESULTS" *ngIf="listPermanenceTime.length < 1"> </div>
        <div *ngIf="listPermanenceTime.length > 0" class="table-responsive meuInventario inner-table">
          <table class="table">
            <thead>
              <tr class="cabecalho">
                <th translate="HOME.TABLE.CODE">Code</th>
                <th translate="HOME.TABLE.SERIAL">Serial</th>
                <th translate="HOME.TABLE.TAG">Tag</th>
                <th translate="HOME.TABLE.ACTUAL_SITE">Local Atual</th>
                <th translate="HOME.TABLE.BATTERY">Bateria</th>
                <th translate="HOME.TABLE.LAST_SIGNAL">Último sinal</th>
              </tr>
            </thead>

            <tbody class="">
              <tr *ngFor="let item of listPermanenceTime | paginate: {  
                                                            itemsPerPage: 10, 
                                                            currentPage: listPermanenceActualPage, 
                                                            totalItems: listPermanenceTime.length }">
                <td>{{ item.familyCode }}</td>
                <td>{{ item.serial }}</td>
                <td>{{ item.tag }}</td>
                <td>{{ item.currentControlPointName ? item.currentControlPointName : "Sem Registro" }}</td>
                <td>{{ item.currentControlPointType ? item.currentControlPointType : "Sem Registro" }}</td>
                <td>{{ item.date ? item.date : "-" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="has-text-centered">
          <pagination-controls class="my-pagination" (pageChange)="listPermanenceActualPage = $event;"
            directionLinks="false" autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>

</section>