<div class="base-bg">
  <h3>Fornecedor</h3>

  <!-- Linha divisória -->
  <hr style="margin-top: 10px;">

  <div class="row">
    <div class="col-sm-12">
      <!-- Filtros de  FORNECEDOR -->
      <div class="row escolhaFornecedor">
        <div class="col-sm-6">
          <p>FORNECEDOR</p>

          <ng-select [(ngModel)]="selectedCompany" (change)="companySelected($event)" [items]="listOfCompanies" bindLabel="name"
            placeholder="Selecione um Fornecedor">

            <ng-template ng-label-tmp let-item="item">
              {{item.name}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                {{item.name}}
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <!-- <th>Descrição</th> -->
          <!-- <th>Projeto</th> -->
          <th>Empresa Vinculada</th>
          <th>Planta Atual</th>
          <th>Local</th>
          <th style="text-align: center">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of listOfQuantityInSuppliers | paginate: {
                                                        id:'supplier',
                                                        itemsPerPage: 10,
                                                        currentPage: listOfQuantityInSuppliersActualPage, 
                                                        totalItems: listOfQuantityInSuppliers.length }">
          <td>{{ packing.family_code || '-' }}</td>
          <!-- <td>{{packing.description || '-'}}</td> -->
          <!-- <td>{{packing.project?.name || '-'}}</td> -->
          <td>{{ packing.company }}</td>
          <td>{{ packing.control_point_name }}</td>
          <td>{{ packing.control_point_type }}</td>
          <td>{{ packing.qtd || '-' }}</td>
              
        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="selectedCompany && listOfQuantityInSuppliers.length < 1">
      Não há resultado para este filtro.
    </div>

    <div class="classVazio" *ngIf="!selectedCompany && listOfQuantityInSuppliers.length < 1">
      Selecione um Fornecedor.
    </div>

  </div>

  <div class="has-text-centered">
    <pagination-controls class="my-pagination" id='supplier' (pageChange)="listOfQuantityInSuppliersActualPage = $event"
      directionLinks="false" autoHide="true">
    </pagination-controls>
  </div>

</div>

<br>