<div class="teste">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-4 quadrado">
      <h1 translate="LOGIN.TITLE"></h1>

      <form #f="ngForm"> 
        <div class="wrapper form-group ">
          <p translate="LOGIN.FORGOT_QUESTION" class="titulo"></p>
          <p translate="LOGIN.FORGOT_DESCRIPTION"></p>
          <form>
            <input class="inputSenha" type="text" [(ngModel)]="emailInput" name="email"
              placeholder="{{ 'LOGIN.TYPE_EMAIL' | translate }}" #email="ngModel" email (input)='(inputVazio = false)'
              (input)='(aparecerMsg = false)' (input)='(aparecerMsgEmailInvalido = false)' (blur)='(inputVazio = false)'
              (blur)='(aparecerMsg = false)' (blur)='(aparecerMsgEmailInvalido = false)'
              (keyup.enter)='testar(emailInput)' [ngClass]="{
                      'bordaVermelha' : inputVazio == true,
                      'bordaVermelha2' : aparecerMsg == true,
                      'bordaVermelha3' : aparecerMsgEmailInvalido == true

                    }">
            <p translate="REGISTER.ERRORS.INCORRECT_FORMAT_EMAIL" class="emailNaoCadastrado"
              *ngIf="((email.hasError('normalEmailRule'))&&(aparecerMsgEmailInvalido))"></p>
            <p translate="REGISTER.ERRORS.EMAIL_NOT_REGISTERED" class="emailNaoCadastrado" *ngIf="(aparecerMsg)"></p>
            <p translate="REGISTER.ERRORS.REQUIRED" class="emailNaoCadastrado" *ngIf="(inputVazio)"></p>
          </form>
        </div>

        <div class="divBotao">
          <button translate="LOGIN.SEND" (click)='prosseguir()'></button>
        </div>
      </form>
    </div>
  </div>
</div>