@import '~font-awesome/css/font-awesome.css';

.close {
  font-size: 20px;
  text-align: right;
  margin-right: 5px;
}

.botaoVisualizar {
  font-size: 16px;
  border-radius: 0rem;
}

.botaoVisualizar:focus {
  outline: none;
}
* { font-family: 'Roboto', sans-serif; }

.header {
  display: inline-grid;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: thin;
  margin-bottom: 15px;
}

#showDetails {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

#showDetails:hover {
  text-decoration: underline;
}

.header p {
  font-weight: bold;
}

.modalBody span {
  font-weight: bold;
}

.botaoVisualizar {
  padding: 5px 15px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #6382c9;
  background-color: white;
  color: #6382c9;
}

.botaoVisualizar:hover {
  background-color: #6382c9;
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.divBotao {
  text-align: center;
  margin-top: 20px;
}
.gm-style-iw {
  top: 15px !important;
  left: 0px !important;
  background-color: white!important;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  /*border: 1px solid rgba(72, 181, 233, 0.6);*/
  border-radius: 2px 2px 10px 10px;
}

#iw-container {
  margin-bottom: 10px;
}
.iw-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  margin: 0px;
  border-radius: 2px 2px 0 0;
  background-color: #3e4f5f;
  padding: 10px 40px 10px 10px;
  text-align: center;
}

#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  float: right;
  margin: 0 5px 5px 10px;
  background-color: red;
}

.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

.gm-style-iw {
  top: 0 !important;
  left: 0 !important;
  border-radius: 2px 2px 0 0;
}

.gm-style-iw ~ div {
    top: 20px;
}

.iw-bottom-gradient {
  position: absolute;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.bold {
  font-weight: 700;
}

/*--------*/
/*Checkboxes*/
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

/* ------ */
.input-group-accuracy {
    display: table; 
}

.input-group-accuracy-btn {
    vertical-align: middle;
}

.btn-left-accuracy {
    margin-right: -2px;
}

.btn-right-accuracy {
    margin-left: -2px;
}

.input-group-accuracy-btn > .btn {
    position: relative;
}

.btn {
    padding: 6px 12px; 
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.input-group-accuracy {
    border-radius: 0;
}

.input-group-accuracy .form-control, .input-group-accuracy-btn {
    display: table-cell;
}

.input-group-accuracy .form-control {
    width: 100%;
}

.form-control{
  width: 100% !important;
  font-size: 14px;
}

div#collapseExample > p{
  font-weight: normal;
  margin-bottom: 4px;
}

ngui-map {
  height: calc( 50vh ) !important;
}

.custom-icon-map-plant{
  background-image: url("../../../assets/images/pin_plant.png");
  background-repeat: no-repeat;
  background-position: center;
  /*height: 43px;*/
  background-size: auto 43px;
}

.custom-icon-map-supplier{
  background-image: url("../../../assets/images/pin_supplier.png");
  background-repeat: no-repeat;
  background-position: center;
  /*height: 43px;*/
  background-size: auto 43px;
}

.custom-icon-map-logistic{
  background-image: url("../../../assets/images/pin_logistic.png");
  background-repeat: no-repeat;
  background-position: center;
  /*height: 43px;*/
  background-size: auto 43px;
}

div.info-window-content > p {
  margin-bottom: 4px;
}

/* ::ng-deep .modal-xl .modal-dialog{
  max-width: 1490px !important;
  min-width: 971px !important;   
  width: 95% !important;
} */

/* @media (min-width: 970px) {
  .modal-xl > .modal-lg {
    max-width: 1490px !important;
    min-width: 971px !important;   
    width: 95% !important;
  }
} */
