<div class="">
  <h2 translate="REGISTER.COMPANY.REGISTER_TITLE"></h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(newCompany)" [formGroup]="newCompany">

    <div class="row">
      <div class="form-group col-sm-6">
        <p translate="REGISTER.COMPANY.TYPE" class="descricao"></p>
        <ng-select formControlName="type" 
          [items]="typesOnSelect" 
          [searchable]="false" 
          placeholder="{{ 'REGISTER.COMPANY.TYPE_PLACEHOLDER' | translate }}">
          <ng-template ng-label-tmp let-item="item">
            {{ item.label }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>{{ item.label }}</div>
          </ng-template>
        </ng-select>

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" *ngIf="(newCompany.get('type').hasError('required') && newCompany.get('type').touched) 
          || (newCompany.get('type').hasError('required') && submitted)"></p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 col-md-8">
        <p translate="REGISTER.COMPANY.NAME" class="descricao"></p>
        <input type="text" class="form-control" 
          [(ngModel)]="name" 
          placeholder="{{ 'REGISTER.COMPANY.NAME_PLACEHOLDER' | translate }}" 
          maxlength="50"
          formControlName="name"  
          [ngClass]="{'required': (newCompany.get('name').hasError('required') && newCompany.get('name').touched)
            || (newCompany.get('name').hasError('required') && submitted)
            || (newCompany.get('name').hasError('pattern'))
            || (newCompany.get('name').hasError('pattern') && submitted)}">

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
          *ngIf="(newCompany.get('name').hasError('required') && newCompany.get('name').touched)
            || (newCompany.get('name').hasError('required') && submitted)"> </p>

        <p translate="REGISTER.ERRORS.MIN_5" class="requiredText" *ngIf="(newCompany.get('name').hasError('minlength') && newCompany.get('name').touched)
          || (newCompany.get('name').hasError('minlength') && submitted)"> </p>
          
        <p translate="REGISTER.ERRORS.WHITE_SPACE" class="requiredText" 
          *ngIf="(newCompany.get('name').hasError('pattern')) || (newCompany.get('name').hasError('pattern') && submitted)"> </p>
      </div>
    
      <div class="form-group col-sm-12 col-md-4">
        <p translate="REGISTER.COMPANY.PHONE" class="descricao"></p>
        <!-- <input type="text" class="form-control" [(ngModel)]="phone" placeholder="Digite o telefone" formControlName="phone"> -->
        <input [textMask]="{mask: maskTel}" class="form-control" [(ngModel)]="phone" type="text" formControlName="phone" placeholder="{{ 'REGISTER.COMPANY.PHONE' | translate }}"
          [ngClass]="{'required': (newCompany.get('phone').hasError('required') && newCompany.get('phone').touched)
          || (newCompany.get('phone').hasError('required') && submitted)}"/>

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
          *ngIf="(newCompany.get('phone').hasError('required') && newCompany.get('phone').touched)
            || (newCompany.get('phone').hasError('required') && submitted)"> </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 col-md-6">
        <p translate="REGISTER.COMPANY.CNPJ" class="descricao"></p>
        <!-- <input type="text" class="form-control" [(ngModel)]="phone" placeholder="Digite o telefone" formControlName="phone"> -->
        <input [textMask]="{mask: maskCNPJ}" class="form-control" [(ngModel)]="cnpj" type="text" formControlName="cnpj" placeholder="{{ 'REGISTER.COMPANY.CNPJ_PLACEHOLDER' | translate }}" maxlength="20"
          [ngClass]="{'required': (newCompany.get('cnpj').hasError('required') && newCompany.get('cnpj').touched)
          || (newCompany.get('cnpj').hasError('required') && submitted)}"/>

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
          *ngIf="(newCompany.get('cnpj').hasError('required') && newCompany.get('cnpj').touched)
                  || (newCompany.get('cnpj').hasError('required') && submitted)"> </p>
      </div>
    </div>


    <div class="row" formGroupName="address">
      <div class="form-group col-sm-12 col-md-8">
        <p translate="REGISTER.COMPANY.STREET" class="descricao"></p>
        <input type="text" class="form-control" placeholder="{{ 'REGISTER.COMPANY.STREET_PLACEHOLDER' | translate }}" formControlName="street" maxlength="120"
          [ngClass]="{'required': (newCompany.get('address.street').hasError('required') && newCompany.get('address.street').touched)
          || (newCompany.get('address.street').hasError('required') && submitted)
          || (newCompany.get('address.street').hasError('pattern'))
          || (newCompany.get('address.street').hasError('pattern') && submitted)}">

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
          *ngIf="(newCompany.get('address.street').hasError('required') && newCompany.get('address.street').touched)
          || (newCompany.get('address.street').hasError('required') && submitted)"> </p>

        <p translate="REGISTER.ERRORS.MIN_5" class="requiredText" *ngIf="(newCompany.get('address.street').hasError('minlength') && newCompany.get('address.street').touched)
            || (newCompany.get('address.street').hasError('minlength') && submitted)"> </p>

        <p translate="REGISTER.ERRORS.WHITE_SPACE" class="requiredText" 
          *ngIf="(newCompany.get('address.street').hasError('pattern')) || (newCompany.get('address.street').hasError('pattern') && submitted)"> </p>
      </div>
    
      <div class="form-group col-sm-12 col-md-4">
        <p translate="REGISTER.COMPANY.CEP" class="descricao"></p>
        <input [textMask]="{mask: maskCep}" type="text" class="form-control" [(ngModel)]="cep" placeholder="{{ 'REGISTER.COMPANY.CEP_PLACEHOLDER' | translate }}" formControlName="cep"
          [ngClass]="{'required': (newCompany.get('address.cep').hasError('required') &&
          newCompany.get('address.cep').touched)
          || (newCompany.get('address.cep').hasError('required') && submitted)}">

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
          *ngIf="(newCompany.get('address.cep').hasError('required') && newCompany.get('address.cep').touched)
            || (newCompany.get('address.cep').hasError('required') && submitted)"> </p>
      </div>

    </div>

    <div class="row" formGroupName="address">
      <div class="form-group col-sm-6 col-md-6">
        <p translate="REGISTER.COMPANY.CITY" class="descricao"></p>
        <input type="text" class="form-control" [(ngModel)]="city" placeholder="{{ 'REGISTER.COMPANY.CITY_PLACEHOLDER' | translate }}" formControlName="city" maxlength="60"
          [ngClass]="{'required': (newCompany.get('address.city').hasError('required') &&
          newCompany.get('address.city').touched)
          || (newCompany.get('address.city').hasError('required') && submitted)
          || (newCompany.get('address.city').hasError('pattern'))
          || (newCompany.get('address.city').hasError('pattern') && submitted)}">

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
          *ngIf="(newCompany.get('address.city').hasError('required') && newCompany.get('address.city').touched)
            || (newCompany.get('address.city').hasError('required') && submitted)"> </p>

        <p translate="REGISTER.ERRORS.MIN_5" class="requiredText" *ngIf="(newCompany.get('address.city').hasError('minlength') && newCompany.get('address.city').touched)
          || (newCompany.get('address.city').hasError('minlength') && submitted)"> </p>

        <p translate="REGISTER.ERRORS.WHITE_SPACE" class="requiredText" *ngIf="(newCompany.get('address.city').hasError('pattern')) || (newCompany.get('address.city').hasError('pattern') && submitted)"> </p>
      </div>
    
      <div class="form-group col-sm-6 col-md-2">
        <p translate="REGISTER.COMPANY.UF" class="descricao"></p>
        <!-- <input [textMask]="{mask: maskUF}" type="text" class="form-control" [(ngModel)]="uf" formControlName="uf"> -->
        <input type="text" class="form-control" [(ngModel)]="uf" formControlName="uf" placeholder="{{ 'REGISTER.COMPANY.UF_PLACEHOLDER' | translate }}" maxlength="2"
          [ngClass]="{'required': (newCompany.get('address.uf').hasError('required') &&
          newCompany.get('address.uf').touched)
          || (newCompany.get('address.uf').hasError('required') && submitted)}">

        <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" 
          *ngIf="(newCompany.get('address.uf').hasError('required') && newCompany.get('address.uf').touched)
            || (newCompany.get('address.uf').hasError('required') && submitted)"> </p>
        
        <p translate="REGISTER.ERRORS.WHITE_SPACE" class="requiredText" 
          *ngIf="(newCompany.get('address.uf').hasError('pattern')) 
          || (newCompany.get('address.uf').hasError('pattern') && submitted)"> </p>

        <p translate="REGISTER.ERRORS.MIN_2" class="requiredText" *ngIf="(newCompany.get('address.uf').hasError('minlength') && newCompany.get('address.uf').touched)
          || (newCompany.get('address.uf').hasError('minlength') && submitted)"> </p>
      </div>
    </div>

    <br />
    <div class="botoes">
      <button translate="REGISTER.BACK_BUTTON" routerLink="/rc/cadastros/company" class="botaoVoltar"></button>
      <button translate="REGISTER.REGISTER_BUTTON" type="submit" class="botaoRegistrar"></button>
    </div>
    <br />
  </form>
</div>