<div class="modalFilho">
  <div class="header">

    <h2 style="color: #354052; margin-bottom: 0px;">Local Incorreto</h2>

    <div class="col-12 no-padding">
      <p class="alerta-badges">
        <span class="badge badge-secondary">Código: {{ alerta.family.code }}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">Serial: {{ alerta.serial }}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">Tag: {{ alerta.tag.code }}</span>
      </p>

      <img id="ver-no-mapa" (click)="visualizeOnMap()" tooltip="Visualizar no mapa" placement="left" src="assets/images/distancia.png"
        height="25" style="float: right;">
    </div>

    <button type="button" class="close" aria-label="Close" (click)="activeAlerta.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modalBody">

    <div class="row">
      <div class="col-12">
        <p class="titulo-modal">ÚLTIMO SINAL:</p>
        <br>
        <p> {{ alerta?.last_position ?
                (alerta.last_position.date | date: 'dd/MM/yy HH:mm:ss')
                : mConstants.NO_REGISTER }} </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12 col-md-6">
        <p class="titulo-modal">ÚLTIMO LOCAL:</p>
        <br>
        <p> {{ alerta?.last_event_record?.control_point?.name ? alerta.last_event_record.control_point.name : mConstants.NO_REGISTER }}
        </p>
        <p *ngIf="alerta?.last_event_record ? (alerta?.last_event_record?.type == 'inbound') : false"> Tipo: {{ mConstants.INBOUND }} </p>
        <p *ngIf="alerta?.last_event_record ? (alerta?.last_event_record?.type == 'outbound') : false"> Tipo: {{ mConstants.OUTBOUND }} </p>
      </div>
    </div>

    <br>
    
    <div class="row">
      <!-- <div class="col-12 col-md-6">
        <p class="titulo-modal">ROTAS DA EMBALAGEM:</p>
      </div> -->

      <div class="col-12">
        <div class="table-responsive tabela">
          <!-- <table class="table">
            <thead>
              <tr class="cabecalho">
                <th class="semBorda">Fornecedor</th>
                <th class="semBorda">Planta da Fábrica</th>
                <th class="semBorda">Planta do Fornecedor</th>
                <th class="semBorda">Tempo Min.</th>
                <th class="semBorda">Tempo Max.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let route of listOfRoutes">
                <td>{{ route.supplier.name }}</td>
                <td>{{ route.plant_factory.plant_name }}</td>
                <td>{{ route.plant_supplier.plant_name }}</td>
                <td>{{ route.time.min | time }}</td>
                <td>{{ route.time.max | time }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>

  </div>
</div>