<div class="base">
  <h1>EDITAR EMBALAGEM</h1>
  <br />

  <form novalidate (ngSubmit)="onSubmit(packing)" [formGroup]="packing" #formDir="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8">
            <div class="campo">
              <p class="descricao">CÓDIGO</p>
              <p class="explicacao">Ex. "994475545"</p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Digite o código" aria-describedby="basic-addon2" [(ngModel)]="code" formControlName="code" [ngClass]="{'required': (packing.get('code').hasError('required') && packing.get('code').touched)
                || (packing.get('code').hasError('required') && formDir.submitted)}">
              </div>
              <p class="requiredText" *ngIf="(packing.get('code').hasError('required') && packing.get('code').touched)
              || (packing.get('code').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="campo">
              <p class="descricao">SERIAL</p>
              <p class="explicacao">Ex. "001"</p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Serial" aria-describedby="basic-addon2" [(ngModel)]="serial" formControlName="serial" [ngClass]="{'required': (packing.get('serial').hasError('required') && packing.get('serial').touched)
                || (packing.get('serial').hasError('required') && formDir.submitted)}">
              </div>
              <p class="requiredText" *ngIf="(packing.get('serial').hasError('required') && packing.get('serial').touched)
              || (packing.get('serial').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
            </div>
          </div>
        </div>


        <div class="campo">
          <p class="descricao">ASSOCIE A TAG</p>
          <p class="explicacao">Associe uma tag a sua embalagem.</p>
          <select formControlName="tag" [ngClass]="{'required': (packing.get('tag').hasError('required') && packing.get('tag').touched)
            || (packing.get('tag').hasError('required') && formDir.submitted)}">
           <option value="">Associe uma Tag</option>
           <option *ngFor="let obj of tags" [ngValue]="obj">Código: {{obj.code}} </option>
        </select>
          <p class="requiredText" *ngIf="(packing.get('tag').hasError('required') && packing.get('tag').touched)
        || (packing.get('tag').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

        <div class="campo">
          <p class="descricao">TIPO DA EMBALAGEM</p>
          <p class="explicacao">Ex. "Rack Metálico"</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite o tipo de embalagem" aria-describedby="basic-addon2" [(ngModel)]="type" formControlName="type" [ngClass]="{'required': (packing.get('type').hasError('required') && packing.get('type').touched)
            || (packing.get('type').hasError('required') && formDir.submitted)}">
          </div>
          <p class="requiredText" *ngIf="(packing.get('type').hasError('required') && packing.get('type').touched)
          || (packing.get('type').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

        <div class="campo">
          <p class="descricao">CAPACIDADE DA EMBALAGEM</p>
          <p class="explicacao">Ex. "57 PEÇAS"</p>
          <div class="placeholder" data-placeholder="PEÇAS">
            <input type="number" min="0" class="form-control form-control-sm" value="0" [(ngModel)]="capacity" formControlName="capacity" [ngClass]="{'required': (packing.get('capacity').hasError('required') && packing.get('capacity').touched)
            || (packing.get('capacity').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(packing.get('capacity').hasError('required') && packing.get('capacity').touched)
          || (packing.get('capacity').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

        <div class="campo" >
          <p class="descricao">ASSOCIE UM FORNECEDOR</p>
          <p class="explicacao">Escolha um fornecedor para sua embalagem.</p>


          <select formControlName="supplier" [ngClass]="{'required': (packing.get('supplier').hasError('required') && packing.get('supplier').touched)
            || (packing.get('supplier').hasError('required') && formDir.submitted)}">
           <option value="">Associe um Fornecedor </option>
           <option *ngFor="let obj of suppliers" [ngValue]="obj">DUNS: {{obj.duns}} - Nome: {{obj.name}}</option>
          </select>
          <p class="requiredText" *ngIf="(packing.get('supplier').hasError('required') && packing.get('supplier').touched)
        || (packing.get('supplier').hasError('required') && formDir.submitted)">Campo Obrigatório</p>

        </div>

      </div>

      <div class="col-md-6">

        <div class="campo">
          <p class="descricao">TARA (KG)</p>
          <p class="explicacao">Ex. "86,7 kg"</p>
          <div class="placeholder" data-placeholder="KG">
            <input type="number" min="0" class="form-control form-control-sm" value="0" step="0.2" [(ngModel)]="weigth" formControlName="weigth" [ngClass]="{'required': (packing.get('weigth').hasError('required') && packing.get('weigth').touched)
            || (packing.get('weigth').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(packing.get('weigth').hasError('required') && packing.get('weigth').touched)
          || (packing.get('weigth').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

        <div class="campo">
          <p class="descricao">COMPRIMENTO (M)</p>
          <p class="explicacao">Ex. "7,1 m"</p>
          <div class="placeholder" data-placeholder="METROS">
            <input type="number" min="0" class="form-control form-control-sm" value="0" step="0.2" [(ngModel)]="length" formControlName="length" [ngClass]="{'required': (packing.get('length').hasError('required') && packing.get('length').touched)
            || (packing.get('length').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(packing.get('length').hasError('required') && packing.get('length').touched)
          || (packing.get('length').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

        <div class="campo">
          <p class="descricao">LARGURA (M)</p>
          <p class="explicacao">Ex. "9,5 m"</p>
          <div class="placeholder" data-placeholder="METROS">
            <input type="number" min="0" class="form-control form-control-sm" value="0" step="0.2" [(ngModel)]="width" formControlName="width" [ngClass]="{'required': (packing.get('width').hasError('required') && packing.get('width').touched)
            || (packing.get('width').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(packing.get('width').hasError('required') && packing.get('width').touched)
          || (packing.get('width').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

        <div class="campo">
          <p class="descricao">ALTURA (M)</p>
          <p class="explicacao">Ex. "57,2 m"</p>
          <div class="placeholder" min="0" data-placeholder="METROS">
            <input type="number" min="0" class="form-control form-control-sm" value="0" step="0.2" [(ngModel)]="heigth" formControlName="heigth" [ngClass]="{'required': (packing.get('heigth').hasError('required') && packing.get('heigth').touched)
            || (packing.get('heigth').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(packing.get('heigth').hasError('required') && packing.get('heigth').touched)
          || (packing.get('heigth').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

        <div class="campo">
          <p class="descricao">ASSOCIE UMA PLATAFORMA/PROJETO</p>
          <p class="explicacao">Associe uma plataforma a sua embalagem.</p>
          <select formControlName="project" [ngClass]="{'required': (packing.get('project').hasError('required') && packing.get('project').touched)
            || (packing.get('project').hasError('required') && formDir.submitted)}">
            <option value="">Associe um Projeto</option>
            <option *ngFor="let obj of projects" [ngValue]="obj">{{obj.name}}</option>
        </select>
          <p class="requiredText" *ngIf="(packing.get('project').hasError('required') && packing.get('project').touched)
        || (packing.get('project').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>



      </div>
    </div>
    <br />
    <div class="botoes">
      <button routerLink="/rc/cadastros/embalagem" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">REGISTRAR</button>
    </div>
    <br />
  </form>
</div>
<br />
<br />
