<div class="">
  <h2>Atualizar Família de Embalagem</h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mFamily)" [formGroup]="mFamily">

    <!-- Input para o código da família -->
    <div class="campo col-sm-12 col-md-6">
      <p class="descricao">CÓDIGO DA FAMÍLIA</p>
      <p class="explicacao">Ex: "AAA1"</p>

      <div class="input-group">
        <input type="text" class="form-control required" 
          placeholder="Digite o código" 
          formControlName="code" 
          maxlength="30"
          (focusout)="validateCode($event)"
          [ngClass]="{'required': (mFamily.get('code').hasError('required') && mFamily.get('code').touched)
          || (mFamily.get('code').hasError('required') && mFamily.invalid && submited)
          || (mFamily.get('code').hasError('minlength'))
          || (mFamily.get('code').hasError('minlength') && submitted)
          || (mFamily.get('code').hasError('uniqueValidation'))
          || (mFamily.get('code').hasError('uniqueValidation') && submitted)}">
      </div>

      <p class="requiredText" *ngIf="(mFamily.get('code').hasError('required') && mFamily.get('code').touched)
        || (mFamily.get('code').hasError('required') && mFamily.invalid && submited)">
        Campo Obrigatório</p>

      <p class="requiredText" *ngIf="(mFamily.get('code').hasError('uniqueValidation')) 
        || (mFamily.get('code').hasError('uniqueValidation') && submitted)">
        Esta família já existe. O código deve ser único.</p>

      <p class="requiredText" *ngIf="(mFamily.get('code').hasError('pattern')) 
        || (mFamily.get('code').hasError('pattern') && submitted)">
        Excesso de espaços em branco</p>
      
      <p class="requiredText" *ngIf="(mFamily.get('code').hasError('minlength')) 
        || (mFamily.get('code').hasError('minlength') && submitted)">
        Mínimo de 2 caracteres</p>

      <p class="explicacao" *ngIf="validateNotTakenLoading">
        Verificando disponibilidade ...</p>
    </div>


    <!-- Input para selecionar a empresa vinculada -->
    <div class="campo col-sm-12">
      <p class="descricao">EMPRESA VINCULADA</p>
      <ng-select bindLabel="name" placeholder="Associe uma empresa" [items]="allCompanies" formControlName="company">
        <ng-template ng-option-tmp let-item="item">
          <div> {{item.name}} </div>
        </ng-template>
      </ng-select>
      <p class="requiredText" *ngIf="(mFamily.get('company').hasError('required') && mFamily.get('company').touched)
        || (mFamily.get('company').hasError('required') && mFamily.invalid && submited)">
        Campo Obrigatório
      </p>
    </div>


    <!-- Input para selecionar o pontos de control -->
    <div class="campo col-sm-12">
      <p class="descricao">PONTOS DE CONTROLE</p> 
      <ng-select #select bindLabel="name" placeholder="Associe pontos de controle" [items]="allControlPoints"
        [multiple]="true" formControlName="control_points">
        <ng-template ng-option-tmp let-item="item">
          <div> {{ item.name }} </div>
        </ng-template>
      </ng-select>
    </div>

    <br />

    <div class="botoes">
      <button routerLink="/rc/cadastros/familia" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
    </div>

  </form>
</div>