<div class="">
  <h2 translate="REGISTER.FAMILY.UPDATE_TITLE"></h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mFamily)" [formGroup]="mFamily">

    <!-- Input para o código da família -->
    <div class="campo col-sm-12 col-md-6">
      <p translate="REGISTER.FAMILY.CODE" class="descricao"></p>
      <p translate="REGISTER.FAMILY.CODE_DESC" class="explicacao"></p>

      <div class="input-group">
        <input type="text" class="form-control required" 
          placeholder="{{ 'REGISTER.FAMILY.CODE_PLACEHOLDER' | translate }}" 
          formControlName="code" 
          maxlength="30"
          (focusout)="validateCode($event)"
          [ngClass]="{'required': (mFamily.get('code').hasError('required') && mFamily.get('code').touched)
          || (mFamily.get('code').hasError('required') && mFamily.invalid && submitted)
          || (mFamily.get('code').hasError('minlength'))
          || (mFamily.get('code').hasError('minlength') && submitted)
          || (mFamily.get('code').hasError('uniqueValidation'))
          || (mFamily.get('code').hasError('uniqueValidation') && submitted)}">
      </div>

      <p translate="REGISTER.ERROR.REQUIRED" class="requiredText" *ngIf="(mFamily.get('code').hasError('required') && mFamily.get('code').touched)
        || (mFamily.get('code').hasError('required') && mFamily.invalid && submited)"></p>

      <p translate="REGISTER.ERROR.FAMILY_EXISTS" class="requiredText" *ngIf="(mFamily.get('code').hasError('uniqueValidation')) 
        || (mFamily.get('code').hasError('uniqueValidation') && submitted)"></p>

      <p translate="REGISTER.ERROR.WHITE_SPACE" class="requiredText" *ngIf="(mFamily.get('code').hasError('pattern')) 
        || (mFamily.get('code').hasError('pattern') && submitted)"></p>
      
      <p translate="REGISTER.ERROR.MIN_2" class="requiredText" *ngIf="(mFamily.get('code').hasError('minlength')) 
        || (mFamily.get('code').hasError('minlength') && submitted)"></p>

      <p translate="REGISTER.ERROR.WHITE_SPACE"class="explicacao" *ngIf="validateNotTakenLoading"></p>
    </div>


    <!-- Input para selecionar a empresa vinculada -->
    <div class="campo col-sm-12">
      <p translate="REGISTER.FAMILY.LINK" class="descricao"></p>
      <ng-select bindLabel="name" 
        placeholder="{{ 'REGISTER.FAMILY.LINK_PLACEHOLDER' | translate }}" 
        [items]="allCompanies" 
        formControlName="company">
        <ng-template ng-option-tmp let-item="item">
          <div> {{item.name}} </div>
        </ng-template>
      </ng-select>
      <p translate="REGISTER.ERRORS.REQUIRED" class="requiredText" *ngIf="(mFamily.get('company').hasError('required') && mFamily.get('company').touched)
        || (mFamily.get('company').hasError('required') && mFamily.invalid && submited)"></p>
    </div>


    <!-- Input para selecionar o pontos de control -->
    <div class="campo col-sm-12">
      <p translate="REGISTER.FAMILY.CONTROL_POINTS" class="descricao"></p> 
      <ng-select #select 
        bindLabel="name" 
        placeholder="{{ 'REGISTER.FAMILY.CONTROL_POINT_PLACEHOLDER' | translate }}" 
        [items]="allControlPoints"
        [multiple]="true" 
        formControlName="control_points">
        <ng-template ng-option-tmp let-item="item">
          <div> {{ item.name }} </div>
        </ng-template>
      </ng-select>
      <p translate="REGISTER.FAMILY.ALL_CONTROL_POINT" class="explicacao select-link" (click)="selectAll()"></p>
      <p translate="REGISTER.FAMILY.DISABLE_CONTROL_POINT" class="explicacao select-link" style="margin-left: 10px;" (click)="unselectAll()"></p>
    </div>

    <br />

    <div class="botoes">
      <button translate="REGISTER.BACK_BUTTON" routerLink="/rc/cadastros/familia" class="botaoVoltar"></button>
      <button translate="REGISTER.UPDATE_BUTTON" type="submit" class="botaoRegistrar"></button>
    </div>

  </form>
</div>