<div class="modalFilho">
  <div class="header">

    <h3 translate="ALERTS.PERMANENCE_PACK" style="color: #354052; margin-bottom: 0px;"></h3>

    <div class="col-12 no-padding">
      <p class="alerta-badges">
        <span class="badge badge-secondary">{{ "ALERTS.FAMILY" | translate }}: {{ alerta.family.code }}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">{{ "ALERTS.SERIAL" | translate }}: {{ alerta.serial }}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">{{ "ALERTS.TAG" | translate }}: {{ alerta.tag.code }}</span>
      </p>

      <img id="ver-no-mapa" 
        (click)="visualizeOnMap()" 
        ngbTooltip="{{ 'ALERTS.GO_TO_MAP' | translate }}"  
        placement="left" 
        src="assets/images/distancia.png"
        height="25" style="float: right;">
    </div>

    <button type="button" class="close" aria-label="Close" (click)="activeAlerta.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modalBody">

    <div class="row">
      <div class="col-12">
        <p class="titulo-modal">{{ "ALERTS.LAST_SIGNAL_CAP" | translate }}:</p>
        <br>
        <p> {{ alerta.last_device_data? 
                (alerta.last_device_data.message_date | date: 'dd/MM/yy HH:mm:ss' : '+00:00')
                : "Sem Registro"}} </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12 col-md-6">
        <p class="titulo-modal">{{ "ALERTS.LAST_LOCATION" | translate }}:</p>
        <br>
        <p> {{ alerta?.last_event_record?.control_point?.name ? alerta.last_event_record.control_point.name : mConstants.NO_REGISTER }} </p>
      </div>

      <div class="col-12 col-md-6">
        <p class="titulo-modal">{{ "ALERTS.INBOUND_DATE_CAP" | translate }}:</p>
        <br>
        <p> {{ alerta?.last_event_record?.control_point?.created_at ? 
              (alerta?.last_event_record?.control_point?.created_at | date: 'dd/MM/yy HH:mm:ss' : '+00:00') 
              : "Sem Registro" }} </p>
      </div>
    </div>
    
    <br>
    
    <!-- <div class="row">
      <div class="col-12 col-md-6">
        <p class="titulo-modal">PERMANÊNCIA PROGRAMADA:</p>
        <br>
        <p> {{alerta?.data?.packing?.actual_gc16?.days >= 0 ? (alerta?.data?.packing.actual_gc16.days | time ): mConstants.NO_REGISTER }} </p>
      </div>
    </div> -->

  </div>
</div>