@import '~font-awesome/css/font-awesome.css';

span {
  cursor: pointer;
}

h2,
h3 {
  display: inline-flex;
  margin: 0px;
  vertical-align: middle;
  font-weight: 600;
}

hr {
  margin: 20px 0px 20px 0px;
  border-color: #3E4F60;
  border-width: thin;
}

.det {
  width: 20px;
  height: 20px;
  background-image: url("../../../../assets/images/icon_circle_plus_blue.png");
  background-size: 20px;
  cursor: pointer;
  display: inline-block;
}

.det:hover {
  background-image: url("../../../../assets/images/icon_circle_plus_gray.png");
  -webkit-transition: background-image 0.3s ease-in-out;
  -moz-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}



.cabecalho th {
  border-bottom: solid #193349 1px;
  background-color: #F2F5F4;
}

.bigger {
  text-align: center;
}

.classVazio {
  background-color: white;
  margin: 0px;
  padding: 20px; 
}

.super-table > tbody > tr:nth-child(2) > td {
  padding: 0px 8px;
  border: 0px;
}

.base-bg{
  background-color: white;
  padding: 20px 20px;
  border-radius: 6px;
}

.clear-padding {
  padding: 0px;
}


/* Sort table*/
.sort-icons {
  width: 15px; 
  text-align: center; 
  font-size: 13px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.export-button {
  height: 30px;
  cursor: pointer;
 }