<div class="base-bg">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="cabecalho">

          <th>Equipamento</th>
          <!-- <th>Descrição</th> -->

          <th>Empresa</th>
          <th>Projeto</th>

          <th style="text-align: center;">Quantidade</th>
          <!-- <th style="width: 80px">Detalhes</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listOfGeneral | paginate: {
                                                        id: 'geral',
                                                        itemsPerPage: 10,
                                                        currentPage: listOfGeneralActualPage,
                                                        totalItems: listOfGeneral.length }">
          <td>{{item.family.code || '-'}}</td>
          <!-- <td>{{item.description || '-'}}</td> -->

          <td>{{item.family.company.name || '-'}}</td> 
          <td>{{item.project_name || 'Sem projeto'}}</td>

          <td style="text-align: center;">{{item.packings_quantity >= 0 ? item.packings_quantity : '-'}}</td>
          <!-- <td style="text-align: center;"> 
            <div class="bigger">
              <div class="det" (click)="open(item)"></div>
            </div>
          </td> -->

        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="listOfGeneral.length < 1">
      Ainda não existem embalagens cadastradas no sistema.
    </div>
  </div>

  <br>
  
  <div class="has-text-centered">
    <pagination-controls class="my-pagination" id='geral' (pageChange)="listOfGeneralActualPage = $event" directionLinks="false"
      autoHide="true">
    </pagination-controls>
  </div>
</div>
<br>