<div class="painel">
  <div class="corpo">
    <div class="container">
      <h1>IMPORTAR DADOS</h1>

      <div class="row">
        <div class="col-md-4 importar">
          <p>Escolha um arquivo xlxs para importar</p>
          <form>
            <div class="form-group">
              <div class="botaoImport">
                <label for="single">ARQUIVO</label>
              </div>
                <input type="file" class="form-control" id="single"  (change)=fileEvent($event) accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
            </div>
          </form>
        </div>

        <div class="col-md-8">
          <div class="table-responsive tabela">
          <table class="table">
            <thead>
              <tr class="cabecalho">
                <th width="30%">Name</th>
                <th>Size</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader">
                <td><strong>{{ item.name }}</strong></td>
                <td nowrap>{{ item.size/1024/1024 | number:'.2' }} MB</td>
                <td class="text-center">
                  <i *ngIf="send" class="glyphicon glyphicon-ok"></i>
                  <i *ngIf="!send" class="glyphicon glyphicon-cloud-upload"></i>
                </td>
                <td nowrap>
                  <button type="button" class="editar" (click)="sendFile()">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="excluir" (click)="remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
              <tr *ngIf="(uploader.length == 0)" class="none" >
                <td colspan="4">
                    Você ainda não carregou nenhum arquivo
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <br />
          <br />
          <div class="row" *ngIf="data?.length > 1 && send">
            <hotTable [data]="data" [colHeaders]="colHeaders" [columns]="columns" [options]="options" width=400px></hotTable>
          </div>
          <br />
          <div class="botoes" *ngIf="data?.length > 1 && send">
            <button type="button" class="botaoRegistrar" name="button">REGISTRAR</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
