<div class="modalFilho">
  <div class="header">
     <p>Detalhes do alerta - {{alerta.data.date | date:'dd/mm/yyyy'}}</p>
     <p>Código: {{alerta.data.packing?.code}}</p>
     <p>Tipo: <span>{{alerta.data.status === 1 ? 'Objeto perdido' :
       (alerta.data.status === 2 ? 'Objeto Incorreto' :
       (alerta.data.status === 3 ? 'Bateria Baixa' :
       (alerta.data.status === 4 ? 'Objeto Atrasado' : 'Tempo de Permanência')))}}</span></p>
       <p>Hora: {{alerta.data.date | date:'jms'}}</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeAlerta.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
<div class="modalBody" *ngIf="alerta.data.status === 1">
  <p><span>Planta do Fornecedor:</span> {{alerta.data.correct_plant_supplier ? alerta.data.correct_plant_supplier.plant_name : 'Rota Não definida'}}</p>
  <p><span>Planta da Fabrica:</span> {{alerta.data.correct_plant_factory ? alerta.data.correct_plant_factory.plant_name : 'Rota Não definida'}}</p>
  <p><span>Ultima Planta que foi visto:</span> {{alerta.data.actual_plant  ? alerta.data.actual_plant.plant_name : 'Informação Indisponivel'}}</p>
  <!-- <p><span>Ultimo departamento visto:</span> {{alerta.data.department  ? alerta.data.department.name : 'Informação Indisponivel'}}</p> -->
  <div class="divBotao">


  <button type="button" class="botaoVisualizar">Visualizar Historico</button>
</div>
</div>

<div class="modalBody" *ngIf="alerta.data.status === 2">
  <p><span>Planta do Fornecedor:</span> {{alerta.data.correct_plant_supplier ? alerta.data.correct_plant_supplier.plant_name : 'Informação Indisponivel'}}</p>
  <p><span>Planta da Fabrica:</span> {{alerta.data.correct_plant_factory ? alerta.data.correct_plant_factory.plant_name : 'Informação Indisponivel'}}</p>
  <p><span>Planta Atual:</span> {{alerta.data.actual_plant  ? alerta.data.actual_plant.plant_name : 'Informação Indisponivel'}}</p>
  <p><span>Departamento:</span> {{alerta.data.department  ? alerta.data.department.name : 'Informação Indisponivel'}}</p>

</div>
<div class="modalBody" *ngIf="alerta.data.status === 3">

  <p><span>Nivel da Bateria:</span> {{alerta.data?.packing?.battery ? alerta.data?.packing?.battery : 'Informação Indisponivel'}}</p>
  <p><span>Planta Atual:</span> {{alerta.data.actual_plant  ? alerta.data.actual_plant.plant_name : 'Informação Indisponivel'}}</p>
  <!-- <p><span>Departamento:</span> {{alerta.data.department  ? alerta.data.department.name : 'Informação Indisponivel'}}</p> -->

</div>

<div class="modalBody" *ngIf="alerta.data.status === 4">

  <p><span>Planta do Fornecedor:</span> {{alerta.data.correct_plant_supplier ? alerta.data.correct_plant_supplier.plant_name : 'Rota Não definida'}}</p>
  <p><span>Planta da Fabrica:</span> {{alerta.data.correct_plant_factory ? alerta.data.correct_plant_factory.plant_name : 'Rota Não definida'}}</p>
  <p><span>Horário de Saida:</span> {{alerta.data.packing.trip ? alerta.data.packing.trip?.date : 'Informação Indisponivel'}}</p>
  <p><span>Tempo Excedido:</span> {{alerta.data.packing.trip ? alerta.data.packing.trip?.date : 'Informação Indisponivel'}}</p>

</div>

<div class="modalBody" *ngIf="alerta.data.status === 5">

  <p><span>Tempo de Permanência:</span> {{alerta.data?.packing.permanence  ? alerta.data?.packing.permanence.amount_days : 'Informação Indisponivel'}}</p>
  <p><span>Planta Atual:</span> {{alerta.data.actual_plant  ? alerta.data.actual_plant.plant_name : 'Informação Indisponivel'}}</p>
  <p><span>Data de Entrada:</span> {{alerta.data?.packing.permanence ? (alerta.data?.packing.permanence?.date | date) : 'Informação Indisponivel'}}</p>


</div>

<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeAlerta.close('Close click')">Close</button>
</div> -->
</div>
