<div class="base">
  <h1>REGISTRAR SCANNER</h1>
  <br />
  <div class="row">
    <div class="col-md-6">

      <div class="campo">
      <p class="descricao">NOME DO SETOR/ÁREA INTERNA</p>
      <p class="explicacao">Ex. "Estoque"</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Armazém" aria-describedby="basic-addon2">
      </div>
      </div>

    </div>

    <div class="col-md-6">

        <div class="campo">
          <p class="descricao">ASSOCIE A PLANTA</p>
          <p class="explicacao">Escolha uma das plantas</p>
          <select id="planta">
            <option value="hide">Associe uma Planta</option>
            <option value="Fornecedor">Fornecedor 1</option>
          </select>
        </div>

    </div>
  </div>
    <button routerlink="/cadastros/scanner" class="botaoVoltar" >Voltar</button>
    <button class="botaoRegistrar">Registrar</button>
</div>
