<navbar></navbar>
<!-- <button type="button" class="btn btn-primary" (click)="showModal()">Render auto-shown modal</button> -->
<div *ngIf="isModalShown && verModal" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade modalTop2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modalPequeno">
      <div class="modalFilho modalFilhoLeg">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()" (click)="verModal='false'">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>Alertas e seus significados</p>
        <span class="lgperdido">EMBALAGEM PERDIDA</span><br />
        <span class="lgatrasado">EMBALAGEM ATRASADA</span><br />
        <span class="lgincorreto">LOCAL INCORRETO</span><br />
        <span class="lgperdido">EMBALAGEM PERDIDA</span><br />
        <span class="lgatrasado">EMBALAGEM ATRASADA</span><br />
        <span class="lgincorreto">LOCAL INCORRETO</span><br />
        <!-- <span class="lgremovido">DISPOSITIVO REMOVIDO</span><br /> -->
        <input id="opcao" class="inputOp" type="checkbox"/> <label>Não ver mais isso</label><br />
        <!-- <button class="botaoOk"(click)="d('Cross click')">Ok</button> -->

        <button type="button" class="botaoOk" (click)="hideModal()" (click)="verModal='false'"> ok </button>
      </div><!-- ModalFilho -->
    </div><!-- ModalContent -->
  </div><!-- modal-sm -->
</div><!-- modal modaltop2 -->

<div class="teste1">
  <router-outlet></router-outlet>
</div>


<!-- <div class="container">
  <div class="teste1 col-sm-12"> -->
