<div class="base">
  <h1>REGISTRAR TAG</h1>
  <br />

  <div class="campo">
    <p class="descricao">CÓDIGO DA TAG</p>
    <p class="explicacao">Ex: "1881160"</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="1881160" aria-describedby="basic-addon2" [(ngModel)]="tag.code">
    </div>
  </div>

  <br />
  <div class="botoes">
    <button routerLink="/rc/cadastros/tags" class="botaoVoltar" >VOLTAR</button>
    <button class="botaoRegistrar" (click)="registerTag()">REGISTRAR</button>
  </div>
  <Br />
</div>
