<div class="modalFilho">


  <div class="adicionarUsuarios">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3 class="titulo" *ngIf="!next">Dados do usuário</h3>
    <h3 class="titulo" *ngIf="next">Dados da Planta</h3><br />
    <hr />

    <div class="row" *ngIf="!next">
      <div class="col-sm-4">
        <p class="descricao">DADOS DO USUÁRIO</p>

        <select [(ngModel)]="perfil" (ngModelChange)="onChange($event)">
         <option>FORNECEDOR</option>
         <option>OPERADOR LOGÍSTICO</option>
         <option>FUNCIONÁRIO</option>
      </select>
      </div>
    </div>


    <div *ngIf="!next">
      <form novalidate [formGroup]="logistic">

        <div class="row" style="display: block;margin: 2px;">
          
            <br>
            <alert type="info" *ngIf="invalidEmail">
              <strong>Atenção!</strong> O e-mail ja existe no sistema!
            </alert>

            <p class="descricao">VINCULE OS FORNECEDORES</p>
            <angular2-multiselect [data]="dropdownList" [(ngModel)]="this.logistic.controls.suppliers.value" formControlName="suppliers" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>

        
        </div>
        <div class="row">


          <div class="col-sm-4">
            <div formGroupName="profile">
              <p class="descricao">NOME DO USUÁRIO</p>
              <input type="text" class="form-control" [(ngModel)]="user" placeholder="Digite o nome do usuário" formControlName="user" [ngClass]="{'required': (logistic.get('profile.user').hasError('required') && logistic.get('profile.user').touched)
              || (logistic.get('profile.user').hasError('required') && submitted)}">
              <p class="requiredText" *ngIf="(logistic.get('profile.user').hasError('required') && logistic.get('profile.user').touched)
              || (logistic.get('profile.user').hasError('required') && submitted)">Campo Obrigatório</p>
            </div>

            <p class="descricao">NOME DO OPERADOR LOGISTICO</p>
            <input type="text" class="form-control" [(ngModel)]="name" placeholder="Digite o nome do fornecedor" formControlName="name" [ngClass]="{'required': (logistic.get('name').hasError('required') && logistic.get('name').touched)
            || (logistic.get('name').hasError('required') && submitted)}">
            <p class="requiredText" *ngIf="(logistic.get('name').hasError('required') && logistic.get('name').touched)
            || (logistic.get('name').hasError('required') && submitted)">Campo Obrigatório</p>


            <div formGroupName="profile">
              <p class="descricao">E-MAIL</p>
              <input type="text" class="form-control" [(ngModel)]="email" (blur)="evaluateEmail()" placeholder="Digite o email do fornecedor" formControlName="email" [ngClass]="{'required': (logistic.get('profile.email').hasError('required') && logistic.get('profile.email').touched)
              || (logistic.get('profile.email').hasError('required') && submitted), 'requiredEmail': (logistic.get('profile.email').hasError('email') && logistic.get('profile.email').touched) && !logistic.get('profile.email').hasError('required')}
              || (logistic.get('profile.email').hasError('email') && submitted && !logistic.get('profile.email').hasError('required'))">
              <p class="requiredText" *ngIf="(logistic.get('profile.email').hasError('required') && logistic.get('profile.email').touched)
              || (logistic.get('profile.email').hasError('required') && submitted)">Campo Obrigatório</p>
              <p class="requiredText" *ngIf="(logistic.get('profile.email').hasError('email') && logistic.get('profile.email').touched) && !logistic.get('profile.email').hasError('required')
              || (logistic.get('profile.email').hasError('email') && submitted && !logistic.get('profile.email').hasError('required'))">Formato do email esta incorreto!</p>


              <p class="descricao">PASSWORD</p>
              <input type="password" class="form-control" [(ngModel)]="password" formControlName="password" [ngClass]="{'required': (logistic.get('profile.password').hasError('required') && logistic.get('profile.password').touched)
              || (logistic.get('profile.password').hasError('required') && submitted)}">
              <p class="requiredText" *ngIf="(logistic.get('profile.password').hasError('required') && logistic.get('profile.password').touched)
              || (logistic.get('profile.password').hasError('required') && submitted)">Campo Obrigatório</p>
            </div>



          </div>
          <div class="col-sm-4">





            <div formGroupName="profile">
              <p class="descricao">CEP</p>
              <input [textMask]="{mask: maskCep}" class="form-control" (blur)="getAddress()" [(ngModel)]="cep" type="text" formControlName="cep" [ngClass]="{'required': (logistic.get('profile.cep').hasError('required') && logistic.get('profile.cep').touched)
              || (logistic.get('profile.cep').hasError('required') && submitted)}" />
              <p class="requiredText" *ngIf="(logistic.get('profile.cep').hasError('required') && logistic.get('profile.cep').touched)
              || (logistic.get('profile.cep').hasError('required') && submitted)">Campo Obrigatório</p>

              <p class="descricao">CIDADE</p>
              <input type="text" class="form-control" [(ngModel)]="city" formControlName="city" [ngClass]="{'required': (logistic.get('profile.city').hasError('required') && logistic.get('profile.city').touched)
              || (logistic.get('profile.city').hasError('required') && submitted)}">
              <p class="requiredText" *ngIf="(logistic.get('profile.city').hasError('required') && logistic.get('profile.city').touched)
              || (logistic.get('profile.city').hasError('required') && submitted)">Campo Obrigatório</p>

              <p class="descricao">ENDEREÇO</p>
              <input type="text" class="form-control" [(ngModel)]="street" formControlName="street" [ngClass]="{'required': (logistic.get('profile.street').hasError('required') && logistic.get('profile.street').touched)
              || (logistic.get('profile.street').hasError('required') && submitted)}">
              <p class="requiredText" *ngIf="(logistic.get('profile.street').hasError('required') && logistic.get('profile.street').touched)
              || (logistic.get('profile.street').hasError('required') && submitted)">Campo Obrigatório</p>
            </div>

          </div>
          <div class="col-sm-4" formGroupName="profile">
            <p class="descricao">BAIRRO</p>
            <input type="text" class="form-control" [(ngModel)]="neighborhood" formControlName="neighborhood" [ngClass]="{'required': (logistic.get('profile.neighborhood').hasError('required') && logistic.get('profile.neighborhood').touched)
            || (logistic.get('profile.neighborhood').hasError('required') && submitted)}">
            <p class="requiredText" *ngIf="(logistic.get('profile.neighborhood').hasError('required') && logistic.get('profile.neighborhood').touched)
            || (logistic.get('profile.neighborhood').hasError('required') && submitted)">Campo Obrigatório</p>

            <p class="descricao">UF</p>
            <input type="text" class="form-control" [(ngModel)]="uf" formControlName="uf" [ngClass]="{'required': (logistic.get('profile.uf').hasError('required') && logistic.get('profile.uf').touched)
            || (logistic.get('profile.uf').hasError('required') && submitted)}">
            <p class="requiredText" *ngIf="(logistic.get('profile.uf').hasError('required') && logistic.get('profile.uf').touched)
            || (logistic.get('profile.uf').hasError('required') && submitted)">Campo Obrigatório</p>

            <p class="descricao">TELEFONE</p>

            <input [textMask]="{mask: maskTel}" class="form-control" [(ngModel)]="telephone" type="text" formControlName="telephone" />
            <p class="descricao">CELULAR</p>
            <input [textMask]="{mask: maskCel}" class="form-control" [(ngModel)]="cellphone" type="text" formControlName="cellphone">


          </div>
          <div class="col-sm-12">
            <div class="botoes">
              <button class="botaoVoltar" (click)="closeModal()">VOLTAR</button>
              <button type="button" class="botaoRegistrar" (click)="evaluateForm()">PRÓXIMO</button>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div  *ngIf="next">
      <form novalidate (ngSubmit)="onSubmit(plant)" [formGroup]="plant" #formDirLogistic="ngForm">
        <div class="row" style="display: block;margin: 2px;">
          <br />
          <alert type="info" *ngIf="invalidPlant">
            <strong>Atenção!</strong> O nome da planta já existe no sistema, use outro!
          </alert>
        </div>
        <div class="row">
        <div class="col-md-12">

          <div class="campo">
            <h3>LOCAL</h3>
            <input places-auto-complete (place_changed)="placeChanged($event)" [types]="['geocode']" class="form-control" style="margin-bottom: 10px;" placeholder="Digite o local da planta" />
            <p>
              <ngui-map [center]="center" (click)="onClick($event)" class="mapaNeto" (mapReady$)="onMapReady($event)">
                <marker [position]="pos"></marker>
              </ngui-map>
            </p>
          </div>
        </div>

        <div class="col-md-12 informacoes">

          <div class="bigger2">
            <div class="fromSun"></div>
          </div>
          <span class="forn">{{this.plant?.controls?.location.value}}</span>

        </div>


        <div class="col-md-6">
          <p class="descricao">LATITUDE</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite a latitude" aria-describedby="basic-addon2" [(ngModel)]="lat" formControlName="lat" [ngClass]="{'required': (plant.get('lat').hasError('required') && plant.get('lat').touched)
              || (plant.get('lat').hasError('required') && formDirLogistic.submitted)}">
          </div>
          <p class="requiredText" *ngIf="(plant.get('lat').hasError('required') && plant.get('lat').touched)
            || (plant.get('lat').hasError('required') && formDirLogistic.submitted)">Campo Obrigatório</p>
        </div>
        <div class="col-md-6">
          <p class="descricao">LONGITUDE</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite a longitude" aria-describedby="basic-addon2" [(ngModel)]="lng" formControlName="lng" [ngClass]="{'required': (plant.get('lng').hasError('required') && plant.get('lng').touched)
              || (plant.get('lng').hasError('required') && formDirLogistic.submitted)}">
          </div>
          <p class="requiredText" *ngIf="(plant.get('lng').hasError('required') && plant.get('lng').touched)
            || (plant.get('lng').hasError('required') && formDirLogistic.submitted)">Campo Obrigatório</p>
        </div>
        <div class="col-md-12">
          <p class="descricao">NOME DA PLANTA</p>
          <input type="text" class="form-control" [(ngModel)]="plant_name" (blur)="evaluatePlant()" placeholder="Digite o nome da planta do fornecedor" formControlName="plant_name" [ngClass]="{'required': (plant.get('plant_name').hasError('required') && plant.get('plant_name').touched)
            || (plant.get('plant_name').hasError('required') && formDirLogistic.submitted)}">
          <p class="requiredText" *ngIf="(plant.get('plant_name').hasError('required') && plant.get('plant_name').touched)
            || (plant.get('plant_name').hasError('required') && formDirLogistic.submitted)">Campo Obrigatório</p>

        </div>
        <div class="col-sm-12">
          <div class="botoes">
            <button class="botaoVoltar" (click)="next=false">VOLTAR</button>
            <button type="submit" class="botaoRegistrar">REGISTRAR</button>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
