.wrapper{
  align-content: center;
  text-align: center;
}
p{
  box-shadow: 0px 0px 7px #000;
}
#losango{
  width:150px;
  height:150px;
  background:transparent;
  text-align: center;
  padding: 0 10px;
}
#losango img {
  width: 150px;
  height: 150px;
}
.descricaoUsuario {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  border-width: 0.9px;
  padding-top: 90px;
  font-size: 16px;
}
.imgUsuario {
  margin-bottom: -75px;
}
button {
  width: 100%;
  margin-bottom: 5px;
  background-color: white;
  border: none;
  padding: 2px;
  color: grey;
  box-shadow: 0px 0px 7px #000;
}
button div {
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  padding: 3px;
}
button:hover {
  background-color: #6382c9;
}
button div:hover {
  color: white;
  border-color: white;
}
