.painel {
  border-style: solid;
  border-color: white;
  border-width: thin;
  background-color: transparent;
  padding: 5px;
}
.corpo {
  background-color: white;
  padding: 15px;

}
.botao {
  text-align: center;
  padding: 20px 0px;
}
.botao button {
  background-color: #6382c9;
  border: none;
  color: white;
  padding: 5px 20px;
}
