.col-sm-6,
.col-sm-5,
.col-sm-7 {
  margin: 0px;
  padding: 0px;
}

.header {
  border-bottom-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 500;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lg0,
.lg1,
.lg2,
.lg3,
.lg4,
.lg5,
.lg6,
.lg7,
.lg13 {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 12px;
  display: inline-block;
  margin-right: 0.5rem;
}

.lg0 {
  background-color: #b3b3b3;
}

.lg1 {
  background-color: #ef5562;
}

.lg2 {
  background-color: #f77737;
}

.lg3 {
  background-color: #f8bd37;
}

.lg4 {
  background-color: #4dc9ff;
}

.lg5 {
  background-color: #4c7bff;
}

.lg6 {
  background-color: #9ecf99;
}

.lg7 {
  background-color: #3a9ca6;
}

.lg13 {
  background-color: #a349a4;
}

.forn {
  font-size: 12px;
  color: #666;
}

.companyName {
  position: relative;
  font-size: 1rem;
  display: inline-block;
}

.f0 {
  background-image: url("../../../../assets/images/icon_user0.png");
}

.f1 {
  background-image: url("../../../../assets/images/icon_user1.png");
}

.f2 {
  background-image: url("../../../../assets/images/icon_user2.png");
}

.f3 {
  background-image: url("../../../../assets/images/icon_user3.png");
}

.f4 {
  background-image: url("../../../../assets/images/icon_user4.png");
}

.f5 {
  background-image: url("../../../../assets/images/icon_user5.png");
}

.f6 {
  background-image: url("../../../../assets/images/icon_user6.png");
}

.f7 {
  background-image: url("../../../../assets/images/icon_user7.png");
}

.f13 {
  background-image: url("../../../../assets/images/icon_user8.png");
}

.captionButton {
  background-color: transparent;
  border: none;
  background-image: url("../../../../assets/images/icon_question_dark.png");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: baseline;
  outline: none;
}

.button:focus {
  border: none !important;
  outline: none !important;
}

span {
  font-weight: normal;
}

label {
  font-weight: normal;
  color: black;
  font-size: 12px;
}

.modalFilho p {
  color: black;
  font-size: 15px;
}

.painel {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.quadradoPequeno {
  width: 24%;
  height: auto;
  padding: 1rem 0.6rem 1rem 1.2rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
}

.quadradoPequeno:hover {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(112, 144, 176, 0.2);
  -moz-box-shadow: 0px 1px 20px 0px rgba(112, 144, 176, 0.2);
  box-shadow: 0px 1px 20px 0px rgba(112, 144, 176, 0.2);
}

.status0 {
  background: linear-gradient(
    to right,
    #b3b3b3 0%,
    #b3b3b3 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #fff 1px;
}

.status1 {
  background: linear-gradient(
    to right,
    #ef5562 0%,
    #ef5562 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #ef5562 1px;
}

.status2 {
  background: linear-gradient(
    to right,
    #f77737 0%,
    #f77737 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #f77737 1px;
}

.status3 {
  background: linear-gradient(
    to right,
    #f8bd37 0px,
    #f8bd37 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #f8bd37 1px;
}

.status4 {
  background: linear-gradient(
    to right,
    #4dc9ff 0%,
    #4dc9ff 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #4dc9ff 1px;
}

.status5 {
  background: linear-gradient(
    to right,
    #4c7bff 0%,
    #4c7bff 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #4c7bff 1px;
}

.status6 {
  background: linear-gradient(
    to right,
    #9ecf99 0%,
    #9ecf99 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #9ecf99 1px;
}

.status7 {
  background: linear-gradient(
    to right,
    #3a9ca6 0%,
    #3a9ca6 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #3a9ca6 1px;
}

.status13 {
  background: linear-gradient(
    to right,
    #a349a4 0%,
    #a349a4 0.5rem,
    #fff 0.5rem,
    #fff 100%
  );
  border: solid #a349a4 1px;
}

/* Hover */
.status0:hover {
  background: linear-gradient(
    to right,
    #b3b3b3 0%,
    #b3b3b3 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
}

.status1:hover {
  background: linear-gradient(
    to right,
    #ef5562 0%,
    #ef5562 0.5rem,
    #f7fafb 0.5rem,
    #f7fafb 100%
  );
}

.status2:hover {
  background: linear-gradient(
    to right,
    #f77737 0%,
    #f77737 0.5rem,
    #f7f4f2 0.5rem,
    #f7f4f2 100%
  );
}

.status3:hover {
  background: linear-gradient(
    to right,
    #f8bd37 0%,
    #f8bd37 0.5rem,
    #f5f3ef 0.5rem,
    #f5f3ef 100%
  );
}

.status4:hover {
  background: linear-gradient(
    to right,
    #4dc9ff 0%,
    #4dc9ff 0.5rem,
    #c6e6f3 0.5rem,
    #c6e6f3 100%
  );
}

.status5:hover {
  background: linear-gradient(
    to right,
    #4c7bff 0%,
    #4c7bff 0.5rem,
    #d6dff8 0.5rem,
    #d6dff8 100%
  );
}

.status6:hover {
  background: linear-gradient(
    to right,
    #9ecf99 0%,
    #9ecf99 0.5rem,
    #f5fdf4 0.5rem,
    #f5fdf4 100%
  );
}

.status7:hover {
  background: linear-gradient(
    to right,
    #3a9ca6 0%,
    #3a9ca6 0.5rem,
    #e8f4f5 0.5rem,
    #e8f4f5 100%
  );
}

.status13:hover {
  background: linear-gradient(
    to right,
    #a349a4 0%,
    #a349a4 0.5rem,
    #f3ebf3 0.5rem,
    #f3ebf3 100%
  );
}

.esquerda {
  float: left;
  text-align: left;
}

.familyName {
  font-weight: bold;
}

.direita {
  float: right;
  text-align: left;
}

.description {
  font-size: 0.9rem;
}

.companyName,
.quantity {
  font-size: 1rem;
  padding-left: 1.3rem;
  background-size: 1rem;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.fornecedor0 {
  background-image: url("../../../../assets/images/local0.png");
}

.fornecedor1 {
  background-image: url("../../../../assets/images/local1.png");
}

.fornecedor2 {
  background-image: url("../../../../assets/images/local2.png");
}

.fornecedor3 {
  background-image: url("../../../../assets/images/local3.png");
}

.fornecedor4 {
  background-image: url("../../../../assets/images/local4.png");
}

.fornecedor5 {
  background-image: url("../../../../assets/images/local5.png");
}

.fornecedor6 {
  background-image: url("../../../../assets/images/local6.png");
}

.fornecedor7 {
  background-image: url("../../../../assets/images/local7.png");
}

.fornecedor13 {
  background-image: url("../../../../assets/images/local8.png");
}

.quantidade {
  background-size: 11px;
}

.quantidade0 {
  background-image: url("../../../../assets/images/quant0.png");
}

.quantidade1 {
  background-image: url("../../../../assets/images/quant1.png");
}

.quantidade2 {
  background-image: url("../../../../assets/images/quant2.png");
}

.quantidade3 {
  background-image: url("../../../../assets/images/quant3.png");
}

.quantidade4 {
  background-image: url("../../../../assets/images/quant4.png");
}

.quantidade5 {
  background-image: url("../../../../assets/images/quant5.png");
}

.quantidade6 {
  background-image: url("../../../../assets/images/quant6.png");
}

.quantidade7 {
  background-image: url("../../../../assets/images/quant7.png");
}

.quantidade13 {
  background-image: url("../../../../assets/images/quant13.png");
}

@media (min-width: 1880px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1700px) and (max-width: 1880px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1555px) and (max-width: 1699px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1400px) and (max-width: 1554px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1276px) and (max-width: 1399px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1050px) and (max-width: 1275px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 600px) and (max-width: 1049px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (max-width: 599px) {
  .quadradoPequeno {
    width: 49%;
  }
}

@media (max-width: 576px) {
  .quadradoPequeno {
    height: auto;
    text-align: center;
    padding-top: 25px;
  }

  .esquerda,
  .direita {
    float: none;
    text-align: center;
  }
}

.externa,
.interna {
  background-color: white;
}

.externa {
  padding: 5px;
  width: 100%;
}

.interna {
  border-style: solid;
  border-color: #777;
  border-width: thin;
  padding: 20px;
  margin: 0px;
}

.imagemInterrogacao {
  width: 50px;
  height: 90px;
  background-image: url("../../../../assets/images/interrogacao2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: flex;
  text-align: center;
  background-color: transparent;
  border: none;
}

.imagemInterrogacao:hover {
  background-color: none;
  border: none;
  outline: none;
}

.imagemInterrogacao:focus {
  outline: none;
}

.divTexto {
  text-align: left;
  padding-top: 30px;
}

@media (max-width: 576px) {
  .divTexto {
    text-align: center;
  }
}

.titulo,
.texto {
  margin: 0px;
}

.titulo {
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

/* Teste wraper */
@media (max-width: 576px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conteudoTop {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 120px;
    margin-right: 120px;
  }
}

.conteudoHome .popover.bs-popover-bottom .arrow {
  top: 0px !important;
  max-width: 220px !important;
}

.popover .bs-popover-bottom {
  width: 150px !important;
  max-width: 220px !important;
}
