<div class="conteudoTop">
  <div class="conteudoHome">
    <div class="header">
      {{ "ALERTS.TIMELINE" | translate }}

      <button type="button" class="interrogacao1" (click)="openHelp(content)">
      </button>

      <button 
        type="button" 
        class="interrogacao2" 
        [ngbPopover]='popContent' 
        placement="bottom" 
        *ngIf="telaGrande == true"
        triggers='hover' 
        (click)="openHelp(content)">
      </button>

      <ng-template #popContent>
        <p translate="ALERTS.SUBTITLE" class="tit1"></p>
        <span translate="ALERTS.ABSENT_PACK_CAP" class="lg1"></span> <br />
        <span translate="ALERTS.INCORRECT_LOCAL_PACK_CAP" class="lg2"></span> <br />
        <span translate="ALERTS.LOW_BATTERY_PACK_CAP" class="lg3"></span> <br />
        <span translate="ALERTS.LATE_PACK_PACK_CAP" class="lg4"></span> <br />
        <span translate="ALERTS.PERMANENCE_PACK_CAP" class="lg5"></span> <br />
        <span translate="ALERTS.NO_SIGNAL_PACK_CAP" class="lg6"></span> <br />
        <span translate="ALERTS.MISSING_PACK_CAP" class="lg7"></span> <br />
        <!-- <span class="lg6"></span><br /> -->
      </ng-template>

      <ng-template #content>
        <div class="modalFilho">
          <p translate="ALERTS.SUBTITLE" class="tit1" style="display: inline-block;"></p>

          <button 
            type="button" 
            class="close" 
            aria-label="Close" 
            (click)="activeModal.dismiss('Cross click');">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="modalBody" style="text-align: center">
            <span translate="ALERTS.ABSENT_PACK_CAP" class="lg1"></span> <br />
            <span translate="ALERTS.INCORRECT_LOCAL_PACK_CAP" class="lg2"></span> <br />
            <span translate="ALERTS.LOW_BATTERY_PACK_CAP" class="lg3"></span> <br />
            <span translate="ALERTS.LATE_PACK_PACK_CAP" class="lg4"></span> <br />
            <span translate="ALERTS.PERMANENCE_PACK_CAP" class="lg5"></span> <br />
            <span translate="ALERTS.NO_SIGNAL_PACK_CAP" class="lg6"></span> <br />
            <span translate="ALERTS.MISSING_PACK_CAP" class="lg7"></span> <br />
          </div>
        </div>
      </ng-template>
    </div>

    <div class="painel">
      <!-- [routerLink]="[alert.family_id, alert.current_state]" -->
      <div 
        class="row quadradoPequeno" 
        placement="bottom" 
        [tooltip]="getAlertText(alert.current_state)" 
        [routerLink]="[alert.family_id, alert.current_state]"
        [ngClass]="{
          'status0': getAlertCode(alert.current_state) == 0,
          'status1': getAlertCode(alert.current_state) == 1,
          'status2': getAlertCode(alert.current_state) == 2,
          'status3': getAlertCode(alert.current_state) == 3,
          'status4': getAlertCode(alert.current_state) == 4,
          'status5': getAlertCode(alert.current_state) == 5,
          'status6': getAlertCode(alert.current_state) == 6,
          'status7': getAlertCode(alert.current_state) == 7 }"
        *ngFor="let alert of listOfAlerts | paginate: { id:'alerts',
                                                      itemsPerPage: 16,
                                                      currentPage: listOfAlertsActualPage,
                                                      totalItems: listOfAlerts.length}">

        <div class="col-sm-6 esquerda">
          <span class="codigo" ngbTooltip="{{ 'ALERTS.PACK_CODE' | translate }}">{{alert.family_code}}</span>
          <br />
          <span class="descricao" ngbTooltip="{{ 'ALERTS.DESCRIPTION' | translate }}">{{alert.packing?.type}}</span>
        </div>

        <div class="col-sm-6 direita">
          <div class="bigger" ngbTooltip="{{ 'ALERTS.PROVIDER' | translate }}">
            <div [ngClass]="{
              'f0': getAlertCode(alert.current_state) == 0,
              'f1': getAlertCode(alert.current_state) == 1,
              'f2': getAlertCode(alert.current_state) == 2,
              'f3': getAlertCode(alert.current_state) == 3,
              'f4': getAlertCode(alert.current_state) == 4,
              'f5': getAlertCode(alert.current_state) == 5,
              'f6': getAlertCode(alert.current_state) == 6,
              'f7': getAlertCode(alert.current_state) == 7 }">
            </div>
          </div>
          <span ngbTooltip="{{ 'ALERTS.PACK_PROVIDER' | translate }}" class="forn">{{alert?.company?.name || '-'}}</span>
          <br />
          <span class="quantidade" ngbTooltip="{{ 'ALERTS.QUANTITY' | translate }}" [ngClass]="{
              'quantidade0': getAlertCode(alert.current_state) == 0,
              'quantidade1': getAlertCode(alert.current_state) == 1,
              'quantidade2': getAlertCode(alert.current_state) == 2,
              'quantidade3': getAlertCode(alert.current_state) == 3,
              'quantidade4': getAlertCode(alert.current_state) == 4,
              'quantidade5': getAlertCode(alert.current_state) == 5,
              'quantidade6': getAlertCode(alert.current_state) == 6,
              'quantidade7': getAlertCode(alert.current_state) == 7 }">{{alert.qtd
            }}</span>
        </div>
      </div>

      <!-- pagination -->

      <br />
      <div class="has-text-centered" style="width: 100%;">
        <pagination-controls 
          class="my-pagination" 
          id='alerts' 
          (pageChange)="listOfAlertsActualPage = $event"
          directionLinks="false" 
          autoHide="true">
        </pagination-controls>
      </div>

      <!-- no alerts to show -->
      <div class="externa" *ngIf="listOfAlerts.length < 1 ">
        <div class="row interna">
          <div class="col-sm-9 divTexto center">
            <p translate="ALERTS.NO_RESULTS" class="texto"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>