* {
  font-family: 'Roboto', sans-serif;
}

.col-sm-6,
.col-sm-5,
.col-sm-7 {
  margin: 0px;
  padding: 0px;
}

.header {
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  margin-bottom: 25px;
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
}

.tit1 {
  color: black;
}

.lg0,
.lg1,
.lg2,
.lg3,
.lg4,
.lg5,
.lg6,
.lg7 {
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}

.lg0 {
  background-color: #b3b3b3;
}

.lg1 {
  background-color: #ef5562;
}

.lg2 {
  background-color: #f77737;
}

.lg3 {
  background-color: #f8bd37;
}

.lg4 {
  background-color: #4dc9ff;
}

.lg5 {
  background-color: #4c7bff;
}

.lg6 {
  background-color: #9ecf99;
}

.lg7 {
  background-color: #3a9ca6;
}

.forn {
  font-size: 12px;
  color: #666;
}

.bigger {
  position: relative;
  font-size: 12px;
  color: #666;
  display: inline-block;
}

.f0,
.f1,
.f2,
.f3,
.f4,
.f5,
.f6,
.f7 {
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  vertical-align: middle;
}

.f0 {
  background-image: url("../../../../assets/images/icon_user0.png");
}

.f1 {
  background-image: url("../../../../assets/images/icon_user1.png");
}

.f2 {
  background-image: url("../../../../assets/images/icon_user2.png");
}

.f3 {
  background-image: url("../../../../assets/images/icon_user3.png");
}

.f4 {
  background-image: url("../../../../assets/images/icon_user4.png");
}

.f5 {
  background-image: url("../../../../assets/images/icon_user5.png");
}

.f6 {
  background-image: url("../../../../assets/images/icon_user6.png");
}

.f7 {
  background-image: url("../../../../assets/images/icon_user7.png");
}

.interrogacao1 {
  background-color: transparent;
  border: none;
  text-align: right;
  float: right;
  background-image: url("../../../../assets/images/interrogacao.png");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}

.interrogacao2 {
  background-color: transparent;
  border: none;
  text-align: right;
  float: right;
  background-image: url("../../../../assets/images/interrogacao.png");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}

.button:focus {
  border: none !important;
  outline: none !important;
}

span {
  font-weight: normal;
}

label {
  font-weight: normal;
  color: black;
  font-size: 12px;
}

.modalFilho p {
  color: black;
  font-size: 15px;
}

.painel {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.quadradoPequeno {
  width: 24%;
  height: auto;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 20px 10px 10px 10px;
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 0.4%;
  margin-right: 0.4%;
  cursor: pointer;
}

.status0 {
  background: linear-gradient(to bottom, #b3b3b3 0%, #b3b3b3 10%, #fff 10%, #fff 13%, #b3b3b3 13%, #b3b3b3 16%, #fff 16%, #fff 100%);
  border-left-color: #b3b3b3;
  border-right-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
}

.status1 {
  background: linear-gradient(to bottom, #ef5562 0%, #ef5562 10%, #fff 10%, #fff 13%, #ef5562 13%, #ef5562 16%, #fff 16%, #fff 100%);
  border-left-color: #ef5562;
  border-right-color: #ef5562;
  border-bottom-color: #ef5562;
}

.status2 {
  background: linear-gradient(to bottom, #f77737 0%, #f77737 10%, #fff 10%, #fff 13%, #f77737 13%, #f77737 16%, #fff 16%, #fff 100%);
  border-left-color: #f77737;
  border-right-color: #f77737;
  border-bottom-color: #f77737;
}

.status3 {
  background: linear-gradient(to bottom, #f8bd37 0%, #f8bd37 10%, #fff 10%, #fff 13%, #f8bd37 13%, #f8bd37 16%, #fff 16%, #fff 100%);
  border-left-color: #f8bd37;
  border-right-color: #f8bd37;
  border-bottom-color: #f8bd37;
}

.status4 {
  background: linear-gradient(to bottom, #4dc9ff 0%, #4dc9ff 10%, #fff 10%, #fff 13%, #4dc9ff 13%, #4dc9ff 16%, #fff 16%, #fff 100%);
  border-left-color: #4dc9ff;
  border-right-color: #4dc9ff;
  border-bottom-color: #4dc9ff;
}

.status5 {
  background: linear-gradient(to bottom, #4c7bff 0%, #4c7bff 10%, #fff 10%, #fff 13%, #4c7bff 13%, #4c7bff 16%, #fff 16%, #fff 100%);
  border-left-color: #4c7bff;
  border-right-color: #4c7bff;
  border-bottom-color: #4c7bff;
}

.status6 {
  background: linear-gradient(to bottom, #9ecf99 0%, #9ecf99 10%, #fff 10%, #fff 13%, #9ecf99 13%, #9ecf99 16%, #fff 16%, #fff 100%);
  border-left-color: #9ecf99;
  border-right-color: #9ecf99;
  border-bottom-color: #9ecf99;
}

.status7 {
  background: linear-gradient(to bottom, #3a9ca6 0%, #3a9ca6 10%, #fff 10%, #fff 13%, #3a9ca6 13%, #3a9ca6 16%, #fff 16%, #fff 100%);
  border-left-color: #3a9ca6;
  border-right-color: #3a9ca6;
  border-bottom-color: #3a9ca6;
}

.status0:hover {
  background: linear-gradient(to bottom, #b3b3b3 0%, #b3b3b3 10%, #d3d3d3 10%, #d3d3d3 13%, #b3b3b3 13%, #b3b3b3 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #b3b3b3;
  border-right-color: #b3b3b3;
  border-bottom-color: #b3b3b3;
}

.status1:hover {
  background: linear-gradient(to bottom, #ef5562 0%, #ef5562 10%, #d3d3d3 10%, #d3d3d3 13%, #ef5562 13%, #ef5562 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #ef5562;
  border-right-color: #ef5562;
  border-bottom-color: #ef5562;
}

.status2:hover {
  background: linear-gradient(to bottom, #f77737 0%, #f77737 10%, #d3d3d3 10%, #d3d3d3 13%, #f77737 13%, #f77737 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #f77737;
  border-right-color: #f77737;
  border-bottom-color: #f77737;
}

.status3:hover {
  background: linear-gradient(to bottom, #f8bd37 0%, #f8bd37 10%, #d3d3d3 10%, #d3d3d3 13%, #f8bd37 13%, #f8bd37 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #f8bd37;
  border-right-color: #f8bd37;
  border-bottom-color: #f8bd37;
}

.status4:hover {
  background: linear-gradient(to bottom, #4dc9ff 0%, #4dc9ff 10%, #d3d3d3 10%, #d3d3d3 13%, #4dc9ff 13%, #4dc9ff 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #4dc9ff;
  border-right-color: #4dc9ff;
  border-bottom-color: #4dc9ff;
}

.status5:hover {
  background: linear-gradient(to bottom, #4c7bff 0%, #4c7bff 10%, #d3d3d3 10%, #d3d3d3 13%, #4c7bff 13%, #4c7bff 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #4c7bff;
  border-right-color: #4c7bff;
  border-bottom-color: #4c7bff;
}

.status6:hover {
  background: linear-gradient(to bottom, #9ecf99 0%, #9ecf99 10%, #d3d3d3 10%, #d3d3d3 13%, #9ecf99 13%, #9ecf99 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #9ecf99;
  border-right-color: #9ecf99;
  border-bottom-color: #9ecf99;
}

.status7:hover {
  background: linear-gradient(to bottom, #3a9ca6 0%, #3a9ca6 10%, #d3d3d3 10%, #d3d3d3 13%, #3a9ca6 13%, #3a9ca6 16%, #d3d3d3 16%, #d3d3d3 100%);
  border-left-color: #3a9ca6;
  border-right-color: #3a9ca6;
  border-bottom-color: #3a9ca6;
}

.esquerda {
  float: left;
  text-align: left;
}

.direita {
  float: right;
  text-align: left;
}

.descricao {
  color: #6b6b6b;
  font-size: 11.5px;
}

.quantidade {
  background-repeat: no-repeat;
  padding-left: 15px;
  vertical-align: middle;
  font-size: 12px;
  color: #666;
}

.fornecedor0 {
  background-image: url("../../../../assets/images/local0.png");
}

.fornecedor1 {
  background-image: url("../../../../assets/images/local1.png");
}

.fornecedor2 {
  background-image: url("../../../../assets/images/local2.png");
}

.fornecedor3 {
  background-image: url("../../../../assets/images/local3.png");
}

.fornecedor4 {
  background-image: url("../../../../assets/images/local4.png");
}

.fornecedor5 {
  background-image: url("../../../../assets/images/local5.png");
}

.fornecedor6 {
  background-image: url("../../../../assets/images/local6.png");
}

.fornecedor7 {
  background-image: url("../../../../assets/images/local7.png");
}

.quantidade {
  background-size: 11px;
}

.quantidade0 {
  background-image: url("../../../../assets/images/quant0.png");
}

.quantidade1 {
  background-image: url("../../../../assets/images/quant1.png");
}

.quantidade2 {
  background-image: url("../../../../assets/images/quant2.png");
}

.quantidade3 {
  background-image: url("../../../../assets/images/quant3.png");
}

.quantidade4 {
  background-image: url("../../../../assets/images/quant4.png");
}

.quantidade5 {
  background-image: url("../../../../assets/images/quant5.png");
}

.quantidade6 {
  background-image: url("../../../../assets/images/quant6.png");
}

.quantidade7 {
  background-image: url("../../../../assets/images/quant7.png");
}

@media (min-width: 1880px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1700px) and (max-width: 1880px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1555px) and (max-width: 1699px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1400px) and (max-width: 1554px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (min-width: 1276px) and (max-width: 1399px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 1050px) and (max-width: 1275px) {
  .quadradoPequeno {
    width: 24%;
  }
}

@media (min-width: 600px) and (max-width: 1049px) {
  .quadradoPequeno {
    width: 32%;
  }
}

@media (max-width: 599px) {
  .quadradoPequeno {
    width: 49%;
  }
}

@media (max-width: 576px) {
  .quadradoPequeno {
    height: auto;
    text-align: center;
    padding-top: 25px;
  }

  .esquerda,
  .direita {
    float: none;
    text-align: center;
  }
}

.externa,
.interna {
  background-color: white;
}

.externa {
  padding: 5px;
  width: 100%;
}

.interna {
  border-style: solid;
  border-color: #777;
  border-width: thin;
  padding: 20px;
  margin: 0px;
}

.imagemInterrogacao {
  width: 50px;
  height: 90px;
  background-image: url("../../../../assets/images/interrogacao2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: flex;
  text-align: center;
  background-color: transparent;
  border: none;
}

.imagemInterrogacao:hover {
  background-color: none;
  border: none;
  outline: none;
}

.imagemInterrogacao:focus {
  outline: none;
}

.divTexto {
  text-align: left;
  padding-top: 30px;
}

@media (max-width: 576px) {
  .divTexto {
    text-align: center;
  }
}

.titulo,
.texto {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

.titulo {
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}


/* Teste wraper */
@media (max-width: 576px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conteudoTop {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 120px;
    margin-right: 120px;
  }
}


.conteudoHome .popover.bs-popover-bottom .arrow {
  top: 0px !important;
  max-width: 220px !important;
}

.popover .bs-popover-bottom{
  width: 150px !important;
  max-width: 220px !important;
}