* { font-family: 'Roboto', sans-serif; }

.descricao {
  display: inline;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  margin: 10px 0px 5px 0px
}

.explicacao {
  color: #777;
  font-size: 10px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

.campo {
  margin-bottom: 20px;
}

.modalFilho {
  max-width: 800px;
  width: 100%;
}

.close {
  font-size: 25px;
  text-align: right;
}

.table {
  font-size: 14px;
}

.cabecalho {
  background-color: #6382c9;
  color: white;
}

.tabela {
  border-style: solid;
  border-color: #6382c9;
  border-width: 2px;
}

td { background-color: white; }

.header {
  display: inline-grid;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: thin;
  margin-bottom: 15px;
}

.header span {
  color: #ef5562;
}

.header p {
  font-weight: bold;
  width: 200px;
}

th,
td {
  border-bottom: none !important;
  border: none !important;
}

.mapa {
  width: 100%;
  margin-top: 10px;
}

.botaoRegistrar,
.botaoVoltar {
  border-style: solid;
  border-width: 2px;
  padding: 5px 0px;
  width: 100px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.botaoRegistrar:hover,
.botaoVoltar:hover {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.botaoRegistrar:focus,
.botaoVoltar:focus {
  outline: none !important;
}

.botaoRegistrar {
  background-color: white;
  color: #6382c9;
  border-color: #6382c9;
}

.botaoRegistrar:hover {
  background-color: #6382c9;
  color: white;
}

.botaoVoltar {
  background-color: white;
  color: #777;
  border-color: #777;
}

.botaoVoltar:hover {
  background-color: #777;
  color: white;
}

.botoes {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.form-control {
  border-radius: 0em !important;
  font-size: 15px;
}

.informacoes {
  display: inherit;
  margin-bottom: 10px;
}

.bigger2 {
  position: relative;
  font-size: 12px;
  color: #666666;
  display: inline-block;
  width: 25px;
}

.fromSun {
  width: 23px;
  height: 32px;
  vertical-align: middle;
  -webkit-mask-box-image: url("../../../assets/images/local1.png");
  background-color: #ef5562;
}

.forn {
  padding-left: 5px;
}

.divisoria {
  color: #6382c9;
  border-color: #6382c9;
  border-width: thin;
  margin-bottom: 25px;
}

.editar,
.excluir {
  width: 80px;
  color: white;
  border: none;
  padding: 5px 10px;
}

.excluir { background-color: #1d416b; }

.excluir:hover {
  background-color: #102b40;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.editar,
.excluir {
  width: 80px;
  color: white;
  border: none;
  padding: 5px 10px;
}

.editar { background-color: #3b5d93; }

.editar:hover {
  background-color: #6382c9;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.teste {
  text-align: right;
}

.opcoes {
  text-align: right;
  padding-right: 123px;
}

.classVazio {
  background-color: white;
  margin: 0px;
  padding: 20px;
}

