@import '~font-awesome/css/font-awesome.css';

.descricao {
  display: inline;
  font-weight: 600; 
  font-size: 13px;
  margin: 10px 0px 5px 0px
}

.explicacao {
  color: #777;
  font-size: .75rem;
  margin-bottom: 0px; 
}

.campo {
  margin-bottom: 20px;
}

.modalFilho {
  max-width: 800px;
  width: 100%;
}

.close {
  font-size: 25px;
  text-align: right;
}

.table {
  font-size: 14px;
}

.cabecalho {
  color: #193349;
}

.cabecalho th {
  border-bottom: solid #193349 1px;
}

.tabela {
  border-style: solid;
  border-color: #3E4F60;
  border-width: 2px;
}

td { background-color: white; }

.header {
  display: inline-grid;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: thin;
  margin-bottom: 15px;
}

.header span {
  color: #ef5562;
}

.header p {
  font-weight: bold;
  width: 200px;
}

th,
td {
  border-bottom: none !important;
  border: none !important;
}

.mapa {
  width: 100%;
  margin-top: 10px;
}

.blueButton {
  background-color: #335ba8;
  border: 1px solid #e6e6e6;
  color: #fff;
  border-radius: 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 2.1rem;
}

.blueButton:hover {
  background-color: #244685;
  border-color: white;
  color: white;

  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
}

.redButton {
  border: 1px solid #ff4548;
  background-color: transparent;
  color: #ff4548;
  border-radius: 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 2.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.redButton:hover {
  background-color: #d13c3e;
  border-color: white;
  color: white;

  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
}

.botoes {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.form-control {
  font-size: 15px;
  border-radius: 6px !important;
}

.informacoes {
  display: inherit;
  margin-bottom: 10px;
}

.teste {
  text-align: right;
}

.opcoes {
  text-align: right;
  padding-right: 123px;
}

.classVazio {
  background-color: white;
  margin: 0px;
  padding: 20px;
}

.label {
  margin-bottom: 0rem;
}

/*--------*/
/*Checkboxes*/
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox label {
  margin-bottom: 0.3rem;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em; 
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}