<div class="modalFilho">
  <div class="adicionarUsuarios">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>

    <h2>Editar Configurações do Sistema</h2>
    <hr />

    <form
      novalidate
      (ngSubmit)="onSubmit(settings)"
      [formGroup]="settings"
      #formDir="ngForm"
    >
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="col-sm-12">
            <p class="descricao">NÍVEL DA BATERIA PARA GERAR ALERTA</p>
            <nouislider
              [config]="batteryConfig"
              style="margin-top: 2em"
              [formControl]="settings.controls.battery_level_limit"
            ></nouislider>
          </div>

          <div class="col-sm-12 campo">
            <p class="descricao">LIMITE DE ACURÁCIA RELEVANTE</p>
            <nouislider
              [config]="accuracyConfig"
              style="margin-top: 2em"
              [formControl]="settings.controls.accuracy_limit"
            ></nouislider>
          </div>

          <!-- <div class="col-sm-12 campo">
            <p class="descricao-slider">RAIO DA PLANTA </p>
            <nouislider [config]="radiusConfig" style="margin-top: 2em;" [formControl]="settings.controls.range_radius"></nouislider>
          </div> -->

          <div class="col-sm-12 col-md-8">
            <p class="descricao">HABILITAR ALERTAS:</p>

            <div class="row">
              <!-- Embalagem Ausente -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_viagem_perdida">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Embalagem Ausente
                  </label>
                </div>
              </div> -->

              <!-- Local Incorreto -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_local_incorreto">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Local Incorreto
                  </label>
                </div>
              </div> -->

              <!-- Viagem Atrasada -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_viagem_atrasada">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Viagem Atrasada
                  </label>
                </div>
              </div> -->

              <!-- Sem Sinal -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_sem_sinal">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Sem Sinal
                  </label>
                </div>
              </div> -->

              <div class="col-sm-12">
                <div
                  class="form-group form-check checkbox"
                  style="margin-bottom: 0rem"
                >
                  <label>
                    <input
                      type="checkbox"
                      [formControl]="settings.controls.enable_perdida"
                    />
                    <span class="cr">
                      <i class="cr-icon fa fa-check"> </i>
                    </span>
                    Embalagem Perdida
                  </label>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input
                      type="checkbox"
                      [formControl]="
                        settings.controls.double_check_incorrect_local
                      "
                    />
                    <span class="cr">
                      <i class="cr-icon fa fa-check"> </i>
                    </span>
                    Dupla verificação de Local Incorreto
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div
            *ngIf="currentUser?.role === 'masterAdmin'"
            class="col-sm-12 col-md-6"
          >
            <p class="descricao">Data de vencimento</p>
            <p class="explicacao">Data de vencimento da assinatura</p>
            <input
              id="expirationDate"
              type="text"
              placeholder="Vencimento"
              class="form-control input-date-picker"
              bsDatepicker
              [formControl]="settings.controls.expiration_date"
              (ngModelChange)="onDateChange($event)"
              [bsConfig]="datePickerConfig"
              style="cursor: pointer"
            />
          </div>
        </div>

        <div class="col-md-4">
          <!-- <div class="col-sm-12 campo">
            <p class="descricao">CICLO DO JOB (SEG)</p>
            <p class="explicacao">Ex. "120 segundos"</p>
            <div class="placeholder" data-placeholder="MINUTOS">
              <input type="number" class="form-control form-control-sm scroll-number" min="1" value="0" step="1"
                (focusout)="validadeJob($event)" formControlName="job_schedule_time_in_sec" />
              <p class="requiredText" *ngIf="(settings.get('job_schedule_time_in_sec').hasError('required') && settings.get('job_schedule_time_in_sec').touched)
                                || (settings.get('job_schedule_time_in_sec').hasError('required') && formDir.submitted)">
                Campo Obrigatório</p>

              <p class="requiredText" *ngIf="(settings.get('job_schedule_time_in_sec').hasError('lessThanMinimum') && settings.get('job_schedule_time_in_sec').touched)
                                || (settings.get('job_schedule_time_in_sec').hasError('lessThanMinimum') && formDir.submitted)">
                Valor menor que o mínimo: 60</p>
            </div>
          </div> -->

          <div class="col-sm-12 campo">
            <p class="descricao">VIDA ÚTIL DO HISTÓRICO (DIAS)</p>
            <p class="explicacao">Ex. "60 dias"</p>
            <div class="placeholder" data-placeholder="MINUTOS">
              <input
                type="number"
                min="1"
                class="form-control form-control-sm scroll-number"
                value="0"
                step="1"
                (focusout)="validadeHistoric($event)"
                formControlName="clean_historic_moviments_time"
              />
              <p
                class="requiredText"
                *ngIf="
                  (settings
                    .get('clean_historic_moviments_time')
                    .hasError('required') &&
                    settings.get('clean_historic_moviments_time').touched) ||
                  (settings
                    .get('clean_historic_moviments_time')
                    .hasError('required') &&
                    formDir.submitted)
                "
              >
                Campo Obrigatório
              </p>

              <p
                class="requiredText"
                *ngIf="
                  (settings
                    .get('clean_historic_moviments_time')
                    .hasError('lessThanMinimum') &&
                    settings.get('clean_historic_moviments_time').touched) ||
                  (settings
                    .get('clean_historic_moviments_time')
                    .hasError('lessThanMinimum') &&
                    formDir.submitted)
                "
              >
                Valor menor que o mínimo: 1
              </p>
            </div>
          </div>

          <div class="col-sm-12 campo">
            <p class="descricao">ALERTA SEM SINAL (DIAS)</p>
            <p class="explicacao">Ex. "2 dias"</p>
            <div class="placeholder" data-placeholder="MINUTOS">
              <input
                type="number"
                min="1"
                class="form-control form-control-sm scroll-number"
                value="0"
                step="1"
                (focusout)="validadeNoSignal($event)"
                formControlName="no_signal_limit_in_days"
              />
              <p
                class="requiredText"
                *ngIf="
                  (settings
                    .get('no_signal_limit_in_days')
                    .hasError('required') &&
                    settings.get('no_signal_limit_in_days').touched) ||
                  (settings
                    .get('no_signal_limit_in_days')
                    .hasError('required') &&
                    formDir.submitted)
                "
              >
                Campo Obrigatório
              </p>

              <p
                class="requiredText"
                *ngIf="
                  (settings
                    .get('no_signal_limit_in_days')
                    .hasError('lessThanMinimum') &&
                    settings.get('no_signal_limit_in_days').touched) ||
                  (settings
                    .get('no_signal_limit_in_days')
                    .hasError('lessThanMinimum') &&
                    formDir.submitted)
                "
              >
                Valor menor que o mínimo: 1
              </p>
            </div>
          </div>

          <div class="col-sm-12 campo">
            <div class="form-group form-check checkbox">
              <p class="descricao">ALERTA PERDIDA (DIAS)</p>
              <p class="explicacao">Ex. "2 dias"</p>
              <div class="placeholder" data-placeholder="MINUTOS">
                <input
                  type="number"
                  min="1"
                  class="form-control form-control-sm scroll-number"
                  value="0"
                  step="1"
                  (focusout)="validadeMissing($event)"
                  formControlName="missing_sinal_limit_in_days"
                />
                <p
                  class="requiredText"
                  *ngIf="
                    (settings
                      .get('missing_sinal_limit_in_days')
                      .hasError('required') &&
                      settings.get('missing_sinal_limit_in_days').touched) ||
                    (settings
                      .get('missing_sinal_limit_in_days')
                      .hasError('required') &&
                      formDir.submitted)
                  "
                >
                  Campo Obrigatório
                </p>

                <p
                  class="requiredText"
                  *ngIf="
                    (settings
                      .get('missing_sinal_limit_in_days')
                      .hasError('lessThanMinimum') &&
                      settings.get('missing_sinal_limit_in_days').touched) ||
                    (settings
                      .get('missing_sinal_limit_in_days')
                      .hasError('lessThanMinimum') &&
                      formDir.submitted)
                  "
                >
                  Valor menor que o mínimo: 1
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <p class="descricao">ATIVAR BPLINE</p>
                <bSwitch
                  [switch-off-text]="'Não'"
                  [switch-on-text]="'Sim'"
                  [switch-on-color]="'success'"
                  [switch-off-color]="'danger'"
                  [switch-size]="'mini'"
                  [switch-animate]="true"
                  [switch-base-class]="'bootstrap-switch'"
                  formControlName="enable_gc16"
                >
                </bSwitch>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Botões de ação -->
      <div class="col-sm-12">
        <div class="botoes">
          <button class="botaoVoltar" (click)="closeModal()">FECHAR</button>
          <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
        </div>
      </div>
    </form>
  </div>
</div>
