<div class="modalFilho">
  <div class="adicionarUsuarios">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

    <h2 translate="SETTINGS.TITLE"></h2>
    <hr />

    <form novalidate (ngSubmit)="onSubmit(settings)" [formGroup]="settings" #formDir="ngForm">

      <div class="row">

        <div class="col-sm-12 col-md-8">

          <div class="col-sm-6">
            <p translate="SETTINGS.LANG" class="descricao" style="margin-bottom: 6px;"></p>
            <ng-select bindLabel="label" 
              placeholder="Escolha um idioma" 
              [items]="languages" 
              (change)="changeLanguage($event)" 
              [clearable]='false' 
              formControlName="language" 
              style="margin-bottom: 12px;">
              <ng-template ng-option-tmp let-item="item">
                <div> {{item.label}} </div>
              </ng-template>
            </ng-select>
          </div>

          <div class="col-sm-12" style="padding-top: 10px;">
            <p translate="SETTINGS.BATTERY_LEVEL_ALERT" class="descricao"></p>
            <nouislider [config]="batteryConfig" style="margin-top: 2em;"
              [formControl]="settings.controls.battery_level_limit"></nouislider>
          </div>

          <div class="col-sm-12 campo" style="padding-top: 10px;">
            <p translate="SETTINGS.ACCURACY_LEVEL_ALERT" class="descricao"></p>
            <nouislider [config]="accuracyConfig" style="margin-top: 2em;"
              [formControl]="settings.controls.accuracy_limit"></nouislider>
          </div>

          <!-- <div class="col-sm-12 campo">
            <p class="descricao">RAIO DA PLANTA </p>
            <nouislider [config]="radiusConfig" style="margin-top: 2em;" [formControl]="settings.controls.range_radius"></nouislider>
          </div> -->

          <div class="col-sm-12 col-md-8" style="padding-top: 10px;">

            <p translate="SETTINGS.ENABLE_ALERTS" class="descricao">HABILITAR ALERTAS:</p>

            <div class="row">
              <!-- Embalagem Ausente -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_viagem_perdida">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Embalagem Ausente
                  </label>
                </div>
              </div> -->

              <!-- Local Incorreto -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_local_incorreto">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Local Incorreto
                  </label>
                </div>
              </div> -->

              <!-- Viagem Atrasada -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_viagem_atrasada">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Viagem Atrasada
                  </label>
                </div>
              </div> -->

              <!-- Sem Sinal -->
              <!-- <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.enable_sem_sinal">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Sem Sinal
                  </label>
                </div>
              </div> -->

              <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label style="font-size: 13px;">
                    <input type="checkbox" [formControl]="settings.controls.enable_perdida">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    {{ 'SETTINGS.LOST_PACKAGE_NAME' | translate }}
                  </label>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group form-check checkbox">
                  <label>
                    <input type="checkbox" [formControl]="settings.controls.double_check_incorrect_local">
                    <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                    Dupla verificação de Local Incorreto
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">

          <div class="col-sm-12 campo">
            <p translate="SETTINGS.JOB_CYCLE" class="descricao"></p>
            <p translate="SETTINGS.JOB_CYCLE_DESCRIPTION" class="explicacao"></p>
            <div class="placeholder" data-placeholder="MINUTOS">
              <input type="number" class="form-control form-control-sm scroll-number" min="1" value="0" step="1"
                (focusout)="validadeJob($event)" formControlName="job_schedule_time_in_sec" />
              <p class="requiredText"
                translate="REGISTER.ERRORS.REQUIRED"
                *ngIf="(settings.get('job_schedule_time_in_sec').hasError('required') && settings.get('job_schedule_time_in_sec').touched)
                                || (settings.get('job_schedule_time_in_sec').hasError('required') && formDir.submitted)"></p>

              <p class="requiredText"
                translate="REGISTER.ERRORS.MIN_60"
                *ngIf="(settings.get('job_schedule_time_in_sec').hasError('lessThanMinimum') && settings.get('job_schedule_time_in_sec').touched)
                                || (settings.get('job_schedule_time_in_sec').hasError('lessThanMinimum') && formDir.submitted)"></p>
            </div>
          </div> -->

          <div class="col-sm-12 campo">
            <p translate="SETTINGS.HISTORIC_LIFE" class="descricao"></p>
            <p translate="SETTINGS.HISTORIC_LIFE_DESCRIPTION" class="explicacao"></p>
            <div class="placeholder" data-placeholder="MINUTOS">
              <input type="number" min="1" class="form-control form-control-sm scroll-number" value="0" step="1"
                (focusout)="validadeHistoric($event)" formControlName="clean_historic_moviments_time" />
              <p class="requiredText" translate="REGISTER.ERRORS.REQUIRED"
                *ngIf="(settings.get('clean_historic_moviments_time').hasError('required') && settings.get('clean_historic_moviments_time').touched)
                        || (settings.get('clean_historic_moviments_time').hasError('required') && formDir.submitted)"></p>

              <p class="requiredText"
                translate="REGISTER.ERRORS.MIN_1_VALUE"
                *ngIf="(settings.get('clean_historic_moviments_time').hasError('lessThanMinimum') && settings.get('clean_historic_moviments_time').touched)
                        || (settings.get('clean_historic_moviments_time').hasError('lessThanMinimum') && formDir.submitted)"> </p>
            </div>
          </div>

          <div class="col-sm-12 campo">
            <p translate="SETTINGS.NO_SIGNAL_LIMIT" class="descricao"></p>
            <p translate="SETTINGS.NO_SIGNAL_DESCRIPTION" class="explicacao"></p>
            <div class="placeholder" data-placeholder="MINUTOS">
              <input type="number" min="1" class="form-control form-control-sm scroll-number" value="0" step="1"
                (focusout)="validadeNoSignal($event)" formControlName="no_signal_limit_in_days" />
              <p class="requiredText" 
              translate="REGISTER.ERRORS.REQUIRED"
              *ngIf="(settings.get('no_signal_limit_in_days').hasError('required') && settings.get('no_signal_limit_in_days').touched)
                        || (settings.get('no_signal_limit_in_days').hasError('required') && formDir.submitted)"> </p>

              <p class="requiredText" translate="REGISTER.ERRORS.MIN_1_VALUE"
                 *ngIf="(settings.get('no_signal_limit_in_days').hasError('lessThanMinimum') && settings.get('no_signal_limit_in_days').touched)
                        || (settings.get('no_signal_limit_in_days').hasError('lessThanMinimum') && formDir.submitted)"></p>
            </div>
          </div>

          <div class="col-sm-12 campo">
            <div class="form-group checkbox">
              <p translate="SETTINGS.LOST_PACKAGE" class="descricao"></p>
              <p translate="SETTINGS.LOST_PACKAGE_DESCRIPTION" class="explicacao"></p>
              <div class="placeholder" data-placeholder="MINUTOS">
                <input type="number" min="1" class="form-control form-control-sm scroll-number" value="0" step="1"
                  (focusout)="validadeMissing($event)" formControlName="missing_sinal_limit_in_days" />
                <p class="requiredText"
                  translate="REGISTER.ERRORS.REQUIRED"
                  *ngIf="(settings.get('missing_sinal_limit_in_days').hasError('required') && settings.get('missing_sinal_limit_in_days').touched)
                                          || (settings.get('missing_sinal_limit_in_days').hasError('required') && formDir.submitted)"></p>

                <p class="requiredText"
                  translate="REGISTER.ERRORS.MIN_1_VALUE"
                  *ngIf="(settings.get('missing_sinal_limit_in_days').hasError('lessThanMinimum') && settings.get('missing_sinal_limit_in_days').touched)
                                          || (settings.get('missing_sinal_limit_in_days').hasError('lessThanMinimum') && formDir.submitted)"></p>
              </div>
            </div>
          </div>


          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <p translate="SETTINGS.ACTIVATE_BPLINE" class="descricao"></p>
                <bSwitch [switch-off-text]="translateExpression('MISC.NO')" [switch-on-text]="translateExpression('MISC.YES')" [switch-on-color]="'success'"
                  [switch-off-color]="'danger'" [switch-size]="'mini'" [switch-animate]="true"
                  [switch-base-class]="'bootstrap-switch'" formControlName="enable_gc16">
                </bSwitch>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Botões de ação -->
      <div class="col-sm-12">
        <div class="botoes">
          <button class="botaoVoltar" (click)="closeModal()">{{ 'MISC.CLOSE_CAP' | translate }}</button>
          <button type="submit" class="botaoRegistrar">{{ 'MISC.UPDATE_CAP' | translate }}</button>
        </div>
      </div>

    </form>
  </div>
</div>