<div class="modalFilho">
  <div class="adicionarUsuarios">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3 class="titulo">Dados do usuário</h3><br />
    <hr />

    <form novalidate (ngSubmit)="onSubmit(staff)" [formGroup]="staff" #formDir="ngForm">

      <div class="row">
        <div class="col-sm-12">
          <br>
          <alert type="info" *ngIf="invalidEmail">
            <strong>Atenção!</strong> O e-mail ja existe no sistema!
          </alert>

        </div>
      </div>
      <div class="row">


        <div class="col-sm-4">

          <p class="descricao">NOME DO USUÁRIO</p>
          <input type="text" class="form-control" [(ngModel)]="user" placeholder="Digite o nome do usuário" formControlName="user" [ngClass]="{'required': (staff.get('user').hasError('required') && staff.get('user').touched)
              || (staff.get('user').hasError('required') && formDir.submitted)}">
          <p class="requiredText" *ngIf="(staff.get('user').hasError('required') && staff.get('user').touched)
              || (staff.get('user').hasError('required') && formDir.submitted)">Campo Obrigatório</p>


          <p class="descricao">E-MAIL</p>
          <input type="text" class="form-control" [(ngModel)]="email" (blur)="evaluateEmail()" placeholder="Digite o email do fornecedor" formControlName="email" [ngClass]="{'required': (staff.get('email').hasError('required') && staff.get('email').touched)
              || (staff.get('email').hasError('required') && formDir.submitted), 'requiredEmail': (staff.get('email').hasError('email') && staff.get('email').touched) && !staff.get('email').hasError('required')}
              || (staff.get('email').hasError('email') && formDir.submitted && !staff.get('email').hasError('required'))">
          <p class="requiredText" *ngIf="(staff.get('email').hasError('required') && staff.get('email').touched)
              || (staff.get('email').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
          <p class="requiredText" *ngIf="(staff.get('email').hasError('email') && staff.get('email').touched) && !staff.get('email').hasError('required')
              || (staff.get('email').hasError('email') && formDir.submitted && !staff.get('email').hasError('required'))">Formato do email esta incorreto!</p>


          <p class="descricao">PASSWORD</p>
          <input type="password" class="form-control" [(ngModel)]="password" formControlName="password" [ngClass]="{'required': (staff.get('password').hasError('required') && staff.get('password').touched)
              || (staff.get('password').hasError('required') && formDir.submitted)}">
          <p class="requiredText" *ngIf="(staff.get('password').hasError('required') && staff.get('password').touched)
              || (staff.get('password').hasError('required') && formDir.submitted)">Campo Obrigatório</p>

          <div *ngIf="isAdmin">
            <p class="descricao">DEFINA O PERFIL DO USUÁRIO</p>
            <select formControlName="profile" [ngClass]="{'required': (staff.get('profile').hasError('required') && staff.get('profile').touched)
                    || (staff.get('profile').hasError('required') && formDir.submitted)}">
                     <option value="AdminFactory">ADMINISTRADOR</option>
                     <option value="StaffFactory">FUNCIONÁRIO</option>
                    </select>
            <p class="requiredText" *ngIf="(staff.get('profile').hasError('required') && staff.get('profile').touched)
                    || (staff.get('profile').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
          </div>


        </div>
        <div class="col-sm-4">

          <p class="descricao">CEP</p>
          <input [textMask]="{mask: maskCep}" class="form-control" (blur)="getAddress()" [(ngModel)]="cep" type="text" formControlName="cep" [ngClass]="{'required': (staff.get('cep').hasError('required') && staff.get('cep').touched)
              || (staff.get('cep').hasError('required') && formDir.submitted)}" />
          <p class="requiredText" *ngIf="(staff.get('cep').hasError('required') && staff.get('cep').touched)
              || (staff.get('cep').hasError('required') && formDir.submitted)">Campo Obrigatório</p>

          <p class="descricao">CIDADE</p>
          <input type="text" class="form-control" [(ngModel)]="city" formControlName="city" [ngClass]="{'required': (staff.get('city').hasError('required') && staff.get('city').touched)
              || (staff.get('city').hasError('required') && formDir.submitted)}">
          <p class="requiredText" *ngIf="(staff.get('city').hasError('required') && staff.get('city').touched)
              || (staff.get('city').hasError('required') && formDir.submitted)">Campo Obrigatório</p>

          <p class="descricao">ENDEREÇO</p>
          <input type="text" class="form-control" [(ngModel)]="street" formControlName="street" [ngClass]="{'required': (staff.get('street').hasError('required') && staff.get('street').touched)
              || (staff.get('street').hasError('required') && formDir.submitted)}">
          <p class="requiredText" *ngIf="(staff.get('street').hasError('required') && staff.get('street').touched)
              || (staff.get('street').hasError('required') && formDir.submitted)">Campo Obrigatório</p>

          <p class="descricao">BAIRRO</p>
          <input type="text" class="form-control" [(ngModel)]="neighborhood" formControlName="neighborhood" [ngClass]="{'required': (staff.get('neighborhood').hasError('required') && staff.get('neighborhood').touched)
              || (staff.get('neighborhood').hasError('required') && formDir.submitted)}">
          <p class="requiredText" *ngIf="(staff.get('neighborhood').hasError('required') && staff.get('neighborhood').touched)
              || (staff.get('neighborhood').hasError('required') && formDir.submitted)">Campo Obrigatório</p>

        </div>
        <div class="col-sm-4">


          <p class="descricao">UF</p>
          <input type="text" class="form-control" [(ngModel)]="uf" formControlName="uf" [ngClass]="{'required': (staff.get('uf').hasError('required') && staff.get('uf').touched)
            || (staff.get('uf').hasError('required') && formDir.submitted)}">
          <p class="requiredText" *ngIf="(staff.get('uf').hasError('required') && staff.get('uf').touched)
            || (staff.get('uf').hasError('required') && formDir.submitted)">Campo Obrigatório</p>

          <p class="descricao">TELEFONE</p>

          <input [textMask]="{mask: maskTel}" class="form-control" [(ngModel)]="telephone" type="text" formControlName="telephone" />
          <p class="descricao">CELULAR</p>
          <input [textMask]="{mask: maskCel}" class="form-control" [(ngModel)]="cellphone" type="text" formControlName="cellphone">


        </div>
        <div class="col-sm-12">
          <div class="botoes">
            <button class="botaoVoltar" (click)="closeModal()">VOLTAR</button>
            <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
