<div class="inicial">
  <div class="i1"><input type="text" class="form-control buscar" placeholder="Buscar" aria-describedby="basic-addon1" [(ngModel)]="search" (keyup.enter)="searchEvent()"></div>
  <div class="i2"><button class="mais" routerLink="/rc/gc16/adicionar"></button></div>
</div>

<div class="table-responsive meuInventario">
  <!-- Table -->
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Volume Anual</th>
        <th>Capacidade</th>
        <th>Dias Produtivos</th>
        <th>Fornecedor</th>
        <th>Equipamento</th>
        <th class="opcoes">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gc of data.data | paginate: {   id:'gc16',
                                                      itemsPerPage: data.meta.limit,
                                                      currentPage: data.meta.page,
                                                      totalItems: data.meta.total_docs}">
        <td>{{gc.annualVolume}}</td>
        <td>{{gc.capacity}}</td>
        <td>{{gc.productiveDays}}</td>
        <td>{{gc.supplier.name}}</td>
        <td>{{gc.packing}}</td>
        <td class="teste">
          <button class="editar" [routerLink]="['editar/', gc._id]">Editar</button>
          <button class="excluir" (click)="removeGC16(gc)" >Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="has-text-centered">
    <pagination-controls id="gc16" (pageChange)="pageChanged($event)"
                         autoHide="true"
                         directionLinks="false"></pagination-controls>
</div>



<div class="classVazio" *ngIf="data.data?.length < 1">
  Ainda não existem registros GC16 cadastrados.
</div>
