.modal-title {
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

.close {
  font-size: 25px;
  text-align: right;
}

.modal-header {
  display: block;
}

.btn {
  font-size: 16px;
}

.table {
  font-size: 14px;
}

.cabecalho {
  color: #193349;
}

.cabecalho th {
  border-bottom: solid #193349 1px;
}

td { background-color: white; }

.header {
  display: inline-grid;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: thin;
  margin-bottom: 15px;
}

.header span {
  color: #ef5562;
}

.header p {
  font-weight: bold;
  width: 200px;
}

th {
  border-bottom: none !important;
}
