<section class="bg-resumo">
  <span class="total-embalagens">{{ resume.quantityTotal }} Embalagens totais</span>

  <br>
  <br>

  <div class="grid">
    <div class="item tipo-barra">Pontos de Controle</div>
    <div class="item">
      <div class="progress">
        <div class="progress-bar progress-bar-full" [style.width.%]="progressControle[0]"></div>
        <div class="progress-bar progress-bar-empty" [style.width.%]="progressControle[1]"></div>
      </div>
    </div>

    <div class="item tipo-barra">Em viagem</div>
    <div class="item">
      <div class="progress">
        <div class="progress-bar progress-bar-empty" [style.width.%]="progressViagem[0]"></div>
        <div class="progress-bar progress-bar-full" [style.width.%]="progressViagem[1]"></div>
        <div class="progress-bar progress-bar-empty" [style.width.%]="progressViagem[2]"></div>
      </div>
    </div>

    <!-- <div class="item tipo-barra">Sem sinal</div>
    <div class="item">
      <div class="progress">
        <div class="progress-bar progress-bar-empty" style="width: 85%"></div>
        <div class="progress-bar progress-bar-full" style="width: 15%"></div>
      </div>
    </div> -->
  </div>
</section>