<div class="modalFilho">
  <div class="adicionarUsuarios">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

    <h2>Editar Configurações do Sistema</h2>
    <hr />

    <form novalidate (ngSubmit)="onSubmit(settings)" [formGroup]="settings" #formDir="ngForm">

      <!-- Linha 1 -->
      <div class="row">
        <div class="col-sm-12 col-md-8 campo">
          <p class="descricao-slider">NÍVEL DA BATERIA PARA GERAR ALERTA</p>
          <nouislider [config]="batteryConfig" style="margin-top: 2em;" [formControl]="settings.controls.battery_level_limit"></nouislider>
        </div>

        <div class="col-sm-12 col-md-4 campo">
          <p class="descricao">CICLO DO JOB (MIN)</p>
          <p class="explicacao">Ex. "2 minutos"</p>
          <div class="placeholder" data-placeholder="MINUTOS">
            <input type="number" class="form-control form-control-sm scroll-number" min="1" value="0" step="1"
              formControlName="job_schedule_time_in_sec" />
          </div>
        </div>
      </div>



      <!-- Linha 2 -->
      <div class="row">

        <div class="col-sm-12 col-md-8 campo">
          <p class="descricao-slider">LIMITE DE ACURÁCIA RELEVANTE</p>
          <nouislider [config]="accuracyConfig" style="margin-top: 2em;" [formControl]="settings.controls.range_radius"></nouislider>
        </div>

        <div class="col-sm-12 col-md-4 campo">
          <p class="descricao">VIDA ÚTIL DO HISTÓRICO (DIAS)</p>
          <p class="explicacao">Ex. "2 minutos"</p>
          <div class="placeholder" data-placeholder="MINUTOS">
            <input type="number" min="0" class="form-control form-control-sm scroll-number" value="0" step="1"
              formControlName="job_schedule_time_in_sec" />
          </div>
        </div>
      </div>



      <!-- Linha 3 -->
      <div class="row">
        <div class="col-sm-12 col-md-8 campo">
          <p class="descricao-slider">RAIO DA PLANTA </p>
          <nouislider [config]="radiusConfig" style="margin-top: 2em;" [formControl]="settings.controls.range_radius"></nouislider>
        </div>

        <div class="col-sm-12 col-md-4 campo">
          <p class="descricao">ALERTA SEM SINAL (DIAS)</p>
          <p class="explicacao">Ex. "2 minutos"</p>
          <div class="placeholder" data-placeholder="MINUTOS">
            <input type="number" min="0" class="form-control form-control-sm scroll-number" value="0" step="1"
              formControlName="job_schedule_time_in_sec" />
          </div>
        </div>
      </div>



      <!-- Linha 4 -->
      <div class="row">
        <div class="col-sm-12">
          <p class="descricao">ATIVAR BPLINE</p>
          <bSwitch [switch-off-text]="'Não'" [switch-on-text]="'Sim'" [switch-on-color]="'success'"
            [switch-off-color]="'danger'" [switch-size]="'mini'" [switch-animate]="true" [switch-base-class]="'bootstrap-switch'"
            formControlName="enable_gc16">
          </bSwitch>
        </div>
      </div>

      <!-- Botões de ação -->
      <div class="col-sm-12">
        <div class="botoes">
          <button class="botaoVoltar" (click)="closeModal()">FECHAR</button>
          <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
        </div>
      </div>

    </form>
  </div>
</div>