
h1 {
  padding-bottom: 15px;
  border-bottom-color: #3E4F60;
  border-width: thin;
  border-bottom-style: solid;
  font-weight: 500;
}

h1,
.botaoSalvar,
.botaoVoltar {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-size: 13px;
  border-radius: 0em !important;
}

select {
  background-color: white;
  padding: 7px;
  line-height: 1.25;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: left;
}


.base {
  background-color: white;
  padding: 25px 35px;
  box-shadow: 0px 0px 7px #000;
}

.descricao {
  display: inline;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.explicacao {
  color: #777;
  font-size: 10px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

.campo { margin-bottom: 20px; }

.descricaoVazia {
  height: 15px;
  position: initial;
  display: block;
}


.botoes {
  text-align: center;
}

.botaoRegistrar,
.botaoVoltar {
  border-style: solid;
  border-width: 2px;
  padding: 5px 0px;
  width: 100px;
  font-size: 13px; 
}

.botaoRegistrar:hover,
.botaoVoltar:hover {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.botaoRegistrar:focus,
.botaoVoltar:focus {
  outline: none !important;
}

.botaoRegistrar {
  background-color: white;
  color: #3E4F60;
  border-color: #3E4F60;
}

.botaoRegistrar:hover {
  background-color: #3E4F60;
  color: white;
}

.botaoVoltar {
  background-color: white;
  color: #777;
  border-color: #777;
}

.botaoVoltar:hover {
  background-color: #777;
  color: white;
}

.placeholder { position: relative; }

.placeholder::after {
  position: absolute;
  right: 25px;
  top: 6px;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.6;
}

@media (min-width: 766px) and (max-width: 805px) {
  .descricao {
    font-size: 12.3px;
  }
}

/* Teste wraper */
@media (max-width: 576px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conteudoTop {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 120px;
    margin-right: 120px;
  }
}
