<div class="teste">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-4 quadrado">
      <!-- <img [src]="'../../assets/images/img-fundo.png'" alt=""> -->
      <h1>RECICLAPAC</h1>
      <!-- <div class="col-sm-12 col-md-10 col-lg-8"> -->


      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="wrapper form-group ">
        <p class="titulo">Esqueceu sua senha?</p>
        <p>Não se preocupe, enviaremos um link para que possa redefinir sua senha.</p>

           <form>
           <input type="text" [(ngModel)]="usuario.email" name="email" #formControl="ngModel" email>
           <span *ngIf="formControl.hasError('normalEmailRule')">Is not a email</span>

           <input type="password" [(ngModel)]="usuario.senha" name="password" #formControl="ngModel" password>
           <span *ngIf="(formControl.hasError('digitCharacterRule')) && (formControl.hasError('alphabeticalCharacterRule')) && (formControl.hasError('lowercaseCharacterRule')) && (formControl.hasError('uppercaseCharacterRule'))">Senha fraca</span>
           <span *ngIf="formControl.hasError('digitCharacterRule')">Password should contain at least on digit</span>
           <span *ngIf="formControl.hasError('alphabeticalCharacterRule')">Password should contain at least on alphabetical character</span>
           <span *ngIf="formControl.hasError('lowercaseCharacterRule')">Password should contain at least on lowercase character</span>
           <span *ngIf="formControl.hasError('uppercaseCharacterRule')">Password should contain at least on uppercase character</span>
           </form>

           <!-- <form>
<input type="password" [(ngModel)]="usuario.senha" name="password" #formControl="ngModel" password>
<span *ngIf="formControl.hasError('repeatCharacterRegexRule')">Password contains repeating characters</span>
<span *ngIf="formControl.hasError('digitCharacterRule')">Password should contain at least on digit</span>
<span *ngIf="formControl.hasError('alphabeticalCharacterRule')">Password should contain at least on alphabetical character</span>
<span *ngIf="formControl.hasError('lowercaseCharacterRule')">Password should contain at least on lowercase character</span>
<span *ngIf="formControl.hasError('uppercaseCharacterRule')">Password should contain at least on uppercase character</span>
</form> -->

        <input class="inputSenha"
                type="email"
                placeholder="digite seu email"
                aria-describedby="basic-addon2"
        >
          <p class="emailNaoCadastrado">E-mail inválido</p>
          <p class="emailNaoCadastrado">Este e-mail não está cadastrado</p>
      </div>
      <div class="divBotao">


      <button routerLink="/rc" type="submit">ENTRAR</button>
      </div>
    </form>
      <!-- </div> -->
    </div>
  </div>
</div>
