<div class="teste">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-4 quadrado">
      <h1>RECICLAPAC</h1>

      <form #f="ngForm" >
        <!-- (ngSubmit)="onSubmit(f)" -->
      <div class="wrapper form-group ">
        <p class="titulo">Esqueceu sua senha?</p>
        <p>Não se preocupe, enviaremos um link para que possa redefinir sua senha.</p>
        <form>
             <input class="inputSenha"
                    type="text"
                    [(ngModel)]="emailInput"
                    name="email"
                    placeholder="Digite seu email"
                    #email="ngModel"
                    email

                    (input) = '(inputVazio = false)'
                    (input) = '(aparecerMsg = false)'
                    (input) = '(aparecerMsgEmailInvalido = false)'
                    (blur) = '(inputVazio = false)'
                    (blur) = '(aparecerMsg = false)'
                    (blur) = '(aparecerMsgEmailInvalido = false)'
                    (keyup.enter) = 'testar(emailInput)'
                    [ngClass]="{
                      'bordaVermelha' : inputVazio == true,
                      'bordaVermelha2' : aparecerMsg == true,
                      'bordaVermelha3' : aparecerMsgEmailInvalido == true

                    }"
                    >
             <p class="emailNaoCadastrado" *ngIf="((email.hasError('normalEmailRule'))&&(aparecerMsgEmailInvalido))">E-mail inválido</p>
             <p class="emailNaoCadastrado" *ngIf="(aparecerMsg)">Este e-mail não está cadastrado</p>
             <p class="emailNaoCadastrado" *ngIf="(inputVazio)">E-mail obrigatório</p>
        </form>
      </div>
      <div class="divBotao"><button  (click)='prosseguir()' >ENTRAR</button></div>
    </form>
    </div>
  </div>
</div>
