* { font-family: 'Roboto', sans-serif; }

.teste {
  background-image: url("../../assets/images/img-fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.quadrado {
  background-color: rgba(0,0,0,.8);
  display: inline-block;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divBotao {
  text-align: center;
}

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  opacity: 0.9;
}

input {
  background-color: transparent;
  border-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  display: -webkit-box;
  background-size: contain;
  text-decoration: none;
  color: white;
}

.wrapper {
  margin-top: 25px;
}

@media (min-width: 1080px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.inputSenha {
  background-size: 18px;
  text-decoration: none;
  text-align: left;
}

input:focus {
  outline: none !important;
}

.bordaVermelha {
  outline: none !important;
  border-style: solid;
  border-bottom-color: #d24444;
  border-bottom-width: 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.bordaVermelha2 {
  outline: none !important;
  border-style: solid;
  border-bottom-color: #d24444;
  border-bottom-width: 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.bordaVermelha3 {
  outline: none !important;
  border-style: solid;
  border-bottom-color: #d24444;
  border-bottom-width: 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

p {
  color: white;
  text-align: left;
  font-weight: lighter;
}

.esqueci {
  margin-top: 25px;
}

button {
  padding: 5px 40px;
  background-color: transparent;
  border-radius: 15px;
  color: white;
  border-style: solid;
  border-width: medium;
  border-color: white;
  opacity: 0.7;
  text-align: center;
  margin-top: 25px;
}

button:hover {
  background-color: white;
  color: black;
  border-color: white;
  opacity: 0.7;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

button:focus {
  outline: none;
}

.emailNaoCadastrado {
  color: #d24444;
  font-size: 13px;
}

.titulo {
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #fafafb;
  opacity: 0.5;
}

::-moz-placeholder {
  color: #fafafb;
  opacity: 0.8;
}

:-ms-input-placeholder {
  color: #fafafb;
  opacity: 0.8;
}

:-moz-placeholder {
  color: #fafafb;
  opacity: 0.8;
}
