
p {
  margin-bottom: 6px;
}

.modalFilho {
  max-width: 800px;
  width: 100%;
}

.pac-container {
  z-index: 100000;
}

.tipos {
  display: inline-flex;
}

.botaoRegistrar,
.botaoVoltar,
.botaoDeletar {
  border-style: solid;
  border-width: 2px;
  padding: 5px 0px;
  width: 100px;
  font-size: 13px;
}

.botaoRegistrar:hover,
.botaoVoltar:hover,
.botaoDeletar:hover {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.botaoRegistrar:focus,
.botaoVoltar:focus {
  outline: none !important;
}

.botaoRegistrar {
  background-color: white;
  color: #3E4F60;
  border-color: #3E4F60;
}

.botaoRegistrar:hover {
  background-color: #3E4F60;
  color: white;
}

.botaoDeletar {
  background-color: white;
  color: #d24444;
  border-color: #d24444;
}

.botaoDeletar:hover {
  background-color: #d24444;
  color: white;
}

.botaoVoltar {
  background-color: white;
  color: #777;
  border-color: #777;
}

.botaoVoltar:hover {
  background-color: #777;
  color: white;
}

.botoes {
  text-align: center;
  padding: 15px 0px;
}

.bold {
  font-weight: bold;
}

.alerta {
  display: flex;
}

.alert {
  width: 40px;
  height: 30px;
  background-image: url("../../../assets/images/alert.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  margin-right: 15px;
  margin-top: 10px;
}
