<div class="modalFilho">

  <!-- ========================== -->
  <!-- Template for deleting COMPANY -->
  <div class="detalhes" *ngIf="mType == 'COMPANY'">
    <h2 translate="REGISTER.DELETE.COMPANY_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.TYPE' | translate }}: {{ mObject.type == 'client' ? 'Cliente' : '' }}
      {{ mObject.type == 'owner' ? 'Owner' : ''}} </p>
    <p>{{ 'REGISTER.DELETE.NAME' | translate }}: {{ mObject.name }}</p>
    <p>{{ 'REGISTER.DELETE.STREET' | translate }}: {{ mObject?.address?.street || '-' }} </p>
    <p>{{ 'REGISTER.DELETE.CITY' | translate }}: {{ mObject?.address?.city || '-' }} </p>
    <p>{{ 'REGISTER.DELETE.UF' | translate }}: {{ mObject?.address?.uf || '-' }} </p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.COMPANY_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting USER -->
  <div class="detalhes" *ngIf="mType == 'USER'">
    <h2 translate="REGISTER.DELETE.USER_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.TYPE' | translate }}: {{ mObject.role }}</p>
    <p>{{ 'REGISTER.DELETE.NAME' | translate }}: {{ mObject.full_name }}</p>
    <p>{{ 'REGISTER.DELETE.EMAIL' | translate }}: {{ mObject.email }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.USER_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting FAMILY -->
  <div class="detalhes" *ngIf="mType == 'FAMILY'">
    <h2 translate="REGISTER.DELETE.FAMILY_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.FAMILY' | translate }}: {{ mObject.code }}</p>
    <p>{{ 'REGISTER.DELETE.COMPANY' | translate }}: {{ mObject.company?.name || '-'}}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.FAMILY_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting PACKING -->
  <div class="detalhes" *ngIf="mType == 'PACKING'">
    <h2 translate="REGISTER.DELETE.PACKAGE_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.TAG' | translate }}: {{ mObject.tag.code }}</p>
    <p>{{ 'REGISTER.DELETE.SERIAL' | translate }}: {{ mObject.serial }}</p>
    <p>{{ 'REGISTER.DELETE.VERSION' | translate }}: {{ mObject.tag.version }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.PACKAGE_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting CONTROL POINT -->
  <div class="detalhes" *ngIf="mType == 'CONTROL_POINT'">
    <h2 translate="REGISTER.DELETE.CONTROL_POINT_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.NAME' | translate }}: {{ mObject.name }}</p>
    <p>{{ 'REGISTER.DELETE.DUNS' | translate }}: {{ mObject?.duns || '-' }}</p>
    <p>{{ 'REGISTER.DELETE.LINKED_COMPANY' | translate }}: {{ mObject.company.name }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.CONTROL_POINT_DESCRIPTION"></p>
      <p></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting ROUTE -->
  <div class="detalhes" *ngIf="mType == 'ROUTE'">
    <h2 translate="REGISTER.DELETE.ROUTE_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.FAMILY' | translate }}: {{ mObject.family.code }}</p>
    <p>{{ 'REGISTER.DELETE.SITE_A' | translate }}: {{ mObject.first_point.name }}</p>
    <p>{{ 'REGISTER.DELETE.SITE_B' | translate }}: {{ mObject.second_point.name }}</p>
    <p>{{ 'REGISTER.DELETE.DISTANCE' | translate }}: {{ getFormatedDistance(mObject.distance) }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.ROUTE_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting PROJECT -->
  <div class="detalhes" *ngIf="mType == 'PROJECT'">
    <h2 translate="REGISTER.DELETE.PROJECT_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.NAME' | translate }}: {{ mObject.name }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.PROJECT_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting DEPARTMENT -->
  <div class="detalhes" *ngIf="mType == 'DEPARTMENT'">
    <h2 translate="REGISTER.DELETE.DEPARTMENT_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.NAME' | translate }}: {{ mObject.name }}</p>
    <p>{{ 'REGISTER.DELETE.CONTROL_POINT' | translate }}: {{ mObject.control_point.name }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.DEPARTMENT_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting GC16 -->
  <div class="detalhes" *ngIf="mType == 'BPLINE'">
    <h2 translate="REGISTER.DELETE.BPLINE_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.CONTROL_POINT' | translate }}: {{ mObject.control_point.name }}</p>
    <p>{{ 'REGISTER.DELETE.ANNUAL_VOLUME' | translate }}: {{ mObject.annual_volume }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.BPLINE_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template for deleting control point type -->
  <div class="detalhes" *ngIf="mType == 'CONTROL_POINT_TYPE'">
    <h2 translate="REGISTER.DELETE.CONTROL_POINT_TYPE_TITLE"></h2>
    <hr>
    <p>{{ 'REGISTER.DELETE.NAME' | translate }}: {{ mObject.name }}</p>

    <hr>
    <div class="alerta">
      <span class="alert" aria-hidden="true"></span>
      <p translate="REGISTER.DELETE.BPLINE_DESCRIPTION"></p>
    </div>
  </div>


  <!-- ========================== -->
  <!-- Template default -->
  <div class="botoes">
    <button translate="REGISTER.CANCEL_BUTTON" class="botaoVoltar" (click)="activeModal.close('cancelar')"></button>
    <button translate="REGISTER.DELETE_BUTTON" class="botaoDeletar" (click)="delete()"></button>
  </div>
</div>