<div class="input-group mb-3 d-flex justify-content-between">
  <input type="text" class="form-control mr-4" placeholder="Buscar tipo por nome" aria-describedby="basic-addon1"
    [(ngModel)]="search" (keyup)="searchEvent($event)">

  <button routerLink="cadastrar" class="btn btn-outline-secondary" type="button">Novo</button>
</div>


<div class="table-responsive">
  <table class="table" (mouseleave)="hoveredIndex=null">
    <thead>
      <tr class="cabecalho">
        <th>Tipo do Ponto de Controle</th>
        <th class="opcoes"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allTypes | paginate: {
                                                itemsPerPage: 10,
                                                currentPage: actualPage,
                                                totalItems: allTypes.length};">
        <td>{{ item.name | truncate : 20 }}</td>
        <td class="teste">
          <button class="editar" [routerLink]="['editar/', project._id]">
            EDITAR
          </button>

          <button class="excluir" (click)="removeProject(project)">
            EXCLUIR
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="allTypes.length < 1">
  Ainda não existem projetos cadastrados.
</div>

<br />

<div class="has-text-centered">

  <pagination-controls class="my-pagination" (pageChange)="actualPage = $event" directionLinks="false" autoHide="true">
  </pagination-controls>

</div>