@import '~font-awesome/css/font-awesome.css';

h2 {
  margin-bottom: 0px;
}

.close {
  font-size: 2rem;
  text-align: right;
  margin-right: 5px;
}

.botaoVisualizar {
  font-size: 16px;
  border-radius: 0rem;
}

.botaoVisualizar:focus {
  outline: none;
}

.header {
  display: inline-grid; 
  margin-bottom: 15px;
}

#showDetails {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

#showDetails:hover {
  text-decoration: underline;
}

.header p {
  font-weight: bold;
}

.modalBody span {
  font-weight: bold;
}

.botaoVisualizar {
  padding: 5px 15px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #3E4F60;
  background-color: white;
  color: #3E4F60;
}

.botaoVisualizar:hover {
  background-color: #3E4F60;
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.divBotao {
  text-align: center;
  margin-top: 20px;
}

.info-window-content {
  padding: 6px;
}

img {
  float: right;
  margin: 0 5px 5px 10px;
  background-color: red;
}

.bold {
  font-weight: 700;
}

.input-group {
  width: unset;
}

/*--------*/
/*Checkboxes*/
.checkbox {
  margin: 6px 0px 0px 6px;
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em; 
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

/* ------ */
.input-group-accuracy {
    display: table; 
}

.input-group-accuracy-btn {
    vertical-align: middle;
}

.btn-left-accuracy {
    margin-right: -2px;
}

.btn-right-accuracy {
    margin-left: -2px;
}

.input-group-accuracy-btn > .btn {
    position: relative;
}

.btn {
    padding: 6px 12px; 
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.input-group-accuracy {
    border-radius: 0;
}

.input-group-accuracy .form-control, .input-group-accuracy-btn {
    display: table-cell;
}

.input-group-accuracy .form-control {
    width: 100%;
}

.form-control{
  width: 100% !important;
  font-size: 14px;
}

div#collapseExample > p{
  font-weight: normal;
  margin-bottom: 4px;
}

ngui-map {
  height: calc( 60vh ) !important;
}

.custom-icon-map-plant{
  background-image: url("/assets/images/pin_cp.png");
  background-repeat: no-repeat;
  background-position: center;
  /*height: 43px;*/
  background-size: auto 30px;
}

div.info-window-content > p {
  margin-bottom: 4px;
}

/* filtro acurácia */
.input-group>.input-group-prepend>.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
  padding: 6px 13px;
  right: -2px;
  position: relative;
}

.input-group>.input-group-append>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  margin-left: -1px;
  left: -2px;
  position: relative;
}

.btn-outline-secondary {
  border-color: #ced4da;
}