<div class="">
  <h2 translate="REGISTER.CONTROL_POINT_TYPE.UPDATE_TITLE"></h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mType)" [formGroup]="mType" #formDir="ngForm">
    <div class="campo">
      <p translate="REGISTER.CONTROL_POINT_TYPE.NAME" class="descricao"></p>
      <p translate="REGISTER.CONTROL_POINT_TYPE.NAME_DESC" class="explicacao"></p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'REGISTER.CONTROL_POINT_TYPE.NAME_PLACEHOLDER' | translate }}" aria-describedby="basic-addon2"
          maxlength="50" (focusout)="validateName($event)" [(ngModel)]="name" formControlName="name" [ngClass]="{'required': 
            (mType.get('name').hasError('required') && mType.get('name').touched)
            || (mType.get('name').hasError('required') && formDir.submitted)
            || (mType.get('name').hasError('uniqueValidation'))
            || (mType.get('name').hasError('uniqueValidation') && submitted) 
            || (mType.get('name').hasError('minlength'))
            || (mType.get('name').hasError('minlength') && submitted)
            || (mType.get('name').hasError('pattern'))
            || (mType.get('name').hasError('pattern') && submitted)}">
      </div>

      <p translate="REGISTER.ERROR.REQUIRED" class="requiredText" *ngIf="(mType.get('name').hasError('required') && mType.get('name').touched)
        || (mType.get('name').hasError('required') && formDir.submitted)"> </p>

      <p translate="REGISTER.ERROR.CHECKING" class="explicacao" *ngIf="validateNotTakenLoading"> </p>

      <p translate="REGISTER.ERROR.MIN_5" class="requiredText" *ngIf="(mType.get('name').hasError('minlength')) 
        || (mType.get('name').hasError('minlength') && submitted)"> </p>

      <p translate="REGISTER.ERROR.CP_TYPE_EXISTS" class="requiredText" *ngIf="(mType.get('name').hasError('uniqueValidation')) 
        || (mType.get('name').hasError('uniqueValidation') && submitted)"> </p>

      <p translate="REGISTER.ERROR.WHITE_SPACE" class="requiredText" *ngIf="(mType.get('name').hasError('pattern')) 
        || (mType.get('name').hasError('pattern') && submitted)"> </p>
    </div>

    <br />

    <div class="botoes">
      <button translate="REGISTER.BACK_BUTTON" routerLink="/rc/cadastros/tipo-ponto-controle" class="botaoVoltar"></button>
      <button translate="REGISTER.UPDATE_BUTTON" type="submit" class="botaoRegistrar"></button>
    </div>
    <br />
  </form>
</div>