@import '~font-awesome/css/font-awesome.css';

* {
  font-family: 'Roboto', sans-serif;
}

.meuInventario {
  box-shadow: 0px 0px 5px #000;
  margin-bottom: 25px;
}

.table {
  margin-bottom: 0px;
}

.cabecalho {
  background-color: #3E4F60;
  color: white;
}

span {
  cursor: pointer;
}

h2,
h3 {
  display: inline-flex;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  vertical-align: middle;
  font-weight: 600;
}

select {
  height: 34px;
  margin-left: 10px;
  background-color: WHITE;
  line-height: 1.25;
  border:1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
}

hr {
  margin: 20px 0px 20px 0px;
  border-color: #3E4F60;
  border-width: thin;
}

.tituloClaro {
  color: white;
}

.classVazio {
  background-color: white;
  margin: 0px;
  padding: 20px; 
}

.base-bg{
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0px 0px 7px #000;
  -webkit-box-shadow: 0px 0px 7px #000;
}

.clear-padding {
  padding: 0px;
}

/* td {
  background-color: white;
} */

tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}

.export-button {
  height: 30px;
  cursor: pointer;
 }

 /* Sort table*/
.sort-icons {
  width: 15px; 
  text-align: center; 
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.default-order {
  color: rgba(255, 255, 255, 0.5);
}