* { font-family: 'Roboto', sans-serif; }
.info {
  padding: 10px 20px 10px 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0px 0px 7px #000;
}
.titulo {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: lighgrey;
  border-width: thin;
  border-bottom-style: solid;
  font-family: 'Raleway', sans-serif;

}
.infoData {
  font-size: 9px; color: grey; margin: 0px;
}

.status1 {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#EF5562 97%,#EF5562 97.5%,
    #fff 97.5%,#fff 98%,#EF5562 98%,#EF5562 100%);
}
.status2 {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#F77737 97%,#F77737 97.5%,
    #fff 97.5%,#fff 98%,#F77737 98%,#F77737 100%);
}
.status3 {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#F8BD37 97%,#F8BD37 97.5%,
    #fff 97.5%,#fff 98%,#F8BD37 98%,#F8BD37 100%);
}
.status4 {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#4DC9FF 97%,#4DC9FF 97.5%,
    #fff 97.5%,#fff 98%,#4DC9FF 98%,#4DC9FF 100%);
}
.status5 {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#4C7BFF 97%,#4C7BFF 97.5%,
    #fff 97.5%,#fff 98%,#4C7BFF 98%,#4C7BFF 100%);
}
.status6 {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#9F8CC1 97%,#9F8CC1 97.5%,
    #fff 97.5%,#fff 98%,#9F8CC1 98%,#9F8CC1 100%);
}


.status1:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#EF5562 97%,#EF5562 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#EF5562 98%,#EF5562 100%);
}
.status2:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#F77737 97%,#F77737 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#F77737 98%,#F77737 100%);
}
.status3:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#F8BD37 97%,#F8BD37 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#F8BD37 98%,#F8BD37 100%);
}
.status4:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#4DC9FF 97%,#4DC9FF 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#4DC9FF 98%,#4DC9FF 100%);
}
.status5:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#4C7BFF 97%,#4C7BFF 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#4C7BFF 98%,#4C7BFF 100%);
}
.status6:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#9F8CC1 97%,#9F8CC1 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#9F8CC1 98%,#9F8CC1 100%);
}

.botaoVoltar {
  background-color: #777;
  color: white;
  border: none;
  padding: 5px 20px;
  box-shadow: 0px 0px 7px #000;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.botaoVoltar:hover {
  color: white;
  background-color: #555;
}
