<div class="input-group mb-3 d-flex justify-content-between">
  <input type="text" class="form-control mr-4" placeholder="Buscar" aria-describedby="basic-addon1" [(ngModel)]="search" (keyup)="searchEvent($event)">
  <button routerLink="cadastrar" class="btn btn-outline-secondary" type="button">Novo</button>
</div>

<div class="table-responsive">
  <table class="table" (mouseleave)="hoveredIndex=null">
    <thead>
      <tr class="cabecalho">
        <th *ngFor="let header of headers">
          <span class="noselect d-flex" (click)="headerClick(header)">
            {{ header.label }}
            <span class="sort-icons noselect">
              <i class="fa fa-sort default-order" *ngIf="(header.name !== sort.name)"></i>
              <i class="fa fa-caret-up" *ngIf="(header.name == sort.name) && (sort.order == 'asc')"></i>
              <i class="fa fa-caret-down" *ngIf="(header.name == sort.name) && (sort.order == 'desc')"></i>
            </span>
          </span>
        </th>
        <th class="opcoes"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plant of listOfCompanies | paginate: { 
                                                  itemsPerPage: 10,
                                                  currentPage: actualPage,
                                                  totalItems: data.length}; index as index" (mouseover)='hoveredIndex = index'>
        <td>{{plant.plant_name}}</td>

        <td class="teste">
          <div *ngIf="index==hoveredIndex">
            <button class="editar" [routerLink]="['editar/', plant._id]">
              EDITAR
            </button>
            <button class="excluir" (click)="removePlant(plant)">
              EXCLUIR
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="classVazio" *ngIf="data.length < 1">
  Ainda não existem plantas cadastradas.
</div>
<br />
<div class="has-text-centered">
  <pagination-controls class="my-pagination" (pageChange)="actualPage = $event" directionLinks="false" autoHide="true">
  </pagination-controls>
</div>