<div class="base-bg">
  <h2 class="tituloClaro">EQUIPAMENTOS</h2>

  <!-- Linha divisória -->
  <hr style="margin-top: 10px;">

  <div class="row">
    <div class="col-sm-12 clear-padding">
      <div class="col-sm-4">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="generalEquipamentSearch" (change)="generalInventoryEquipament()" bindValue="packing" [items]="packings"
          bindLabel="packing" placeholder="Selecione um Equipamento">

          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Embalagem:</b> {{item.packing}}
            </div>

            <div>
              <small>
                <b>Fornecedor:</b> {{item.supplier.name}} </small>
            </div>

            <div>
              <small>
                <b> Projeto:</b> {{item.project.name}} </small>
            </div>

          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <br>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <!-- <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>
          <th>Tag</th>

          <th>Fornecedor</th>
          <th>Status Atual</th>
          <th>Planta Atual</th>

          <th>Local</th>
          <th>Bateria</th>
          <th>Temperatura</th>

          <th>Status</th>
          <th>Posições</th>
        </tr> -->
        <tr class="cabecalho">
          <th *ngFor="let item of headers">
            <span class="noselect" (click)="headerClick(item)">
              {{ item.name }}
              <span class="sort-icons noselect">
                <i class="fa fa-sort" *ngIf="item.status == sort[0]"></i>
                <i class="fa fa-caret-up" *ngIf="item.status == sort[1]"></i>
                <i class="fa fa-caret-down" *ngIf="item.status == sort[2]"></i>
                <!-- [ngClass]="{'esconder': item.status !== sort[2]}" -->
              </span>
            </span>
          </th>
          <th>Posições</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let packing of general_equipament.data | paginate: {
                                                        id:'general',
                                                        itemsPerPage: 10,
                                                        currentPage: general_equipament.meta.page,
                                                        totalItems: general_equipament.meta.total_docs}">

          <td>{{ packing?.code || '-' }}</td>
          <td>{{ packing?.serial || '-' }}</td>
          <td>{{ packing.tag?.code || '-' }}</td>

          <td>{{ packing.supplier?.name || '-' }}</td>
          <td>{{ packing.status }}</td>
          <td [tooltip]="getFormatedData(packing.lastCommunication)" style="cursor: default;">{{packing.actual_plant?.plant ? packing.actual_plant?.plant?.plant_name : "Sem Planta" }}</td>

          <td>{{ packing.actual_plant | type }} </td>
          <td>{{ (packing.battery != undefined && packing.battery >= 0) ? ((packing.battery | round) + '%') : 'Sem Registro' }} </td>
          <td style="text-align: center;">{{ packing?.temperature || '-' }} ∘</td>

          <!-- <td>{{ packing.status }}</td> -->
          <td style="text-align: center;">
            <div class="bigger" (click)="openLayer(packing)">
              <div class="det"> </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="general_equipament.data?.length < 1">
      Ainda não foram cadastradas embalagens no sistema.
    </div>
  </div>

  <br>

  <div class="has-text-centered">
    <pagination-controls class="my-pagination" id='general' (pageChange)="general_equipament.meta.page = $event; paginationChanged()"
      directionLinks="false" autoHide="true">
    </pagination-controls>
  </div>
</div>

<br>