@import "~font-awesome/css/font-awesome.css";

h2 {
  margin-bottom: 0rem;
}

label {
  margin: 0px;
}

.mt1 {
  margin-top: 0.5rem !important;
}

.mt2 {
  margin-top: 1rem !important;
}

.flex {
  display: flex;
}

.filter-label {
  color: #a9b5c0;
  font-size: 0.75rem;
}

.close-button {
  position: absolute !important;
  right: -2rem;
  font-size: 2rem;
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  width: 2rem;
  text-align: center;
  border-radius: 6px;
}

#filters-section {
  width: 18rem;
}

.botaoVisualizar {
  font-size: 16px;
  border-radius: 0rem;
}

.botaoVisualizar:focus {
  outline: none;
}

.header {
  display: flex;
  background-color: #f1f3f6;
  padding: 1rem 0rem;
  justify-content: space-around;
  border-radius: 6px;
}

.description-value {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#quantity-results {
  display: flex;
  align-items: center;
}

.modalBody span {
  font-weight: bold;
}

.botaoVisualizar {
  padding: 5px 15px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #3e4f60;
  background-color: white;
  color: #3e4f60;
}

.botaoVisualizar:hover {
  background-color: #3e4f60;
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.divBotao {
  text-align: center;
  margin-top: 20px;
}

.info-window-content {
  padding: 6px;
}

.bold {
  font-weight: 700;
}

/*--------*/
/*Checkboxes*/
.checkbox label {
  display: flex;
  align-items: center;
  align-content: center;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input[type="checkbox"] + .cr > .cr-icon {
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + .cr > .cr-icon {
  opacity: 1;
}

.checkbox input[type="checkbox"]:disabled + .cr {
  opacity: 0.5;
}

/* ------ */
.input-group-accuracy {
  display: table;
}

.input-group-accuracy-btn {
  vertical-align: middle;
}

.btn-left-accuracy {
  margin-right: -2px;
}

.btn-right-accuracy {
  margin-left: -2px;
}

.input-group-accuracy-btn > .btn {
  position: relative;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.input-group-accuracy {
  border-radius: 0;
}

.input-group-accuracy .form-control,
.input-group-accuracy-btn {
  display: table-cell;
}

.input-group-accuracy .form-control {
  width: 100%;
}

.form-control {
  font-size: 0.9rem;
  flex: unset;
  padding: 0.3rem 0.75rem;
}

div#collapseExample > p {
  font-weight: normal;
  margin-bottom: 4px;
}

ngui-map {
  height: 100%;
}

.custom-icon-map-plant {
  background-image: url("/assets/images/pin_cp.png");
  background-repeat: no-repeat;
  background-position: center;
  /*height: 43px;*/
  background-size: auto 30px;
}

div.info-window-content > p {
  margin-bottom: 4px;
}

/* filtro acurácia */
.input-group > .input-group-prepend > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
  padding: 6px 13px;
  right: -2px;
  position: relative;
}

.input-group > .input-group-append > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  margin-left: -1px;
  left: -2px;
  position: relative;
}

.btn-outline-secondary {
  border-color: #ced4da;
}

@media (max-width: 700px) {
  #modal-rack-container {
    overflow-y: scroll;
  }

  #filter-map-container {
    flex-flow: column;
  }

  #filters-section {
    width: 100%;
  }

  #map-section {
    height: 600px;
    margin-top: 1rem !important;
    padding: 0.5rem !important;
  }
}
