* { font-family: 'Roboto', sans-serif; }

.base {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 7px #000;
}
h1 {
  padding-bottom: 15px;
  border-bottom-color: #6382c9;
  border-width: thin;
  border-bottom-style: solid;
}

.descricao {
  display: inline;
  font-weight: bold;
}
.explicacao {
  color: #777;
  font-size: 12px;
}
.campo { margin-bottom: 20px; }
input { font-size: 13px; }

.botaoVoltar {
  background-color: #777;
  color: white;
  border: none;
  padding: 5px;
}
.botaoVoltar:hover { background-color: #555; }
.botaoRegistrar:hover { background-color: #35466d; }

.botaoRegistrar {
  background-color: #6382c9;
  color: white;
}

.botaoVoltar, .botaoRegistrar {
  border: none;
  padding: 5px;
  width: 100px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.botaoDrop {
  background-color: white;
  padding:5px;
  line-height: 1.25;
  border:1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
}

.row { margin-bottom: 20px; }
.dropdown-item { font-size: 12px; }
.dropdown-item:hover { background: lightgrey; }

select {
  background-color: white;
  padding:7px;
  line-height: 1.25;
  border:1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: left;
}

option { color: grey; }
option:hover { background-color: lightgrey; }

.placeholder { position: relative; }

.placeholder::after {
    position: absolute;
    right: 30px;
    top: 5px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
}
