<div class="inicial">
  <div class="i1"><input type="text" class="form-control buscar" placeholder="Buscar" aria-describedby="basic-addon1"></div>
  <div class="i2"><button class="mais" routerLink="/rc/gc16/adicionar"></button></div>
</div>

<div class="table-responsive meuInventario">
  <!-- Table -->
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Código</th>
        <th>MAC</th>
        <th class="opcoes">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CODE</td>
        <td class="penultima">MAC</td>
        <td class="teste">
          <button class="editar">Editar</button>
          <button class="excluir">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
