<div class="">
  <h2>Registrar Planta</h2>
  <hr>
  
  <form novalidate (ngSubmit)="onSubmit(plant)" [formGroup]="plant" #formDir="ngForm">
    <div class="row">
      <div class="col-md-12">

        <div class="campo">
          <p class="descricao">LOCAL</p>
          <input places-auto-complete (place_changed)="placeChanged($event)" [types]="['geocode']" class="form-control" style="margin-bottom: 10px;" placeholder="Digite o local da planta" />
          <p>
            <ngui-map [zoom]="zoom" [center]="center" (mapReady$)="onMapReady($event)" (click)="onClick($event)">
              <marker [position]="pos"></marker>
            </ngui-map>
          </p>
        </div>
      </div>

      <div class="col-md-12 informacoes" >

          <div class="bigger2">
            <div class="fromSun"></div>
          </div>
          <span class="forn">{{this.plant.controls.location.value || 'Nenhuma informação sobre a localidade'}}</span>

      </div>
      <div class="col-md-6">
        <p class="descricao">LATITUDE</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite a latitude" aria-describedby="basic-addon2" formControlName="lat"
          [ngClass]="{'required': (plant.get('lat').hasError('required') && plant.get('lat').touched)
          || (plant.get('lat').hasError('required') && formDir.submitted)}">
        </div>
        <p class="requiredText" *ngIf="(plant.get('lat').hasError('required') && plant.get('lat').touched)
        || (plant.get('lat').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
      </div>
      <div class="col-md-6">
        <p class="descricao">LONGITUDE</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite a longitude" aria-describedby="basic-addon2" formControlName="lng"
          [ngClass]="{'required': (plant.get('lng').hasError('required') && plant.get('lng').touched)
          || (plant.get('lng').hasError('required') && formDir.submitted)}">
        </div>
        <p class="requiredText" *ngIf="(plant.get('lng').hasError('required') && plant.get('lng').touched)
        || (plant.get('lng').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
      </div>
      <br />

      <div class="col-md-12">
        <div class="campo">
          <p class="descricao">NOME</p>
          <p class="explicacao">Ex. "Planta B1"</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite o nome da planta" aria-describedby="basic-addon2" formControlName="plant_name"
            [ngClass]="{'required': (plant.get('plant_name').hasError('required') && plant.get('plant_name').touched)
            || (plant.get('plant_name').hasError('required') && formDir.submitted)}">
          </div>
          <p class="requiredText" *ngIf="(plant.get('plant_name').hasError('required') && plant.get('plant_name').touched)
          || (plant.get('plant_name').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>
      </div>
    </div>
    <br />
    <div class="botoes">
      <button routerLink="/rc/cadastros/planta" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">REGISTRAR</button>
    </div>
    <br />
  </form>
</div>
