<div class="">
  <h2>Registrar Rota</h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mRoute)" [formGroup]="mRoute" #formDir="ngForm">
    <div class="row">
      <div class="col-md-12">
        <alert type="info" *ngIf="!existPacking">
          <strong>Atenção!</strong> Não existe embalagens associadas a esse fornecedor.
        </alert>
      </div>
    </div>

    <div class="row">

      <!-- ============================================== -->
      <!-- Coluna 1 -->
      <div class="col-md-6">

        <!-- Select de familia -->
        <div class="campo">
          <p class="descricao">ASSOCIE UMA FAMÍLIA</p>
          <ng-select (clear)="onClear()" (change)="loadPackings($event)" bindLabel="duns" placeholder="Associe um Fornecedor"
            formControlName="family" [items]="suppliers?.data" [ngClass]="{'required': (mRoute.get('family').hasError('required') && mRoute.get('family').touched) 
            || (mRoute.get('family').hasError('required') && formDir.submitted)}">

            <ng-template ng-label-tmp let-item="item">
              {{item.name}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                <b>Nome:</b> {{item.name}}
              </div>
              <small>
                <b>DUNS:</b> {{item.duns}}
              </small>
            </ng-template>
          </ng-select>

          <p class="requiredText" *ngIf="(mRoute.get('family').hasError('required') && mRoute.get('family').touched)
            || (mRoute.get('family').hasError('required') && formDir.submitted)">Campo
            Obrigatório</p>
        </div>


        <!-- Select do ponto 1 -->
        <div class="campo">
          <p class="descricao">ASSOCIE O PRIMEIRO PONTO DE CONTROLE</p>
          <ng-select (clear)="onClear()" (change)="loadPackings($event)" bindLabel="duns" placeholder="Associe um Fornecedor"
            formControlName="first_point" [items]="suppliers?.data" [ngClass]="{'required': (mRoute.get('first_point').hasError('required') && mRoute.get('first_point').touched) 
            || (mRoute.get('first_point').hasError('required') && formDir.submitted)}">

            <ng-template ng-label-tmp let-item="item">
              {{item.name}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                <b>Nome:</b> {{item.name}}
              </div>
              <small>
                <b>DUNS:</b> {{item.duns}}
              </small>
            </ng-template>
          </ng-select>

          <p class="requiredText" *ngIf="(mRoute.get('first_point').hasError('required') && mRoute.get('first_point').touched)
                    || (mRoute.get('first_point').hasError('required') && formDir.submitted)">Campo
            Obrigatório</p>
        </div>


        <!-- Select do Ponto 2 -->
        <div class="campo">
          <p class="descricao">ASSOCIE O SEGUNDO PONTO DE CONTROLE</p>
          <ng-select (clear)="onClear()" (change)="loadPackings($event)" bindLabel="duns" placeholder="Associe um Fornecedor"
            formControlName="second_point" [items]="suppliers?.data" [ngClass]="{'required': (mRoute.get('second_point').hasError('required') && mRoute.get('second_point').touched) 
            || (mRoute.get('second_point').hasError('required') && formDir.submitted)}">

            <ng-template ng-label-tmp let-item="item">
              {{item.name}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                <b>Nome:</b> {{item.name}}
              </div>
              <small>
                <b>DUNS:</b> {{item.duns}}
              </small>
            </ng-template>
          </ng-select>

          <p class="requiredText" *ngIf="(mRoute.get('second_point').hasError('required') && mRoute.get('second_point').touched)
                    || (mRoute.get('second_point').hasError('required') && formDir.submitted)">Campo
            Obrigatório</p>
        </div>
      </div>



      <!-- ============================================== -->
      <!-- Coluna 2 -->
      <div class="col-md-6">
        <!-- Tempo máximo de viagem  -->
        <div class="campo" formGroupName="traveling_time">
          <p class="descricao">DEFINA UM TEMPO MÁXIMO DE VIAGEM</p>
          <p class="explicacao"></p>
          <div class="row">
            <div class="col-md-6">
              <ngb-timepicker [(ngModel)]="time_max" [seconds]="true" formControlName="max" size="small"></ngb-timepicker>

              <p class="requiredText" *ngIf="(mRoute.get('traveling_time.max').hasError('required') && mRoute.get('traveling_time.max').touched)
                || (mRoute.get('traveling_time.max').hasError('required') && formDir.submitted)">
                Campo Obrigatório</p>
            </div>

            <div class="col-md-6">
              <p>Dias: {{ time_max.hour }}</p>
              <p>Horas: {{ time_max.minute }}</p>
              <p>Minutos: {{ time_max.second }}</p>
            </div>
          </div>
        </div>

        <!-- Tempo minimo de viagem  -->
        <div class="campo" formGroupName="traveling_time">
          <p class="descricao">DEFINA UM TEMPO MÍNIMO DE VIAGEM</p>
          <p class="explicacao"></p>
          <div class="row">
            <div class="col-md-6 no-gutters">
              <ngb-timepicker [(ngModel)]="time_min" [seconds]="true" formControlName="min" size="small"></ngb-timepicker>

              <p class="requiredText" *ngIf="(mRoute.get('traveling_time.max').hasError('required') && mRoute.get('traveling_time.max').touched)
                || (mRoute.get('traveling_time.max').hasError('required') && formDir.submitted)">
                Campo Obrigatório</p>
            </div>

            <div class="col-md-6 no-gutters">
              <p>Dias: {{ time_min.hour }}</p>
              <p>Horas: {{ time_min.minute }}</p>
              <p>Minutos: {{ time_min.second }}</p>
            </div>
          </div>
        </div>

        <!-- Tolerância de atraso -->
        <!-- <div class="campo" formGroupName="time">
          <p class="descricao">DEFINA A TOLERÂNCIA MÁXIMA DE ATRASO</p>
          <p class="explicacao"></p>
          <div class="row">
            <div class="col-md-6">
              <ngb-timepicker [(ngModel)]="time_delay" [seconds]="true" formControlName="delay" size="small"></ngb-timepicker>

              <p class="requiredText" *ngIf="(mRoute.get('time.delay').hasError('required') && mRoute.get('time.delay').touched)
                || (mRoute.get('time.delay').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
            </div>

            <div class="col-md-6">
              <p>Dias: {{time_delay.hour}}</p>
              <p>Horas: {{time_delay.minute }}</p>
              <p>Minutos: {{time_delay.second }}</p>
            </div>
          </div>
        </div> -->
      </div>

    </div>
    <hr class="divisoria" *ngIf="directions">
    <div class="row" *ngIf="directions" style="margin-top: 0px;">
      <div class="col-sm-6 informacoes">
        <div class="bigger2">
          <div class="fromSun"></div>
        </div>
        <span class="forn">{{mRoute['controls'].location['controls'].start_address.value}}</span>
      </div>

      <div class="col-sm-6 informacoes">
        <div class="bigger2">
          <div class="fromSun1"></div>
        </div>
        <span class="forn">{{mRoute['controls'].location['controls'].end_address.value}}</span>
      </div>
    </div>
    <div class="row" *ngIf="directions" style="margin-top: 0px;">
      <div class="col-sm-6 informacoes">
        <div class="bigger2">
          <div class="fromSun2"></div>
        </div>
        <span class="forn">{{mRoute['controls'].location['controls'].distance['controls'].text.value}}</span>
      </div>

      <!-- <div class="col-sm-6 informacoes">
            <div class="bigger2">
              <div class="fromSun"></div>
            </div>
            <span class="forn">{{mRoute['controls'].location['controls'].duration['controls'].text.value}}</span>
          </div> -->
    </div>

    <div class="row">
      <!-- <div class="col-md-12" *ngIf="directions">
      <p>{{this.mRoute.location | json}}</p>
    </div> -->
      <div class="col-md-12">
        <br>
        <ngui-map zoom="13" [center]="center">
          <directions-renderer [suppressMarkers]="false" [draggable]="true" panel="#my-panel" (directions_changed)="directionsChanged()"
            [directions-request]="direction">
          </directions-renderer>
        </ngui-map>
      </div>
    </div>
    <!-- MAP TO DIRECRTIONS -->

    <br />
    <div class="botoes">
      <button routerLink="/rc/cadastros/rotas" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">REGISTRAR</button>
    </div>
    <Br />
  </form>
</div>