<div class="base-bg">
  
  <h2>TEMPO DE AUSÊNCIA</h2>

  <!-- Linha divisória -->
  <hr style="margin-top: 10px;">
    
  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-4 clear-padding">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="absenceSearchEquipamento" 
          (clear)="onClear()" 
          (change)="absenceInventory()" 
          [items]="ab_packings"
          bindLabel="packing" 
          placeholder="Selecione um Equipamento">

          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Embalagem:</b> {{item.packing }}
            </div>

            <div *ngIf="(item.packing != 'Todos')">
              <small> <b>Fornecedor:</b> {{item.supplier.name}} </small>
            </div>

            <div *ngIf="(item.packing != 'Todos')">
              <small> <b> Projeto:</b> {{item.project.name}} </small>
            </div>
          </ng-template>
        </ng-select>
      </div>
      
      <div class="col-sm-4 clear-padding">
        <p>SERIAL</p>
        <ng-select [(ngModel)]="absenceSearchSerial" 
          (clear)="serialCleared()" 
          (change)="absenceInventory()" 
          [items]="abserials"
          bindLabel="serial" 
          bindValue="serial" 
          placeholder="Selecione um Serial">

          <ng-template ng-label-tmp let-item="item">
            {{item.serial}}
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div>
              <small><b>Serial:</b> {{item.serial}}</small>
            </div>
          </ng-template>

        </ng-select>
      </div>
      
      <div class="col-sm-4 clear-padding">
        <p>TEMPO DE AUSÊNCIA</p>
        <input [(ngModel)]="absenceTime" 
          aria-describedby="basic-addon1" 
          class="form-control meuInput"
          placeholder="Tempo" 
          bindLabel="abtime" 
          type="text" 
          (change)="absenceInventory()">
      </div>
      
      <div class="col-sm-4 clear-padding">
        <p>LOCAL DA AUSÊNCIA</p>
        <!-- <select [(ngModel)]="escolhaLocal" (clear)="onClear()" data-style="btn-primary" (change)="absenceInventory()" (ngModelChange)="changeSelect($event)"
          class="selectEq" style="width: 100%; margin-left: 0px;">
          <option value="Supplier">Plantas das Embarcadoras</option>

        </select> -->

        <ng-select [(ngModel)]="escolhaLocal" 
          (change)="changeLocal()" 
          [items]="locals" 
          bindLabel="local" 
          bindValue="local" 
          placeholder="Selecione um Local"></ng-select>
      </div>
    </div>
  </div>

  <div class="table-responsive" style="margin-top: 20px;">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>

          <th>Ultima Planta Conhecida</th>
          <th>Tempo de Ausência</th>
          <th style="text-align: center;">Posição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of absence.data | paginate: {
                                                        id:'absence',
                                                        itemsPerPage: 10,
                                                        currentPage: absence.meta.page,
                                                        totalItems: absence.meta.total_docs}">
          <td>{{packing?.code || '-'}}</td>
          <td>{{packing?.serial || '-'}}</td>
          
          <td>{{packing?.lastplant?.plant_name || 'Sem Registro'}}</td>
          <td>{{packing?.base_time | time }}</td>
          <!--td>{{packing.permanence?.amount_days >= 0 ? (packing.permanence?.amount_days | time) : 'Sem Registro'}}</td-->
          <td style="text-align: center;">
            <div class="bigger" (click)="openAbsence(packing)">
              <div class="det">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="absence.data?.length < 1">
      Sem resultado para os parâmetros informados.
    </div>
  </div>

  <br>
  
  <div class="has-text-centered">
    <pagination-controls class="my-pagination" id="absence" (pageChange)="absence.meta.page = $event;absenceInventoryChangePage()"
      directionLinks="false" autoHide="true">
    </pagination-controls>
  </div>

</div>

<br>