<div class="d-flex justify-content-between mb-3 no-gutters">
  <input
    type="text"
    class="input-filter mr-4"
    placeholder="Buscar família por código"
    aria-describedby="basic-addon1"
    (keyup)="searchEvent($event)"
  />

  <button
    routerLink="cadastrar"
    class="btn btn-outline-secondary"
    type="button"
  >
    Novo
  </button>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr class="cabecalho">
        <th>Código</th>
        <th class="opcoes"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let family of listOfFamilies
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: actualPage,
                  totalItems: listOfFamilies.length
                }
        "
      >
        <td>{{ family.code }}</td>
        <td class="actions">
          <div>
            <button class="editar" [routerLink]="['editar/', family._id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="excluir" (click)="removePacking(family)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="listOfFamilies.length < 1">
  Ainda não existem famílias de embalagens cadastradas.
</div>

<br />

<div class="has-text-centered">
  <pagination-controls
    class="my-pagination"
    (pageChange)="actualPage = $event"
    directionLinks="false"
    autoHide="true"
  >
  </pagination-controls>
</div>
