<div class="painel">
  <div class="corpo">

    <div class="headerInventario">
      <h2>BUSCA POR </h2>
      <select [(ngModel)]="escolhaGeral" data-style="btn-primary" class="selectPrincipal" (ngModelChange)="choiced($event)">
        <option *ngFor="let obj of escolhas" [ngValue]="obj.name">{{obj.name}}</option>
      </select>
      <!-- TEST SOCKER IO REAL TIME   -->
      <!-- {{messages.length}} -->


      <ng-template #content>
        <div class="modalFilho">
          <div class="header">
            <p>INVENTÁRIO</p>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modalBody">
            <p>Informações que o cliente deseja colocar.</p>
          </div>
        </div>
      </ng-template>

      <button class="help" (click)="openHelp(content)">
        <div class="bigger">
          <div class="det2"></div>
        </div>
      </button>
    </div>

    <hr *ngIf="((escolhaGeral == 'FORNECEDOR')||(escolhaGeral == 'EQUIPAMENTO'))">

    <div *ngIf="(escolhaGeral == 'FORNECEDOR')" class="row escolhaFornecedor">
      <div class="col-sm-6">
        <p>DUNS</p>



        <ng-select [ngModel]="supplierSearch" (change)="supplierInventory($event)" [items]="suppliers" bindLabel="duns" placeholder="Selecione um Fornecedor">
          <ng-template ng-label-tmp let-item="item">
            {{item.duns}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Nome:</b> {{item.name}}
            </div>
            <small>
              <b>DUNS:</b> {{item.duns}}
            </small>

          </ng-template>
        </ng-select>

      </div>
      <div class="col-sm-6" *ngIf="name_supplier">
        <p>FORNECEDOR:</p>
        <input type="text" class="form-control meuInput" [ngModel]="name_supplier?.supplier?.name" disabled>

      </div>
    </div>

    <div *ngIf="(escolhaGeral == 'EQUIPAMENTO')" class="row escolhaEquipamento">
      <div class="col-sm-4">

        <p>TIPO</p>
        <select [(ngModel)]="escolhaEquipamento" (clear)="onClear()" data-style="btn-primary" (ngModelChange)="changeSelect($event)"
          class="selectEq">
          <option value="">Escolha</option>
          <option>Inventário Geral</option>
          <option>Tempo de permanência</option>
          <option>Tempo de ausência</option>
          <option>Bateria</option>
          <option>Quantidade</option>
          <option>Geral</option>
        </select>
      </div>

      <!--[Emanoel] INICIO: DASHBOARD GERAL -->
      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Inventário Geral')">
          <p>FORNECEDOR</p>
          <ng-select [items]="suppliers" [(ngModel)]="selectedSupplier" bindLabel="duns" (change)="supplierDetailedInventory($event)" 
             placeholder="Selecione um Fornecedor">

            <ng-template ng-label-tmp let-item="item">
              {{item.name}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                <b>Nome:</b> {{item.name}}
              </div>
              <small>
                <b>DUNS:</b> {{item.duns}}
              </small>
        
            </ng-template>
          </ng-select>
      </div>

      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Inventário Geral') && selectedSupplier">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="selectedEquipament" (clear)="onClear()" (change)="equipamentDetailedInventory($event)" [items]="detailedGeneralpackings"
          bindLabel="packing" placeholder="Selecione um Equipamento">
          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>

              <b>Embalagem:</b> {{item.packing}}
            </div>
            <div>
              <small>
                <b>Fornecedor:</b> {{item.supplier.name}}
              </small>

            </div>
            <div>
              <small>
                <b> Projeto:</b> {{item.project.name}}
              </small>
            </div>

          </ng-template>
        </ng-select>
      </div>
      <!--[Emanoel] FIM: DASHBOARD GERAL -->

      <!--TEMPO DE PERMANêNCIA -->
      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Tempo de permanência')">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="permanenceSearchEquipamento" (clear)="onClear()" (change)="permanenceInventory()" [items]="packings"
          bindLabel="packing" placeholder="Selecione um Equipamento">
          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>

              <b>Embalagem:</b> {{item.packing}}
            </div>
            <div>
              <small>
                <b>Fornecedor:</b> {{item.supplier.name}}
              </small>

            </div>
            <div>
              <small>
                <b> Projeto:</b> {{item.project.name}}
              </small>
            </div>


          </ng-template>
        </ng-select>
      </div>

      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Tempo de permanência')">
        <p>SERIAL</p>
        <ng-select [(ngModel)]="permanenceSearchSerial" (clear)="permanenceInventory()" (change)="permanenceInventorySerial()" [items]="serials"
          bindLabel="serial" bindValue="serial" placeholder="Selecione um Serial">
          <ng-template ng-label-tmp let-item="item">
            {{item.serial}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              <small>
                <b>Serial:</b> {{item.serial}}</small>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <!--TEMPO DE AUSÊNCIA -->
      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Tempo de ausência')">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="absenceSearchEquipamento" (clear)="onClear()" (change)="absenceInventory()" [items]="ab_packings"
          bindLabel="abpacking" placeholder="Selecione um Equipamento">
          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Embalagem:</b> {{item.packing }}
            </div>
            <div *ngIf="(item.packing != 'Todos')">
              <small>
                <b>Fornecedor:</b> {{item.supplier.name}}
              </small>

            </div>
            <div *ngIf="(item.packing != 'Todos')">
              <small>
                <b> Projeto:</b> {{item.project.name}}
              </small>
            </div>


          </ng-template>
        </ng-select>

      </div>
      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Tempo de ausência')">
        <p>SERIAL</p>
        <ng-select [(ngModel)]="absenceSearchSerial" (clear)="absenceInventory()" (change)="absenceInventory()" [items]="abserials"
          bindLabel="abserial" bindValue="serial" placeholder="Selecione um Serial">
          <ng-template ng-label-tmp let-item="item">
            {{item.serial}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              <small>
                <b>Serial:</b> {{item.serial}}</small>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Tempo de ausência')">
        <p>TEMPO DE AUSÊNCIA</p>
        <input [(ngModel)]="absenceTime" aria-describedby="basic-addon1" class="form-control meuInput ng-pristine ng-valid ng-touched"
          placeholder="Tempo" bindLabel="abtime" type="text" (change)="absenceInventory()" value="10">

        <!--_ngcontent-c6="1" ng-reflect-model="absenceTime" -->
      </div>

      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Tempo de ausência')">
        <p>LOCAL DA AUSÊNCIA</p>

        <select [(ngModel)]="escolhaLocal" (clear)="onClear()" data-style="btn-primary" (change)="absenceInventory()" (ngModelChange)="changeSelect($event)"
          class="selectEq">
          <option value="Supplier">Plantas da CEBRACE</option>
          <!--option value="Factory">Plantas dos Clientes</option-->
        </select>
      </div>

      <!-- BATERIA -->
      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Bateria')">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="batterySearch" (change)="batteryInventory()" bindValue="packing" [items]="packings" bindLabel="packing"
          placeholder="Selecione um Equipamento">
          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Embalagem:</b> {{item.packing}}
            </div>
            <div>
              <small>
                <b>Fornecedor:</b> {{item.supplier.name}}
              </small>

            </div>
            <div>
              <small>
                <b> Projeto:</b> {{item.project.name}}
              </small>
            </div>


          </ng-template>
        </ng-select>

      </div>
      <!-- GERAL -->
      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Geral')">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="generalEquipamentSearch" (change)="generalInventoryEquipament()" bindValue="packing" [items]="packings"
          bindLabel="packing" placeholder="Selecione um Equipamento">
          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Embalagem:</b> {{item.packing}}
            </div>
            <div>
              <small>
                <b>Fornecedor:</b> {{item.supplier.name}}
              </small>

            </div>
            <div>
              <small>
                <b> Projeto:</b> {{item.project.name}}
              </small>
            </div>


          </ng-template>
        </ng-select>

      </div>
      <!-- QUANTIDADE -->
      <div class="col-sm-4" *ngIf="(escolhaEquipamento == 'Quantidade')">
        <p>EQUIPAMENTO</p>
        <ng-select [(ngModel)]="quantitySearch" (change)="quantityInventory()" bindValue="packing" [items]="packings" bindLabel="packing"
          placeholder="Selecione um Equipamento">
          <ng-template ng-label-tmp let-item="item">
            {{item.packing}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              <b>Embalagem:</b> {{item.packing}}
            </div>
            <div>
              <small>
                <b>Fornecedor:</b> {{item.supplier.name}}
              </small>

            </div>
            <div>
              <small>
                <b> Projeto:</b> {{item.project.name}}
              </small>
            </div>


          </ng-template>
        </ng-select>

      </div>
      <!-- BOTAO FILTRAR -->

      <!-- <div class="col-sm-2" *ngIf="((escolhaEquipamento == 'Tempo de permanência')||(escolhaEquipamento == 'Bateria')||(escolhaEquipamento == 'Quantidade')||(escolhaEquipamento == 'Geral'))">
        <div class="col-sm-4">
          <button type="button" class="botaoVoltar" (click)="permanenceInventory()" *ngIf="(escolhaEquipamento == 'Tempo de permanência')">
            <span>FILTRAR</span>
          </button>
          <button type="button" class="botaoVoltar" (click)="batteryInventory()" *ngIf="(escolhaEquipamento == 'Bateria')">
            <span>FILTRAR</span>
          </button>
          <button type="button" class="botaoVoltar" (click)="quantityInventory()" *ngIf="(escolhaEquipamento == 'Quantidade')">
            <span>FILTRAR</span>
          </button>
          <button type="button" class="botaoVoltar" (click)="generalInventoryEquipament()" *ngIf="(escolhaEquipamento == 'Geral')">
            <span>FILTRAR</span>
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>

<br />

<div>
  <div *ngIf="(escolhaGeral == 'GERAL')">
    <div class="table-responsive meuInventario">
      <!-- Table -->
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Equipamento</th>
            <th>Projeto</th>
            <th>Descrição</th>
            <th>Fornecedor</th>
            <th>Quantidade</th>
            <th style="width: 80px">Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of general.data | paginate: {
                                                        id: 'geral',
                                                        itemsPerPage: 10,
                                                        currentPage: general.meta.page,
                                                        totalItems: general.meta.total_docs}">
            <td>{{packing.code || '-'}}</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.description || '-'}}</td>
            <td>{{packing.supplier?.name || '-'}}</td>
            <td>{{packing.quantity >= 0 ? packing.quantity : '-'}}</td>

            <td style="text-align: center;">
              <div class="bigger">
                <div class="det" (click)="open(packing)">
                </div>
              </div>
            </td>

          </tr>
        </tbody>
      </table>

      <div class="classVazio" *ngIf="general.data?.length < 1">
        Ainda não existem embalagens cadastradas no sistema.
      </div>
    </div>
    <div class="has-text-centered">
      <pagination-controls class="my-pagination" id='geral' (pageChange)="general.meta.page = $event;generalInventory()" directionLinks="false"
        autoHide="true">
      </pagination-controls>
    </div>
  </div>

  <div *ngIf="(escolhaGeral == 'FORNECEDOR')">
    <h2 class="tituloClaro">FORNECEDOR</h2>
    <br />
    <br />
    <div class="table-responsive meuInventario">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Equipamento</th>
            <th>Descrição</th>
            <th>Projeto</th>
            <th>Quantidade Encontrada</th>
            <th>Planta Atual</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of supplier.data | paginate: {
                                                        id:'supplier',
                                                        itemsPerPage: 10,
                                                        currentPage: supplier.meta.page,
                                                        totalItems: supplier.meta.total_docs}">
            <td>{{packing.code || '-'}}</td>
            <td>{{packing.description || '-'}}</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.quantity || '-'}}</td>
            <td>{{packing.actual_plant?.plant ? packing.actual_plant?.plant?.plant_name : (packing.missing ? "Embalagem Perdida"
              : "Embalagem em Viagem")}}</td>
            <td>{{packing.actual_plant?.local === 'Factory' ? 'Fábrica' : (packing.actual_plant?.local === 'Supplier' ? 'Fornecedor':
              (packing.actual_plant?.local === 'Logistic' ? 'Op. Logístico': 'Sem Registro'))}}</td>

          </tr>
        </tbody>
      </table>

      <div class="classVazio" *ngIf="supplier.data?.length < 1">
        Ainda não existem embalagens associadas a esse fornecedor.
      </div>
    </div>
    <div class="has-text-centered">
      <pagination-controls class="my-pagination" id='supplier' (pageChange)="supplier.meta.page = $event;supplierInventory()" directionLinks="false"
        autoHide="true">
      </pagination-controls>
    </div>
  </div>












<!--[Emanoel] INICIO: DASHBOARD GERAL -->
<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Inventário Geral') )">
  <!-- <div>
    <h2 class="tituloClaro">INVENTÁRIO GERAL</h2>
    <button class="help">
      <div class="bigger">
        <i class="fa fa-download botao-download"></i>
      </div>
    </button>
  </div> -->


  <div class="row">
    <div class="col-xs-10">
      <h2 class="tituloClaro">INVENTÁRIO GERAL</h2>
    </div>
  
    <div class="col-xs-2">
      <button class="botao-opcao" tooltip="Exportar dados para o Excel" (click)="downloadExcel()">
        <div class="bigger">
          <i class="fa fa-download botao-download"></i>
        </div>
      </button>
    </div>
  </div>

  <br />

  <div class="table-responsive meuInventario">
    <table class="table super-table">
      <thead>
        <tr class="cabecalho">
          <th class="empty-super-th"></th>
          <th class="super-th" colspan="2">Inventário Físico</th>
          <th class="super-th" colspan="6">Inventário On Line</th>
          <th class="super-th" colspan="4">Alertas</th>
        </tr>
        <tr class="cabecalho">
          <th>Fornecedor</th>
          <th>Equipamento</th>
          <th>Total de Equipamentos do Fornecedor (TEF)</th>
          <th>Quantidade nas Plantas GM (A)</th>
          <th>Quantidade no Fornecedor (B)</th>
          <th>Quantidade no Transito (C)</th>
          <th>Quantidade em Local Incorreto</th>
          <th>Total do Inventário On Line (TIOL = A+B+C)</th>
          <th>Diferença (TEF - TIOL)</th>
          <th>Atraso de Rota</th>
          <th>Local Incorreto</th>
          <th>Tempo de Permanencia</th>
          <th>Embalagem Ausente</th>
        </tr>
      </thead>

      <tbody *ngFor="let dayData of detailedGeneralInventory.data  | paginate: { 
                                                    id:'detailedGeneralInventory', 
                                                    itemsPerPage: 10, 
                                                    currentPage: detailedGeneralInventory.meta.page, 
                                                    totalItems: detailedGeneralInventory.meta.total_docs}">

        <tr [attr.aria-controls]="dayData.Fornecedor" (click)="loadPlantsInDetailedInventory(dayData); dayData.isCollapsed = !dayData.isCollapsed" [attr.aria-expanded]="!dayData.isCollapsed">
          <td>{{dayData?.supplier?.name || '-'}}</td>
          <td>{{dayData.code}}</td>
          <td>{{dayData.quantityTotal}}</td>
          <td>{{dayData.quantityInFactory}}</td>
          <td>{{dayData.quantityInSupplier}}</td>
          <td>{{dayData.quantityTraveling}}</td>
          <td>{{dayData.quantityProblem}}</td>
          <td>{{dayData.quantityInFactory + dayData.quantityInSupplier + dayData.quantityTraveling }}</td>
          <td>{{dayData.quantityTotal - (dayData.quantityInFactory + dayData.quantityInSupplier + dayData.quantityTraveling)}}</td>
          <td><a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', dayData.code, dayData.project._id, dayData.supplier._id, 4]"><span class="badge badge-pill badge-atrasado">{{dayData.all_alerts[0]?.late_object || '0'}}</span></a></td>
          <td><a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', dayData.code, dayData.project._id, dayData.supplier._id, 2]"><span class="badge badge-pill badge-incorreto">{{dayData.all_alerts[0]?.incorrect_object || '0'}}</span></a></td>
          <td><a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', dayData.code, dayData.project._id, dayData.supplier._id, 5]"><span class="badge badge-pill badge-permanencia">{{dayData.all_alerts[0]?.permanence_time || '0'}}</span></a></td>
          <td><a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', dayData.code, dayData.project._id, dayData.supplier._id, 1]"><span class="badge badge-pill badge-ausente">{{dayData.all_alerts[0]?.lost_object || '0'}}</span></a></td>
        </tr>
<!-- [routerLink]="['list/',alert.packing.code, alert.project._id, alert.supplier._id, alert.status ]"> -->
        <tr>
          <td colspan="13">
            <div [attr.id]="dayData.Fornecedor" [ngbCollapse]="dayData.isCollapsed">
              <div style="float: left; height: 34px; width: 34px;">
                <!-- <i class="fa fa-level-down-alt" data-fa-transform="rotate-90"></i> -->
                <i class="fa fa-level-down icon-inner-level" aria-hidden="true"></i>
              </div>
              <div class="table-responsive meuInventario inner-table">
                <div class="classVazio" *ngIf="detailedGeneralInventory.data?.length < 1">
                  Não há registros a serem exibidos.
                </div>

                <table class="table" *ngIf="detailedGeneralInventory.data?.length > 0">
                  <thead>
                    <tr class="cabecalho">
                      <th>Localização</th>
                      <th>Quantidade</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let plantas of dayData.all_plants" [ngClass]="{'hidden': !getChild(plantas.current_plant.plant)}">
                      <td>{{getChild(plantas.current_plant.plant)}}</td>
                      <!-- <td>{{plantas.quantityTotal}} - {{plantas._id.problem}}</td> -->
                      <td>{{plantas.quantityTotal}} <span *ngIf="plantas._id.problem == true" class="badge badge-secondary">Incorreto</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      
    </table>
  
    <div class="classVazio" *ngIf="detailedGeneralInventory.data?.length < 1">
      Não há registros a serem exibidos.
    </div>
  </div>

  <div class="has-text-centered">
    <pagination-controls class="my-pagination" id="detailedGeneralInventory" 
        (pageChange)="detailedGeneralInventory.meta.page = $event; loadDetailedInventory()" 
        directionLinks="false" autoHide="true"> </pagination-controls>
  </div>
  
</div>
<!--[Emanoel] FIM: DASHBOARD GERAL -->


  <div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Tempo de ausência') )">
    <h2 class="tituloClaro">TEMPO DE AUSÊNCIA</h2>
    <br />
    <br />
    <div class="table-responsive meuInventario">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Equipamento</th>
            <th>Serial</th>
            <th>Último local conhecido</th>
            <th>Tempo de Ausência</th>
            <th>Posição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of absence.data | paginate: {
                                                        id:'absence',
                                                        itemsPerPage: 10,
                                                        currentPage: absence.meta.page,
                                                        totalItems: absence.meta.total_docs}">
            <td>{{packing?.code || '-'}}</td>
            <td>{{packing?.serial || '-'}}</td>
            <td>{{packing?.lastplant?.plant_name || 'Sem Registro'}}</td>
            <td>{{packing?.base_time | time }}</td>
            <!--td>{{packing.permanence?.amount_days >= 0 ? (packing.permanence?.amount_days | time) : 'Sem Registro'}}</td-->
            <td style="text-align: center;">
              <div class="bigger" (click)="openAbsence(packing)">
                <div class="det">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="classVazio" *ngIf="absence.data?.length < 1">
        Realize uma pesquisa valida.
      </div>
    </div>
    <div class="has-text-centered">
      <pagination-controls class="my-pagination" id="absence" (pageChange)="absence.meta.page = $event;absenceInventoryChangePage()"
        directionLinks="false" autoHide="true">
      </pagination-controls>
    </div>
  </div>

  <div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Tempo de permanência') && !serial)">
    <h2 class="tituloClaro">TEMPO DE PERMANÊNCIA</h2>
    <br />
    <br />
    <div class="table-responsive meuInventario">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Equipamento</th>
            <th>Serial</th>
            <th>Projeto</th>
            <th>Planta Atual</th>
            <th>Local</th>
            <th>Tempo na Planta</th>
            <th>DUNS</th>
            <th>Fornecedor</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of permanence.data | paginate: {
                                                          id:'permanence',
                                                          itemsPerPage: 10,
                                                          currentPage: permanence.meta.page,
                                                          totalItems: permanence.meta.total_docs}">
            <td>{{packing.code || '-'}}</td>
            <td>{{packing.serial || '-'}}</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.actual_plant?.plant ? packing.actual_plant?.plant?.plant_name : (packing.missing ? "Embalagem Perdida"
              : "Embalagem em Viagem")}}</td>
            <td>{{packing.actual_plant?.local === 'Factory' ? 'Fábrica' : (packing.actual_plant?.local === 'Supplier' ? 'Fornecedor':
              (packing.actual_plant?.local === 'Logistic' ? 'Op. Logístico': 'Sem Registro'))}}</td>
            <td>{{packing.permanence?.amount_days >= 0 ? (packing.permanence?.amount_days | time) : 'Sem Registro'}}</td>
            <td>{{packing.supplier?.duns || '-'}}</td>
            <td>{{packing.supplier?.name || '-'}}</td>

          </tr>
        </tbody>
      </table>

      <div class="classVazio" *ngIf="permanence.data?.length < 1">
        Realize uma pesquisa valida.
      </div>
    </div>
    <div class="has-text-centered">
      <pagination-controls class="my-pagination" id="permanence" (pageChange)="permanence.meta.page = $event;permanenceInventory()"
        directionLinks="false" autoHide="true">
      </pagination-controls>
    </div>
  </div>


  <div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Tempo de permanência') && serial)">
    <h2 class="tituloClaro">TEMPO DE PERMANÊNCIA</h2>
    <br />
    <br />
    <div class="table-responsive meuInventario">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Data de Entrada</th>
            <th>Horário de Entrada</th>
            <th>Duns</th>
            <th>Fornecedor</th>
            <th>Permaneceu na Planta </th>
            <th>Local</th>
            <th>Tempo na Planta</th>
            <th>Tempo de Referência BPline (Dias)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of permanence.data | paginate: {
                                                        id: 'permanenceHistoric',
                                                        itemsPerPage: 10,
                                                        currentPage: permanence.meta.page,
                                                        totalItems: permanence.meta.total_docs}">
            <td>{{packing.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{packing.date | date:'mediumTime'}}</td>
            <td>{{packing.supplier?.duns || '-'}}</td>
            <td>{{packing.supplier?.name || '-'}}</td>
            <td>{{packing.status == 'NORMAL' || packing.status == undefined? packing.plant?.plant.plant_name : (packing.status
              == 'MISSING' ? 'Embalagem Perdida' : 'Embalagem Viajando') }}</td>
            <td>{{packing.plant?.local === 'Factory' ? 'Fábrica' : (packing.plant?.local === 'Supplier' ? 'Fornecedor': (packing.plant?.local
              === 'Logistic' ? 'Op. Logístico': 'Sem Registro'))}}</td>
            <td>{{packing.permanence_time >= 0 ? (packing.permanence_time | time) : 'Sem Registro'}}</td>
            <td>{{packing.actual_gc16?.days >= 0 ? packing.actual_gc16?.days : '-'}}</td>

          </tr>

        </tbody>


      </table>
      <div class="classVazio" *ngIf="permanence.data?.length < 1">
        Não existem embalagens cadastradas com essas credências.
      </div>
    </div>
    <div class="has-text-centered">
      <pagination-controls class="my-pagination" id="permanenceHistoric" (pageChange)="permanence.meta.page = $event;permanenceInventorySerial()"
        directionLinks="false" autoHide="true">
      </pagination-controls>
    </div>
  </div>

  <div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Bateria'))">
    <h2 class="tituloClaro">BATERIA BAIXA</h2>
    <br />
    <br />
    <div class="table-responsive meuInventario">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Equipamento</th>
            <th>Serial</th>
            <th>Projeto</th>
            <th>Planta Atual</th>
            <th>Local</th>
            <th>Bateria</th>
            <th>Nível</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of battery.data | paginate: {
                                                        id:'battery',
                                                        itemsPerPage: 10,
                                                        currentPage: battery.meta.page,
                                                        totalItems: battery.meta.total_docs}">
            <td>{{packing.code || '-'}}</td>
            <td>{{packing.serial || '-'}}</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.actual_plant?.plant ? packing.actual_plant?.plant?.plant_name : (packing.missing ? "Embalagem Perdida"
              : "Embalagem em Viagem")}}</td>
            <td>{{packing.actual_plant?.local === 'Factory' ? 'Fábrica' : (packing.actual_plant?.local === 'Supplier' ? 'Fornecedor':
              (packing.actual_plant?.local === 'Logistic' ? 'Op. Logístico': 'Sem Registro'))}}</td>
            <td>{{packing.battery >= 0 ? (packing.battery | round) : 'Sem Registro'}} %</td>

            <td>{{packing?.battery > 80 ? 'Alta' : (packing?.battery > 40 ? 'Medio' : 'Baixa') }}</td>

          </tr>
        </tbody>
      </table>

      <div class="classVazio" *ngIf="battery.data?.length < 1">
        Ainda não foram cadastradas embalagens no sistema.
      </div>
    </div>
    <div class="has-text-centered">
      <pagination-controls class="my-pagination" id='battery' (pageChange)="battery.meta.page = $event;batteryInventory()" directionLinks="false"
        autoHide="true">
      </pagination-controls>
    </div>
  </div>
  <div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Geral'))">
    <h2 class="tituloClaro">EQUIPAMENTOS</h2>
    <br />
    <br />
    <div class="table-responsive meuInventario">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Equipamento</th>
            <th>Serial</th>
            <th>Projeto</th>
            <th>Fornecedor</th>
            <th>Planta Atual</th>
            <th>Local</th>
            <th>Tag</th>
            <th>Bateria</th>
            <th>Projeto</th>
            <th>Temperatura</th>
            <th>Posições</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of general_equipament.data | paginate: {
                                                        id:'general',
                                                        itemsPerPage: 10,
                                                        currentPage: general_equipament.meta.page,
                                                        totalItems: general_equipament.meta.total_docs}">

            <td>{{packing?.code || '-'}}</td>
            <td>{{packing?.serial || '-'}}</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.supplier?.name || '-'}}</td>
            <td>{{packing.actual_plant?.plant ? packing.actual_plant?.plant?.plant_name : (packing.missing ? "Embalagem Perdida"
              : "Embalagem em Viagem")}}</td>
            <td>{{packing.actual_plant?.local === 'Factory' ? 'Fábrica' : (packing.actual_plant?.local === 'Supplier' ? 'Fornecedor':
              (packing.actual_plant?.local === 'Logistic' ? 'Op. Logístico': 'Sem Registro'))}}</td>
            <td>{{packing.tag?.code || '-'}}</td>
            <td>{{packing.battery >= 0 ? (packing.battery | round) : 'Sem Registro'}} %</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing?.temperature || '-'}} ∘</td>
            <td style="text-align: center;">
              <div class="bigger" (click)="openLayer(packing)">
                <div class="det">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="classVazio" *ngIf="general_equipament.data?.length < 1">
        Ainda não foram cadastradas embalagens no sistema.
      </div>
    </div>
    <div class="has-text-centered">
      <pagination-controls class="my-pagination" id='general' (pageChange)="general_equipament.meta.page = $event;generalInventoryEquipament()"
        directionLinks="false" autoHide="true">
      </pagination-controls>
    </div>
  </div>

  <div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Quantidade'))">
    <h2 class="tituloClaro"> QUANTIDADE</h2>
    <br />
    <br />
    <div class="table-responsive meuInventario">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>DUNS</th>
            <th>Projeto</th>
            <th>Fornecedor</th>
            <th>Planta</th>
            <th>Local</th>
            <th>Quantidade</th>
            <th>Min</th>
            <th>Max</th>
            <th>Diferença</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let packing of quantity.data | paginate: {
                                                        id:'quantity',
                                                        itemsPerPage: 10,
                                                        currentPage: quantity.meta.page,
                                                        totalItems: quantity.meta.total_docs}">

            <td>{{packing.supplier?.duns || '-'}}</td>
            <td>{{packing.project?.name || '-'}}</td>
            <td>{{packing.supplier?.name || '-'}}</td>
            <td>{{packing.actual_plant?.plant ? packing.actual_plant?.plant?.plant_name : (packing.missing ? "Embalagem Perdida"
              : "Embalagem em Viagem")}}</td>
            <td>{{packing.actual_plant?.local === 'Factory' ? 'Fábrica' : (packing.actual_plant?.local === 'Supplier' ? 'Fornecedor':
              (packing.actual_plant?.local === 'Logistic' ? 'Op. Logístico': 'Sem Registro'))}}</td>
            <td>{{packing.quantity || '-'}}</td>
            <td>{{packing.actual_gc16 ? (packing.actual_gc16.min == 0 ? 0 : packing.actual_gc16.min) : '-'}}</td>
            <td>{{packing.actual_gc16 ? (packing.actual_gc16.max == 0 ? 0 : packing.actual_gc16.max) : '-'}}</td>
            <td>{{packing.actual_gc16 ? (packing.actual_gc16?.min > packing.quantity ? (packing.quantity-packing.actual_gc16?.min)
              : (packing.actual_gc16?.max
              < packing.quantity ? packing.quantity-packing.actual_gc16?.max : 'NP')) : '-' }}</td>
                <td>{{packing.missing ? 'Perdida': (packing.problem ? 'Local Errado' : (packing.traveling ? 'Viajando' : 'Sem
                  Anormalidade')) }}</td>

          </tr>
        </tbody>
      </table>
      <div class="classVazio" *ngIf="quantity.data?.length < 1">
        Realize uma pesquisa valida.
      </div>

    </div>
    <div class="resumo">
      <h3 class="definicao">TOTAL: </h3>
      <h3 class="numero">{{quantity.meta?.total_packings || 0}}</h3>
    </div>
    <div class="resumo">
      <h3 class="definicao">DIFERENÇA: </h3>
      <h3 class="numero">{{quantity.meta?.missing || 0}}</h3>
    </div>
    <div class="has-text-centered">
      <pagination-controls id='quantity' class="my-pagination" (pageChange)="quantity.meta.page = $event;quantityInventory()" directionLinks="false"
        autoHide="true">
      </pagination-controls>
    </div>

  </div>

</div>

<div>


  <!-- TEST SOCKER IO REAL TIME   -->
  <!-- 
<input type="text"  [(ngModel)]="message">
<button (click)="sendMessage()"></button> -->


</div>