<div class="painel">
  <div class="corpo">

    <div class="headerInventario">
      <h2>BUSCA POR </h2>
      <select [(ngModel)]="escolhaGeral" data-style="btn-primary" class="selectPrincipal">
         <option selected><div class="ge">GERAL</div></option>
         <option >EQUIPAMENTO</option>
         <option >FORNECEDOR</option>
      </select>
    </div >

    <hr *ngIf="((escolhaGeral == 'FORNECEDOR')||(escolhaGeral == 'EQUIPAMENTO'))">

    <div *ngIf="(escolhaGeral == 'FORNECEDOR')" class="row escolhaFornecedor">
      <div class="col-sm-4">
        <p>DUNS</p>
        <select2 class="selectInventario" [data]="suppliers?.data" (valueChanged)="supplierInventory($event)" [options]="{ placeholder: 'Search ..'}"></select2>
      </div>
      <div class="col-sm-4" *ngIf="this.name_supplier">
        <p>FORNECEDOR:</p>
        <p>{{name_supplier?.supplier?.name}}</p>
      </div>
    </div>

    <div *ngIf="(escolhaGeral == 'EQUIPAMENTO')" class="row escolhaEquipamento">
      <div class="col-sm-4">

        <p>TIPO</p>
        <select [(ngModel)]="escolhaEquipamento" data-style="btn-primary" (ngModelChange)="changeSelect($event)" class="selectEq">
           <option value="">Escolha</option>
           <option>Tempo de permanência</option>
           <option>Bateria</option>
           <option>Quantidade</option>
        </select>
      </div>

      <!--TEMPO DE PERMANêNCIA -->
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Tempo de permanência')">
        <p>EQUIPAMENTO</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="permanenceSearchEquipamento" (keyup.enter)="permanenceInventory()" (blur)="permanenceInventory()">
      </div>
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Tempo de permanência')">
        <p>SERIAL</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="permanenceSearchSerial" (keyup.enter)="permanenceInventory()" (blur)="permanenceInventory()" >
      </div>
      <!-- BATERIA -->
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Bateria')">
        <p>EQUIPAMENTO</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="batterySearch" (keyup.enter)="batteryInventory()" (blur)="batteryInventory()">
      </div>
      <!-- QUANTIDADE -->
      <div class="col-sm-3" *ngIf="(escolhaEquipamento == 'Quantidade')">
        <p>EQUIPAMENTO</p>
        <input type="text" class="form-control meuInput" [(ngModel)]="quantitySearch" (keyup.enter)="quantityInventory()" (blur)="quantityInventory()" >
      </div>
      <!-- BOTAO FILTRAR -->
      <div class="col-sm-2" *ngIf="((escolhaEquipamento == 'Tempo de permanência')||(escolhaEquipamento == 'Bateria')||(escolhaEquipamento == 'Quantidade'))">
        <div class="col-sm-4">
            <button type="button" class="botaoVoltar" onclick="permanenceInventory()" *ngIf="(escolhaEquipamento == 'Tempo de permanência')"><span>FILTRAR</span></button>
            <button type="button" class="botaoVoltar" onclick="batteryInventory()" *ngIf="(escolhaEquipamento == 'Bateria')"><span>FILTRAR</span></button>
            <button type="button" class="botaoVoltar" onclick="quantityInventory()" *ngIf="(escolhaEquipamento == 'Quantidade')"><span>FILTRAR</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div>
<div *ngIf="(escolhaGeral == 'GERAL')">
  <div class="table-responsive meuInventario">
    <!-- Table -->
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Descrição</th>
          <th>Fornecedor</th>
          <th>Quantidade</th>
          <th style="width: 80px">Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of general.data | paginate: {
                                                        itemsPerPage: 10,
                                                        currentPage: general.meta.page,
                                                        totalItems: general.meta.total_docs}">
          <td>{{packing.code}}</td>
          <td>{{packing.description}}</td>
          <td>{{packing.supplier?.name}}</td>
          <td>{{packing.quantity}}</td>
          <td style="text-align: center;">
            <div class="bigger">
              <div class="det" (click)="open()">
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="(escolhaGeral == 'FORNECEDOR')">
      <h2 class="tituloClaro">FORNECEDOR</h2>
      <br />
      <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Descrição</th>
          <th>Quantidade Encontrada</th>
          <th>Planta</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of supplier.data | paginate: {
                                                        itemsPerPage: 10,
                                                        currentPage: supplier.meta.page,
                                                        totalItems: supplier.meta.total_docs}">
          <td>{{packing.code}}</td>
          <td>{{packing.description}}</td>
          <td>{{packing.quantity}}</td>
          <td>{{packing.actual_plant?.name || '-'}}</td>

          <td class="text-center"> <i class="glyphicon glyphicon-eye-open"></i></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Tempo de permanência') && !serial)">
  <h2 class="tituloClaro">TEMPO DE PERMANÊNCIA</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>
          <th>Planta</th>
          <th>Tempo (dias)</th>
          <th>DUNS</th>
          <th>Fornecedor</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of permanence.data | paginate: {
                                                        itemsPerPage: 10,
                                                        currentPage: permanence.meta.page,
                                                        totalItems: permanence.meta.total_docs}">
          <td>{{packing.code}}</td>
          <td>{{packing.serial}}</td>
          <td>{{packing.actual_plant?.name || '-'}}</td>
          <td>{{packing.permanence?.amount_days || '-'}}</td>
          <td>{{packing.supplier?.duns || '-'}}</td>
          <td>{{packing.supplier?.name || '-'}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Tempo de permanência') && serial)">
  <h2 class="tituloClaro">TEMPO DE PERMANÊNCIA</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Data</th>
          <th>Horário</th>
          <th>Duns</th>
          <th>Fornecedor</th>
          <th>Local</th>
          <th>Tempo (Dias)</th>
          <th>Tempo de Referência GC16 (Dias)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of permanence.data | paginate: {
                                                        itemsPerPage: 10,
                                                        currentPage: permanence.meta.page,
                                                        totalItems: permanence.meta.total_docs}">
          <td>{{packing.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{packing.date | date:'shortTime'}}</td>
          <td>{{packing.supplier?.duns || '-'}}</td>
          <td>{{packing.supplier?.name || '-'}}</td>
          <td>{{packing.plant?.name || '-'}}</td>
          <td>{{packing.permanence_time || '-'}}</td>
          <td>{{packing.packing?.gc16?.supplierStock?.days || '-'}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Bateria'))">
  <h2 class="tituloClaro">BATERIA BAIXA</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>
          <th>Planta Atual</th>
          <th>Bateria</th>
          <th>Nível</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of battery.data | paginate: {
                                                        itemsPerPage: 10,
                                                        currentPage: battery.meta.page,
                                                        totalItems: battery.meta.total_docs}">
          <td>{{packing.code}}</td>
          <td>{{packing.serial}}</td>
          <td>{{packing.actual_plant?.name || '-'}}</td>
          <td>{{packing?.battery || 0}} %</td>
          <td>{{packing?.battery > 80 ? 'Alta' : (packing?.battery > 40 ? 'Medio' : 'Baixa')}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="((escolhaGeral == 'EQUIPAMENTO')&&(escolhaEquipamento == 'Quantidade'))">
  <h2 class="tituloClaro"> QUANTIDADE</h2>
  <br />
  <br />
  <div class="table-responsive meuInventario">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Serial</th>
          <th>DUNS</th>
          <th>Fornecedor</th>
          <th>Planta</th>
          <th>Quantidade</th>
          <th>Min</th>
          <th>Max</th>
          <th>Diferença</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of quantity.data | paginate: {
                                                        itemsPerPage: 10,
                                                        currentPage: quantity.meta.page,
                                                        totalItems: quantity.meta.total_docs}">
          <td>{{packing.serial}}</td>
          <td>{{packing.supplier?.duns}}</td>
          <td>{{packing.supplier?.name}}</td>
          <td>{{packing.actual_plant?.name || 'Não Registrado'}}</td>
          <td>{{packing.quantity }}</td>
          <td>{{packing.gc16?.supplierStock?.QuantContainerSs || '-'}}</td>
          <td>{{packing.gc16?.supplierStock?.QuantContainerSsMax || '-'}}</td>
          <td>{{packing.gc16?.supplierStock?.QuantContainerSs > packing.quantity ? (packing.quantity-packing.gc16?.supplierStock?.QuantContainerSs) : (packing.gc16?.supplierStock?.QuantContainerSsMax < packing.quantity ? packing.quantity-packing.gc16?.supplierStock?.QuantContainerSsMax :  'OK')  }}</td>
          <td>{{packing.missing ? 'Perdida': (packing.problem ? 'Local Errado' : 'OK') }}</td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="resumo">
    <h3 class="definicao">TOTAL: </h3><h3 class="numero">{{quantity.meta?.total_packings || 0}}</h3>
  </div>
  <div class="resumo">
    <h3 class="definicao">DIFERENÇA: </h3><h3 class="numero">{{quantity.meta?.missing || 0}}</h3>
  </div>
</div>

</div>
