<div class="conteudoTop">
  <div class="painel">
    <div class="corpo">

      <!-- Cabeçalho -->
      <div class="headerInventario">

        <h2>BUSCA POR </h2>

        <select [(ngModel)]="escolhaGeral" data-style="btn-primary" class="selectPrincipal" (ngModelChange)="choiced($event)">
          <option *ngFor="let obj of escolhas" [ngValue]="obj.name">{{obj.name}}</option>
        </select>

        <!-- Modal de informações -->
        <ng-template #content>
          <div class="modalFilho">
            <div class="header">
              <p>INVENTÁRIO</p>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modalBody">
              <p>Informações que o cliente deseja colocar.</p>
            </div>
          </div>
        </ng-template>

        <button class="help" (click)="openHelp(content)">
          <div class="bigger">
            <div class="det2"></div>
          </div>
        </button>
      </div>

      <!-- Linha divisória -->
      <hr *ngIf="(escolhaGeral == 'EQUIPAMENTO')">

      <!-- Filtros de EQUIPAMENTO -->
      <div *ngIf="(escolhaGeral == 'EQUIPAMENTO')" class="row escolhaEquipamento">
        <div class="col-sm-4">

          <p>TIPO</p>
          <select [(ngModel)]="escolhaEquipamento" (clear)="onClear()" data-style="btn-primary" (ngModelChange)="changeSelect($event)"
            class="selectEq">
            <option value="">Escolha</option>
            <option>Inventário Geral</option>
            <option>Tempo de permanência</option>
            <option>Tempo de ausência</option>
            <option>Bateria</option>
            <option>Quantidade</option>
            <option>Geral</option>
          </select>
        </div>

      </div>

    </div>
  </div>

  <br/>

  <!-- Componentes -->
  <div>

    <!-- Relatório Geral -->
    <app-geral *ngIf="(escolhaGeral == 'GERAL')"></app-geral>

    <!-- Relatório Inventário Geral -->
    <app-inventario-geral *ngIf="(escolhaGeral == 'EQUIPAMENTO') && (escolhaEquipamento == 'Inventário Geral')"></app-inventario-geral>

    <!-- Relatório de Tempo de Permanência -->
    <app-inventario-permanencia *ngIf="(escolhaGeral == 'EQUIPAMENTO') && (escolhaEquipamento == 'Tempo de permanência')"></app-inventario-permanencia>

    <!-- Relatório de Ausência -->
    <app-inventario-ausencia *ngIf="(escolhaGeral == 'EQUIPAMENTO') && (escolhaEquipamento == 'Tempo de ausência')"></app-inventario-ausencia>

    <!-- Relatório de Bateria -->
    <app-inventario-bateria *ngIf="(escolhaGeral == 'EQUIPAMENTO') && (escolhaEquipamento == 'Bateria')"></app-inventario-bateria>

    <!-- Relatório de Quantidade -->
    <app-inventario-quantidade *ngIf="(escolhaGeral == 'EQUIPAMENTO') && (escolhaEquipamento == 'Quantidade')"></app-inventario-quantidade>

    <!-- Relatório Equipamento Geral -->
    <app-inventario-equipamento-geral *ngIf="(escolhaGeral == 'EQUIPAMENTO') && (escolhaEquipamento == 'Geral')"></app-inventario-equipamento-geral>

    <!-- Relatório Fornecedor -->
    <app-fornecedor *ngIf="(escolhaGeral == 'FORNECEDOR')"></app-fornecedor>

  </div>

</div>