.meuInput {
  width: 400px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px #000;
}
.meuInventario {
  box-shadow: 0px 0px 7px #000;
}
.table {
margin-bottom: 0px;
}
.alerta {
  width:25px;
  height: 25px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  position: relative;
  border-radius: 1em;
}
td {
  background-color: white;
}
.form-control {
  font-size: 15px;
}
.row1 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.alerta img {
  width: 15px;
  height: 15px;
}
.cabecalho {
  background-color: #6382c9;
  color: white;
}
.infoData {
  font-size: 9px; color: grey; margin: 0px;
}
.atrasado {
  background: radial-gradient(#db3a3a 5%, #db3a3a 45%, #fff 45%, #fff 62%, #db3a3a 62%);
}
.ok {
  background: radial-gradient(#34d83e 5%, #34d83e 45%, #fff 45%, #fff 62%, #34d83e 62%);
}
.quase {
  background: radial-gradient(#d6d63c 5%, #d6d63c 45%, #fff 45%, #fff 62%, #d6d63c 62%);
}
