.meuInput {
  width: 50vw;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px #000;
}
.meuInventario {
  box-shadow: 0px 0px 7px #000;
}
.table {
margin-bottom: 0px;
}
.alerta {
  width:25px;
  height: 25px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  position: relative;
  border-radius: 1em;
}
td {
  background-color: white;
}
.form-control {
  font-size: 15px;
}
.row1 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.alerta img {
  width: 15px;
  height: 15px;
}
.cabecalho {
  background-color: #6382c9;
  color: white;
}
.infoData {
  font-size: 9px; color: grey; margin: 0px;
}
.perdido {
  background: radial-gradient(#EF5562 5%, #EF5562 45%, #fff 45%, #fff 62%, #EF5562 62%);
}
.parado {
  background: radial-gradient(#5D8DD7 5%, #5D8DD7 45%, #fff 45%, #fff 62%, #5D8DD7 62%);
}
.incorreto {
  background: radial-gradient(#a08dc2 5%, #a08dc2 45%, #fff 45%, #fff 62%, #a08dc2 62%);
}
span {
  cursor: pointer;
}
