<div class="conteudoTop">
  <div class="conteudoHome">
    <div class="header">
      Timeline
      <button routerLink="/rc/alertas" class="botaoVoltar">VOLTAR</button>
    </div>


    <div class="painel">
      <div class="quadradoPequeno" 
        [tooltip]="getAlertText(alert.status)" 
        placement="bottom" 
        (click)="open(alert?.packing?._id,alert.status)"
        [ngClass]="{
          'status0' : getAlertCode(alert.current_state) == 0,
          'status1' : getAlertCode(alert.current_state) == 1,
          'status2' : getAlertCode(alert.current_state) == 2,
          'status3' : getAlertCode(alert.current_state) == 3,
          'status4' : getAlertCode(alert.current_state) == 4,
          'status5' : getAlertCode(alert.current_state) == 5,
          'status6' : getAlertCode(alert.current_state) == 6 }"
        *ngFor="let alert of listOfAlerts | paginate: {   
                                              id:'list',
                                              itemsPerPage: 10,
                                              currentPage: listOfAlertsActualPage,
                                              totalItems: listOfAlerts.length}">
        <div class="esquerda">
          <span class="codigo" tooltip="Código da Embalagem">{{alert.family.code}}</span>
          <br />
          <span class="descricao" tooltip="Data do Alerta">{{alert.created_at | date}}</span>
        </div>

        <div class="direita">
          <span class="fornecedor" 
            tooltip="Ultima planta em que foi visto" 
            *ngIf="getAlertCode(alert.current_state) == 1 || getAlertCode(alert.current_state) == 4" 
            [ngClass]="{
              'fornecedor0' : getAlertCode(alert.current_state) == 0,
              'fornecedor1' : getAlertCode(alert.current_state) == 1,
              'fornecedor2' : getAlertCode(alert.current_state) == 2,
              'fornecedor3' : getAlertCode(alert.current_state) == 3,
              'fornecedor4' : getAlertCode(alert.current_state) == 4,
              'fornecedor5' : getAlertCode(alert.current_state) == 5,
              'fornecedor6' : getAlertCode(alert.current_state) == 6 }"> {{alert.plant != null ? alert.plant?.plant_name : 'Inf. Indespo.'}}
          </span>
          <span class="fornecedor" 
            tooltip="Planta Atual" 
            *ngIf="getAlertCode(alert.current_state) != 1 && getAlertCode(alert.current_state) != 4" 
            [ngClass]="{
              'fornecedor0' : getAlertCode(alert.current_state) == 0,
              'fornecedor1' : getAlertCode(alert.current_state) == 1,
              'fornecedor2' : getAlertCode(alert.current_state) == 2,
              'fornecedor3' : getAlertCode(alert.current_state) == 3,
              'fornecedor4' : getAlertCode(alert.current_state) == 4,
              'fornecedor5' : getAlertCode(alert.current_state) == 5,
              'fornecedor6' : getAlertCode(alert.current_state) == 6 }">{{alert.plant != null ? alert.plant?.plant_name : 'Inf. Indespo.'}}</span>
          <br />
          <span class="quantidade" 
            tooltip="Código Serial da Embalagem" 
            [ngClass]="{
              'quantidade0' : getAlertCode(alert.current_state) == 0,
              'quantidade1' : getAlertCode(alert.current_state) == 1,
              'quantidade2' : getAlertCode(alert.current_state) == 2,
              'quantidade3' : getAlertCode(alert.current_state) == 3,
              'quantidade4' : getAlertCode(alert.current_state) == 4,
              'quantidade5' : getAlertCode(alert.current_state) == 5,
              'quantidade6' : getAlertCode(alert.current_state) == 6 }">{{alert.serial}}</span>
        </div>
      </div>

      <div style="width: 100%;" *ngIf="data?.data?.length > 1 ">
        <br />
        <div class="has-text-centered">
          <pagination-controls id='list' class="my-pagination" (pageChange)="pageChanged($event)" directionLinks="false" autoHide="true">
          </pagination-controls>
        </div>
      </div>

    </div>
  </div>