<div class="modalFilho">
  <div class="header">
    <h2>Detalhes da Embalagem</h2>
    
    <p>
      <span class="badge badge-secondary">Código: {{rack.code}}</span>
      <span class="badge badge-secondary" style="margin-left:5px;">Serial: {{rack.serial}}</span>
      <span class="badge badge-secondary" style="margin-left:5px;">TAG: {{rack.code_tag}}</span>
    </p>

    <p>Fornecedor: {{rack.supplier?.name}} </p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeAlerta.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modalBody">

    <div class="table-responsive tabela">
      <table class="table table-hover">
        <thead>
          <tr class="cabecalho">
            <th class="semBorda">Planta</th>
            <th class="semBorda">Quantidade de Embalagens</th>
            <th class="semBorda">Projeto</th>
            <th class="semBorda">Local</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rack of data.data">
            <td>{{rack.status}}</td>
            <td>{{rack.quantity}}</td>
            <td>{{rack.project?.name}}</td>
            <td>{{rack.actual_plant?.plant ? (rack.actual_plant?.local === 'Factory' ? 'Fábrica' : (rack.actual_plant?.local
              === 'Supplier' ? 'Fornecedor': (rack.actual_plant?.local === 'Logistic' ? 'Op. Logístico': 'Não Registrado')))
              : 'Sem registro'}}</td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="has-text-centered">
      <pagination-controls id='component' class="my-pagination" (pageChange)="pageChanged($event)" directionLinks="false" autoHide="true">
      </pagination-controls>
    </div>

  </div>

</div>