* { font-family: 'Roboto', sans-serif; }
.info {
  padding: 10px 4% 10px 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0px 0px 7px #000;
}
.titulo {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: lighgrey;
  border-width: thin;
  border-bottom-style: solid;
  font-family: 'Raleway', sans-serif;

}

.infoData {
  font-size: 9px; color: grey; margin: 0px;
}

.perdido {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#EF5562 97%,#EF5562 97.5%,
    #fff 97.5%,#fff 98%,#EF5562 98%,#EF5562 100%);
}
.incorreto {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#a08dc2 97%,#a08dc2 97.5%,
    #fff 97.5%,#fff 98%,#a08dc2 98%,#a08dc2 100%);
}
.parado {
  background: linear-gradient(to right,
    #fff 0%,#fff 97%,#5D8DD7 97%,#5D8DD7 97.5%,
    #fff 97.5%,#fff 98%,#5D8DD7 98%,#5D8DD7 100%);
}


.perdido:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#EF5562 97%,#EF5562 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#EF5562 98%,#EF5562 100%);
}
.incorreto:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#a08dc2 97%,#a08dc2 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#a08dc2 98%,#a08dc2 100%);
}
.parado:hover {
  background: linear-gradient(to right,
    #e0e0e0 0%,#e0e0e0 97%,#5D8DD7 97%,#5D8DD7 97.5%,
    #e0e0e0 97.5%,#e0e0e0 98%,#5D8DD7 98%,#5D8DD7 100%);
}

/*Amarelo de maysa d6d63c*/
.esquerda{
  float: left;
}
.direita {
  float: right;
  text-align: right;
}
.perdido2 {
  border-color: #EF5562;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
  background-color: transparent;
  color: #EF5562;
}
.parado2 {
  border-color: #5D8DD7;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
  background-color: transparent;
  color: #5D8DD7;
  }
.incorreto2 {
  border-color: #a08dc2;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
  background-color: transparent;
  color: #a08dc2;
}

.perdido2, .parado2, .incorreto2 {
    font-weight: bold;
}

span {
  font-weight: normal;
}
