<!-- <div class="panel-body info" *ngFor="let embalagem of embalagens"
[ngClass]="{
  'atrasado' : embalagem.status == 'atrasado',
  'ok' : embalagem.status == 'ok',
  'quase' : embalagem.status == 'quase'
}"
[routerLink]=[embalagem.id]
>
{{embalagem.nome}}
<p class="infoData">{{embalagem.ultimaAtualizacao}}</p>
</div>
<router-outlet></router-outlet> -->

<!--(click)="open(embalagem) -->
<p class="titulo">Timeline</p>
<div class="panel-body info" *ngFor="let alert of alerts"
[ngClass]="{
  'atrasado' : alert.status == '02',
  'ok' : alert.status == '03',
  'quase' : alert.status == '01'
}"
[routerLink]=[alert._id.hash,alert.status]
>
{{alert.packing.code}}
<p class="infoData">{{alert.packing.type}}</p>
<p class="infoData">{{alert.quantity}}</p>
<p class="infoData">{{alert.supplier.name}}</p>
</div>
<router-outlet></router-outlet>
