* { font-family: 'Roboto', sans-serif; }
.col-sm-6, .col-sm-5, .col-sm-7 {
  margin: 0px;
  padding: 0px;
}

.info {
  padding: 10px 4% 10px 10px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0px 0px 7px #000;
}
.header {
  margin-bottom: 25px;
  padding-bottom: 19px;
  border-bottom-color: #fff;
  border-width: thin;
  border-bottom-style: solid;
  margin-bottom: 25px;
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;

}
.tit1 {
    color: black;
}
.tit1, .lg1, .lg2, .lg3, .lg4, .lg5, .lg6 {
  font-size: 12px;
  display: inline-block;
  text-align: center;
}
 .lg1, .lg2, .lg3, .lg4, .lg5, .lg6 {
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  width: 150px !important;
  text-align: center;
}
.lg1 {  background-color: #EF5562;}
.lg2 {  background-color: #F77737;}
.lg3 {  background-color: #F8BD37;}
.lg4 {  background-color: #4DC9FF;}
.lg5 {  background-color: #4C7BFF;}
.lg6 {  background-color: #9F8CC1;}

.forn {
  font-size: 12px;
  color: #666666;
}
.bigger {
  position: relative;
  font-size: 12px;
  color: #666666;
  display: inline-block;
}
.f1 , .f2, .f3, .f4, .f5, .f6 {
  width: 10px;
  height: 10px;
  /*padding-left: 15px;*/
  vertical-align: middle;
}
.f1 {
  -webkit-mask-box-image: url("../../../../assets/images/usuario1.png");
  background-color: #EF5562;
}
.f2 {
  -webkit-mask-box-image: url("../../../../assets/images/usuario1.png");
  background-color: #F77737;
}
.f3 {
  -webkit-mask-box-image: url("../../../../assets/images/usuario1.png");
  background-color: #F8BD37;
}
.f4 {
  -webkit-mask-box-image: url("../../../../assets/images/usuario1.png");
  background-color: #4DC9FF;
}
.f5 {
  -webkit-mask-box-image: url("../../../../assets/images/usuario1.png");
  background-color: #4C7BFF;
}
.f6 {
  -webkit-mask-box-image: url("../../../../assets/images/usuario1.png");
  background-color: #9F8CC1;
}


.interrogacao1{
  background-color: transparent;
  border: none;
  text-align: right;
  float: right;
  background-image: url("../../../../assets/images/interrogacao.png");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}
.interrogacao2{
  background-color: transparent;
  border: none;
  text-align: right;
  float: right;
  background-image: url("../../../../assets/images/interrogacao.png");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}
.button:focus {
  border: none!important;
  outline: none!important;
}
.infoData {
  font-size: 9px; color: grey; margin: 0px;
}

.perdido2, .parado2, .incorreto2 {
    font-weight: bold;
}

span {
  font-weight: normal;
}
label {
  font-weight: normal;
  color: black;
  font-size: 12px;
}
.botaoOk{
  padding: 3px 15px;
  background-color: #777;
  color: white;
  border: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 14px;
}
.botaoOk:hover {
  color: white;
  background-color: #555;
}
.modalFilho p {
  color: black;
  font-size: 15px;
}
/*COMEÇANDO O NOVO AGORA*/
.painel {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.quadradoPequeno {
  width: 24%;
  height: auto;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 20px 10px 10px 10px;
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 0.4%;
  margin-right: 0.4%
}
.status1 {
  background: linear-gradient(to bottom,
     #EF5562 0%,#EF5562 10%, #ffffff 10%,#ffffff 13%,
     #EF5562 13%,#EF5562 16%,#ffffff 16%,#ffffff 100%);
     border-left-color: #EF5562;
     border-right-color: #EF5562;
     border-bottom-color: #EF5562;
}
.status2 {
  background: linear-gradient(to bottom,
     #F77737 0%,#F77737 10%, #ffffff 10%,#ffffff 13%,
     #F77737 13%,#F77737 16%,#ffffff 16%,#ffffff 100%);
     border-left-color: #F77737;
     border-right-color: #F77737;
     border-bottom-color: #F77737;
}
.status3 {
  background: linear-gradient(to bottom,
     #F8BD37 0%,#F8BD37 10%, #ffffff 10%,#ffffff 13%,
     #F8BD37 13%,#F8BD37 16%,#ffffff 16%,#ffffff 100%);
     border-left-color: #F8BD37;
     border-right-color: #F8BD37;
     border-bottom-color: #F8BD37;
}
.status4 {
  background: linear-gradient(to bottom,
     #4DC9FF 0%,#4DC9FF 10%, #ffffff 10%,#ffffff 13%,
     #4DC9FF 13%,#4DC9FF 16%,#ffffff 16%,#ffffff 100%);
     border-left-color: #4DC9FF;
     border-right-color: #4DC9FF;
     border-bottom-color: #4DC9FF;
}
.status5 {
  background: linear-gradient(to bottom,
     #4C7BFF 0%,#4C7BFF 10%, #ffffff 10%,#ffffff 13%,
     #4C7BFF 13%,#4C7BFF 16%,#ffffff 16%,#ffffff 100%);
     border-left-color: #4C7BFF;
     border-right-color: #4C7BFF;
     border-bottom-color: #4C7BFF;
}
.status6 {
  background: linear-gradient(to bottom,
     #9F8CC1 0%,#9F8CC1 10%, #ffffff 10%,#ffffff 13%,
     #9F8CC1 13%,#9F8CC1 16%,#ffffff 16%,#ffffff 100%);
     border-left-color: #9F8CC1;
     border-right-color: #9F8CC1;
     border-bottom-color: #9F8CC1;
}

.status1:hover {
  background: linear-gradient(to bottom,
     #EF5562 0%,#EF5562 10%, #d3d3d3 10%,#d3d3d3 13%,
     #EF5562 13%,#EF5562 16%,#d3d3d3 16%,#d3d3d3 100%);
     border-left-color: #EF5562;
     border-right-color: #EF5562;
     border-bottom-color: #EF5562;
}
.status2:hover {
  background: linear-gradient(to bottom,
     #F77737 0%,#F77737 10%, #d3d3d3 10%,#d3d3d3 13%,
     #F77737 13%,#F77737 16%,#d3d3d3 16%,#d3d3d3 100%);
     border-left-color: #F77737;
     border-right-color: #F77737;
     border-bottom-color: #F77737;
}
.status3:hover {
  background: linear-gradient(to bottom,
     #F8BD37 0%,#F8BD37 10%, #d3d3d3 10%,#d3d3d3 13%,
     #F8BD37 13%,#F8BD37 16%,#d3d3d3 16%,#d3d3d3 100%);
     border-left-color: #F8BD37;
     border-right-color: #F8BD37;
     border-bottom-color: #F8BD37;
}
.status4:hover {
  background: linear-gradient(to bottom,
     #4DC9FF 0%,#4DC9FF 10%, #d3d3d3 10%,#d3d3d3 13%,
     #4DC9FF 13%,#4DC9FF 16%,#d3d3d3 16%,#d3d3d3 100%);
     border-left-color: #4DC9FF;
     border-right-color: #4DC9FF;
     border-bottom-color: #4DC9FF;
}
.status5:hover {
  background: linear-gradient(to bottom,
     #4C7BFF 0%,#4C7BFF 10%, #d3d3d3 10%,#d3d3d3 13%,
     #4C7BFF 13%,#4C7BFF 16%,#d3d3d3 16%,#d3d3d3 100%);
     border-left-color: #4C7BFF;
     border-right-color: #4C7BFF;
     border-bottom-color: #4C7BFF;
}
.status6:hover {
  background: linear-gradient(to bottom,
     #9F8CC1 0%,#9F8CC1 10%, #d3d3d3 10%,#d3d3d3 13%,
     #9F8CC1 13%,#9F8CC1 16%,#d3d3d3 16%,#d3d3d3 100%);
     border-left-color: #9F8CC1;
     border-right-color: #9F8CC1;
     border-bottom-color: #9F8CC1;
}

.esquerda{
  float: left;
  text-align: left;
}
.direita {
  float: right;
  text-align: left;
}
.descricao {
  color: #6b6b6b;
  font-size: 11.5px;
}
.fornecedor, .quantidade {
  background-repeat: no-repeat;
  padding-left: 15px;
  vertical-align: middle;
  font-size: 12px;
  color: #666666;
}

.fornecedor {   background-size: 10px; }
.fornecedor1 {  background-image: url("../../../../assets/images/local1.png");}
.fornecedor2 {  background-image: url("../../../../assets/images/local2.png");}
.fornecedor3 {  background-image: url("../../../../assets/images/local3.png");}
.fornecedor4 {  background-image: url("../../../../assets/images/local4.png");}
.fornecedor5 {  background-image: url("../../../../assets/images/local5.png");}
.fornecedor6 {  background-image: url("../../../../assets/images/local6.png");}

.quantidade {   background-size: 11px; }
.quantidade1 {  background-image: url("../../../../assets/images/quant1.png");}
.quantidade2 {  background-image: url("../../../../assets/images/quant2.png");}
.quantidade3 {  background-image: url("../../../../assets/images/quant3.png");}
.quantidade4 {  background-image: url("../../../../assets/images/quant4.png");}
.quantidade5 {  background-image: url("../../../../assets/images/quant5.png");}
.quantidade6 {  background-image: url("../../../../assets/images/quant6.png");}

@media (min-width: 1880px){
  .quadradoPequeno{ width: 24%; }
}
@media (min-width: 1700px) and (max-width: 1880px) {
  .quadradoPequeno{ width: 32%; }
}
@media (min-width: 1555px) and (max-width: 1699px) {
  .quadradoPequeno{ width: 24%; }
}
@media (min-width: 1400px) and (max-width: 1554px) {
  .quadradoPequeno{ width: 32%; }
}
@media (min-width: 1276px) and (max-width: 1399px) {
  .quadradoPequeno{ width: 24%; }
}
@media (min-width: 1050px) and (max-width: 1275px) {
  .quadradoPequeno{ width: 24%; }
}
@media (min-width: 600px) and (max-width: 1049px) {
  .quadradoPequeno{ width: 32%; }
}
@media (max-width: 599px) {
  .quadradoPequeno{ width: 49%; }
}
@media (max-width: 576px) {
  .quadradoPequeno { height: auto; text-align: center;  padding-top: 25px;}
  .esquerda, .direita { float:none; text-align: center; }
}
.aumentar {
  height: 90px;
}

@media (max-width: 576px) {	.conteudoHome {		padding: 0px;  } }
@media (min-width: 576px) and (max-width: 768px) {	.conteudoHome {		padding: 0px;  } }
@media (min-width: 768px) and (max-width: 992px) {	.conteudoHome {		padding: 0px;  } }
@media (min-width: 992px) and (max-width: 1200px) {	.conteudoHome {		padding: 0px 30px;  } }
@media (min-width: 1200px) {	.conteudoHome {		padding: 0px 60px;  } }
@media (min-width: 1400px) {	.conteudoHome {		padding: 0px 60px;  } }
@media (min-width: 1700px) {	.conteudoHome {		padding: 0px 60px;  } }

/*@media (min-width: 746px) and (max-width: 850px) {	.quadradoPequeno {		height: 90px;  } }
@media (min-width: 1050px) and (max-width: 1150px) {	.quadradoPequeno {		height: 90px;  } }*/

/*Div avisando que não tem alertas*/
.externa, .interna {
  background-color: white;
}
.externa {
  padding: 5px;
}
.interna {
  border-style: solid;
  border-color: #777;
  border-width: thin;
  padding: 20px;
  margin: 0px;
  /*text-align: center;*/
}
.imagemInterrogacao {
  width: 50px;
  height: 90px;
  /*height: 40px;*/
	background-image: url("../../../../assets/images/interrogacao2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
  /*position: absolute;*/
  display: flex;
  /*float: right;*/
  text-align: center;
  background-color: transparent;
  border:none;
}
.imagemInterrogacao:hover {
  background-color: none;
  border: none;
  outline: none;
  /*cursor: none;*/
}
.imagemInterrogacao:focus {
  outline: none;
}
.divTexto {
  text-align: left;
  padding-top: 20px;
}
@media (max-width: 576px) {
  .divTexto {
    text-align: center;
  }
}
.titulo, .texto {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}
.titulo {
  font-weight: 900;
}
.divImagem {
  text-align: -webkit-center;
}
/*Teste*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
