<div class="">
  <h1>EDITAR PLATAFORMA</h1>
  <br />
  <form novalidate (ngSubmit)="onSubmit(project)" [formGroup]="project">
    <div class="campo">
      <p class="descricao">NOME</p>
      <p class="explicacao">Ex. "Plataforma B1"</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Digite o nome do projeto" aria-describedby="basic-addon2" [(ngModel)]="name" formControlName="name">
      </div>
    </div>
    <br />
    <div class="botoes">
      <button routerLink="/rc/cadastros/plataforma" class="botaoVoltar">Voltar</button>
      <button type="submit" class="botaoRegistrar">ATUALIZAR</button>
    </div>
    <Br />
  </form>
</div>
