<div class="painel">
  <div class="corpo">

    <h2>Embalagens do Sistema</h2>

    <hr>

    <section class="bg-resumo">
      <span class="total-embalagens">120 Embalagens totais</span>

      <br>
      <br>

      <div class="grid">
        <div class="item tipo-barra">Pontos de Controle</div>
        <div class="item">
          <div class="progress">
            <div class="progress-bar progress-bar-full" style="width: 25%"></div>
            <div class="progress-bar progress-bar-empty" style="width: 75%"></div>
          </div>
        </div>

        <div class="item tipo-barra">Em viagem</div>
        <div class="item">
          <div class="progress">
            <div class="progress-bar progress-bar-empty" style="width: 25%"></div>
            <div class="progress-bar progress-bar-full" style="width: 60%"></div>
            <div class="progress-bar progress-bar-empty" style="width: 15%"></div>
          </div>
        </div>

        <div class="item tipo-barra">Sem sinal</div>
        <div class="item">
          <div class="progress">
            <div class="progress-bar progress-bar-empty" style="width: 25%"></div>
            <div class="progress-bar progress-bar-full" style="width: 60%"></div>
            <div class="progress-bar progress-bar-empty" style="width: 15%"></div>
          </div>
        </div>
      </div>
    </section>


    <!-- ////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////// -->

    <!-- ////////////////////////////////////////////////////////////////////// -->
    <!-- Nos Pontos de Controle -->
    <section class="grupo-categoria">
      <h3>Nos Pontos de Controle</h3>

      <div class="categoria-progress">
        <div class="progress-bar status-incorreta" style="width: 5%"></div>
        <div class="progress-bar status-permanencia" style="width: 10%"></div>
        <div class="progress-bar progress-bar-empty" style="width: 85%"></div>
      </div>

      <!-- Local Incorreto -->
      <section>
        <div class="linha-categoria status-incorreta">
          <div class="tick-categoria">

            <div class="quantidade-categoria status-incorreta">
              10
            </div>

            <span class="nome-categoria">Local Incorreto</span>

            <button class="botao-collapse" (click)="localIncorretoCollapsed = !localIncorretoCollapsed" [attr.aria-controls]="conteudoLocalIncorreto">

              <span class="button-line"></span>
              <span class="button-line"></span>
              <span class="button-line"></span>
            </button>

          </div>
        </div>

        <!-- Conteúdo Local Incorreto -->
        <div [attr.id]="conteudoLocalIncorreto" [ngbCollapse]="!localIncorretoCollapsed">
          <div class="">
            Hello, local incorreto!
          </div>
        </div> 
      </section>

      <!-- ////////////////////////////////////////////////////////////////////// -->
      <!-- Tempo de Permanência -->
      <section>
        <div class="linha-categoria status-permanencia">
          <div class="tick-categoria">
      
            <div class="quantidade-categoria status-permanencia">
              10
            </div>
      
            <span class="nome-categoria">Tempo de Permanência</span>
      
            <button class="botao-collapse" (click)="tempoDePermanenciaCollapsed = !tempoDePermanenciaCollapsed" [attr.aria-controls]="conteudoTempoDePermanencia">
      
              <span class="button-line"></span>
              <span class="button-line"></span>
              <span class="button-line"></span>
            </button>
      
          </div>
        </div>
      
        <!-- Conteúdo Tempo de Permanência -->
        <div [attr.id]="conteudoTempoDePermanencia" [ngbCollapse]="!tempoDePermanenciaCollapsed">
          <div class="">
            Hello, Tempo de Permanência!
          </div>
        </div>
      </section>

    </section>


    <!-- ////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////// -->


    <!-- ////////////////////////////////////////////////////////////////////// -->
    <!-- Em Viagem -->
    <section class="grupo-categoria">
      <h3>Em Viagem</h3>
    
      <div class="categoria-progress">
        <div class="progress-bar status-atrasada" style="width: 25%"></div>
        <div class="progress-bar status-ausente" style="width: 10%"></div>
        <div class="progress-bar progress-bar-empty" style="width: 65%"></div>
      </div>
    
      <!-- Embalagens Atrasadas -->
      <section>
        <div class="linha-categoria status-atrasada">
          <div class="tick-categoria">
    
            <div class="quantidade-categoria status-atrasada">
              10
            </div>
    
            <span class="nome-categoria">Embalagens Atrasadas</span>
    
            <button class="botao-collapse" (click)="localIncorretoCollapsed = !localIncorretoCollapsed" [attr.aria-controls]="conteudoLocalIncorreto">
    
              <span class="button-line"></span>
              <span class="button-line"></span>
              <span class="button-line"></span>
            </button>
    
          </div>
        </div>
    
        <!-- Conteúdo Embalagens Atrasadas -->
        <div [attr.id]="conteudoLocalIncorreto" [ngbCollapse]="!localIncorretoCollapsed">
          <div class="">
            Hello, Embalagens Atrasadas!
          </div>
        </div>
      </section>
    
      <!-- ////////////////////////////////////////////////////////////////////// -->
      <!-- Embalagens Ausentes -->
      <section>
        <div class="linha-categoria status-ausente">
          <div class="tick-categoria">
    
            <div class="quantidade-categoria status-ausente">
              10
            </div>
    
            <span class="nome-categoria">Embalagens Ausentes</span>
    
            <button class="botao-collapse" (click)="tempoDePermanenciaCollapsed = !tempoDePermanenciaCollapsed" [attr.aria-controls]="conteudoTempoDePermanencia">
    
              <span class="button-line"></span>
              <span class="button-line"></span>
              <span class="button-line"></span>
            </button>
    
          </div>
        </div>
    
        <!-- Conteúdo Embalagens Atrasadas -->
        <div [attr.id]="conteudoTempoDePermanencia" [ngbCollapse]="!tempoDePermanenciaCollapsed">
          <div class="">
            Hello, Embalagens Atrasadas!
          </div>
        </div>
      </section>
    
    </section>


    <!-- ////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////// -->

    <!-- ////////////////////////////////////////////////////////////////////// -->
    <!-- Sem Sinal -->
    <section class="grupo-categoria">
      <h3>Sem Sinal</h3>
    
      <div class="categoria-progress">
        <div class="progress-bar status-sem-sinal" style="width: 5%"></div>
        <div class="progress-bar progress-bar-empty" style="width: 95%"></div>
      </div>
    
      <!-- Embalagens Sem Sinal -->
      <section>
        <div class="linha-categoria status-sem-sinal">
          <div class="tick-categoria">
    
            <div class="quantidade-categoria status-sem-sinal">
              10
            </div>
    
            <span class="nome-categoria">Embalagens Sem Sinal</span>
    
            <button class="botao-collapse" (click)="semSinalCollapsed = !semSinalCollapsed" [attr.aria-controls]="conteudoSemSinalCollapsed">
    
              <span class="button-line"></span>
              <span class="button-line"></span>
              <span class="button-line"></span>
            </button>
    
          </div>
        </div>
    
        <!-- Conteúdo Embalagens Sem Sinal -->
        <div [attr.id]="conteudoSemSinalCollapsed" [ngbCollapse]="!semSinalCollapsed">
          <div class="">
            Hello, Sem Sinal!
          </div>
        </div>
      </section>
    
    </section>


  </div>
</div>

<br>