<div class="painel">
  <div class="corpo">

    <h2>Embalagens do Sistema</h2>

    <hr>

    <!-- Resumo de quantidades da Home -->
    <app-resumo-home [resume]="resume"></app-resumo-home>

    <!-- Categoria Pontos de Controle -->
    <app-categoria-pontos-de-controle [resume]="resume"></app-categoria-pontos-de-controle>

    <!-- Em Viagem -->
    <app-categoria-em-viagem [resume]="resume"></app-categoria-em-viagem>

    <!-- Sem Sinal -->
    <app-categoria-sem-sinal></app-categoria-sem-sinal>

    <!-- Bateria Baixa -->
    <app-categoria-bateria-baixa></app-categoria-bateria-baixa>

  </div>
</div>

<br>