<div class="modalFilho">
  <section class="header">
    <h2 style="color: #354052; margin-bottom: 0px;">Cadastrar usuário</h2>

    <div class="col-12 no-padding">
      <p class="alerta-badges">Cadastrar um novo usuário no sistema</p>
    </div>

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </section>

  <section class="modalBody">
    <form novalidate (ngSubmit)="onSubmit(newUser)" [formGroup]="newUser">
      <div class="row">
        <alert type="info" *ngIf="invalidEmail">
          <strong>Atenção!</strong> O e-mail ja existe no sistema!
        </alert>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <p class="descricao">TIPO DE USUÁRIO</p>
          <ng-select formControlName="role" 
            [(ngModel)]="userType"
            [items]="rolesOnSelect"
            [searchable]="false"
            [markFirst]
            placeholder="Selecione um Tipo">
            <ng-template ng-label-tmp let-item="item">
              {{ item.label }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>{{ item.label }}</div>
            </ng-template>
          </ng-select>
          <p class="requiredText" *ngIf="(newUser.get('role').hasError('required') && newUser.get('role').touched)
                        || (newUser.get('role').hasError('required') && submitted)">Campo Obrigatório</p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12">
          <p class="descricao">EMPRESA VINCULADA</p>
          <ng-select formControlName="company" 
            [(ngModel)]="userCompany"
            [items]="companiesOnSelect"
            bindLabel="name" 
            placeholder="Selecione um Fornecedor">
            <ng-template ng-label-tmp let-item="item">
              {{ item.name }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                <b>Nome:</b> {{item.name}}
              </div>
              <small>
                <b>Tipo:</b> {{item.type}}
              </small>
            </ng-template>
          </ng-select>
          <p class="requiredText" *ngIf="(newUser.get('company').hasError('required') && newUser.get('company').touched)
            || (newUser.get('company').hasError('required') && submitted)">Campo Obrigatório</p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <p class="descricao">NOME DO USUÁRIO</p>
          <input type="text" class="form-control" 
            placeholder="Digite o nome do usuário"
            formControlName="full_name" 
            maxlength="40"
            [(ngModel)]="full_name" 
            [ngClass]="{'required': ((newUser.get('full_name').hasError('required') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('required') && submitted))  
            
            || ((newUser.get('full_name').hasError('minlength') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('minlength') && submitted))
            
            || (newUser.get('full_name').hasError('pattern'))
            || (newUser.get('full_name').hasError('pattern') && submitted)}">

          <p class="requiredText" *ngIf="(newUser.get('full_name').hasError('required') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('required') && submitted)">Campo Obrigatório</p>

          <p class="requiredText" *ngIf="(newUser.get('full_name').hasError('minlength') && newUser.get('full_name').touched)
            || (newUser.get('full_name').hasError('minlength') && submitted)">Mínimo de 5 caracters</p>

          <p class="requiredText" *ngIf="(newUser.get('full_name').hasError('pattern')) || (newUser.get('full_name').hasError('pattern') && submitted)">
            Excesso de espaços em branco</p>
        </div>

        <div class="form-group col-sm-12 col-md-6">
          <p class="descricao">E-MAIL</p>
          <input type="text" class="form-control" 
            placeholder="Digite o email"
            formControlName="email" 
            maxlength="40"
            [(ngModel)]="email" 
            [ngClass]="{'required': (newUser.get('email').hasError('required') && newUser.get('email').touched)
              || (newUser.get('email').hasError('required') && submitted)
            
              || (newUser.get('email').hasError('email') && !newUser.get('email').hasError('required') )
              || (newUser.get('email').hasError('email') && submitted && !newUser.get('email').hasError('required'))}">

          <p class="requiredText" *ngIf="(newUser.get('email').hasError('required') && newUser.get('email').touched)
              || (newUser.get('email').hasError('required') && submitted)">Campo Obrigatório</p>

          <p class="requiredText" *ngIf="newUser.get('email').hasError('minlength')
            || (newUser.get('email').hasError('minlength') && submitted)">
              Mínimo de 5 caracters</p>

          <p class="requiredText" *ngIf="(newUser.get('email').hasError('email')) && !newUser.get('email').hasError('required')
              || (newUser.get('email').hasError('email') && submitted && !newUser.get('email').hasError('required'))">Formato do email esta incorreto!</p>

        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <p class="descricao">PASSWORD</p>
          <input type="password" class="form-control" 
            [(ngModel)]="password" 
            formControlName="password" 
            placeholder="Digite a senha" 
            [ngClass]="{'required': (newUser.get('password').hasError('required') && newUser.get('password').touched)
                          || (newUser.get('password').hasError('required') && submitted)}">

          <p class="requiredText" 
            *ngIf="(newUser.get('password').hasError('required') && newUser.get('password').touched)
              || (newUser.get('password').hasError('required') && submitted)">Campo Obrigatório</p>

          <p class="requiredText" 
            *ngIf="(newUser.get('password').hasError('minlength') && newUser.get('password').touched)
            || (newUser.get('password').hasError('minlength') && submitted)">Mínimo de 6 caracters</p>
                          
        </div>

        <div class="form-group col-sm-12 col-md-6">
          <p class="descricao">CONFIRMAR PASSWORD</p>
          <input type="password" class="form-control" [(ngModel)]="confirm_password" formControlName="confirm_password" placeholder="Digite a senha" [ngClass]="{'required': (newUser.get('confirm_password').hasError('required') && newUser.get('confirm_password').touched)
            || (newUser.get('confirm_password').hasError('required') && submitted)}">
          
            <p class="requiredText" *ngIf="(newUser.get('confirm_password').hasError('required') && newUser.get('confirm_password').touched)
            || (newUser.get('confirm_password').hasError('required') && submitted)">Campo Obrigatório</p>
          
            <p class="requiredText" *ngIf="(newUser.get('confirm_password').hasError('minlength') && newUser.get('confirm_password').touched)
            || (newUser.get('confirm_password').hasError('minlength') && submitted)">Mínimo de 6 caracters</p>
         
            <p class="requiredText" 
            *ngIf="(newUser.get('confirm_password').hasError('MatchPassword'))
            || (newUser.get('confirm_password').hasError('MatchPassword') && submitted)">As senhas não coincidem</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button class="botao-voltar" (click)="closeModal()">VOLTAR</button>
          <button type="submit" class="botao-registrar">CADASTRAR</button>
        </div>
      </div>

    </form>
  </section>
</div>