<div class="base-bg">
  
  <h3>Tempo de Ausência</h3>

  <!-- Linha divisória -->
  <hr style="margin-top: 10px;">
    
  <div class="row">

    <div class="col-sm-4">
      <p>EQUIPAMENTO</p>
      <ng-select 
        [(ngModel)]="selectedFamily"
        (change)="applyGeneralFilter()"
        [items]="listOfFamilies"
        bindLabel="code"
        placeholder="Selecione uma Família">

        <ng-template ng-label-tmp let-item="item">
          {{ item.code }}
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div> {{ item.code }} </div>
        </ng-template>
      </ng-select>
    </div>
    
    <div class="col-sm-4">
      <p>SERIAL</p>
      <ng-select 
        [items]="listOfAbsent"
        [(ngModel)]="selectedSerial"
        [disabled]="!selectedFamily"
        (change)="applyGeneralFilter()"
        bindLabel="serial"
        placeholder="Selecione um Serial">
      
        <ng-template ng-label-tmp let-item="item">
          {{item.serial}}
        </ng-template>
      
        <ng-template ng-option-tmp let-item="item">
          <div> {{item.serial}} </div>
        </ng-template>
      
      </ng-select>
    </div>
    
    <div class="col-sm-4">
      <p class="descricao">TEMPO DE AUSÊNCIA</p>
      <p class="explicacao">Tempo máximo em horas</p>
      <input 
        [(ngModel)]="timeInterval" 
        (keyup)="applyGeneralFilter()"
        (change)="applyGeneralFilter()"
        placeholder="Tempo de ausência" 
        bindLabel="abtime" 
        aria-describedby="basic-addon1" 
        class="form-control meuInput"
        type="number">
    </div>
    
    <!-- <div class="col-sm-4">
      <p>LOCAL DA AUSÊNCIA</p>
      <ng-select 
        [(ngModel)]="selectedType" 
        [items]="allTypes" 
        (change)="applyGeneralFilter()" 
        bindLabel="name"
        placeholder="Selecione um Local"></ng-select>
    </div>  -->
    
  </div>

  <div class="table-responsive" style="margin-top: 20px;">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Equipamento</th>
          <th>Serial</th>

          <th>Última Planta Conhecida</th>
          <th>Tempo de Ausência</th>
          <th style="text-align: center;">Posição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packing of listOfAbsent | paginate: {
                                                    id:'absence',
                                                    itemsPerPage: 10,
                                                    currentPage: actualPage,
                                                    totalItems: listOfAbsent.length }">
          <td>{{packing.family.code || '-'}}</td>
          <td>{{packing.serial || '-'}}</td>
          
          <td>{{packing.last_event_record ? packing.last_event_record.control_point.name : 'Sem histórico'}}</td>
          <td>{{ packing.absent_time_in_hours !== '-' ? (packing.absent_time_in_hours | float_time) : 'Sem histórico' }}</td>
          <!--td>{{packing.permanence?.amount_days >= 0 ? (packing.permanence?.amount_days | time) : 'Sem Registro'}}</td-->
          <td style="text-align: center;">
            <div class="bigger" (click)="openAbsence(packing)">
              <div class="det"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="listOfAbsent.length < 1">
      Sem resultado para os parâmetros informados.
    </div>
  </div>

  <br>
  
  <div class="has-text-centered">
    <pagination-controls class="my-pagination" id="absence" (pageChange)="actualPage = $event;" directionLinks="false" autoHide="true">
    </pagination-controls>
  </div>

</div>

<br>