<div class="input-group mb-3 d-flex justify-content-between">
  <input 
    type="text" 
    class="form-control mr-4" 
    placeholder="Buscar departamento por nome ou ponto de controle" 
    aria-describedby="basic-addon1"
    (keyup)="searchEvent($event)">
  <button routerLink="cadastrar" class="btn btn-outline-secondary" type="button">Novo</button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Name</th>
        <th>Planta</th>
        <th class="opcoes"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of allDepartments | paginate: {
                                                      itemsPerPage: 10,
                                                      currentPage: actualPage,
                                                      totalItems: allDepartments.length};">
        <td>{{ department.name | truncate : 20 }}</td>
        <td>{{ (department?.control_point?.name || '-') | truncate : 20 }}</td>
        <td class="teste">
          <button class="editar" [routerLink]="['editar/', department._id]">
            EDITAR
          </button>
          <button class="excluir" (click)="removeDepartment(department)">
            EXCLUIR
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="allDepartments.length < 1">
  Ainda não existem departamentos cadastradas.
</div>

<br />

<div class="has-text-centered">
  <pagination-controls 
    class="my-pagination" 
    (pageChange)="actualPage = $event" 
    directionLinks="false" 
    autoHide="true">
  </pagination-controls>
</div>

