<div class="modal-header">
      <h4 class="modal-title">Detalhes do alerta</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

<div class="modal-body">
  <div>
    <div class="table-responsive tabela">
      <table class="table">
        <thead>
          <tr class="cabecalho">
            <th>Codigo</th>
            <th>Tag</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let packing of packings">
            <td>{{packing.code}}</td>
            <td>{{packing.tag_mac}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="classVazio" *ngIf="packings?.length < 1">
    Não existe embalagens nesse setor.
  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
