<div class="base-bg">
  <h3>Quantidade</h3>

  <!-- Linha divisória -->
  <hr style="margin-top: 10px;">

  <div class="row">

    <div class="col-sm-4">
      <p>EQUIPAMENTO</p>
      <ng-select 
        [(ngModel)]="selectedFamily" 
        [items]="listOfFamily" 
        (change)="familySelected($event)" 
        bindLabel="code"
        placeholder="Selecione uma família">
      
        <ng-template ng-label-tmp let-item="item">
          {{item.code}}
        </ng-template>
      
        <ng-template ng-option-tmp let-item="item">
          <div> {{item.code}} </div>
        </ng-template>
      </ng-select>
    </div>

  </div>

  <br>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="cabecalho">
          <th>Família</th>
          <th>Empresa</th>
          <th>Ponto de controle</th>

          <th>Tipo</th>
          <th>Local</th>
          
          <th style="text-align:center;">Min</th>
          <th style="text-align:center;">Quantidade</th>
          <th style="text-align:center;">Max</th>

          <!-- <th>Diferença</th> -->
          <!-- <th>Status</th> -->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let packing of listOfQuantity | paginate: {
                                                        id:'quantity',
                                                        itemsPerPage: 10,
                                                        currentPage: listOfQuantityActualPage,
                                                        totalItems: listOfQuantity.length }">
          <td>{{packing.family_code || '-'}}</td>
          <td>{{packing.company || '-'}}</td>
          <td>{{packing.control_point_name || '-'}}</td>

          <td>{{packing.control_point_type}}</td>
          <td>{{packing.actual_plant | type}}</td>

          <td style="text-align:center;">{{packing.stock_min}}</td>
          <td style="text-align:center;">{{packing.total || '-'}}</td>
          <td style="text-align:center;">{{packing.stock_max}}</td>

          <!-- <td>{{packing.actual_gc16 ? (packing.actual_gc16?.min > packing.quantity ? (packing.quantity-packing.actual_gc16?.min)
            : (packing.actual_gc16?.max
            < packing.quantity ? packing.quantity-packing.actual_gc16?.max : 'NP')) : '-' }}</td> -->
          <!-- <td>{{packing.status}}</td> -->
        </tr>
      </tbody>
    </table>

    <div class="classVazio" *ngIf="!selectedFamily && listOfQuantity.length < 1">
      Selecione um equipamento.
    </div>

    <div class="classVazio" *ngIf="selectedFamily && listOfQuantity.length < 1">
      Nenhum resultado para este filtro.
    </div>
  </div>

  <br>

  <div class="resumo">
    <h5 class="definicao">TOTAL: </h5>
    <h5 class="numero">{{ qtdTotal || 0 }}</h5>
    <!-- <h5 class="numero">{{ quantity.meta?.total_packings || 0}}</h5> -->
  </div>

  <!-- <div class="resumo">
    <h5 class="definicao">DIFERENÇA: </h5>
  </div> -->
  <!-- <h5 class="numero">{{quantity.meta?.missing || 0}}</h5> -->

  <br>

  <div class="has-text-centered">
    <pagination-controls id='quantity' class="my-pagination" (pageChange)="listOfQuantityActualPage = $event" directionLinks="false"
      autoHide="true">
    </pagination-controls>
  </div>

</div>

<br>