<div class="row">


  <div class="col-md-3">
    <button routerLink="tags"><div>TAGS</div></button>
    <button routerLink="scanner"><div>Scanner</div></button>
    <button routerLink="embalagem"><div>Embalagem</div></button>
    <button routerLink="setor"><div>Setor</div></button>
    <button routerLink="fornecedor"><div>Fornecedor</div></button>
    <button routerLink="plataforma"><div>Plataforma</div></button>
    <button routerLink="rotas"><div>Rotas</div></button>
    <button routerLink="planta"><div>Planta</div></button>
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>

</div>
