<div class="">
  <h2>Registrar Tipo de Ponto de Controle</h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mType)" [formGroup]="mType" #formDir="ngForm">
    <div class="campo">
      <p class="descricao">NOME</p>
      <p class="explicacao">Ex. "Armazém"</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Digite o nome do ponto de controle" aria-describedby="basic-addon2"
          maxlength="50" formControlName="name" (focusout)="validateName($event)" [ngClass]="{'required': 
            (mType.get('name').hasError('required') && mType.get('name').touched)
            || (mType.get('name').hasError('required') && formDir.submitted)
            || (mType.get('name').hasError('uniqueValidation'))
            || (mType.get('name').hasError('uniqueValidation') && formDir.submitted) 
            || (mType.get('name').hasError('minlength'))
            || (mType.get('name').hasError('minlength') && formDir.submitted)
            || (mType.get('name').hasError('pattern'))
            || (mType.get('name').hasError('pattern') && formDir.submitted)}">
      </div>

      <p class="requiredText" *ngIf="(mType.get('name').hasError('required') && mType.get('name').touched)
        || (mType.get('name').hasError('required') && formDir.submitted)">
        Campo Obrigatório</p>

      <p class="explicacao" *ngIf="validateNotTakenLoading">
        Verificando disponibilidade ...</p>

      <p class="requiredText" *ngIf="(mType.get('name').hasError('minlength')) 
        || (mType.get('name').hasError('minlength') && formDir.submitted)">
        Mínimo de 5 caracteres.</p>

      <p class="requiredText" *ngIf="(mType.get('name').hasError('uniqueValidation')) 
        || (mType.get('name').hasError('uniqueValidation') && formDir.submitted)">
        Este Tipo já existe. O nome deve ser único.</p>

      <p class="requiredText" *ngIf="(mType.get('name').hasError('pattern')) 
        || (mType.get('name').hasError('pattern') && formDir.submitted)">
        Excesso de espaços em branco.</p>
    </div>

    <br />

    <div class="botoes">
      <button routerLink="/rc/cadastros/tipo-ponto-controle" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">REGISTRAR</button>
    </div>
    <br />
  </form>
</div>