<section class="grupo-categoria" *ngIf="settings.enable_viagem_atrasada || settings.enable_viagem_perdida">

  <div style="display: flex;">
    <h5>Em Viagem</h5>
    <div class="quantidade-total-categoria">{{ resume.qtd_in_traveling }}</div>
  </div>

  <div class="progress categoria-progress">
    <div class="progress-bar status-atrasada" [style.width.%]="progressEmViagem[0]"></div>
    <div class="progress-bar status-ausente" [style.width.%]="progressEmViagem[1]"></div>
    <div class="progress-bar progress-bar-empty" [style.width.%]="progressEmViagem[2]"></div>
  </div>

  <!-- Embalagens Atrasadas -->
  <section *ngIf="settings.enable_viagem_atrasada == true">
    <div class="linha-categoria bg-atrasada">
      <div class="tick-categoria">

        <div class="quantidade-categoria status-atrasada">
          {{ resume.qtd_traveling_late }}
        </div>

        <span class="nome-categoria">Embalagens Atrasadas</span>

        <button class="hamburger hamburger--squeeze" type="button" (click)="atrasadaCollapsed = !atrasadaCollapsed" [attr.aria-controls]="conteudoAtrasada"
          [ngClass]="{ 'is-active':atrasadaCollapsed == true}">

          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

      </div>
    </div>

    <!-- Conteúdo Embalagens Atrasadas -->
    <div [attr.id]="conteudoAtrasada" [ngbCollapse]="!atrasadaCollapsed">
      <div class="">
        <div *ngIf="listLate.length < 1">
          Não há embalagens nesta situação.
        </div>

        <div *ngIf="listLate.length > 0" class="table-responsive meuInventario inner-table">
          <table class="table">
            <thead>
              <tr class="cabecalho">
                <th>Code</th>
                <th>Serial</th>
                <th>Tag</th>
                <th>Última Planta</th>
                <th>Última mensagem</th>
              </tr>
            </thead>

            <tbody class="">
              <tr *ngFor="let itemLate of listLate | paginate: { 
                                                              id:'listLate', 
                                                              itemsPerPage: 10, 
                                                              currentPage: listLateActualPage, 
                                                              totalItems: listLate.length}">
                <td>{{ itemLate.familyCode }}</td>
                <td>{{ itemLate.serial }}</td>
                <td>{{ itemLate.tag }}</td>
                <td>{{ itemLate.currentControlPointName ? itemLate.currentControlPointName : null }}</td>
                <td>{{ itemLate.date }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="has-text-centered">
          <pagination-controls class="my-pagination" id='listLate' (pageChange)="listLateActualPage = $event;"
            directionLinks="false" autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>

  <!-- ////////////////////////////////////////////////////////////////////// -->
  <!-- Embalagens Ausentes -->
  <section *ngIf="settings.enable_viagem_perdida == true">
    <div class="linha-categoria bg-ausente">
      <div class="tick-categoria">

        <div class="quantidade-categoria status-ausente">
          {{ resume.qtd_traveling_missing }}
        </div>

        <span class="nome-categoria">Embalagens Ausentes</span>

        <button class="hamburger hamburger--squeeze" type="button" (click)="ausenteCollapsed = !ausenteCollapsed" [attr.aria-controls]="conteudoAusente"
          [ngClass]="{ 'is-active':ausenteCollapsed == true}">

          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

      </div>
    </div>

    <!-- Conteúdo Embalagens Ausentes -->
    <div [attr.id]="conteudoAusente" [ngbCollapse]="!ausenteCollapsed">
      <div class="">
        <div *ngIf="listMissing.length < 1">
          Não há embalagens nesta situação.
        </div>
        <div *ngIf="listMissing.length > 0" class="table-responsive meuInventario inner-table">
          <table class="table">
            <thead>
              <tr class="cabecalho">
                <th>Code</th>
                <th>Serial</th>
                <th>Tag</th>
                <th>Último Local</th>
                <th>Última mensagem</th>
              </tr>
            </thead>

            <tbody class="">
              <tr *ngFor="let item of listMissing | paginate: { 
                                                            id:'listMissing', 
                                                            itemsPerPage: 10, 
                                                            currentPage: listMissingActualPage, 
                                                            totalItems: listMissing.length}">
                <td>{{ item.familyCode }}</td>
                <td>{{ item.serial }}</td>
                <td>{{ item.tag }}</td>
                <td>{{ item.currentControlPointName }}</td>
                <td>{{ item.date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="has-text-centered">
          <pagination-controls class="my-pagination" id='listMissing' (pageChange)="listMissingActualPage = $event;" directionLinks="false"
            autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>

</section>