<div class="input-group mb-3 d-flex justify-content-between">
  <input type="text" 
    class="form-control mr-4" 
    [attr.placeholder]="'REGISTER.ROUTES.SEARCH_BAR_PLACEHOLDER' | translate"
    aria-describedby="basic-addon1" 
    [(ngModel)]="search"
    (keyup)="searchEvent($event)">

  <button 
    routerLink="cadastrar" 
    class="btn btn-outline-secondary" 
    type="button" 
    [translate]="'REGISTER.CREATE_BUTTON'"></button>
</div>

<div class="table-responsive">
  <table class="table" (mouseleave)="hoveredIndex=null">
    <thead>
      <tr class="cabecalho">
        <th translate="REGISTER.TABLE.FAMILY"></th>
        <th translate="REGISTER.TABLE.POINT_A"></th>
        <th translate="REGISTER.TABLE.POINT_B"></th>
        <th translate="REGISTER.TABLE.DISTANCE"></th>
        <th class="opcoes"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of allRoutes | paginate: {
                                            itemsPerPage: 10,
                                            currentPage: actualPage,
                                            totalItems: allRoutes.length};">
        <td>{{ route.family.code | truncate : 20 }}</td>
        <td>{{ route.first_point ? route.first_point.name : '' | truncate : 20 }}</td>
        <td>{{ route.second_point ? route.second_point.name : '' | truncate : 20 }}</td>
        <td>{{ getFormatedDistance(route.distance) }}</td>
        <td class="teste">
          <button class="editar botaoPlanta" [routerLink]="['editar/', route._id]">
            {{ "REGISTER.EDIT_BUTTON" | translate }}
          </button>
          <button class="excluir" (click)="removeRoutes(route)">
            {{ "REGISTER.REMOVE_BUTTON" | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="allRoutes.length < 1">
  {{ "REGISTER.ROUTES.NO_RESULT" | translate }}
</div>

<br />

<div class="has-text-centered">
  <pagination-controls 
    class="my-pagination" 
    (pageChange)="actualPage = $event" 
    directionLinks="false" 
    autoHide="true">
  </pagination-controls>
</div>