<div class="modalFilho">
  <div class="header">

    <h2 style="color: #354052; margin-bottom: 0px;">Embalagem Atrasada</h2>

    <div class="col-12 no-padding">
      <p class="alerta-badges">
        <span class="badge badge-secondary">Código: {{ alerta.family.code }}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">Serial: {{ alerta.serial }}</span>
        <span class="badge badge-secondary" style="margin-left:5px;">Tag: {{ alerta.tag.code }}</span>
      </p>

      <img id="ver-no-mapa" (click)="visualizeOnMap()" tooltip="Visualizar no mapa" placement="left" src="../../../assets/images/distancia.png"
        height="25" style="float: right;">
    </div>

    <button type="button" class="close" aria-label="Close" (click)="activeAlerta.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modalBody">

    <div class="row">
      <div class="col-12">
        <p class="titulo-modal">ÚLTIMO SINAL:</p>
        <br>
        <p> {{ alerta.last_device_data.message_date | date: 'dd/MM/yy' }} | {{ alerta.last_device_data.message_date | date:'HH:MM:ss' }} </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12 col-md-6">
        <p class="titulo-modal">ÚLTIMO LOCAL:</p>
        <br>
        <p> {{ alerta?.last_event_record?.control_point?.name ? alerta.last_event_record.control_point.name : mConstants.NO_REGISTER }}
        </p>
      </div>

      <div class="col-12 col-md-6">
        <p class="titulo-modal">ALERTA EM:</p>
        <br>
        <p> {{ alerta.last_device_data.message_date | date: 'dd/MM/yy' }} | {{ alerta.last_device_data.message_date | date:'HH:MM:ss' }} </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12 col-md-6">
        <p class="titulo-modal">ROTAS DA EMBALAGEM:</p>
      </div>

      <div class="col-12">
        <div class="table-responsive tabela">
          <table class="table">
            <thead>
              <tr class="cabecalho">
        
                <th class="semBorda">Planta da Fábrica</th>
                <th class="semBorda">Planta do Fornecedor</th>
                <th class="semBorda">Tempo Máximo</th>
                <th class="semBorda">Tempo Gasto</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let route of alerta.data.routes">
        
                <td>{{route.plant_factory.plant_name}}</td>
                <td>{{route.plant_supplier.plant_name}}</td>
                <td>{{route.time.max | time}}</td>
                <td>{{alerta.data.packing?.trip.time_countdown | time }}</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>