<div class="row">


  <div class="col-md-3 menu">
    <button routerLinkActive="active" routerLink="/rc/cadastros/tags" class="cadastroMenu"><div>Tags</div></button>
    <!-- <button routerLinkActive="active" routerLink="scanner" class="cadastroMenu"><div>Scanner</div></button> -->
    <button routerLinkActive="active" routerLink="planta" class="cadastroMenu"><div>Planta</div></button>
    <button routerLinkActive="active" routerLink="plataforma" class="cadastroMenu"><div>Plataforma</div></button>
    <!-- <button routerLinkActive="active" routerLink="fornecedor" class="cadastroMenu"><div>Fornecedor</div></button> -->
    <button routerLinkActive="active" routerLink="embalagem" class="cadastroMenu"><div>Embalagem</div></button>
    <button routerLinkActive="active" routerLink="setor" class="cadastroMenu"><div>Setor</div></button>
    <button routerLinkActive="active" routerLink="rotas" class="cadastroMenu"><div>Rotas</div></button>


  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
    <br />
    <br />
  </div>


</div>
