.cadastroMenu {
  width: 100%;
  margin-bottom: 5px;
  background-color: white;
  border: none;
  padding: 2px;
  color: grey;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-family: 'Raleway', sans-serif;
}

td,
th,
tr,
.excluir,
.editar,
p {
  font-family: 'Roboto', sans-serif;
}

.menu,
h1 {
  font-family: 'Raleway', sans-serif;
}

.cadastroMenu div {
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  padding: 3px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.cadastroMenu:hover {
  background-color: #6d8297;
}

.cadastroMenu div:hover {
  color: white;
  border-color: white;
}

.cadastroMenu:active {
  background-color: #6d8297;
}

.cadastroMenu div:active {
  color: white;
  border-color: white;
}

.active {
  background-color: #3E4F60;
}

.active div {
  color: white;
  border-color: white;
}

.col-md-3 {
  margin-bottom: 20px;
}

.meuInput {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px lightgray;
  display: inline-block;
  border-radius: 0em;
  border: none;
}

.mais {
  width: 140px;
  background-color: #fff;
  color: #000;
  border: 1px solid #3E4F60;
  height: 34px;
  border-radius: 5px;
  float: right;
}

.mais:hover {
  background-color: #3E4F60;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.bigger {
  position: relative;
}

 .det {
   width: 15px;
   height: 15px;
   background-image: url("../../../assets/images/icon_plus_white.png");
   background-size: 15px 15px;
   cursor: pointer;
   left: 50%;
   margin-left: 43%;

 }

 .mais:hover .det {
   background-image: url("../../../assets/images/icon_plus_white.png");
   -webkit-transition: background-color 0.3s;
   -mozkit-transition: background-color 0.3s;
   transition: background-color 0.3s;
 }

.form-control {
  font-size: 15px;
}

.cabecalho {
  background-color: #3E4F60;
  color: white;
}

td {
  /* background-color: white; */
  height: 50px;
}

.editar,
.excluir{ 
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: #444444;
  border-radius: 5px;
  width: 80px;
  padding: 4px 10px;
  font-size: 12px;
}

.editar:hover, 
.excluir:hover {
  background-color: #3E4F60;
  border: 1px solid #3E4F60;
  color: #fff;

  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;

  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
}

.excluir {
  margin-left: 5px;
}
.tabela {
  box-shadow: 0px 0px 7px #000;
}

.table {
  margin-bottom: 0px;
}

.teste {
  text-align: right;
  width: 180px;
  padding: 8px 0px;
}

.opcoes {
  text-align: right;
  width: 180px;
}

@media (max-width: 768px) {
  .row {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

h1,
.botaoSalvar {
  font-family: 'Montserrat', sans-serif;
}

.base {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 7px #000;
}

h1 {
  padding-bottom: 15px;
  border-bottom-color: #3E4F60;
  border-width: thin;
  border-bottom-style: solid;
}

.descricao {
  display: inline;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.explicacao {
  color: #777;
  font-size: 10px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

.campo {
  margin-bottom: 20px;
}

.campo span {
  display: inline;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

.time .form-control {
  font-size: 1.4rem!important;
  padding: .2rem .5rem!important;
}

.time .titulo {
  color:  #3E4F60;
}

input {
  font-size: 13px;
  border-radius: 0em !important;
}

.botoes {
  text-align: center;
}

.botaoRegistrar,
.botaoVoltar {
  border-style: solid;
  border-width: 2px;
  padding: 5px 0px;
  width: 100px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.botaoRegistrar:hover,
.botaoVoltar:hover {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.botaoRegistrar:focus,
.botaoVoltar:focus {
  outline: none !important;
}

.botaoRegistrar {
  background-color: white;
  color: #3E4F60;
  border-color: #3E4F60;
}

.botaoRegistrar:hover {
  background-color: #3E4F60;
  color: white;
}

.botaoVoltar {
  background-color: white;
  color: #777;
  border-color: #777;
}

.botaoVoltar:hover {
  background-color: #777;
  color: white;
}

.botaoDrop {
  background-color: white;
  padding: 5px;
  line-height: 1.25;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
}

.dropdown-item {
  font-size: 12px;
}

.dropdown-item:hover {
  background: lightgrey;
}

select {
  background-color: white;
  padding: 7px;
  line-height: 1.25;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: left;
}

option {
  color: grey;
}

option:hover {
  background-color: lightgrey;
}

.placeholder {
  position: relative;
}

.placeholder::after {
  position: absolute;
  right: 25px;
  top: 6px;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.6;
}

.classVazio {
  background-color: white;
  margin: 0px;
  padding: 20px;
  /* box-shadow: 0px 0px 7px #000; */
}

.inputMapa {
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
}

h3 {
  margin-bottom: 10px;
}

.informacoes {
  display: inherit;
  margin-bottom: 10px;
}

.bigger2 {
  position: relative;
  font-size: 12px;
  color: #666;
  display: inline-block;
  width: 25px;
}
.fromSun, .fromSun1, .fromSun2 {
  width: 22px;
  height: 32px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.fromSun {
  background-image: url("../../../assets/images/icon_local_from.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;

}
.fromSun1 {
  background-image: url("../../../assets/images/icon_local_to.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}
.fromSun2 {
  width: 35px;
  background-image: url("../../../assets/images/icon_path.png");
  background-size: contain;
}

.forn {
  padding-left: 20px;
}

.divisoria {
  color: #3E4F60;
  border-color: #3E4F60;
  border-width: thin;
  margin-bottom: 25px;
}
@media (min-width: 576px) {
  .divEsquerda {
    padding: 0px 5px 0px 0px;
  }
  .divMeio {
    padding: 0px 5px 0px 5px;
  }
  .divDireita {
    padding: 0px 0px 0px 5px;
  }
}
@media (max-width: 576px) {
  .divEsquerda,.divMeio,.divDireita {
    padding: 0px;
  }
}

.table>thead>tr>th {
    border-bottom: unset;
}

.table>tbody>tr>td {
    border-bottom: 1px solid #ddd !important;
    border-top: unset !important;
}
 
tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}