<div class="modalFilho">
  <div class="listaUsuarios">
    <div class="inicio">
      <h3 class="titulo">Gerenciar Usuários</h3>
      <div class="i2"><button class="mais" (click)="addUsers()"></button></div>
    </div>
    <br />
    <br />
    <div class="" *ngIf="isAdmin">
      <div class="table-responsive tabela" >
        <table class="table">
          <thead>
            <tr class="cabecalho">
              <th class="semBorda">Nome</th>
              <th class="semBorda">Perfil</th>
              <th class="semBorda">Vínculo</th>
              <th class="opcoes">Opções</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of userData">
            <tr>
              <td>{{ userData.name }}</td>
              <td>{{ userData.role }}</td>
              <td>{{ userData.company.name || '-' }}</td>
              <td class="teste">
                <button class="editar botaoPlanta" (click)="editUser(user)">Editar</button>
                <button class="excluir" (click)="removeProfile(user)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="classVazio" *ngIf="userData.length < 1">
          Ainda não existem usuários cadastrados.
        </div>

      </div>

      <br />

      <div class="has-text-centered">
          <pagination-controls 
            id='adminManage' class="my-pagination"
            (pageChange)="pageChanged($event)"
            directionLinks="false"
            autoHide="true">
          </pagination-controls>
      </div>
    </div>


    <!-- <div class="" *ngIf="!isAdmin">
      <div class="table-responsive tabela" >
        <table class="table">
          <thead>
            <tr class="cabecalho">
              <th class="semBorda">Nome</th>
              <th class="semBorda">Endereço</th>
              <th class="semBorda">UF</th>
              <th class="opcoes">Opções</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of data.data">
            <tr>
              <td>{{user.user?.name ?  user.user?.name : user.name}}</td>
              <td>{{user.street}}</td>
              <td>{{user.uf}}</td>
              <td class="teste">
                <button class="editar botaoPlanta" (click)="editUser(user)">Editar</button>
                <button class="excluir" (click)="removeProfile(user)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="classVazio" *ngIf="data.length < 1">
          Ainda não existem usuários cadastrados.
        </div>

      </div> 

      <div class="has-text-centered">
          <pagination-controls id='supplierManage' class="my-pagination"
          (pageChange)="pageChanged($event)"
          directionLinks="false"
          autoHide="true">
          </pagination-controls>
      </div>

    </div> -->

    <div class="botoes">
      <button class="botaoVoltar" (click)="activeModal.dismiss('Cross click')">VOLTAR</button>
    </div>
    
  </div>
</div>
