<div class="base-bg">
  <div class="input-group mb-3 d-flex justify-content-between">
    <h3>Inventário Geral</h3>
    <button class="botao-opcao" tooltip="Exportar dados para o Excel" (click)="downloadExcel()">
      <div class="bigger">
        <i class="fa fa-download botao-download"></i>
      </div>
    </button>
  </div>

  <!-- Linha divisória -->
  <hr style="margin-top: 10px;">

  <!-- Filtros -->
  <div class="row">

    <!-- Fornecedor -->
    <div class="col-sm-4">
      <p>FORNECEDOR</p>
      <ng-select 
        [items]="listOfCompanies" 
        [(ngModel)]="mCompany"
        (change)="companyFilter($event)"
        bindLabel="name" 
        placeholder="Selecione um Fornecedor">

        <ng-template ng-label-tmp let-item="item">
          {{item.name}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div>
            {{item.name}}
          </div>
        </ng-template>
      </ng-select>
    </div>

    <!-- Equipamentos -->
    <div class="col-sm-4" *ngIf="mCompany">
      <p>FAMÍLIA</p>
      <ng-select 
        [items]="listOfPackings"
        [(ngModel)]="mPacking"
        (change)="packingFilter($event)" 
        bindLabel="packing"
        placeholder="Selecione um Equipamento">

        <ng-template ng-label-tmp let-item="item">
          {{ item.family_name }}
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div> {{ item.family_name }} </div>  
        </ng-template>
      </ng-select>
    </div>

  </div>
  <br />

  <div class="table-responsive meuInventario">
    <table class="table super-table">
      <thead>
        <tr class="cabecalho">
          <th class="empty-super-th"></th>
          <th class="super-th" colspan="2">Inventário Físico</th>
          <th class="super-th" colspan="6">Inventário On Line</th>
          <th class="super-th" colspan="4">Alertas</th>
        </tr>
        <tr class="cabecalho">
          <th>Fornecedor</th>
          <th>Equipamento</th>
          <th>Total de Equipamentos Administrados (TEA)</th>

          <th>Nos Pontos de Controle Próprios (A)</th>
          <th>Nos Pontos de Controle Administrados (B)</th>
          <th>Quantidade no Transito (C)</th>

          <!-- <th>Quantidade no Operator Logístico (D)</th> -->
          <th>Total do Inventário On Line (TIOL = A+B+C+D)</th>
          <th>Diferença (TEA - TIOL)</th>

          <th>Atraso de Rota</th>
          <th>Local Incorreto</th>
          <th>Tempo de Permanencia</th>
          <th *ngIf="settings.enable_viagem_perdida">Embalagem Ausente</th>
        </tr>
      </thead>

      <tbody *ngFor="let item of detailedGeneralInventory  | paginate: { 
                                                      id:'detailedGeneralInventory', 
                                                      itemsPerPage: 10, 
                                                      currentPage: actualPage, 
                                                      totalItems: detailedGeneralInventory.length }">

        <tr [attr.aria-controls]="item.Fornecedor" (click)="item.isCollapsed = !item.isCollapsed" [attr.aria-expanded]="!item.isCollapsed"
          style="cursor: pointer;">
          <td>{{ item.company || '-' }}</td>
          <td>{{ item.family_name }}</td>
          <td>{{ item.qtd_total }}</td>

          <td>{{ item.qtd_in_owner }}</td>
          <td>{{ item.qtd_in_clients }}</td>
          <td>{{ item.qtd_in_traveling }}</td>

          <!-- <td> ? </td> -->
          <td>{{ item.qtd_in_owner + item.qtd_in_clients + item.qtd_in_traveling }}</td>
          <td>{{ item.qtd_total -
            (item.qtd_in_owner + item.qtd_in_clients + item.qtd_in_traveling) }}</td>
          <!-- - (item.all_alerts[0]?.late || 0) }}</td> -->


          <!-- template da rota -->
          <!-- [routerLink]="['list/',alert.packing.code, alert.project._id, alert.supplier._id, alert.status ]"> -->

          <!-- Alerta: atraso de rota -->
          <td>
            <a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', item.family_name, item.family_name, item.family_name, 4]">
              <span class="badge badge-pill badge-atrasado">{{item.qtd_in_traveling_late || '0'}}</span>
            </a>
          </td>

          <!-- Alerta: local incorreto -->
          <td>
            <a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', item.family_name, item.family_name, item.family_name, 2]">
              <span class="badge badge-pill badge-incorreto">{{item.qtd_in_incorrect_cp || '0'}}</span>
            </a>
          </td>

          <!-- Alerta: tempo de permanência -->
          <td>
            <a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', item.family_name, item.family_name, item.family_name, 5]">
              <span class="badge badge-pill badge-permanencia">{{item.qtd_with_permanence_time_exceeded || '0'}}</span>
            </a>
          </td>

          <!-- Alerta: embalagem ausente -->
          <td *ngIf="settings.enable_viagem_perdida">
            <a routerLinkActive="active" [routerLink]="['/rc/alertas/list/', item.family_name, item.family_name, item.family_name, 1]">
              <span class="badge badge-pill badge-ausente">{{item.qtd_in_traveling_missing || '0'}}</span>
            </a>
          </td>
        </tr>


        <!-- ##################### -->
        <!-- Linha collapse -->
        <tr>
          <td colspan="13">
            <div [attr.id]="item.Fornecedor" [ngbCollapse]="item.isCollapsed">

              <div style="float: left; height: 34px; width: 34px;">
                <i class="fa fa-level-down icon-inner-level" aria-hidden="true"></i>
              </div>

              <div class="" *ngIf="item.locations.length < 1">
                Não há registros a serem exibidos.
              </div>


              <!-- ##################### -->
              <!-- Tabela interna -->
              <div *ngIf="item.locations.length > 0" class="table-responsive meuInventario div-inner-table">
                <table class="table inner-table">
                  <thead>
                    <tr class="cabecalho">
                      <th>Localização</th>
                      <th style="text-align: center">Quantidade</th>
                    </tr>
                  </thead>

                  <tbody *ngFor="let subItem of item.locations">
                    <tr>
                      <td>{{ subItem.cp }}</td>
                      <td style="text-align: center">{{ subItem.qtd }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="detailedGeneralInventory.length < 1 ">
        <tr>
          <td colspan=13>
            <div class="classVazio">
              Não há registros a serem exibidos.
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="has-text-centered">
    <pagination-controls class="my-pagination" id="detailedGeneralInventory" (pageChange)="actualPage = $event"
      directionLinks="false" autoHide="true"> </pagination-controls>
  </div>
</div>

<br>