<div class="input-group d-flex justify-content-between mb-3 no-gutters">
  <!-- <ng-select 
    [items]="listOfFamilies" 
    [(ngModel)]="selectedFamily" 
    (change)="filterChanged()"  
    placeholder="Filtrar por família" 
    class="mb-0 col-md-6" 
    style="margin-bottom: 10px;">

    <ng-template ng-label-tmp let-item="item">
      {{ item.code }}
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <div> Família: {{ item.code }} </div>
    </ng-template>
  </ng-select> -->

  <input 
    type="text" 
    class="form-control mr-4" 
    placeholder="Buscar embalagem por família, serial ou tag" 
    aria-describedby="basic-addon1"  
    (keyup)="searchEvent($event)">

  <button routerLink="cadastrar" class="btn btn-outline-secondary" type="button">Novo</button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Família</th>
        <th>Serial</th>
        <th>Tag</th>
        <th class="opcoes"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let packing of listOfPackings | paginate: {
                                                    itemsPerPage: 10,
                                                    currentPage: actualPage,
                                                    totalItems: listOfPackings.length}">
        <td>{{ packing.family.code | truncate : 20 }}</td>
        <td>{{ packing.serial }}</td>
        <td>{{ packing.tag.code }}</td>
        <td class="teste">
          <div>
            <button class="editar" [routerLink]="['editar/', packing._id]">
              EDITAR
            </button>
            <button class="excluir" (click)="removePacking(packing)">
              EXCLUIR
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="listOfPackings.length < 1">
  Ainda não existem embalagens cadastradas.
</div>

<br />

<div class="has-text-centered">
  <pagination-controls class="my-pagination" (pageChange)="actualPage = $event" directionLinks="false" autoHide="true">
  </pagination-controls>
</div>