<div class="d-flex justify-content-between mb-3 no-gutters">
  <input
    type="text"
    class="input-filter mr-4"
    placeholder="Buscar embalagem por família, serial ou tag"
    aria-describedby="basic-addon1"
    (keyup)="searchEvent($event)"
  />

  <button
    routerLink="cadastrar"
    class="btn btn-outline-secondary"
    type="button"
  >
    Novo
  </button>
</div>

<div class="table-responsive">
  <table class="table .table-sm">
    <thead>
      <tr class="cabecalho">
        <th>Família</th>
        <th>Serial</th>
        <th>Tag</th>
        <th class="opcoes"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let packing of listOfPackings
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: actualPage,
                  totalItems: listOfPackings.length
                }
        "
      >
        <td>{{ packing.family.code | truncate: 20 }}</td>
        <td>{{ packing.serial }}</td>
        <td>{{ packing.tag.code }}</td>
        <td class="actions">
          <div>
            <button class="editar" [routerLink]="['editar/', packing._id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="excluir" (click)="removePacking(packing)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="listOfPackings.length < 1">
  Ainda não existem embalagens cadastradas.
</div>

<br />

<div class="has-text-centered">
  <pagination-controls
    class="my-pagination"
    (pageChange)="actualPage = $event"
    directionLinks="false"
    autoHide="true"
  >
  </pagination-controls>
</div>
