<div class="">
  <h2>Editar Embalagem</h2>
  <hr>

  <form novalidate (ngSubmit)="onSubmit(mPacking)" [formGroup]="mPacking" #formDir="ngForm">

    <!-- Linha 1 TAG -->
    <div class="row">

      <!-- Codigo -->
      <div class="col-sm-12 col-md-3 campo" formGroupName="tag" style="padding-right: 0px;">
        <p class="descricao">TAG</p>
        <p class="explicacao">Ex. "994475545"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Código da tag" aria-describedby="basic-addon2"
            formControlName="code" maxlength="25" (focusout)="validateTag($event)" [ngClass]="{'required': (mPacking.get('tag.code').hasError('required') && mPacking.get('tag.code').touched)
              || (mPacking.get('tag.code').hasError('required') && formDir.submitted)
              || (mPacking.get('tag.code').hasError('pattern'))
              || (mPacking.get('tag.code').hasError('pattern') && formDir.submitted)
              || (mPacking.get('tag.code').hasError('minlength'))
              || (mPacking.get('tag.code').hasError('minlength') && formDir.submitted)
              || (mPacking.get('tag.code').hasError('uniqueValidation'))
              || (mPacking.get('tag.code').hasError('uniqueValidation') && formDir.submitted) }">
        </div>

        <p class="requiredText" *ngIf="(mPacking.get('tag.code').hasError('required') && mPacking.get('tag.code').touched)
            || (mPacking.get('tag.code').hasError('required') && formDir.submitted)">
          Campo Obrigatório</p>

        <p class="requiredText" *ngIf="(mPacking.get('tag.code').hasError('uniqueValidation')) 
            || (mPacking.get('tag.code').hasError('uniqueValidation') && formDir.submitted)">
          Esta Embalagem já existe. O código deve ser único.</p>

        <p class="requiredText" *ngIf="(mPacking.get('tag.code').hasError('minlength')) 
            || (mPacking.get('tag.code').hasError('minlength') && formDir.submitted)">
          Mínimo de 4 caracteres</p>

        <p class="explicacao" *ngIf="validateNotTakenLoading">
          Verificando disponibilidade ...</p>

        <p class="requiredText" *ngIf="(mPacking.get('tag.code').hasError('pattern')) 
                        || (mPacking.get('tag.code').hasError('pattern') && formDir.submitted)">
          Excesso de espaços em branco</p>
      </div>


      <!-- Version -->
      <div class="col-sm-12 col-md-3" formGroupName="tag">
        <p class="descricao">VERSÃO</p>
        <p class="explicacao">Ex. "v1"</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Versão" aria-describedby="basic-addon2" formControlName="version"
            maxlength="100" [ngClass]="{'required': (mPacking.get('tag.version').hasError('required') && mPacking.get('tag.version').touched)
              || (mPacking.get('tag.version').hasError('required') && formDir.submitted)
              || (mPacking.get('tag.version').hasError('pattern'))
              || (mPacking.get('tag.version').hasError('pattern') && formDir.submitted) }">
        </div>

        <p class="requiredText" *ngIf="(mPacking.get('tag.version').hasError('required') && mPacking.get('tag.version').touched)
                      || (mPacking.get('tag.version').hasError('required') && formDir.submitted)">
          Campo Obrigatório</p>

        <p class="requiredText" *ngIf="(mPacking.get('tag.version').hasError('pattern')) 
          || (mPacking.get('tag.version').hasError('pattern') && formDir.submitted)">
          Excesso de espaços em branco</p>
      </div>


      <!-- Projeto -->
      <div class="col-sm-12 col-md-3" style="padding-right: 0px;">
        <p class="descricao">PROJETO</p>
        <p class="explicacao">Projeto da Embalagem</p>
        <ng-select bindLabel="name" placeholder="Associe um projeto" [items]="listOfProjects" formControlName="project">

          <ng-template ng-option-tmp let-item="item">
            <div> {{item.name}} </div>
          </ng-template>
        </ng-select>
        <p class="requiredText" *ngIf="(mPacking.get('project').hasError('required') && mPacking.get('project').touched)
                              || (mPacking.get('project').hasError('required') && formDir.submitted)">
          Campo Obrigatório</p>
      </div>

      <!-- Modelo -->
      <div class="col-sm-12 col-md-3" formGroupName="tag">
        <p class="descricao">MODELO</p>
        <p class="explicacao">Modelo do dispositivo</p>
        <ng-select bindLabel="label" bindValue="name" placeholder="Associe um modelo" [items]="deviceModel" formControlName="deviceModel">

          <ng-template ng-option-tmp let-item="item">
            <div> {{item.label}} </div>
          </ng-template>
        </ng-select>
        <p class="requiredText" *ngIf="(mPacking.get('tag.deviceModel').hasError('required') && mPacking.get('tag.deviceModel').touched)
                              || (mPacking.get('tag.deviceModel').hasError('required') && formDir.submitted)">
          Campo Obrigatório</p>  
      </div>

    </div>


    <!-- Linha 2 Embalagem -->
    <div class="row">

      <!-- Coluna 1 -->
      <div class="col-md-6">
        <div class="row">
          <!-- Família -->
          <div class="col-sm-12 campo">
            <p class="descricao">FAMÍLIA</p>
            <p class="explicacao">Ex. "AAB-01"</p>
            <ng-select bindLabel="code" placeholder="Associe uma família" [items]="listOfFamilies" formControlName="family">

              <ng-template ng-option-tmp let-item="item">
                <div> {{item.code}} </div>
              </ng-template>
            </ng-select>
            <p class="requiredText" *ngIf="(mPacking.get('family').hasError('required') && mPacking.get('family').touched)
                || (mPacking.get('family').hasError('required') && formDir.submitted)">
              Campo Obrigatório</p>
          </div>

          <!-- Serial -->
          <div class="col-sm-12 campo">
            <p class="descricao">SERIAL</p>
            <p class="explicacao">Ex. "001"</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Serial" aria-describedby="basic-addon2"
                formControlName="serial" maxlength="30" [ngClass]="{'required': (mPacking.get('serial').hasError('required') && mPacking.get('serial').touched)
                || (mPacking.get('serial').hasError('required') && formDir.submitted)
                || (mPacking.get('tag.version').hasError('minlength'))
                || (mPacking.get('tag.version').hasError('minlength') && formDir.submitted)
                || (mPacking.get('serial').hasError('pattern'))
                || (mPacking.get('serial').hasError('pattern') && formDir.submitted) }">
            </div>

            <p class="requiredText" *ngIf="(mPacking.get('serial').hasError('required') && mPacking.get('serial').touched)
              || (mPacking.get('serial').hasError('required') && formDir.submitted)">
              Campo Obrigatório</p>

            <p class="requiredText" *ngIf="(mPacking.get('serial').hasError('minlength')) 
                    || (mPacking.get('serial').hasError('minlength') && formDir.submitted)">
              Mínimo de 2 caracteres</p>

            <p class="requiredText" *ngIf="(mPacking.get('serial').hasError('pattern')) 
              || (mPacking.get('serial').hasError('pattern') && formDir.submitted)">
              Excesso de espaços em branco</p>
          </div>

          <!-- Fabricante -->
          <div class="col-sm-12 campo" formGroupName="tag">
            <p class="descricao">FABRICANTE DA EMBALAGEM</p>
            <p class="explicacao">Ex. "Acme Racks"</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nome do Fabricante" aria-describedby="basic-addon2"
                formControlName="manufactorer" maxlength="100" [ngClass]="{'required': (mPacking.get('tag.manufactorer').hasError('required') && mPacking.get('tag.manufactorer').touched)
                  || (mPacking.get('tag.manufactorer').hasError('required') && formDir.submitted)
                  || (mPacking.get('tag.manufactorer').hasError('minlength'))
                  || (mPacking.get('tag.manufactorer').hasError('minlength') && formDir.submitted)
                  || (mPacking.get('tag.manufactorer').hasError('pattern'))
                  || (mPacking.get('tag.manufactorer').hasError('pattern') && formDir.submitted) }">
            </div>
            <p class="requiredText" *ngIf="(mPacking.get('tag.manufactorer').hasError('required') && mPacking.get('tag.manufactorer').touched)
                || (mPacking.get('tag.manufactorer').hasError('required') && formDir.submitted)">
              Campo Obrigatório</p>

            <p class="requiredText" *ngIf="(mPacking.get('tag.manufactorer').hasError('minlength'))
                || (mPacking.get('tag.manufactorer').hasError('minlength') && formDir.submitted)">
              Mínimo de 2 caracteres</p>

            <p class="requiredText" *ngIf="(mPacking.get('tag.manufactorer').hasError('pattern')) 
                || (mPacking.get('tag.manufactorer').hasError('pattern') && formDir.submitted)">
              Excesso de espaços em branco</p>
          </div>


          <!-- Tipo da embalagem -->
          <div class="col-sm-12 campo">
            <p class="descricao">TIPO DA EMBALAGEM</p>
            <p class="explicacao">Ex. "Rack Metálico"</p>
            <input type="text" class="form-control" placeholder="Digite o tipo de embalagem" aria-describedby="basic-addon2"
              formControlName="type" maxlength="100" [ngClass]="{'required': (mPacking.get('type').hasError('required') && mPacking.get('type').touched)
                || (mPacking.get('type').hasError('required') && formDir.submitted)
                || (mPacking.get('type').hasError('pattern'))
                || (mPacking.get('type').hasError('pattern') && formDir.submitted) }">

            <p class="requiredText" *ngIf="(mPacking.get('type').hasError('required') && mPacking.get('type').touched)
              || (mPacking.get('type').hasError('required') && formDir.submitted)">
              Campo Obrigatório</p>

            <p class="requiredText" *ngIf="(mPacking.get('type').hasError('pattern')) 
                            || (mPacking.get('type').hasError('pattern') && formDir.submitted)">
              Excesso de espaços em branco</p>
          </div>


          <!-- Capacidade da embalagem -->
          <div class="col-sm-12 campo">
            <p class="descricao">CAPACIDADE DA EMBALAGEM</p>
            <p class="explicacao">Ex. "57 PEÇAS"</p>
            <div class="placeholder" data-placeholder="PEÇAS">
              <input type="number" min="0" class="form-control form-control-sm scroll-number" value="0" formControlName="capacity"
                [ngClass]="{'required': (mPacking.get('capacity').hasError('required') && mPacking.get('capacity').touched)
                  || (mPacking.get('capacity').hasError('required') && formDir.submitted)}" />
            </div>
            <p class="requiredText" *ngIf="(mPacking.get('capacity').hasError('required') && mPacking.get('capacity').touched)
              || (mPacking.get('capacity').hasError('required') && formDir.submitted)">
              Campo Obrigatório</p>
            <p class="requiredText" *ngIf="(mPacking.get('capacity').hasError('pattern'))
                          || (mPacking.get('capacity').hasError('pattern') && formDir.submitted)">
              Valor inválido</p>
          </div>


          <div class="col-sm-12 campo">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="active" formControlName="active">
                <span class="cr"> <i class="cr-icon fa fa-check"> </i> </span>
                Embalagem ativa
              </label>
            </div>
          </div>


        </div>
      </div>


      <!-- Coluna 2 -->
      <div class="col-md-6">

        <div class="campo">
          <p class="descricao">TARA (KG)</p>
          <p class="explicacao">Ex. "86,7 kg"</p>
          <div class="placeholder" data-placeholder="KG">
            <input type="number" min="0" class="form-control form-control-sm scroll-number" value="0" step="0.2"
              formControlName="weigth" [ngClass]="{'required': (mPacking.get('weigth').hasError('required') && mPacking.get('weigth').touched)
              || (mPacking.get('weigth').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(mPacking.get('weigth').hasError('required') && mPacking.get('weigth').touched)
            || (mPacking.get('weigth').hasError('required') && formDir.submitted)">
            Campo Obrigatório</p>
          <p class="requiredText" *ngIf="(mPacking.get('weigth').hasError('pattern'))
            || (mPacking.get('weigth').hasError('pattern') && formDir.submitted)">
            Valor inválido</p>
        </div>

        <div class="campo">
          <p class="descricao">COMPRIMENTO (M)</p>
          <p class="explicacao">Ex. "7,1 m"</p>
          <div class="placeholder" data-placeholder="METROS">
            <input type="number" min="0" class="form-control form-control-sm scroll-number" value="0" step="0.2"
              formControlName="length" [ngClass]="{'required': (mPacking.get('length').hasError('required') && mPacking.get('length').touched)
                || (mPacking.get('length').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(mPacking.get('length').hasError('required') && mPacking.get('length').touched)
            || (mPacking.get('length').hasError('required') && formDir.submitted)">
            Campo Obrigatório</p>
          <p class="requiredText" *ngIf="mPacking.get('length').hasError('pattern')
            || (mPacking.get('length').hasError('pattern') && formDir.submitted)">
            Valor inválido</p>
        </div>

        <div class="campo">
          <p class="descricao">LARGURA (M)</p>
          <p class="explicacao">Ex. "9,5 m"</p>
          <div class="placeholder" data-placeholder="METROS">
            <input type="number" min="0" class="form-control form-control-sm scroll-number" value="0" step="0.2"
              formControlName="width" [ngClass]="{'required': (mPacking.get('width').hasError('required') && mPacking.get('width').touched)
                || (mPacking.get('width').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(mPacking.get('width').hasError('required') && mPacking.get('width').touched)
              || (mPacking.get('width').hasError('required') && formDir.submitted)">
            Campo Obrigatório</p>
          <p class="requiredText" *ngIf="(mPacking.get('width').hasError('pattern'))
            || (mPacking.get('width').hasError('pattern') && formDir.submitted)">
            Valor inválido</p>
        </div>

        <div class="campo">
          <p class="descricao">ALTURA (M)</p>
          <p class="explicacao">Ex. "57,2 m"</p>
          <div class="placeholder" min="0" data-placeholder="METROS">
            <input type="number" min="0" class="form-control form-control-sm scroll-number" value="0" step="0.2"
              formControlName="heigth" [ngClass]="{'required': (mPacking.get('heigth').hasError('required') && mPacking.get('heigth').touched)
              || (mPacking.get('heigth').hasError('required') && formDir.submitted)}" />
          </div>
          <p class="requiredText" *ngIf="(mPacking.get('heigth').hasError('required') && mPacking.get('heigth').touched)
              || (mPacking.get('heigth').hasError('required') && formDir.submitted)">
            Campo Obrigatório</p>
          <p class="requiredText" *ngIf="(mPacking.get('heigth').hasError('pattern') )
            || (mPacking.get('heigth').hasError('pattern') && formDir.submitted)">
            Valor inválido</p>
        </div>

        <div class="campo">
          <div class="campo">
            <p class="descricao">OBSERVAÇÕES</p>
            <p class="explicacao">Ex. "Embalagem nova"</p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="140" formControlName="observations">
                  </textarea>
            <p class="explicacao"> {{ mPacking.get('observations').value.length }}/140 </p>
          </div>
        </div>

      </div>
    </div>

    <br />

    <div class="botoes">
      <button routerLink="/rc/cadastros/embalagem" class="redButton">VOLTAR</button>
      <button type="submit" class="blueButton">ATUALIZAR</button>
    </div>

    <br />

  </form>
</div>