<div class="">
  <h1>REGISTRAR SETOR</h1>
  <br />
  <form novalidate (ngSubmit)="onSubmit(department)" [formGroup]="department"  #formDir="ngForm">
    <div class="row">
      <div class="col-md-12">

        <div class="campo">
          <h3>LOCAL</h3>
          <p>
            <ngui-map [zoom]="zoom" [center]="center" (mapReady$)="onMapReady($event)" (click)="onClick($event)">
              <marker [position]="pos"></marker>
            </ngui-map>
          </p>
        </div>
      </div>

      <div class="col-md-12 informacoes" >

          <div class="bigger2">
            <div class="fromSun"></div>
          </div>
          <span class="forn" >{{department.value.plant?.location || 'Nenhuma informação sobre a localidade'}}</span>

      </div>
      <div class="col-md-6">
        <p class="descricao">LATITUDE</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite a latitude" aria-describedby="basic-addon2" [(ngModel)]="lat" formControlName="lat"
          [ngClass]="{'required': (department.get('lat').hasError('required') && department.get('lat').touched)
          || (department.get('lat').hasError('required') && formDir.submitted)}">
        </div>
        <p class="requiredText" *ngIf="(department.get('lat').hasError('required') && department.get('lat').touched)
        || (department.get('lat').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
      </div>
      <div class="col-md-6">
        <p class="descricao">LONGITUDE</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite a longitude" aria-describedby="basic-addon2" [(ngModel)]="lng" formControlName="lng"
          [ngClass]="{'required': (department.get('lng').hasError('required') && department.get('lng').touched)
          || (department.get('lng').hasError('required') && formDir.submitted)}">
        </div>
        <p class="requiredText" *ngIf="(department.get('lng').hasError('required') && department.get('lng').touched)
        || (department.get('lng').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
      </div>
      <br />

      <div class="col-md-6">
        <div class="campo">
          <p class="descricao">NOME</p>
          <p class="explicacao">Ex. "Setor B7"</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite o nome do departamento" aria-describedby="basic-addon2" [(ngModel)]="name" formControlName="name"
            [ngClass]="{'required': (department.get('name').hasError('required') && department.get('name').touched)
            || (department.get('name').hasError('required') && formDir.submitted)}">
          </div>
          <p class="requiredText" *ngIf="(department.get('name').hasError('required') && department.get('name').touched)
          || (department.get('name').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
        </div>

      </div>
      <div class="col-md-6">
      <div class="campo">
        <p class="descricao">ASSOCIE A PLANTA</p>
        <p class="explicacao">Escolha uma das plantas</p>

        <ng-select [ngModel]="plant" (change)="onChange($event)" [items]="plants?.data" bindLabel="plant_name" placeholder="Associe uma Planta" formControlName="plant" [ngClass]="{'required': (department.get('plant').hasError('required') && department.get('plant').touched) || (department.get('plant').hasError('required')
        && formDir.submitted)}">
          <ng-template ng-label-tmp let-item="item">
            {{item.plant_name}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div>
              {{item.plant_name}}
            </div>
          </ng-template>
        </ng-select>

        
        <p class="requiredText" *ngIf="(department.get('plant').hasError('required') && department.get('plant').touched)
        || (department.get('plant').hasError('required') && formDir.submitted)">Campo Obrigatório</p>
      </div>
    </div>
    </div>
    <br />
    <div class="botoes">
      <button routerLink="/rc/cadastros/setor" class="botaoVoltar">VOLTAR</button>
      <button type="submit" class="botaoRegistrar">REGISTRAR</button>
    </div>
    <br />
  </form>
  <Br />
</div>
