* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: bold;
  color: #354052;
  /* 
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom-color: #6382c9;
  border-width: thin;
  border-bottom-style: solid;   */
}

hr {
  border: 0;
  height: 1px;
  background: #999999;
}

.painel { 
  background-color: white;
  padding: 15px 15px;
  -webkit-box-shadow: 0px 0px 7px #000;
  box-shadow: 0px 0px 7px #000;
}

.corpo {
  background-color: white;
  padding: 15px 30px;
}

.resumo-barras {
  padding: 0px 15px 0px 0px;
}

.item-categoria {
  margin-top: 6px;
}

.clear-padding{
  padding: 0px;
  padding-left: 6px;
}

/* Teste wraper */
@media (max-width: 576px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .conteudoTop {
    width: inherit;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conteudoTop {
    width: inherit;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .conteudoTop {
    width: inherit;
    margin-left: 120px;
    margin-right: 120px;
  }
}
