<div class="row">
  <div class="col-xs-7">
    <input type="text" class="form-control meuInput" placeholder="Buscar" aria-describedby="basic-addon1">
  </div>
  <div class="col-xs-2">

  </div>
  <div class="col-xs-3">
    <button class="mais"  routerLink="cadastrar">+</button>
  </div>
</div>

<div class="table-responsive tabela">
  <table class="table">
    <thead>
      <tr class="cabecalho">
        <th>Embalagem</th>
        <th>Fornecedor</th>
        <th>Planta do Fornecedor</th>
        <th>Planta da Fábrica</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of routes">
        <td>{{route.packing_code}}</td>
        <td>{{route.supplier.name}}</td>
        <td>{{route.plant_supplier.name}}</td>
        <td>{{route.plant_factory.name}}</td>
        <td class="teste">
          <button class="editar botaoPlanta" >Editar</button>
          <button class="excluir" (click)="removeRoutes(route._id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="classVazio" *ngIf="routes?.length < 1">
  Ainda não existem embalagens cadastradas.
</div>
